﻿<gisc-ui-component>
    <!--Status-->
    <gisc-ui-label params="for: 'ddStatus', text: i18n('Common_Status'), isRequired:true "></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddStatus',
                                  options: status,
                                  optionsText: 'status',
                                  value: selectedStatus">

    </gisc-ui-dropdown>
    <!--Template Name-->
    <gisc-ui-label params="for:'txtTemplate', isRequired:true,text:i18n('Ticket_TemplateName')" />
    <gisc-ui-textbox params="id:'txtTemplate', value:templateName" />

    <!--Template Name-->
    <gisc-ui-label params="for:'txtsubject', isRequired:true,text:i18n('Ticket_Subject')" />
    <gisc-ui-textbox params="id:'txtsubject', value:subject" />

    <!--Body-->
    <gisc-ui-label params="for:'txtbody', isRequired:true,text:i18n('Ticket_Body')" />
    <gisc-ui-tooltip params="text: i18n('I030')"></gisc-ui-tooltip>
    <gisc-ui-editor params="
                        id: 'edMailManage' ,
                        value: body
                    " />

    <span data-bind="text: i18n('M001'), visible: isCheckListInvalid" class="ko-inline-msg-err"></span>
    <!-- Data Field -->
    <gisc-ui-datatable params="
    datasource: items,
    columns: [
        { type: 'checkbox', data: 'isCheck', redrawOnDataChange: true },
        { type: 'label', title: 'i18n:Field' , data: 'fieldName' },
        { type: 'regex', title: 'i18n:Order', data: 'order' , maxlength: '2', regex: '[^0-9]',width: '90' }
        
            ],
            datasource: items,
            rowId: 'fieldNameId',
            order: order,
            selectable: true,
            retainSelectedRowAfterReplaceDataSource: true,
            showRowSelector: false,
            selectedRows: selectedItems,
            " />
</gisc-ui-component>