<gisc-ui-component>
    <article>
        <!--<summary>Validation on ViewModel</summary>-->
        <section>

            <!-- Required field on DropDown -->
            <!--<gisc-ui-label params="for: 'ddEnable', text: i18n('Report_Company'), isRequired: false"></gisc-ui-label>
            <gisc-ui-dropdown params="options: company, optionsText:'CompanyName', value: selectedCompany"></gisc-ui-dropdown>-->

            <gisc-ui-label params="for: 'ddlBusinessUnit', text:i18n('Common_BusinessUnit'), isRequired: true" />
            <gisc-ui-dropdowntree params="id: 'ddlBusinessUnit',
                            options: businessUnits,
                            optionsID: 'id',
                            optionsText: 'name',
                            optionsParent: 'parentBusinessUnitId',
                            optionsChildren: 'childBusinessUnits',
                            value: selectedBusinessUnit" />

            <gisc-ui-label params="for: 'ddVehicle', text: i18n('Common_Vehicle'), isRequired: true"></gisc-ui-label>
            <gisc-ui-dropdown params="id: 'ddVehicle',
                                    options: vehicles,
                                    optionsText: 'license',
                                    optionsCaption: '',
                                    value: selectedVehicle" />

            <gisc-ui-label params="for:'from' ,text: i18n('Companies_From'), isRequired: true" />
            <gisc-ui-datetime params="id:'from' ,value:start ,mode:'date' ,maxDate:0 ,minDate:'-3m' ,dateFormat:formatSet" />

            <gisc-ui-label params="for:'to' ,text: i18n('Companies_To'), isRequired: true" />
            <gisc-ui-datetime params="id:'to' ,value:end  ,mode:'date' ,maxDate:periodDay ,minDate:'-3m' ,dateFormat:formatSet" />

            <!-- {Required field, Number only} on TextBox -->
            <gisc-ui-label params="for: 'txtParkingEngineOnOver', text: i18n('Report_ParkingEngineOnOver'), isRequired: true"></gisc-ui-label>
            <gisc-ui-textbox params="id: 'txtParkingEngineOnOver', value: ParkingEngineOnOver"></gisc-ui-textbox>

            <div data-bind="visible: showDate"><span data-bind="text:start"></span></div>
            <div data-bind="visible: showDate"><span data-bind="text:end"></span></div>
    
            
        </section>
    </article>
</gisc-ui-component>