﻿<gisc-ui-component params="additionalCssClasses: 'k-grid-height'">
    <div>
        <gisc-ui-datagrid params="
            id: id,
            onDatasourceRequestRead: onDatasourceRequestRead.bind($data),
            columns: [
                { type: 'text' , title: 'i18n:Vehicle_Status_Icon', data: 'icon', sortable: false, template: renderMovementColumn },
                { type: 'text' , title: 'i18n:Vehicle_Status_Description', data: 'description', sortable: false },
                { type: 'text' , title: 'i18n:Vehicle_Status_Detail', data: 'detail', sortable: false }
            ],
            rowId: 'id',
            showFilter: false,
            filterable: false,
            pageable: false,
            height: '257px'
        " />
    </div>
    <div style="margin:4px 0 0 10px">
        <gisc-ui-label params="text:i18n('Vehicle_Status_Note')" />
    </div>
</gisc-ui-component>