﻿<gisc-ui-component params="additionalCssClasses: 'k-grid-height'">
    <div style="padding: 5px">
        <label data-bind="text: alertTypeDisplayName" />
        <label data-bind="text: alertDateTime" style="float:right"/>
    </div>
    <gisc-ui-video params="src:src"></gisc-ui-video>
</gisc-ui-component>