﻿<gisc-ui-component>
    <!-- Language -->
    <gisc-ui-label params="for: 'ddLanguageImport', text: i18n('Common_Language'), isRequired: true"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddLanguageImport',
                              options: languages,
                              optionsText: 'name',
                              optionsCaption: '',
                              value: selectedLanguage"></gisc-ui-dropdown>

    <!-- Category -->
    <gisc-ui-label params="for: 'ddCategoryImport', text: i18n('Configurations_Category'), isRequired: true"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddCategoryImport',
                              options: categories,
                              optionsText: 'displayName',
                              optionsCaption: '',
                              value: selectedCategory"></gisc-ui-dropdown>
    <!-- Override -->                    
    <gisc-ui-checkbox params="text:i18n('Configurations_Override'), checked:overwrite"/>

    <!--Translated File -->  
    <gisc-ui-label params="text: i18n('Configurations_TranslatedFile'), isRequired: true"></gisc-ui-label>
    <gisc-ui-tooltip params="text: i18n('I008')"></gisc-ui-tooltip>                 
    <gisc-ui-fileupload params="
        fileName: fileName,
        selectedFile: selectedFile,
        enable: isValidToUpload(),
        accept: attachmentMimeTypes,
        onBeforeUpload: onBeforeUpload.bind($data),
        onUploadSuccess: onUploadSuccess.bind($data),
        onUploadFail: onUploadFail.bind($data),
        onRemoveFile: clearUploadFile.bind($data)" />

    <div class="ko-inline-msg-err" data-bind="html: importError"></div>

    <!--Preview Data -->  
    <gisc-ui-datatable data-bind="visible: showDataTable()" params="
        datasource: previewStringResources,
        id: 'dtTranslationPreviewList',
        columns: [
            { type: 'label', title: 'i18n:Configurations_Key', data: 'resourceKey' },
            { type: 'label', title: 'i18n:Configurations_DefaultLanguage', data: 'defaultLanguageValue' },
            { type: 'label', title: 'i18n:Configurations_TranslatedLanguage', data: 'translatedLanguageValue' }
        ],
        order: order,
        rowId: 'resourceKey',
        selectable: false,
        showFilter: false,
        " />
</gisc-ui-component>