<gisc-ui-component>
    <article>
        <!--<summary>Validation on ViewModel</summary>-->
        <section>
            <gisc-ui-label params="for: 'ddReportType', text: i18n('Report_ReportType'), isRequired: true"></gisc-ui-label>
            <gisc-ui-dropdown params="id: 'ddReportType',
                                    options: reportTypes,
                                    optionsText: 'displayName',
                                    optionsCaption: '',
                                    value: selectedReportType,
                                    enable:isAutoMailOpen
                                    " />
                                    
            <!-- ko if: isVisibleBu -->
            <gisc-ui-label params="for: 'ddlBusinessUnit', text:txtBusinessUnit(), isRequired: BURequire" />
                <gisc-ui-dropdowntree params="id: 'ddlBusinessUnit',
                                options: businessUnits,
                                optionsID: 'id',
                                optionsText: 'name',
                                optionsParent: 'parentBusinessUnitId',
                                optionsChildren: 'childBusinessUnits',
                                value: selectedBusinessUnit,
                                enable:isAutoMailOpen" />
                
            <gisc-ui-checkbox params="text: i18n('Common_IncludeSubBusinessUnit'), 
            checked:isIncludeSubBU , visible: isIncludeSubBUVisible,enable:isAutoMailOpen"/>
            <!-- /ko -->

            <!-- ko if: sectionVisible --> 
                <!-- Entity Type -->
                <gisc-ui-label params="for: 'ddEntityType', text: i18n('FleetMonitoring_EntityType'), isRequired: entityTypeRequire"></gisc-ui-label>
                <gisc-ui-dropdown params="id: 'ddEntityType',
                                        options: entityTypes,
                                        optionsText: 'displayName',
                                        value: selectedEntityType,
                                        enable:isAutoMailOpen
                                        " />

                <div data-bind="visible: driverVisible" >
                    <gisc-ui-checkbox params="text: i18n('ReportCriteria_FormerDriver'),checked:isIncludeFormerDriver,enable:isAutoMailOpen"/>
                    <gisc-ui-checkbox params="text: i18n('ReportCriteria_ResignedDriver'), checked:isIncludeResignedDriver,enable:isAutoMailOpen"/>
                </div>
                
                <div data-bind="visible: categoryVehicleVisible">
                    <gisc-ui-label params="for: 'ddCategoryVehicle', text: i18n('Report_CategoryVehicle')"></gisc-ui-label>
                    <gisc-ui-dropdown params="id: 'ddCategoryVehicle',
                                        options: categoryVehicleOptions,
                                        optionsText: 'name',
                                        value: categoryVehicle" />
                </div>
                
                <!-- Vehicle Driver -->
                <gisc-ui-label params="for: 'ddSelectEntity', text: i18n('Report_SelectedEntity'), isRequired: selectEntityRequire"></gisc-ui-label>
                <gisc-ui-dropdown params="id: 'ddSelectEntity',
                                    options: selectEntity,
                                    optionsText: 'displayName',
                                    optionsCaption: selectedEntityBinding,
                                    value: selectedEntity,
                                    type: 'filter',
                                    enable:isAutoMailOpen" />

                <!-- Fleet Type -->
                <div data-bind="visible: shippingTypeVisible">
                    <gisc-ui-label params="for: 'ddShipingType', text: i18n('Report_ShippingType')"></gisc-ui-label>
                    <gisc-ui-dropdown params="id: 'ddShipingType',
                                        options: shippingTypeOptions,
                                        optionsText: 'name',
                                        value: shippingType" />
                </div>


                <div data-bind="visible: isOnlyJobVisible">
                    <gisc-ui-checkbox params="text: i18n('Report_OnlyShippingList'), checked:isOnlyJob" />
                </div>


                <div data-bind="visible: isOverSpeedDurationVisible">
                    <gisc-ui-label params="for:'txtDuration', text:i18n('Report_OverSpeedDuration')"></gisc-ui-label>
                    <gisc-ui-textbox params="id:'txtDuration', placeholder:'', value: overSpeedDuration, filter: { type: 'numeric', numericType: 'int', min: 0 }"></gisc-ui-textbox>
                </div>
            <!-- /ko -->
            
            <div data-bind="visible: driverPerformanceVisible() || visibleAdvanceScore()">                       
                <gisc-ui-label params="for: 'ddDriverPerformance', text: i18n('DriverPerformanceRules_DriverPerformanceRules'), isRequired: true"></gisc-ui-label>
                <gisc-ui-dropdown params="id: 'ddDriverPerformance',
                                            options: driverPerformances,
                                            optionsText: 'name',
                                            optionsCaption: '',
                                            value: selectedDriverPerformance,
                                            enable:isAutoMailOpen" />
            </div>

            <div data-bind="visible: backwardDurationVisible">                       
                <gisc-ui-label params="for: 'ddBackwardDuration', text: i18n('Report_Duration'), isRequired: true"></gisc-ui-label>
                <gisc-ui-dropdown params="id: 'ddBackwardDuration',
                                            options: backwardDurations,
                                            optionsText: 'displayName',
                                            optionsCaption: '',
                                            value: selectedBackwardDuration" />

                <gisc-ui-label params="for:'BackwardFrom' ,text: i18n('Report_BackwardFrom'), isRequired: true" />
                <gisc-ui-datetime params="id:'BackwardFrom' ,value:startBackward ,mode:'date' ,maxDate:0 ,minDate:'-3m' ,dateFormat:formatSet" />
                
                <gisc-ui-label params="for:'BackwardEnd' ,text: i18n('Report_BackwardTo')" />
                <gisc-ui-datetime params="id:'BackwardEnd' ,value:endBackward ,mode:'date' ,maxDate:endBackward, minDate:0 ,dateFormat:formatSet, enable:enable" />
                <!--<gisc-ui-textbox params="type:'input', value:endBackward, enable:enable"></gisc-ui-textbox>-->
            </div>

            <!-- Radio -->
            <div data-bind="visible: radioCriteria">

                    
                    <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_Yesterday'),value:'Yesterday',checked:valueRadio,enable:isAutoMailOpen " />
                    <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_ThisWeek'),value:'ThisWeek',checked:valueRadio, visible: radioThisWeek,enable:isAutoMailOpen "  />
                    <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_LastWeek'),value:'LastWeek',checked:valueRadio, visible: radioLastWeekLastMonth,enable:isAutoMailOpen" />
                    <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_ThisMonth'),value:'ThisMonth',checked:valueRadio, visible: radioThisMonth,enable:isAutoMailOpen " /> 
                    <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_LastMonth'),value:'LastMonth',checked:valueRadio, visible: radioLastWeekLastMonth ,enable:isAutoMailOpen" />
                    <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_Custom'),value:'Custom',checked:valueRadio,enable:isAutoMailOpen " />
    
            </div>
            
            <!-- ko if: DufaultDateInVisible -->

            <!-- datetime for Vehicle Usage Summary And Travel Distance & Time Summary -->
            <!-- <div data-bind="visible: isDateTimeRadioVisible">
            <gisc-ui-label params="for:'from' ,text: '5555start', isRequired: true" />
            <gisc-ui-datetime params="id:'from' ,value:start ,mode:'date' ,maxDate:maxDateShipment ,minDate:minDateShipment ,dateFormat:formatSet " />
            
            <gisc-ui-label params="for:'to' ,text: '5555end', isRequired: true" />
            <gisc-ui-datetime params="id:'to' ,value:end  ,mode:'date' ,maxDate:maxDateShipment ,minDate:minDateShipment ,dateFormat:formatSet " />
            </div> -->
            <!-- ///////////////////////////////////////////////////////////////////// -->

            <!-- text: i18n('Companies_From')-->
            <gisc-ui-label params="for:'fromDateReport' ,text: txtDateStart, isRequired: true" />
            <gisc-ui-datetime params="id:'fromDateReport' ,value:start ,mode:'date' ,maxDate:maxDateStart ,minDate:'-3m' ,dateFormat:formatSet ,enable:isDateTimeEnabled  " />
            
            <gisc-ui-label params="for:'toDateReport' ,text: txtDateEnd, isRequired: true" />
            <gisc-ui-datetime params="id:'toDateReport' ,value:end  ,mode:'date' ,maxDate:periodDay ,minDate:minDateEnd ,dateFormat:formatSet ,enable:isDateTimeEnabled" />

            <!-- /ko -->

            <!-- ko if: DateTimeVisible -->
            <div style="width:100%;float:left;">
                <gisc-ui-label params="for:'fromDateReport' ,text: i18n('Companies_From'), isRequired: true" />
            </div>
            <div style="width:100%">
                <div style="width:55%;float:left;">
                    <gisc-ui-datetime params="id:'fromDateReport' ,value:start ,mode:'date' ,maxDate:maxDateStart ,minDate:'-3m' ,dateFormat:formatSet" />
                </div>
                <div style="width:40%;float:right;">
                    <div class="app-textBox-wrapper">
                        <input type="time" data-bind="value:startTime, attr: { id:id, class:'app-input'} ">
                    </div>
                </div>
            </div>
            <div style="width:100%;float:left;">
                <gisc-ui-label params="for:'toDateReport' ,text: i18n('Companies_To'), isRequired: true" />
            </div>
            <div style="width:100%">
                <div style="width:55%;float:left;">
                    <gisc-ui-datetime params="id:'toDateReport' ,value:end  ,mode:'date' ,maxDate:periodDay ,minDate:minDateEnd ,dateFormat:formatSet" />
                </div>
                <div style="width:40%;float:right;">
                    <div class="app-textBox-wrapper">
                        <input type="time" data-bind="value:endTime, attr: { id:id, class:'app-input'} ">
                    </div>
                </div>
            </div>
            <!-- /ko -->

            <div data-bind="visible: parkingEngineOnOverVisible">
                <gisc-ui-label params="for: 'ddEngineType', text: i18n('Common_Engine'), isRequired: true"></gisc-ui-label>
                <gisc-ui-dropdown params="id: 'ddEngineType',
                                            options: engineType,
                                            optionsText: 'displayName',
                                            optionsCaption: '',
                                            value: selectedEngineType" />
                <gisc-ui-label params="for: 'txtParkingEngineOnOver', text: i18n('Report_ParkingEngineOnOver'), isRequired: true"></gisc-ui-label>
                <gisc-ui-textbox params="id: 'txtParkingEngineOnOver', value: parkingEngineOnOver"></gisc-ui-textbox>
            </div>

            <!-- ko if: DrivingSummaryReportTimeDurationVisible -->
            <gisc-ui-label params="for:'fromDateReport' ,text: i18n('Companies_From'), isRequired: true" />
            <gisc-ui-datetime params="id:'fromDateReport' ,value:start ,mode:'date' ,maxDate:maxDateStart ,minDate:'-3m' ,dateFormat:formatSet" />
            
            <gisc-ui-label params="for:'toDateReport' ,text: i18n('Companies_To'), isRequired: true" />
            <gisc-ui-datetime params="id:'toDateReport' ,value:end  ,mode:'date' ,maxDate:periodDay ,minDate:minDateEnd ,dateFormat:formatSet" />

            <div style="width:100%">
                <div style="width:45%;float:left;">
                    <gisc-ui-label params="text: i18n('Report_StartTime')" />
                    <div class="app-textBox-wrapper">
                        <input type="time" data-bind="value:startTime, attr: { id:id, class:'app-input'} ">
                    </div>
                </div>
                <div style="width:45%;float:right;">
                    <gisc-ui-label params="text: i18n('Report_EndTime')" />
                    <div class="app-textBox-wrapper">
                        <input type="time" data-bind="value:endTime, attr: { id:id, class:'app-input'} ">
                    </div>
                </div>
            </div>

            <gisc-ui-label params="text: i18n('Report_GroupByType')"></gisc-ui-label>
            <gisc-ui-dropdown params="id: 'ddGroupByType',
                                        options: groupByTypes,
                                        optionsText: 'displayName',
                                        optionsCaption: ' ',
                                        value: selectedGroupByType" />
            <!-- /ko -->
            <!-- ko if: visibleAdvanceScore -->
            <gisc-ui-label params="text: i18n('Report_HighScorePointsAre')"></gisc-ui-label>
            <gisc-ui-dropdown params="id: 'ddHighScorePointsAre',
                                        options: highScorePointTypes,
                                        optionsText: 'displayName',
                                        value: selectedHighScore,
                                        enable:isAutoMailOpen" />

            <gisc-ui-label params="for: 'txtAmberScoreRange', text: i18n('Report_AmberScoreRange'),isRequired:true"></gisc-ui-label>
            <div style="width:100%;padding-bottom: 53px;">
                <div style="width:30%;float:left;height: 30px;">
                    <gisc-ui-textbox params="id: 'txtAmberScoreRangeFrom', value: amberScoreRangeFrom,
                     filter:{type:'numeric', numericType:'int'},enable:isAutoMailOpen"></gisc-ui-textbox>
                </div>
                <div style="width: 5%;float: left;margin-left: 5%;margin-top: 5px;">-</div>
                <div style="width:30%;float:right;margin-right: 30%">
                    <gisc-ui-textbox params="id: 'txtAmberScoreRangeTo', value: amberScoreRangeTo,
                     filter:{type:'numeric', numericType:'int'},enable:isAutoMailOpen"></gisc-ui-textbox>
                </div>
            </div>
            
            <div>
                <gisc-ui-label params="text: i18n('Report_ShowAssetWithoutDistance')"></gisc-ui-label>
                <gisc-ui-dropdown params="id: 'ddShowAssetWithoutDistance',
                                        options: showAssetWithoutDistance,
                                        optionsText: 'title',
                                        value: selectedShowAsset,
                                        enable:isAutoMailOpen" />
            </div>
            
            <!--/ko-->
            <div data-bind="visible: vihecleUsageVisible">
                <gisc-ui-checkbox params="text: i18n('Report_Group'), checked:isGroup"/>
            </div>



        </section>
    </article>
</gisc-ui-component>