﻿<gisc-ui-component>

    <!-- Poi Type  -->
    <gisc-ui-label params="for: 'ddPoiType', text: i18n('CustomPOI_PoiType')"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddPoiType',
                              options: poiTypeOptions,
                              optionsText: 'displayName',
                              optionsCaption: '',
                              value: poiType"></gisc-ui-dropdown>
    
    <!--Code-->
    <gisc-ui-label params="text:i18n('CustomPOI_Code')" />
    <gisc-ui-textbox params="value:code"></gisc-ui-textbox>
    <!--Name-->
    <gisc-ui-label params="text:i18n('CustomPOI_Name')" />
    <gisc-ui-textbox params="value:name"></gisc-ui-textbox>

    <!-- Country -->
    <gisc-ui-label params="text:i18n('CustomPOI_Country')" />
    <gisc-ui-dropdown params="id: 'ddlCountry',
            options: countryOptions,
            optionsText: 'name',
            value: country,optionsCaption: ''">
    </gisc-ui-dropdown>

    <!-- Province -->
    <gisc-ui-label params="text:i18n('CustomPOI_Province')" />
    <gisc-ui-dropdown params="id: 'ddlProvince',
            options: provinceOptions,
            optionsText: 'name',
            optionsCaption: '',
            value: province">
    </gisc-ui-dropdown>

    <!-- District / City -->
    <gisc-ui-label params="text:i18n('CustomPOI_District')" />
    <gisc-ui-dropdown params="id: 'ddlCity',
            options: cityOptions,
            optionsText: 'name',
            optionsCaption: '',
            value: city">
    </gisc-ui-dropdown>

    <!-- Subdistrict / Town -->
    <gisc-ui-label params="text:i18n('CustomPOI_SubDistrict')" />
    <gisc-ui-dropdown params="id: 'ddlTown',
            options: townOptions,
            optionsText: 'name',
            optionsCaption: '',
            value: town">
    </gisc-ui-dropdown>
    <!-- Icon -->
    <gisc-ui-label params="text:i18n('CustomPOI_Icon')" />
    <gisc-ui-image-combobox params="id: 'cboIcon',
                             value: iconSelectedItem,
                             options:iconOptions,
                             optionsCaption: ''">
    </gisc-ui-image-combobox>

    <!--Has Sub POI area-->
    <gisc-ui-checkbox params="text:i18n('CustomPOI_Has_Subarea'), checked:isSubArea"/>
    <!--Sub POI area Code-->
    <gisc-ui-label params="text:i18n('CustomPOI_Subarea_Code')" />
    <gisc-ui-textbox params="value:subPoiCode, enable:isDisable"></gisc-ui-textbox>
    <!--Sub POI area Name-->
    <gisc-ui-label params="text:i18n('CustomPOI_Subarea_Name')" />
    <gisc-ui-textbox params="value:subPoiName, enable:isDisable"></gisc-ui-textbox>
    <!-- Sub POI area Type -->
    <gisc-ui-label params="text:i18n('CustomPOI_Subarea_Type')" />
    <gisc-ui-dropdown params="id: 'ddlSubareaType',
            options: subPoiTypeList,
            optionsText: 'displayName',
            optionsCaption: '',
            value: subPoiType,
            enable:isDisable">
    </gisc-ui-dropdown>

    <!-- Create Date -->
    <div class="field-wrapper">
        <gisc-ui-label params="text: i18n('CustomRoutes_Filters_CreateDate')"></gisc-ui-label>
    </div>
    <table>
        <tr>
            <td>
                <gisc-ui-label params="for: 'dtCreateDateFrom', text: i18n('CustomRoutes_Filters_CreateDate_From')"></gisc-ui-label>
                <gisc-ui-datetime params="id: 'dtCreateDateFrom',
                              value: createDateFrom,
                              mode: 'date',
                              dateFormat: dateFormat"></gisc-ui-datetime>
            </td>
            <td>
                <gisc-ui-label params="for: 'dtCreateDateTo', text: i18n('CustomRoutes_Filters_CreateDate_To')"></gisc-ui-label>
                <gisc-ui-datetime params="id: 'dtCreateDateTo',
                              value: createDateTo,
                              mode: 'date',
                              dateFormat: dateFormat,
                              minDate:createDateFrom"></gisc-ui-datetime>
            </td>
        </tr>
    </table>

    <!-- Create By -->
    <gisc-ui-label params="for: 'txtCreateBy', text: i18n('CustomRoutes_Filters_CreateBy')"></gisc-ui-label>
    <gisc-ui-textbox params="id: 'txtCreateBy', value: createBy"></gisc-ui-textbox>

</gisc-ui-component>