<gisc-ui-component>
    <!--Name-->
    <gisc-ui-label params="text:i18n('CustomPOI_Sub_Area_Name'), isRequired:true" />
    <gisc-ui-textbox params="value:name"></gisc-ui-textbox>
    
    <!--Code-->
    <gisc-ui-label params="text:i18n('CustomPOI_Sub_Area_Code'), isRequired:true" />
    <gisc-ui-textbox params="value:code"></gisc-ui-textbox>

    <!--Category-->

    <gisc-ui-label params="text:i18n('CustomPOI_Sub_Area_Type')" />
    <gisc-ui-dropdown params="options:typeAreaOptions,
                      optionsText:'displayName',
                      optionsCaption: '',
                      value:typeArea">
    </gisc-ui-dropdown>

    <!--Description-->
    <gisc-ui-label params="text:i18n('CustomPOI_Sub_Area_Description')" />
    <gisc-ui-textarea params="value:description"></gisc-ui-textarea>

    <!-- POI Area -->
    <table style="margin-bottom:0px;">
        <tr>
            <td style="width:90%;">
                <gisc-ui-label params="text: i18n('CustomPOI_Location')"></gisc-ui-label>
            </td>
            <td>
                <div class="img-custom-geofencing" data-bind="click:enableClickMap.bind($data)">
                    <!-- ko component: 'svg-icon-customroute-clickonmap' --><!-- /ko -->
                </div>
            </td>
        </tr>
    </table>
    <hr />

     <!-- POINT -->
     <div class="field-table-content">
        <gisc-ui-datatable params="datasource:areaPoint,
        columns:[{type:'label',title: 'i18n:CustomArea_Point', data: 'point', orderable: false}],rowId: 'id', ordering:false, order:[]  " />
        <span data-bind="validationMessage: areaPoint" class="ko-block-msg-err"></span>
    </div>

    <!--Size-->
    <gisc-ui-label params="text: areaUnit, isHtmlEncode: false"></gisc-ui-label>
    <gisc-ui-field params="value: displaySize, filter: { type: 'alphanumeric'}"></gisc-ui-field>

    <!--Number of area point-->
    <gisc-ui-label params="text: i18n('CustomArea_NumberAreaPoint')"></gisc-ui-label>
    <gisc-ui-field params="value: numberofareapoint"></gisc-ui-field>
    
    

</gisc-ui-component>
