﻿<gisc-ui-component>
    <gisc-ui-label params="text: lblLastSync" />
    <div class="div-dashboard-overall-legend">
        <span class="legend">
            <span />
            <span data-bind="text: i18n('Dashboard_Truck_Status_OverAll_Shipment_Assigned')" />
        </span>
        <span class="legend">
            <span />
            <span data-bind="text: i18n('Dashboard_Truck_Status_OverAll_No_Shipment')" />
        </span>
    </div>
    <gisc-ui-tab params="selectedIndex: selectedIndex" >
        <item params="text: i18n('Dashboard_Truck_Status_Dashboard_Overall_DonutChart')">
            <div class="div-dashboard-overall-allGraph" data-bind="attr:{id:id}">
                <!-- ko foreach: donutChartList -->
                <div class="div-graph-list">
                    <gisc-ui-donutchart params="data: donutChartData, 
                                        formatLabelText: formatLabelText,
                                        formatBalloonText: formatBalloonText,
                                        allLabelsdata:allLabelsdata,
                                        fontSizeBusiness: 14,
                                        detailInfo: detailInfo,
                                        animation: animation,
                                        labelRadius: -25,
                                        innerRadius: 50,
                                        pullOutRadiusdata:10,    
                                        onClickPieChart: $parent.onClickPieChart.bind($parent)" />
                </div>
                <!-- /ko -->
            </div>
        </item>
        <item params="text: i18n('Dashboard_Truck_Status_Dashboard_Overall_BarstackChart')">
            <div class="div-barstackamchart">
                    <gisc-ui-barstackamchart params="data:barstackamchartData,
                    nameChart:nameChart,
                    showChartScrollbar: isShowChartScrollbar,
                    initialZoom: [0,14],
                    fixedColumnWidth: fixedColumnWidth,
                    isCategoryAxisLabelTruncate: true,
                    onClickStackChart:stackChartCallback.bind($data)" />
            </div>
        </item>
    </gisc-ui-tab>




</gisc-ui-component>