﻿<gisc-ui-component>
    <gisc-ui-label params="text: lblLastSync" />
    <div class="div-dashboard-department">
        <div class="graph-col" style="width: 30%;">
            <div class="chart-list">
                    <gisc-ui-donutchart params="data: donutChartGraphBUData, 
                    centerLabel: centerLabelGraphBU, 
                    formatLabelText: formatLabelText,
                    formatBalloonText: formatBalloonText,
                    labelRadius: 0,
                    title: titleGraphBU,
                    legendPosition: 'bottom',
                    
                    innerRadius: 50,
                    onClickPieChart: onClickPieChartBU.bind($data)" />
            </div>            
        </div>
        <div class="graph-col" style="width: 39%;">
            <div class="chart-list">
                <gisc-ui-donutchart params="data: graphParkingData, 
                formatLabelText: formatLabelText,
                formatBalloonText: formatBalloonText,
                labelRadius: -30,
                legendPosition: 'right',
                allLabelsdata:centerLabelGraphParking,
                innerRadius: 45,
                pullOutRadiusdata: 10,
                propertyGraph:propertygraph,
                onClickPieChart: onClickPieChartPark.bind($data)" />
            </div>
            <div class="chart-list" >
                <gisc-ui-donutchart params="data: graphMovingData, 
                formatLabelText: formatLabelText,
                formatBalloonText: formatBalloonText,
                labelRadius: -30,
                legendWidth:70,
                pullOutRadiusdata: 10,
                allLabelsdata:centerLabelGraphMoving,
                propertyGraph:propertygraph,             
                    legendPosition: 'right',
                    innerRadius: 45,
                onClickPieChart: onClickPieChartMove.bind($data)" />
            </div>
        </div>
        <div class="graph-col" style="width: 30%;">
            <div class="chart-list">
                <gisc-ui-baramchart params="data: graphParkingDetailData,
                nameChart: i18n('Dashboard_Truck_Status_Dashboard_Overall_BarChart_Title_Y_Axis'),
                categoryTitle: i18n('Dashboard_Truck_Status_Dashboard_Overall_BarChart_Title_X_Axis'),
                chartTitle:titleParkingDetail,
                onClickBarChart: onClickBarChart.bind($data, 'parking'),
                    
                    categoryLabelRotateAngle:30,
                    textontopchart:textontopchart,
                formatBalloonText: formatBalloonBarChartText" />
            </div>
            <div class="chart-list">
                <gisc-ui-baramchart params="data: graphMovingDetailData,
                nameChart: i18n('Dashboard_Truck_Status_Dashboard_Overall_BarChart_Title_Y_Axis'),
                categoryTitle: i18n('Dashboard_Truck_Status_Dashboard_Overall_BarChart_Title_X_Axis'),
                chartTitle:titleMovingDetail,
                onClickBarChart: onClickBarChart.bind($data, 'moving'), 
                    
                    categoryLabelRotateAngle:30,
                    textontopchart:textontopchart,
                formatBalloonText: formatBalloonBarChartText" />
            </div>
        </div>
    </div>
</gisc-ui-component>