﻿<gisc-ui-component>
    <gisc-ui-label params="text: lblLastSync" />
    <div class="div-truck-detail">
        <div class="div-truck-detail-title">
            <label data-bind="text: lblTitleDetail" />
        </div>
    </div>
    <gisc-ui-datagrid params="
        onDatasourceRequestRead: onDatasourceRequestRead.bind($data),
        id: 'dgTruckDetailLst',
        pageSizeOptions: true,
        columnMenu: true,
        showFilter: true,
        filterable: true,
        columns : [             
                    { type: 'text', title: 'i18n:Common_Datetime', data: 'formatDateTime', sortable: true, filterable: false, className: 'dg-body-center' },
                    { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_Code', data: 'jobCode', sortable: true, filterable: true },                    
                    { type: 'text', title: 'i18n:Common_BusinessUnit', data: 'businessUnitName', sortable: true, filterable: false },                    
                    { type: 'text', title: 'i18n:Assets_VehicleLicense', data: 'license', sortable: true, filterable: true },
                    { type: 'text', title: 'i18n:Dashboard_Truck_Status_Detail_Duration', data: 'duration', sortable: true, filterable: false, className: 'dg-body-center' },
                    { type: 'text', title: 'i18n:Dashboard_Truck_Status_Detail_Current_Location', data: 'currentLocation', sortable: true, filterable: false,template: renderLocationColumn, width: 350 },
                    { type: 'object', title: '', headerTemplate: svgSpeed, data: 'formatSpeed', sortable: true, filterable: false , className: 'dg-body-center' },
                    { type: 'object', title: '', headerTemplate: svgMovement, data: 'movement', template: 'renderMovementColumn', columnMenu: true, sortable: true, filterable: false, className: 'dg-body-center' },                    
                    { type: 'object', title: '', headerTemplate: svgEngine, data: 'TrkVwEngine', template: 'renderEngineColumn', columnMenu: false, sortable: false, filterable: false , className: 'dg-body-center' },
                    { type: 'object', title: '', headerTemplate: svgDirection, data: 'direction', template: 'renderDirectionColumn', sortable: true, filterable: false , className: 'dg-body-center' },
                    { type: 'object', title: '', headerTemplate: svgFuel, data: 'TrkVwFuel', columnMenu: false, sortable: false, filterable: false , className: 'dg-body-center' },
                    { type: 'object', title: '', headerTemplate: svgVehicleBattery, data: 'TrkVwVehicleBattery', columnMenu: false, sortable: false, filterable: false , className: 'dg-body-center' },
                    { type: 'object', title: '', headerTemplate: svgEvent, data: 'totalEvent', columnMenu: true, sortable: true, filterable: false , className: 'dg-body-center' },
                    { type: 'object', title: '', headerTemplate: svgSos, data: 'sos', columnMenu: false, sortable: false, filterable: false , className: 'dg-body-center' },
                    { type: 'object', title: '', headerTemplate: svgGate, data: 'TrkVwGate', template: 'renderGateColumn', columnMenu: false, sortable: false, filterable: false , className: 'dg-body-center' },
                    { type: 'object', title: '', headerTemplate: svgTempareture, data: 'tempareture', columnMenu: false, sortable: false, filterable: false , className: 'dg-body-center' },
                    { type: 'object', title: '', headerTemplate: svgPower, data: 'power', columnMenu: false, sortable: false, filterable: false , className: 'dg-body-center' },
                    { type: 'object', title: '', headerTemplate: svgMileage, data: 'TrkVwMileage', columnMenu: false, sortable: false, filterable: false , className: 'dg-body-left' }
                ],
        rowId: 'id'" />
</gisc-ui-component>