﻿<gisc-ui-component>
    <section>
        <!--Logo-->
        <gisc-ui-label params="text: i18n('Companies_Logo')" />
        <gisc-ui-tooltip params="text: i18n('I003', [ logoSuggestionWidth, logoSuggestionHeight])"></gisc-ui-tooltip>
        <div class="app-img-wrap">
            <div class="app-img-manage-wrap">
                <img data-bind="attr: { src: logoUrl, alt: '' }" />
            </div>
            <gisc-ui-fileupload params="
                fileName: logoFileName,
                selectedFile: logoSelectedFile,
                accept: logoMimeType,
                onRemoveFile: onRemoveFile.bind($data),
                onBeforeUpload: onBeforeUpload.bind($data),
                onUploadSuccess: onUploadSuccess.bind($data),
                onUploadFail: onUploadFail.bind($data)
                " />
        </div>

        <!--Name-->
        <gisc-ui-label params="for: 'txtName', text: i18n('Companies_Name'), isRequired: true" />
        <gisc-ui-textbox params="id: 'txtName', value: name" />
        <!--Code-->
        <gisc-ui-label params="for: 'txtCode', text:i18n('Companies_Code')" />
        <gisc-ui-textbox params="id: 'txtCode', value: code, filter: { type: 'alphanumeric'}" />
        <!--Description-->
        <gisc-ui-label params="for: 'txtDescription', text:i18n('Common_Description')" />
        <gisc-ui-textarea params="id: 'txtDescription', value: description" />
        <!--Enable-->
        <gisc-ui-label params="for: 'ddlEnable', text:i18n('Common_Enable'), isRequired: true" />
        <gisc-ui-dropdown params="id: 'ddlEnable', 
            options: enableOptions,
            optionsText: 'title',
            value: enable
            ">
        </gisc-ui-dropdown>
        <!--House No.-->
        <gisc-ui-label params="for: 'txtHouseNo', text:i18n('Companies_HouseNo')" />
        <gisc-ui-textbox params="id: 'txtHouseNo', value: address.houseNo" />
        <!--Street-->
        <gisc-ui-label params="for: 'txtStreet', text:i18n('Companies_Street')" />
        <gisc-ui-textbox params="id: 'txtStreet', value: address.street" />
        <!--Locate-->
        <gisc-ui-label params="for: 'txtLocate', text:i18n('Companies_Locate')" />
        <gisc-ui-textbox params="id: 'txtLocate', value: address.locate" />
        <!--Country-->
        <gisc-ui-label params="for: 'ddlCountry', text:i18n('Companies_Country'), isRequired: true" />
        <gisc-ui-dropdown params="id: 'ddlCountry', 
            options: countryOptions, 
            optionsText: 'name', 
            value: address.country
            ">
        </gisc-ui-dropdown>
        <!--Province-->
        <gisc-ui-label params="for: 'ddlProvince', text:i18n('Companies_Province')" />
        <gisc-ui-dropdown params="id: 'ddlProvince', 
            options: provinceOptions, 
            optionsText: 'name', 
            optionsCaption: '',
            value: address.province">
        </gisc-ui-dropdown>
        <!--City-->
        <gisc-ui-label params="for: 'ddlCity', text:i18n('Companies_City')" />
        <gisc-ui-dropdown params="id: 'ddlCity', 
            options: cityOptions, 
            optionsText: 'name', 
            optionsCaption: '',
            value: address.city">
        </gisc-ui-dropdown>
        <!--Town-->
        <gisc-ui-label params="for: 'ddlTown', text:i18n('Companies_Subdistrict')" />
        <gisc-ui-dropdown params="id: 'ddlTown', 
            options: townOptions, 
            optionsText: 'name', 
            optionsCaption: '',
            value: address.town">
        </gisc-ui-dropdown>
        <!--Post Code-->
        <gisc-ui-label params="for: 'txtPostCode', text:i18n('Companies_PostCode')" />
        <gisc-ui-textbox params="id: 'txtPostCode', value: address.postCode, maxlength: 20" />
        <!--Latitude-->
        <gisc-ui-label params="for: 'txtLatitude', text:i18n('Common_Latitude')" />
        <gisc-ui-textbox
            params="id: 'txtLatitude', value: address.latitude , filter:{type :'numeric', numericType:'float', maxDecimalPlaces:6, allowNegative: true, maxPreDecimalPlaces: 2}" />
        <!--Longtitude-->
        <gisc-ui-label params="for: 'txtLongitude', text:i18n('Common_Longitude')" />
        <gisc-ui-textbox
            params="id: 'txtLongitude', value: address.longitude , filter:{type :'numeric', numericType:'float', maxDecimalPlaces:6, allowNegative: true, maxPreDecimalPlaces: 3}" />
        <!--Minimum ETA Distance-->
        <div style="width:100%">
            <gisc-ui-label params="for: 'txtLatitude', text:i18n('Companies_MinimumETADistance')" />
            <div style="width:70%;float:left">
                <gisc-ui-textbox
                    params="id: 'txtminimumEta', value:settings.minETADistance , filter:{type :'numeric', numericType:'int'}" />
            </div>
            <div style="width:20%;float:left;margin-left:5px">
                <gisc-ui-label params="for: 'txtKm', text:i18n('FleetMonitoring_Playback_Km')" />
            </div>
        </div>
        <div style="clear:both" />
        <!--ThemeName-->
        <gisc-ui-label params="for: 'txtthemeName', text:i18n('Companies_ThemeName')" />
        <gisc-ui-textbox params="id: 'txtthemeName', value: settings.themeName" />
        <!--LogoSize-->
        <gisc-ui-label params="for: 'txtlogoSize', text:i18n('Companies_LogoSize')" />
        <gisc-ui-textbox params="id: 'txtlogoSize', value: settings.logoSize " />
        <!--KeepTicketDuration-->
        <div style="width:100%">
            <gisc-ui-label params="for: 'txtTicketDuration', text:i18n('Companies_KeepTicketDuration')" />
            <div style="width:70%;float:left">
                <gisc-ui-textbox
                    params="id: 'txtTicketDuration', value:settings.keepTicketDuration , filter:{type :'numeric', numericType:'int'}" />
            </div>
            <div style="width:20%;float:left;margin-left:5px">
                <gisc-ui-label params="for: 'txtDuration', text:i18n('Ticket_Days')" />
            </div>
        </div>
        <div style="clear:both" />
        <!--SatelliteBadGps-->
        <gisc-ui-label params="for: 'txtsatelliteBadGps', text:i18n('Companies_SatelliteBadGps')" />
        <gisc-ui-textbox
            params="id: 'txtsatelliteBadGps', value: settings.satelliteBadGps, filter:{type :'numeric', numericType:'int'} " />
        <!--ContinuousTrackingDuration-->
        <div style="width:100%">
            <gisc-ui-label params="for: 'txtTrackingDuration', text:i18n('Companies_ContinuousTrackingDuration')" />
            <div style="width:70%;float:left">
                <gisc-ui-textbox
                    params="id: 'txtTrackingDuration', value: settings.continueTracking, filter:{type :'numeric', numericType:'int'} " />
            </div>
            <div style="width:20%;float:left;margin-left:5px">
                <gisc-ui-label params="for: 'txtTrackingDuration', text:i18n('Common_Minute')" />
            </div>
        </div>
        <!--ShowPoiCluster-->
        <div style="clear:both" />
        <gisc-ui-checkbox params="text:i18n('Companies_ShowPoiCluster'), checked:settings.showPoiCluster">
        </gisc-ui-checkbox>
        <!--SendGeofenceInOut-->
        <gisc-ui-checkbox params="text:'Send Geofence In/Out', checked:settings.sendGeofence"></gisc-ui-checkbox>
        <!-- Enable OdometerFixing -->
        <gisc-ui-checkbox params="text:i18n('Enable Odometer Fixing'), checked:settings.enableOdometerFixing"></gisc-ui-checkbox>
        <!-- Enable Automail Report vai FTP -->
        <gisc-ui-checkbox params="text:'Enable Automail Report vai FTP', checked:settings.enableAutomailFTP"></gisc-ui-checkbox>
        <!--Automail Report FTP Path-->
        <div data-bind="visible: isEnableAutomailFTP" >
            <gisc-ui-label params="for: 'txtautomailFTPPath', text:'Automail Report FTP Path'" />
            <gisc-ui-textbox params="id: 'txtautomailFTPPath', value: settings.automailFTPPath " />
        </div>
        <!-- MDVRModel -->
        <gisc-ui-label params="for: 'ddlMDVRModel', text:i18n('Configurations_MDVR') " />
        <gisc-ui-dropdown params="id: 'ddlMDVRModel',
            options: enumsMDVROptions,
            optionsText: 'displayName',
            optionsCaption: '',
            value: settings.MDVRModel
            ">
        </gisc-ui-dropdown>
    </section>
    <section>
        <!--Sub Menu-->
        <ul id="sub-menu-items" class="gisc-ui-listview gisc-ui-listview-bordered">
            <li>
                <div class="gisc-ui-button">
                    <div class="gisc-ui-button-text">
                        <a data-bind="click: onSelectSubMenuItem.bind($data, 1), css: { 'selected': selectedSubMenuItem() == 1 }"
                            class="gisc-ui-link-inherit" title="Subscriptions" href="#">
                            <span data-bind="text: i18n('Common_Subscriptions')"></span><span
                                class='gisc-ui-required'>*</span>
                            <span data-bind="validationMessage: subscriptions" class="ko-block-msg-err"></span>
                            <i data-bind="css: { 'selected': selectedSubMenuItem() == 1 }" class="gisc-ui-icon"
                                aria-hidden="true">
                                <!-- ko component: "svg-ic-right-arrow" -->
                                <!-- /ko --></i>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="gisc-ui-button">
                    <div class="gisc-ui-button-text">
                        <a data-bind="click: onSelectSubMenuItem.bind($data, 2), css: { 'selected': selectedSubMenuItem() == 2 }"
                            class="gisc-ui-link-inherit" title="Contacts" href="#">
                            <span data-bind="text: i18n('Companies_CompanyContacts')"></span><span
                                class='gisc-ui-required'>*</span>
                            <span data-bind="validationMessage: contactsValidator" class="ko-block-msg-err"></span>
                            <i data-bind="css: { 'selected': selectedSubMenuItem() == 2 }" class="gisc-ui-icon"
                                aria-hidden="true">
                                <!-- ko component: "svg-ic-right-arrow" -->
                                <!-- /ko --></i>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="gisc-ui-button">
                    <div class="gisc-ui-button-text">
                        <a data-bind="click: onSelectSubMenuItem.bind($data, 3), css: { 'selected': selectedSubMenuItem() == 3 }"
                            class="gisc-ui-link-inherit" title="Regional" href="#">
                            <span data-bind="text: i18n('Companies_CompanyRegional')"></span><span
                                class='gisc-ui-required'>*</span>
                            <span data-bind="validationMessage: regionalValidator" class="ko-block-msg-err"></span>
                            <i data-bind="css: { 'selected': selectedSubMenuItem() == 3 }" class="gisc-ui-icon"
                                aria-hidden="true">
                                <!-- ko component: "svg-ic-right-arrow" -->
                                <!-- /ko --></i>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="gisc-ui-button">
                    <div class="gisc-ui-button-text">
                        <a data-bind="click: onSelectSubMenuItem.bind($data, 4), css: { 'selected': selectedSubMenuItem() == 4 }"
                            class="gisc-ui-link-inherit" title="Settings" href="#">
                            <span data-bind="text: i18n('Companies_CompanySettings')"></span><span
                                class='gisc-ui-required'>*</span>
                            <span data-bind="validationMessage: settingsValidator" class="ko-block-msg-err"></span>
                            <i data-bind="css: { 'selected': selectedSubMenuItem() == 4 }" class="gisc-ui-icon"
                                aria-hidden="true">
                                <!-- ko component: "svg-ic-right-arrow" -->
                                <!-- /ko --></i>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="gisc-ui-button">
                    <div class="gisc-ui-button-text">
                        <a data-bind="click: onSelectSubMenuItem.bind($data, 5), css: { 'selected': selectedSubMenuItem() == 5 }"
                            class="gisc-ui-link-inherit" title="Settings" href="#">
                            <span data-bind="text: i18n('Companies_CompanyMapservices')"></span><span
                                class='gisc-ui-required'>*</span>
                            <span data-bind="validationMessage: settingsValidator" class="ko-block-msg-err"></span>
                            <i data-bind="css: { 'selected': selectedSubMenuItem() == 5 }" class="gisc-ui-icon"
                                aria-hidden="true">
                                <!-- ko component: "svg-ic-right-arrow" -->
                                <!-- /ko --></i>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="gisc-ui-button">
                    <div class="gisc-ui-button-text">
                        <a data-bind="click: onSelectSubMenuItem.bind($data, 6), css: { 'selected': selectedSubMenuItem() == 6 }"
                            class="gisc-ui-link-inherit" title="Settings" href="#">
                            <span data-bind="text: 'Pairable Vehicle'"></span>
                            <span data-bind="validationMessage: settingsValidator" class="ko-block-msg-err"></span>
                            <i data-bind="css: { 'selected': selectedSubMenuItem() == 5 }" class="gisc-ui-icon"
                                aria-hidden="true">
                                <!-- ko component: "svg-ic-right-arrow" -->
                                <!-- /ko --></i>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </section>
</gisc-ui-component>