﻿<gisc-ui-component>
    <!--Company Administrator-->
    <section>
        <h3 class="gisc-section-header" data-bind="text: i18n('Companies_CompanyAdministrator')"></h3>

        <!--Username-->
        <gisc-ui-label params="for: 'txtCompanyAdminUsername', text:i18n('Common_Username'), isRequired: true"/>
        <gisc-ui-textbox params="id: 'txtCompanyAdminUsername', value: companyAdminUsername, enable: mode == 'company-create'" />

        <!--Email-->
        <gisc-ui-label params="for: 'txtCompanyAdminEmail', text:i18n('Common_Email'), isRequired: true"/>
        <gisc-ui-textbox params="id: 'txtCompanyAdminEmail', value: companyAdminEmail, enable: mode == 'company-create'" />
    </section>
    <section>
        <h3 class="gisc-section-header" data-bind="text: i18n('Companies_ActiveDirectorySettings')"></h3>

        <!--AD Url-->
        <gisc-ui-label params="for: 'txtAdUrl', text:i18n('Companies_ConnectionString')"/>
        <gisc-ui-textbox params="id: 'txtAdUrl', value: adUrl, maxlength: 1000" />

        <!--AD Username-->
        <gisc-ui-label params="for: 'txtAdUsername', text:i18n('Common_Username')"/>
        <gisc-ui-textbox params="id: 'txtAdUsername', value: adUsername" />

        <!--AD Password-->
        <gisc-ui-label params="for: 'txtAdPassword', text:i18n('Common_Password')"/>
        <gisc-ui-textbox params="id: 'txtAdPassword', value: adPassword" />
    </section>
    <section>
        <h3 class="gisc-section-header" data-bind="text: i18n('Companies_Common')"></h3>

        <!--Apply Password Rules-->
        <gisc-ui-checkbox params="text:i18n('Companies_ApplyPasswordRules'), checked:applyPasswordRules"></gisc-ui-checkbox>
        
        <!--Gateway Server Port-->
        <gisc-ui-label params="for: 'txtGatewayServerPort', text:i18n('Companies_GatewayServerPort'), isRequired: true"/>
        <gisc-ui-tooltip params="text: i18n('I014')"></gisc-ui-tooltip>
        <gisc-ui-textbox params="id: 'txtGatewayServerPort', value: gatewayServerPort" />

         <!--Tracking Database-->
        <gisc-ui-label params="for:'ddlCompaniesTrackingDatabase',text:i18n('Companies_TrackingDatabase')"/>
        <gisc-ui-dropdown params="id:'ddlCompaniesTrackingDatabase',
                                options:trackingDB, 
                                optionsText:'trackingDatabaseName',
                                optionsCaption: '',
                                value:trackingDBSelected"/>
    </section>
</gisc-ui-component>