﻿<gisc-ui-component>
    <!--Subscription-->
    <gisc-ui-label params="for: 'ddlSubscription', text:i18n('Companies_Subscription'), isRequired: true"/>
    <gisc-ui-dropdown params="id: 'ddlSubscription', 
        options: subscriptionOptions, 
        optionsText: 'name', 
        optionsCaption: '',
        value: subscription,
        enable: canUpdate">
    </gisc-ui-dropdown>

    <!--From-->
    <gisc-ui-label params="for: 'dtFromDate', text: i18n('Companies_From'), isRequired: true"></gisc-ui-label>
    <gisc-ui-datetime params="id: 'dtFromDate', 
                              value: fromDate, 
                              dateFormat: dateFormat,
                              maxDate: toDate,
                              mode: 'date',
                              timezone: timezoneName,
                              enable: canUpdate"></gisc-ui-datetime>

    <!--To-->
    <gisc-ui-label params="for: 'dtToDate', text: i18n('Companies_To'), isRequired: true"></gisc-ui-label>
    <gisc-ui-datetime params="id: 'dtToDate', 
                              value: toDate, 
                              mode: 'date',
                              dateFormat: dateFormat,
                              minDate: fromDate,
                              timezone: timezoneName,
                              enable: canUpdate"></gisc-ui-datetime>

    <!--Max POI-->
    <gisc-ui-label params="for: 'txtMaxPOI', text:i18n('Common_MaxinumPOI'), isRequired: true"/>
    <gisc-ui-textbox params="id: 'txtMaxPOI', value: maxPOI, filter: { type: 'numeric', numericType: 'int', min: 0 }, enable: canUpdate" />

    <!--Max Area-->
    <gisc-ui-label params="for: 'txtMaxArea', text:i18n('Common_MaximumAreas'), isRequired: true"/>
    <gisc-ui-textbox params="id: 'txtMaxArea', value: maxArea, filter: { type: 'numeric', numericType: 'int', min: 0 }, enable: canUpdate" />

    <!--Max Route-->
    <gisc-ui-label params="for: 'txtMaxRoute', text:i18n('Common_MaximumRoutes'), isRequired: true"/>
    <gisc-ui-textbox params="id: 'txtMaxRoute', value: maxRoute, filter: { type: 'numeric', numericType: 'int', min: 0 }, enable: canUpdate" />

    <!--Alert Expiration-->
    <gisc-ui-label params="for: 'txtAlertExp', text:i18n('Common_AlertExpiration'), isRequired: true"/>
    <gisc-ui-textbox params="id: 'txtAlertExp', value: alertExpiration, filter: { type: 'numeric', numericType: 'int', min: 1 }, enable: canUpdate" />

    <!--Data Expiration-->
    <gisc-ui-label params="for: 'txtDataExp', text:i18n('Common_DataExpiration'), isRequired: true"/>
    <gisc-ui-textbox params="id: 'txtDataExp', value: dataExpiration, filter: { type: 'numeric', numericType: 'int', min: 1 }, enable: canUpdate" />
</gisc-ui-component>