﻿<gisc-ui-component>

    <gisc-ui-label params="for: 'txtAdvanceBehavior', text:i18n('AdvanceDriverPerformanceRules_Behavior')" />
    <gisc-ui-tooltip params="text:i18n('I040')" />

    <gisc-ui-datatable params="
                id:'ca-advance-driver-behavior',
                datasource: behaviorInfos,
                onDataSourceChanged: onDataSourceChanged.bind($data),
                columns: [
                    { type: 'dropdown', title: 'i18n:Common_AlertConfiguration', data: 'alertConfigurationId', optionsCaption: '', optionsData: 'alertConfigurations'
                             , optionsValue: 'id', optionsText: 'description', validationData: 'error', width: '200px',className: 'dt-body-center' },
                    { type: 'textboxcustom', title: 'i18n:AdvanceDriverPerformanceRules_PenaltyScore',className: 'dt-body-center',data:'penaltyScore', width: '50%',enable:'enable'
                            ,validationData:'errorScore',showVirtualError:'showVirtualError'},
                ],
                rowId: 'id',
                ordering: false,
                removable: { visible : 'canDelete'}
                " />

    <span data-bind="validationMessage: behaviorInfos" class="ko-block-msg-err"></span>
    <div class="field-table-commands">
        <a class="inline-cmd" data-bind="click: addBehavior, visible: visibleAdd">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span data-bind="text:i18n('Common_Add')"></span>
        </a>
    </div>
</gisc-ui-component>