﻿<gisc-ui-component>

    <gisc-ui-label params="for: 'txtAdvanceBehavior', text:i18n('AdvanceDriverPerformanceRules_Fuel')" />
    <gisc-ui-tooltip params="text:i18n('I041')" />

    <gisc-ui-datatable params="
                id: 'ca-advance-driver-fuel',
                onDataSourceChanged: onDataSourceChanged.bind($data),
                datasource: fuelInfos,
                columns: [
                    { type: 'rangeandtextbox', title: 'i18n:AdvanceDriverPerformanceRules_FuelUsedDifferent',dataMin:'fuelDiffFrom',dataMax:'fuelDiffTo',rangeBegin:'fuelDiffFrom',rangeEnd: 'fuelDiffTo'
                            , className: 'dt-body-center', width: '20%',maxlength: 6,validationData:'error',isMorethanEqual:false},
                    { type: 'textboxcustom', title: 'i18n:AdvanceDriverPerformanceRules_Score',className: 'dt-body-center', data:'score',width: '20%',enable:'enable',validationData:'errorScore' },
                ],
                rowId: 'id',
                ordering: false,
                onRemovable: onRemovable.bind($data),
                removable: {visible : 'canDelete'}
                " />

    <span data-bind="validationMessage: fuelInfos" class="ko-block-msg-err"></span>
    <div class="field-table-commands">
        <a class="inline-cmd" data-bind="click: addFuel, visible: true">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span data-bind="text:i18n('Common_Add')"></span>
        </a>
    </div>
</gisc-ui-component>