﻿<gisc-ui-component>
    <!-- Name -->
    <gisc-ui-label params="for: 'txtAdvanceDriveRuleName', isRequired: true, text:i18n('DriverPerformanceRules_Name')" />
    <gisc-ui-field params="value: name" />

    <!-- Description -->
    <gisc-ui-label params="for: 'txtAdvanceDriveRuleDescription', text:i18n('Common_Description')" />
    <gisc-ui-field params="value: description" />

    <!-- Enable -->
    <gisc-ui-label params="for: 'ddAdvanceDriveRuleEnable', isRequired: true, text:i18n('Common_Enable')" />
    <gisc-ui-field params="value: enable" />

    <!--  -->
    <gisc-ui-label params="for: 'tvAccessibleBusinessUnits', isRequired: true, text:i18n('AdvanceDriverPerformanceRules_AccessibleBusinessUnits')" />
    <div style="border:0.5px solid;margin-bottom: 15px;">
        <gisc-ui-treeview params="
        mode:'view',
        datasource:buInfos,
        dataID:'id',
        text:'name',
        parent:'parentBusinessUnitId',
        children:'childBusinessUnits',
        collapsedNodes:collapsedNodes" />
    </div>

    <!-- Driving Efficiency -->
    <div style="width:100%">
        <gisc-ui-label params="for: 'txtAdvanceDrivingEfficiencyView', text:i18n('AdvanceDriverPerformanceRules_DrivingEfficiency')" />
    </div>

    <!-- Target Score -->
    <div style="padding-left:10px">
        <gisc-ui-label params="for: 'txtAdvanceDriveRuleTargetScoreView', text:i18n('AdvanceDriverPerformanceRules_TargetScore'), isRequired:true" />
        <gisc-ui-tooltip params="text:i18n('I036')" />
        <div style="width:15%"><gisc-ui-textbox params="id: 'txtAdvanceDriveRuleTargetScoreView', value: targetScore , enable:false" /></div>
    </div>

    <!-- Percent Weight -->
    <div style="width:100%">
        <gisc-ui-label params="for: 'txtAdvancePercentWeightView', text:i18n('AdvanceDriverPerformanceRules_PercentWeight'), isRequired:true" />
        <gisc-ui-tooltip params="text:i18n('I037')" />
    </div>

    <!-- Target Score -->
    <div class="col-12" style="padding-left:10px">
        <div class="row">
            <div class="col-3">
                <gisc-ui-label params="text:i18n('AdvanceDriverPerformanceRules_SpeedingScore')" />
            </div>
            <div class="col-3">
                <gisc-ui-label params="text:i18n('AdvanceDriverPerformanceRules_BehaviorScore')" />
            </div>
            <div class="col-4">
                <gisc-ui-label params="text:i18n('AdvanceDriverPerformanceRules_FuelUsedRateScore')" />
            </div>
        </div>
        <div class="row">
            <div class="col-4" style="max-width:20%;padding-left:30px">
                <div style="width:100%">
                    <div style="width:80%;float:left"><gisc-ui-textbox params="id: 'txtAdvanceSpeedingScoreView', value: speedingScore, enable:false" /></div>
                    <div style="padding-left:50px"><span> %</span></div>
                </div>
            </div>
            <div style="font-size:20px"><span> +</span></div>

            <div class="col-3" style="padding-left:50px;">
                <div style="width:100%">
                    <div style="width:80%;float:left"><gisc-ui-textbox params="id: 'txtAdvanceBehaviorScoreView', value: behaviorScore, enable:false" /></div>
                    <div style="padding-left:50px"><span> %</span></div>
                </div>
            </div>

            <div style="font-size:20px"><span> +</span></div>
            <div class="col-3" style="padding-left:50px">
                <div style="width:100%">
                    <div style="width:80%;float:left"><gisc-ui-textbox params="id: 'txtAdvanceFuelUsedRateScoreView', value: fuelUsedRateScore, enable:false" /></div>
                    <div style="padding-left:50px"><span> %</span></div>
                </div>
            </div>
            <div><span> = 100 %</span></div>

        </div>
    </div>

    <!-- Scale and Meaning -->
    <div style="width:100%">
        <gisc-ui-label params="for: 'txtAdvancePercentWeight', text:i18n('AdvanceDriverPerformanceRules_ScaleandMeaning'), isRequired:true" />
        <gisc-ui-tooltip params="text:i18n('I038')" />
    </div>

    <div class="col-12" style="padding-left:10px">
        <div class="row" style="padding-top:5px">
            <div class="col-3 box-advance-driver-performance-rule-bad" style="max-width:10%"></div>
            <div class="col-3" style="padding-left:10px;max-width:10%">
                <gisc-ui-label params="text:i18n('AdvanceDriverPerformanceRules_ScaleandMeaningBad')" />
            </div>
            <div class="col-3" style="max-width: 6%;padding-right: 0">
                <span class="advance-driver-rule-scale-span"> = > </span>
            </div>
            <div class="col-3 advance-driver-rule-range-fair-begin">
                <div style="width:100%">
                    <div style="width:45%;float:left"><gisc-ui-textbox params="id: 'txtAdvanceDriveBadMin', value: badFromScore , enable : false" /></div>
                </div>
            </div>
            <div class="col-3" style="margin-left: -10%;">
                <span class="advance-driver-rule-scale-span"> < = </span>
            </div>
            <div class="col-3 advance-driver-rule-range-end">
                <div style="width:100%">
                    <div style="width:50%;float:right"><gisc-ui-textbox params="id: 'txtAdvanceDriveBadMax', value: badToScore, enable : false" /></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-3 box-advance-driver-performance-rule-fair" style="max-width:10%"></div>
            <div class="col-3" style="padding-left:10px;max-width:10%">
                <gisc-ui-label params="text:i18n('AdvanceDriverPerformanceRules_ScaleandMeaningFair')" />
            </div>

            <div class="col-3 advance-driver-rule-span-fair">
                <span class="advance-driver-rule-scale-span-fair"> > </span>
            </div>
            <div class="col-3 advance-driver-rule-range-fair-begin">
                <div style="width:100%">
                    <div style="width:45%;float:left"><gisc-ui-textbox params="id: 'txtAdvanceDriveFairMin', value: fairFromScore, enable : false" /></div>
                </div>
            </div>
            <div class="col-3" style="margin-left: -10%;">
                <span class="advance-driver-rule-scale-span"> < = </span>
            </div>
            <div class="col-3 advance-driver-rule-range-end">
                <div style="width:100%">
                    <div style="width:50%;float:right"><gisc-ui-textbox params="id: 'txtAdvanceDriveFairMax', value: fairToScore, enable : false" /></div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-3 box-advance-driver-performance-rule-good" style="max-width:10%"></div>
            <div class="col-3" style="padding-left:10px;max-width:10%">
                <gisc-ui-label params="text:i18n('AdvanceDriverPerformanceRules_ScaleandMeaningGood')" />
            </div>

            <div class="col-3 advance-driver-rule-span-fair">
                <span class="advance-driver-rule-scale-span-fair"> > </span>
            </div>
            <div class="col-3 advance-driver-rule-range-fair-begin">
                <div style="width:100%">
                    <div style="width:45%;float:left"><gisc-ui-textbox params="id: 'txtAdvanceDriveGoodMin', value: goodFromScore, enable : false" /></div>
                </div>
            </div>
            <div class="col-3" style="margin-left: -10%;">
                <span class="advance-driver-rule-scale-span"> < = </span>
            </div>
            <div class="col-3 advance-driver-rule-range-end">
                <div style="width:100%">
                    <div style="width:50%;float:right"><gisc-ui-textbox params="id: 'txtAdvanceDriveGoodMax', value: goodToScore, enable : false" /></div>
                </div>
            </div>

        </div>
    </div>

    <!-- Speed -->
    <gisc-ui-label params="isRequired: true, text:i18n('AdvanceDriverPerformanceRules_Speed')" />
    <gisc-ui-tooltip params="text:i18n('I039')" />
    <gisc-ui-datatable params="
        datasource: speedInfos,
        columns: [
            { type: 'checkbox', title: 'i18n:AdvanceDriverPerformanceRules_BestSpeedRange', data: 'bestSpeedRange',enable:'enable',className: 'dt-body-center' },
            { type: 'label', title: 'i18n:AdvanceDriverPerformanceRules_Speed', data: 'formatSpeed',className: 'dt-body-left' },
        ],
        ordering: false,
        rowId: 'id' ,
        selectable: false,
        showFilter: false
        " />

    <!-- Behavior -->
    <gisc-ui-label params="isRequired: true, text:i18n('AdvanceDriverPerformanceRules_Behavior')" />
    <gisc-ui-tooltip params="text:i18n('I040')" />
    <gisc-ui-datatable params="
        datasource: behaviorInfos,
        columns: [
            { type: 'label', title: 'i18n:Common_AlertConfiguration', data: 'displayName',className: 'dt-body-center' },
            { type: 'label', title: 'i18n:AdvanceDriverPerformanceRules_Score', data: 'penaltyScore',className: 'dt-body-left' },
        ],
        ordering: false,
        rowId: 'id' ,
        selectable: false,
        showFilter: false
        " />

    <!-- Fuel -->
    <gisc-ui-label params="isRequired: true, text:i18n('AdvanceDriverPerformanceRules_Fuel')" />
    <gisc-ui-tooltip params="text:i18n('I041')" />
    <gisc-ui-datatable params="
        datasource: fuelInfos,
        columns: [
            { type: 'label', title: 'i18n:AdvanceDriverPerformanceRules_FuelUsedDifferent', data: 'formatFuel',className: 'dt-body-center' },
            { type: 'label', title: 'i18n:AdvanceDriverPerformanceRules_Score', data: 'score',className: 'dt-body-left' },
        ],
        ordering: false,
        rowId: 'id' ,
        selectable: false,
        showFilter: false
        " />

    <!-- Last Updated Date -->
    <gisc-ui-label params="for: 'ddAdvanceDriveRuleEnable', text:i18n('Common_LastUpdatedDate')" />
    <gisc-ui-field params="value: lastUpdateDate" />

    <!-- Last Updated By -->
    <gisc-ui-label params="for: 'ddAdvanceDriveRuleEnable', text:i18n('Common_LastUpdatedBy')" />
    <gisc-ui-field params="value: lastUpdateBy" />

    <!-- Created Date -->
    <gisc-ui-label params="for: 'ddAdvanceDriveRuleEnable', text:i18n('Common_CreatedDate')" />
    <gisc-ui-field params="value: createDate" />

    <!-- Created By -->
    <gisc-ui-label params="for: 'ddAdvanceDriveRuleEnable', text:i18n('Common_CreatedBy')" />
    <gisc-ui-field params="value: createBy" />


</gisc-ui-component>