﻿<gisc-ui-component>

    <!--Company -->
    <gisc-ui-label params="for: 'ddCompany', text:i18n('Common_Company'), isRequired:true" />
    <gisc-ui-dropdown params="id: 'ddCompany',
                            options: companyOptions,
                            optionsID: 'id',
                            optionsCaption: ' ',
                            optionsText: 'name',
                            type:'filter',
                            value: selectedCompany" >
    </gisc-ui-dropdown>

    <!--Business Unit-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" style="padding: 0">
                <gisc-ui-label params="for: 'ddBusinessUnit', text:i18n('Common_BusinessUnit'), isRequired:true" />
                <gisc-ui-dropdowntree params="id: 'ddBusinessUnit',
                            options: businessUnitOptions,
                            optionsID: 'id',
                            optionsText: 'name',
                            optionsParent: 'parentBusinessUnitId',
                            optionsChildren: 'childBusinessUnits',
                            optionsCaption: ' ',
                            value: selectedBusinessUnit,
                            mode:'update'" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="padding: 0; text-align: right;">
                <gisc-ui-button params="text:i18n('Common_Search') , onclick:searchVehicle.bind($data) " />
            </div>
        </div>
    </div>
    <br />

    <!-- ko if: results().length -->
        <ul data-bind="foreach: results, attr: { id: id }">
            <li>
                <h3 class="app-text-label" data-bind="text: name"></h3>
                <gisc-ui-datagrid params=",
                    id: dtId,
                    onDatasourceRequestRead: onDatasourceRequestRead.bind($data),
                    columns:[
                        { type: 'text' , title: 'i18n:License' , data: 'vehicleLicense',width:'115px', sortable: false}
                    ],
                    rowId: 'vehicleId',
                    showFilter: false,
                    showRowSelector: true,
                    selectedRowsWithId: $parents[0].selectedItems,
                    filterable:false,
                    pageable:false,
                    height: '300px'
                " />
            </li>
        </ul>
    <!-- /ko -->
</gisc-ui-component>