﻿<gisc-ui-component>
    <gisc-ui-label params="for: 'ddEnableSoundAlert', isRequired:true, text:i18n('User_EnableSoundAlert')" />
    <gisc-ui-dropdown params="id: 'ddEnableSoundAlert',
        options: enableSoundAlertOptions,
        optionsText: 'title',
        value: enableSoundAlertValue" />
    <gisc-ui-label params="for: 'txFleetDelay', isRequired:false, text:i18n('User_FleetDelayTime')" />
    <gisc-ui-textbox params="id: 'txFleetDelay', value: fleetDelayTime, filter: {type :'numeric', numericType:'int'}" />
    <gisc-ui-label params="isRequired:true, text:i18n('Common_Language')" />
    <gisc-ui-dropdown params="options: enabledLanguages,
        optionsText: 'name',
        value: selectedLanguage" />
    <gisc-ui-label params="for: 'ddEnableAlertNotification',isRequired:true, text:i18n('User_EnableAlertNotification')" />
    <gisc-ui-dropdown params="id: 'ddEnableAlertNotification',
    options: enableAlertNotificationOptions,
    optionsText: 'title',
    value: enableAlertNotificationValue" />
</gisc-ui-component>