<!-- ko component: {
    name: 'gisc-ui-component',
    params: {
        additionalCssClasses: 'compact'
    }
} -->
<!-- ko if: visible() -->
    <!-- ko ifnot: filterVisible -->
        <!-- ko ifnot: multiple -->
        <div class="app-dropdown" data-bind="css:disableState">
                <div class="app-dropdown-container app-dropdown-wrapper app-input" data-bind="validationElement: value, css:cssFocusClass">
                    <span class="app-dropdown-current" data-bind="text: selectedText"></span>
                    <span class="app-dropdown-arrow-normal"></span>
                    <select class="app-dropdown-select" data-bind="hasFocus:isDropdownFocus, attr: {id:id},enable:enable,options:options,value: value,optionsText: optionsText,optionsCaption:optionsCaption"></select>
                </div>
        </div>
        <!-- /ko -->
        <!-- ko if: multiple -->
        <select class="app-dropdown-select" data-bind="hasFocus:isDropdownFocus, attr: {id:id},enable:enable,options:options,value: value,optionsText: optionsText,optionsCaption:optionsCaption"></select>
        <!-- /ko -->
    <!-- /ko -->
    <!-- ko if: filterVisible -->
    <div class="app-dropdown" data-bind="css:disableState">
        <div class="app-dropdown-container app-dropdown-wrapper app-input" data-bind="validationElement: value, css:cssFocusClass">
            <select class="app-dropdown-select" data-bind="hasFocus:isDropdownFocus, attr: {id:id},enable:enable,options:options,value: value,optionsText: optionsText,optionsCaption:optionsCaption,optionsAfterRender: optionsAfterRender"></select>
        </div>
    </div>
    <!-- /ko -->
<!-- /ko -->
<!-- /ko -->