﻿<!-- <gisc-ui-component>
        <gisc-ui-label params="text: lblLastSync" />
        <div class="div-truck-detail">
            <div class="div-truck-detail-title">
                <label data-bind="text: i18n('Dashboard_Driver_Performance_Score_Header_Detail') " />
            </div>
        </div>
        <gisc-ui-datagrid params="
            onDatasourceRequestRead: onDatasourceRequestRead.bind($data),
            id: 'dgDriverPerfomanceDetailLst',
            pageSizeOptions: true,
            columnMenu: true,
            showFilter: true,
            filterable: true,
            columns : columns,
            rowId: 'id'" />
    </gisc-ui-component> -->

    <gisc-ui-component>
        <gisc-ui-label params="text: lblLastSync" />
        <div class="div-truck-detail">
            <div class="div-truck-detail-title">
                <label data-bind="text: i18n('Dashboard_Driver_Performance_Score_Header_Detail') " />
            </div>
        </div>
        <gisc-ui-datagrid params="
            onDatasourceRequestRead: onDatasourceRequestRead.bind($data),
            id: 'dgDriverPerfomanceDetailLst',
            pageSizeOptions: false,
            pageable: false,
            columnMenu: true,
            columns : columns,
            rowId: 'id'" />
    </gisc-ui-component>