﻿<gisc-ui-component>
        <gisc-ui-label params="for: 'ddBusinessUnit', text: i18n('Dashboard_Driver_Performance_Business_Unit'), isRequired: true"></gisc-ui-label>
        <gisc-ui-dropdowntree params=" id: 'ddBusinessUnit',
                                        options:businessUnitList,
                                        optionsID:'id',
                                        optionsText:'name',
                                        optionsParent:'parentBusinessUnitId',
                                        optionsChildren:'childBusinessUnits',
                                        value:businessUnit,
                                        mode:'update'" />

        <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_Today'),value:'Today',checked:valueRadio " />
        <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_Yesterday'),value:'Yesterday',checked:valueRadio " />
        <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_ThisWeek'),value:'ThisWeek',checked:valueRadio " />
        <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_LastWeek'),value:'LastWeek',checked:valueRadio " />
        <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_ThisMonth'),value:'ThisMonth',checked:valueRadio " />
        <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_LastMonth'),value:'LastMonth',checked:valueRadio " />
        <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_Custom'),value:'Custom',checked:valueRadio " />

        <!--Start Date-->
    <gisc-ui-label params="for:'searchStartDate',text:i18n('Dashboard_Utilization_Time_Start_Date'),isRequired:true"/>
    <gisc-ui-datetime params="id:'searchStartDate', value:startDate, mode:'date', maxDate:endDate, enable: isDateTimeEnabled"/>

    <!--End Date-->
    <gisc-ui-label params="for:'searchEndDate', text:i18n('Dashboard_Utilization_Time_End_Date'),isRequired:true"/>
    <gisc-ui-datetime params="id:'searchEndDate', value:endDate, mode:'date', minDate:startDate, enable: isDateTimeEnabled"/>

    <!-- Driver Performance Rule-->
    <gisc-ui-label params="text:i18n('Dashboard_Driver_Performance_Score_Performance_Rule'), isRequired:true" />
    <gisc-ui-dropdown params="options:performanceRuleOptions,
                      optionsText:'name',
                      optionsCaption: '',
                      value:performanceRule">
    </gisc-ui-dropdown>
    </gisc-ui-component>