﻿<gisc-ui-component>


    <!-- ko if:isView -->
    <!-- Start Date -->
    <gisc-ui-label params="text: i18n('Common_Language'), isRequired: true"></gisc-ui-label>
    <gisc-ui-field params="value: txtLanguage"></gisc-ui-field>

    <!-- End Date-->
    <gisc-ui-label params="text: i18n('Announcements_Message'), isRequired: true"></gisc-ui-label>
    <gisc-ui-field params="value: message"></gisc-ui-field>
    <!-- /ko -->

    <!-- ko ifnot:isView -->
    <!--Language-->
    <gisc-ui-label params="isRequired:true, text:i18n('Common_Language')" />
    <gisc-ui-dropdown params="options:languages,
                              optionsText:'name',
                              optionsCaption: '',
                              value:languageOption,
                              enable:enableLanguages" />
    <!--Message-->
    <gisc-ui-label params="isRequired:true ,text:i18n('Announcements_Message')" />
    <gisc-ui-textarea params="value: message " />
    <!-- /ko -->

</gisc-ui-component>