﻿<gisc-ui-component>

    <!-- Start Date -->
    <gisc-ui-label params="text: i18n('Announcements_StartDate'), isRequired: true"></gisc-ui-label>
    <gisc-ui-field params="value: startDate"></gisc-ui-field>

    <!-- End Date-->
    <gisc-ui-label params="text: i18n('Announcements_EndDate'), isRequired: true"></gisc-ui-label>
    <gisc-ui-field params="value: endDate"></gisc-ui-field>

    <!-- Messages -->
    <gisc-ui-label params="isRequired:true, text:i18n('Announcements_Messages')" />
    <div class="field-table-content" style="padding-bottom:15px;">
        <gisc-ui-datatable params="
                ordering: false,
                datasource: messages,
                columns: [
                    { type: 'label', title: 'i18n:Common_Language', data: 'languageName' },
                    { type: 'label', title: 'i18n:Announcements_Message', data: 'message', className: 'limit-text' }
                ],
                rowId: 'languageId',
                selectable: true,
                onSelectingRow: _selectingRowHandler" />
    </div>

    <!-- BusinessUnit -->
    <gisc-ui-label params="isRequired:true, text:i18n('Announcements_AccessibleBusinessUnits')" />
    <gisc-ui-tooltip params="text:i18n('I034')" />
    <gisc-ui-field params="value: isAllBu"></gisc-ui-field>

    <!-- ko ifnot:displayBu -->
    <gisc-ui-datatable params="
            datasource: accessibleBusinessUnits,
            ordering: false,
            columns: [
                { type: 'label', title: 'i18n:Announcements_AccessibleBusinessUnitsName', data: 'businessUnitName', orderable: false }
            ],
            order: order,
            rowId: 'id'" />
    <!-- /ko -->

</gisc-ui-component>
