<gisc-ui-component params="codeHighlight:true">
    <article class="markup-container sdk-body">
        <blockquote>Checkbox allow user to toggle on/off state.</blockquote>
        <section>
            <h2>Parameters</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Default Value</th>
                        <th>Observable</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><code>id</code></td>
                        <td>No</td>
                        <td>GUID</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td><code>enable</code></td>
                        <td>No</td>
                        <td>True</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><code>visible</code></td>
                        <td>No</td>
                        <td>True</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><code>text</code></td>
                        <td>No</td>
                        <td>None</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><code>checked</code></td>
                        <td>Yes</td>
                        <td>None</td>
                        <td>Yes</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h2>Parameters Details</h2>
            <ul>
                <li><strong>Required Parameters</strong>
                    <ul>
                        <li><code>checked</code> Get/Set value from the Checkbox.</li>
                    </ul>
                </li>
                <li><strong>Optional Parameters</strong>
                    <ul>
                        <li><code>id</code> Unique identifier of html element, set to id attribute. If none is specify the controls will generate GUID.</li>
                        <li><code>enable</code> Flag to determine whether this control is enabled or not. If set to false the control is not interactable.</li>
                        <li><code>visible</code> Flag to determine whether this control is visible or not. If set to false the control is not render.</li>
                        <li><code>text</code> Built-in label that display text beside this control.</li>
                    </ul>
                </li>
            </ul>
        </section>
        <section>
            <h2>Examples</h2>
            <section id="exp1">
                <h3>Basic Example</h3>
                <h4>Source</h4>
                <pre><code class="hljs html">&lt;!-- View --&gt;
&lt;gisc-ui-checkbox params=&quot;text:&#x27;Not checked by default&#x27;, checked:isNotChecked&quot;&#x2F;&gt;
&lt;gisc-ui-checkbox params=&quot;text:&#x27;Checked&#x27;, checked:isChecked&quot;&#x2F;&gt;</code></pre>
                <pre><code class="hljs js">// View Model
this.isChecked = ko.observable(true);
this.isNotChecked = ko.observable(false);</code></pre>
                <h4>Output</h4>
                <div class="output">
                    <gisc-ui-checkbox params="text:'Not checked by default', checked:isNotChecked"/>
                    <gisc-ui-checkbox params="text:'Checked', checked:isChecked"/>
                </div>
            </section>
            <section id="exp2">
                <h3>Set <code>enable</code> to false</h3>
                <h4>Source</h4>
                <pre><code class="hljs html">&lt;!-- View --&gt;
&lt;gisc-ui-checkbox params=&quot;text:&#x27;Checked&#x27;, checked:isCheckedEnable, enable:isEnable&quot;&#x2F;&gt;</code></pre>
                <pre><code class="hljs js">// View Model
this.isEnable = ko.observable(false);
this.isCheckedEnable = ko.observable(false);</code></pre>
                <h4>Output</h4>
                <div class="output">
                    <gisc-ui-checkbox params="text:'Click button to enable checked', checked:isCheckedEnable, enable:isEnable"/>
                    <button class="eval-btn" data-bind="click: toggleIsEnable">Toggle isEnable</button>
                </div>
            </section>
        </section>
    </article>

</gisc-ui-component>