﻿<div>
    <div class="wg-list-item custom-line-list">
        <div class="wg-list-item-icon"><img src="./gis-js/images/measurement/icon_maptools_measurement@3x.png" /></div>
        <div data-dojo-attach-point="wgLabel" class="wg-list-item-label"></div>
    </div>
    <div>
        <div class="measurement-icon-function">
            <div class="list-function">
                <div class="measurement-btn-container" data-dojo-attach-point="divBtnPoint">
                    <div class="measurement-icon" data-dojo-attach-point="bntMarkMap">
                        <!--<img src="./gis-js/images/measurement/icon_maptools_poi_normal@3x.png" />-->
                    </div>
                </div>
                <div class="measurement-btn-container" data-dojo-attach-point="divBtnLine">
                    <div class="measurement-icon" data-dojo-attach-point="btnPolyLine">
                        <!--<img src="./gis-js/images/measurement/icon_maptools_add_normal@3x.png" />-->
                    </div>
                </div>
                <div class="measurement-btn-container" data-dojo-attach-point="divBtnPolygon">
                    <div class="measurement-icon" data-dojo-attach-point="btnPolygon">
                        <!--<img src="./gis-js/images/measurement/icon_maptools_area_normal@3x.png" />-->
                    </div>
                </div>
            </div>
        </div>
        <div class="custom-line-list">
            <div class="label-measurement">
                <div data-dojo-attach-point="labelMarkMap" style="display:none;">
                    <div data-dojo-attach-point="tilteMarkMap"></div>
                    <div data-dojo-attach-point="detailMarkMap"></div>
                </div>

                <div data-dojo-attach-point="labelPolyLine" style="display:none;">
                    <div data-dojo-attach-point="tiltePolyLine"></div>
                    <div data-dojo-attach-point="detailPolyLine"></div>
                    <br/><br>
                    <div data-dojo-attach-point="tiltePolyLineAll"></div>
                    <div data-dojo-attach-point="detailPolyLineAll"></div>
                </div>

                <div data-dojo-attach-point="labelPolygon" style="display:none;">
                    <div data-dojo-attach-point="tiltePolygon"></div>
                    <div data-dojo-attach-point="detailPolygon"></div>
                </div>

                <!--<div data-dojo-attach-point="labelDetail"></div>-->
            </div>
        </div>
    </div>
</div>