<!-- ko if: visible() -->
<div data-bind="css:labelStyles" class="app-form-labelcontainer app-text-label">
	<!-- ko ifnot: isHtmlEncode -->
	<label data-bind="html: text, attr:{for: forElementId}" />
	<!-- /ko -->
	<!-- ko if: isHtmlEncode -->
	<label data-bind="text: text, attr:{for: forElementId}" />
	<!-- /ko -->
	<!-- ko if: isRequired() -->
	<div class="app-dockedballoon-requiredwidget app-dockedballoon-required">
		<!-- ko component: 'svg-ic-asterisk'-->
		<!-- /ko -->
	</div>
	<!-- /ko -->
</div>
<!-- /ko -->