﻿<gisc-ui-component>

    <!-- Promotion -->
    <!-- <gisc-ui-label params="text: i18n('Assets_OperatorPackage')"></gisc-ui-label>
    <gisc-ui-field params="value: promotion" /> -->


    <!--Mobile Number-->
    <!-- <gisc-ui-label params="text: i18n('Assets_MobileNumber'), isRequired: true" />
    <gisc-ui-field params="value: mobile" /> -->

    <!--SIM Card Serial Number-->
    <!-- <gisc-ui-label params="text: i18n('Assets_SIMCardSerialNumber')" />
    <gisc-ui-field params="value: simCardSerialNumber" /> -->

  

    <!-- Business Unit -->
    <gisc-ui-label params="text: i18n('Common_BusinessUnit'), isRequired: true"></gisc-ui-label>
    <gisc-ui-field params="value: businessUnit" />

    <!-- Box -->
    <gisc-ui-label params="text: i18n('Assets_Box'), isRequired: true"></gisc-ui-label>
    <gisc-ui-field params="value: box" />

    <!-- Vehicle -->
    <gisc-ui-label params="text: i18n('Common_Vehicle'), isRequired: true"></gisc-ui-label>
    <gisc-ui-field params="value: vehicle" />

    <!-- Enable DLT Interface -->                         
    <gisc-ui-label params="text:i18n('Assets_EnableDLTInterface'), isRequired:true"/>
    <gisc-ui-field params="value: enableDltInterface" />
</gisc-ui-component>