﻿.wg-context-menu {
  display: none;
  position: absolute;
  z-index: 51;
  background-color:#f2f2f2;

  border-radius:10px;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.3);
  -webkit-box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.3);
}

/* Override CSS ListItemC*/
    .wg-context-menu .wg-list-item {
        border:0 none;
        height:50px;
        padding-right:10px
    }


    .wg-context-menu .wg-list-item-label {
        border-bottom:1px solid #a3a5a8;
        color:#323b3a;
        font-size:20px;
        font-family:'DB-Regular'
    }

    .wg-context-menu .wg-list-item:first-child:active {
        border-radius:10px 10px 0 0;
    }

    .wg-context-menu .wg-list-item:last-child:active {
        border-radius:0 0 10px 10px;
    }

    
    .wg-context-menu .wg-list-item:last-child .wg-list-item-label {
        border-bottom:0 none;
    }

    .wg-context-menu .wg-list-item-icon svg .cls-1 {
    fill: #20af80 !important;
}