﻿.wg-list-container {
    width:100%;
    height:auto;
}

.wg-list-item {
    cursor:pointer;
    width:100%;
    height:50px;
    border-top:1px solid #a3a5a8;
    box-sizing:border-box;

    display:table;
}


    /*.wg-list-item:hover {
        background-color: #e2e3e4;
    }*/

    .wg-list-item:active {
        background-color:#b7d9c8;
    }

.wg-list-item:last-child {
    border-bottom:1px solid #a3a5a8;
}

.wg-list-item-label {
    display:table-cell;
    vertical-align:middle;

    font-family: 'DB-Regular';
    font-size: 22px;
    color:#a3a5a8;
}

.has-delete .wg-list-item-label {
    padding-right:40px;
}

.wg-list-item-icon {
    display:table-cell;
    width:60px;
    height:100%;
    vertical-align: middle;
    box-sizing:border-box;
    padding-left:10px;
}

.wg-list-item-icon img {
    width:30px;
    height:30px;
    display:table-cell;
}

.wg-list-item-icon svg {
    width:30px;
    height:30px;
    display:table-cell;
    vertical-align: middle;
}

.wg-list-item-delete-icon {
    display:none;
}

.has-delete .wg-list-item-delete-icon
{
    display:table-cell;
    vertical-align: middle;
    width:40px;
    height:100%;
    box-sizing:border-box;
}

.has-delete .wg-list-item-delete-icon svg {
    width:30px;
    height:30px;
    display:table-cell;
    vertical-align: middle;
}

    /*.wg-list-item-icon svg .cls-1 {
        fill:#20af80 !important;
    }*/

    .wg-list-item.selected {
        background-color:#20af80;
    }

        .wg-list-item.selected .wg-list-item-label {
            color:#fff;
        }