﻿.wg-toolpanel {
    width: 40px; 
    /*height: calc(100%);*/
    height:auto;
    position: absolute; 
    top: 0; 
    right: 0;
    z-index: 50;
    height:calc(100%);
}

.wg-toolpanel-main {
    width:100%;
    height:100%;
    position: relative;
}

.wg-toolpanel-menu {
    position: relative;
    padding-top: 10px;
    right:0;
    z-index:2;
}

/*.wg-toolpanel-panel-icon {
    width:28px;
    height:28px;
    margin-top:6px;
    margin-left:6px;
}*/

.wg-toolpanel-menu-item svg {
    width:28px;
    height:28px;
    margin-top:6px;
    margin-left:6px;
}

.wg-toolpanel-menu-space {
    height: 10px; 
    width: 40px;
}

.wg-toolpanel-menu-gap {
    height: 2px; 
    width: 40px;
    background-color:#1c211a;
}

.wg-toolpanel-menu-item {
    /*padding: 3px 7px 4px 7px;*/
    cursor: pointer;
    background-color: rgba(50,59,58,0.9);
    position: relative;
    /*display: inline-block;*/ 
    height: 40px;
    width:40px;
    box-sizing: border-box;
}

/*.wg-toolpanel-menu-item.content-open
{
    background-color:rgba(32, 175, 128,0.9)  !important;
}

.wg-toolpanel-menu-item.content-active
{
    background-color:rgba(183, 217, 200,0.9);
}*/

.wg-toolpanel-menu-item svg .cls-1 {
    fill:#f2f2f2;
}

 .wg-toolpanel-menu-item.content-active svg .cls-1 {
    fill:#20af80;
}

 .wg-toolpanel-menu-item:active svg .cls-1, .wg-toolpanel-menu-item.content-open svg .cls-1 {
    fill:#ffd100 !important;
}




.wg-toolpanel-menu-item:first-child {
    border-radius: 10px 0 0 0;
}

.wg-toolpanel-menu-item.last-item {
    border-radius: 0 0 0 10px;
}

.wg-toolpanel-menu-item.other-content {
    display:none;
    margin-top:10px;
    border-radius: 10px 0 0 10px;
}

/*.wg-toolpanel-menu-item-stand-alone {
    border-radius: 4px 0 0 4px;
    padding:7px;
}*/

.wg-toolpanel-menu-item-tooltip {
    background-color: #f2f2f2;
    border-radius: 4px;
    color: #808080;
    padding: 6px;
    position: absolute;
    right: 100%;
    text-align: center;
    visibility: hidden;
    white-space: nowrap;
    z-index: 1;
    top: 10%;

    font-family: 'DB-Regular';
    font-size:16px;
}

.wg-toolpanel-menu-item-tooltip::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent white;
}

.wg-toolpanel-menu-item:hover .wg-toolpanel-menu-item-tooltip {
   visibility: visible;
}

.wg-toolpanel-menu-item-first:hover .wg-toolpanel-menu-item-tooltip {
   visibility: visible;
}

.wg-toolpanel-menu-item-last:hover .wg-toolpanel-menu-item-tooltip {
   visibility: visible;
}

/* Open */
.wg-toolpanel-panel {
    height: 100%;
    width: 285px;
    position: absolute; 
    top: 0; 
    right: 0;
    background-color: white;
    box-shadow: 6px 6px 6px 6px rgba(0,0,0,1);
    display:none;
}

.wg-toolpanel-menu.open {
    right:285px;
}

.wg-toolpanel.open {
    height:calc(100%);
}

.wg-toolpanel-panel.open {
    display:block;
}



.wg-toolpanel-panel-close {
    /*background-image:url('../../images/menu/close.png');
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center center;*/
    /*background-color:#f2f2f2;
    border-radius:100px;*/
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

    .wg-toolpanel-panel-close svg {
        width: 20px;
        height: 20px;
    }

        .wg-toolpanel-panel-close svg .cls-1 {
            fill: #1e7358 !important;
        }

.wg-toolpanel-panel-content {
    height: 100%;
    width: 100%;
    background-color:#f2f2f2;
}


.wg-toolpanel-panel-hide {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 40px;
    cursor: pointer;
}

.wg-toolpanel-panel-hide svg {
        width: 20px;
        height: 20px;
    }

        .wg-toolpanel-panel-hide svg .cls-1 {
            fill: transparent !important;
        }

        .wg-toolpanel-panel-hide svg .cls-1 {
            fill: transparent !important;
        }

        .wg-toolpanel-panel-hide svg .cls-2 {
            fill: #1e7358 !important;
        }

.wg-toolpanel-menu-item.other-content.show
{
    display:block;
}

    .wg-toolpanel-menu-item.other-content.show svg .cls-1 {
        fill:rgba(0,0,0,0) !important;
    }


.wg-toolpanel-hidding-panel {
    position:absolute;
    width:40px;
    height:100%;
    top:0;
    right:0;
    background-color:#f2f2f2;
    box-sizing:border-box;
    border-left: 1px solid #a3a5a8;
    box-shadow: -1px 0 5px #a3a5a8;
    display:none;
    cursor:pointer;
}

    .wg-toolpanel-main.open .wg-toolpanel-hidding-panel {
        display:block;
    }

.wg-toolpanel-hidding-panel-text {
    -webkit-transform: rotate(90deg) translateX(50%) translateX(25px);
    transform: rotate(90deg) translateX(50%) translateX(25px);
    text-transform: uppercase;
    font-family:'DB-Bold';
    color:#323b3a;
    font-size: 24px;
    line-height:0.6em;
    white-space:nowrap;
}

/* Hide Content*/
.wg-toolpanel-main.open .wg-toolpanel-panel {
    display:none;
}

.wg-toolpanel-main.open .wg-toolpanel-menu {
    right:40px;
}

.wg-toolpanel-main.open .wg-toolpanel {
    height:calc(100%);
}

