﻿<gisc-ui-component>
    <article>
        <summary>
        </summary>
        <section>
            <gisc-ui-datatable params="id: 'dtCustomPOICategoryList',
                datasource: items,
                columns: [
                    { type: 'colorhex', title:'i18n:CustomPOICategory_Color', searchable: true, data: 'color' },
                    { type: 'label', title:'i18n:CustomPOICategory_Name', searchable: true, data: 'name' },
                    { type: 'label', title:'i18n:CustomPOICategory_Code', data: 'code',searchable: true }
                ],
                rowId: 'id',
                selectable: true,
                selectedRow: selectedCustomPOICategory,
                showFilter: true,
                filter: filterText,
                filterPlaceholder: 'i18n:PHSearchBy009',
                onSelectingRow: _selectingRowHandler,
                recentChangedRowIds: recentChangedRowIds,
                loadMore: true,
                order: order
                " />
        </section>
    </article>
</gisc-ui-component>