﻿<gisc-ui-component>
    <!--Name-->
    <gisc-ui-label params="text: i18n('CustomPOICategory_Name')"></gisc-ui-label>
    <gisc-ui-field params="value: name"></gisc-ui-field>

    <!--Description-->
    <gisc-ui-label params="text: i18n('CustomPOICategory_Description')"></gisc-ui-label>
    <gisc-ui-field params="value: description"></gisc-ui-field>

    <!--Code-->
    <gisc-ui-label params="text: i18n('CustomPOICategory_Code')"></gisc-ui-label>
    <gisc-ui-field params="value: code"></gisc-ui-field>

    <!--Color-->
    <gisc-ui-label params="text:i18n('CustomPOICategory_Color')" />
    <div data-bind="style: { backgroundColor: poiColor(),width: '25px', height: '25px', 'margin-bottom':'20px'}"></div>

    <!--Type-->
    <gisc-ui-label params="text:i18n('CustomPOICategory_Type')" />
    <gisc-ui-field params="value: type"></gisc-ui-field>
</gisc-ui-component>