<gisc-ui-component params="viewModel: $data">
    <h2>Selected item</h2>
    <div data-bind="template: { name: 'job-template', data: job }"></div>
</gisc-ui-component>

<script type="text/html" id="job-template">
    <div> <span>Status: <span data-bind="text: status"></span></span></div>
    <div> <span>Total: <span data-bind="text: total"></span></span></div>
</script>