﻿<gisc-ui-component params="additionalCssClasses: 'k-grid-height'">
    <div class="manage">
        <gisc-ui-tab params="selectedIndex: selectedIndex">
            <item params="text: tabName1 ,visible: tab1" >
            

                <div class="scrollbar" style="height: 80vh;" id="scrollbarid1" data-bind="event: { scroll: onContainerScroll.bind($data,'1') }">
                <gisc-ui-datatable params="
                    id: 'widgetListTab1',
                    datasource: dataSourcetab1,
                    columns: [
                        { type: 'label', title: 'i18n:Common_Alerts', data: 'alertURLInfo', searchable: false ,orderable: false },
                        { type: 'label', title: 'i18n:Common_Time', data: 'formatDateTime', searchable: true ,orderable: false },
                        { type: 'label', title: 'i18n:Common_Location', data: 'location',orderable: false , searchable: true},
                        { type: 'label', title: 'i18n:Common_Speed', data: 'speed', searchable: false,orderable: false }
                    ],
                    order: order,
        
                    selectable: true,
                    selectedRow: selectTab1,
                    showFilter: true,
                    filter: filterText1,
                    filterPlaceholder: 'i18n:PHSearchBy026',
                    onSelectingRow: onEventSelected.bind($data),
                    recentChangedRowIds: recentChangedRowIds1,
                    loadMore: true
                
                    " />
                    
                </div>
                <button data-bind="click:goTotop.bind($data,'scrollbarid1')" class="myBt" id="btmTap1">^</button>
            </item>
            <item params="text: tabName2 ,visible: tab2" >
                    <div class="scrollbar" style="height: 80vh;" id="scrollbarid2" data-bind="event: { scroll: onContainerScroll.bind($data,'2') }">
                    <gisc-ui-datatable params="
                        id: 'widgetListTab2',
                        datasource:  dataSourcetab2,
                        columns: [
                        { type: 'label', title: 'i18n:Common_Alerts', data: 'alertURLInfo', searchable: false ,orderable: false },
                        { type: 'label', title: 'i18n:Common_Time', data: 'formatDateTime', searchable: true ,orderable: false },
                        { type: 'label', title: 'i18n:Common_Location', data: 'location',orderable: false , searchable: true},
                        { type: 'label', title: 'i18n:Common_Speed', data: 'speed', searchable: false,orderable: false }
                        ],
                        order: order,
                    
                        selectable: true,
                        selectedRow: selectTab2,
                        showFilter: true,
                        filter: filterText2,
                        filterPlaceholder: 'i18n:PHSearchBy026',
                        onSelectingRow: onEventSelected.bind($data),
                        recentChangedRowIds: recentChangedRowIds2,
                        loadMore: true
                    
                        " />
                        </div>
                <button data-bind="click:goTotop.bind($data,'scrollbarid2')" class="myBt" id="btmTap2">^</button>
                        
            </item>
            <item params="text: tabName3 ,visible: tab3">
                    <div class="scrollbar" style="height: 80vh;" id="scrollbarid3" data-bind="event: { scroll: onContainerScroll.bind($data,'3') }">
                    <gisc-ui-datatable params="
                        id: 'widgetListTab3',
                        datasource: dataSourcetab3,
                        columns: [
                        { type: 'label', title: 'i18n:Common_Alerts', data: 'alertURLInfo', searchable: false ,orderable: false },
                        { type: 'label', title: 'i18n:Common_Time', data: 'formatDateTime', searchable: true ,orderable: false },
                        { type: 'label', title: 'i18n:Common_Location', data: 'location',orderable: false , searchable: true},
                        { type: 'label', title: 'i18n:Common_Speed', data: 'speed', searchable: false,orderable: false }
                        ],
                        order: order,
                    
                        selectable: true,
                        selectedRow: selectTab3,
                        showFilter: true,
                        filter: filterText3,
                        filterPlaceholder: 'i18n:PHSearchBy026',
                        onSelectingRow: onEventSelected.bind($data),
                        recentChangedRowIds: recentChangedRowIds3,
                        loadMore: true
                    
                        " />
                        </div>
                <button data-bind="click:goTotop.bind($data,'scrollbarid3')" class="myBt" id="btmTap3">^</button>
                        
            </item>
        </gisc-ui-tab>
    </div>
</gisc-ui-component>