<gisc-ui-component>
    <article>
        <section>
            <gisc-ui-label params="for: 'ddPlant', text: i18n('BOMs_Reports_Plant')"></gisc-ui-label>
            <gisc-ui-dropdowntree params=" id: 'ddPlant',
                                            options:plant,
                                            optionsID:'id',
                                            optionsText:'name',
                                            optionsParent:'parentBusinessUnitId',
                                            optionsChildren:'childBusinessUnits',
                                            value:selectedPlant,
                                            mode:'update'" />
            
            <!-- Department -->
            <gisc-ui-label params="for: 'ddDepartment', text: i18n('BOMs_Reports_Department')"></gisc-ui-label>
            <gisc-ui-dropdown-multiselect params="id: 'ddDepartment',
                                    optionsID:'id',
                                    optionsText: 'name',
                                    optionsCaption: '',
                                    options: department,
                                    zIndex:'2',
                                    value: selectedDepartment" />

            <!-- Section -->
            <gisc-ui-label params="for: 'ddSection', text: i18n('BOMs_Reports_Section')"></gisc-ui-label>
            <gisc-ui-dropdown-multiselect params="id: 'ddSection',
                                    optionsID:'id',
                                    optionsText: 'name',
                                    optionsCaption: '',
                                    options: section,
                                    value: selectedSection" />
            
            <!-- TravelMode -->
            <gisc-ui-label params="for: 'ddTravelMode', text: i18n('BOMs_Reports_TravelMode')"></gisc-ui-label>
            <gisc-ui-dropdown params="id: 'ddTravelMode',
                                    options: travelMode,
                                    optionsText: 'displayName',
                                    optionsCaption: ' ',
                                    value: selectedTravelMode" />

            <gisc-ui-label params="text: i18n('BOMs_Reports_EmployeeId')"></gisc-ui-label>
            <gisc-ui-autocomplete params="id:'textEmp',
                                    onDatasourceRequest:requestEmp.bind($data),
                                    value:employeeId" />

            <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_Yesterday'),value:'Yesterday',checked:valueRadio " />
            <!-- ko if: thisWeekVisible -->
                <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_ThisWeek'),value:'ThisWeek',checked:valueRadio " />
            <!-- /ko -->
            <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_LastWeek'),value:'LastWeek',checked:valueRadio" />
            <!-- ko if: thisMonthVisible -->
                <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_ThisMonth'),value:'ThisMonth',checked:valueRadio " />
            <!-- /ko -->
            <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_LastMonth'),value:'LastMonth',checked:valueRadio " />
            <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_Custom'),value:'Custom',checked:valueRadio " />

           <!--DateTimeFromTo-->
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <gisc-ui-label params="for:'from' ,text: i18n('Companies_From'), isRequired: true" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <gisc-ui-datetime params="id:'from' ,value:start ,mode:'date' ,maxDate:maxDateStart ,minDate:'-3m' ,dateFormat:formatSet ,enable: isDateTimeEnabled" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <gisc-ui-label params="for:'to' ,text: i18n('Companies_To'), isRequired: true" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <gisc-ui-datetime params="id:'to' ,value:end  ,mode:'date' ,maxDate:periodDay ,minDate:minDateEnd ,dateFormat:formatSet ,enable: isDateTimeEnabled" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <gisc-ui-label params="for:'tStart' ,text: i18n('BOMs_Reports_TimeStart'), isRequired: true" />
                </div>
                <div class="col-6">
                    <gisc-ui-label params="for:'tEnd' ,text: i18n('BOMs_Reports_TimeEnd'), isRequired: true" />
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="app-textBox-wrapper">
                        <input type="time" data-bind="value:timeStart, attr: { id:id, class:'app-input'}, enable: isDateTimeEnabled ">
                    </div>
                </div>
                <div class="col-6">
                    <div class="app-textBox-wrapper">
                        <input type="time" data-bind="value:timeEnd, attr: { id:id, class:'app-input'}, enable: isDateTimeEnabled ">
                    </div>
                </div>
            </div>

        </section>
    </article>
</gisc-ui-component>