<gisc-ui-component>
    <article>
        <!--<summary>Validation on ViewModel</summary>-->
        <section>
            <gisc-ui-label params="for: 'ddlBusinessUnit', text:i18n('Report_BusinessUnit'), isRequired: true" />
            <gisc-ui-dropdowntree params="id: 'ddlBusinessUnit',
                            options: businessUnits,
                            optionsID: 'id',
                            optionsText: 'name',
                            optionsParent: 'parentBusinessUnitId',
                            optionsChildren: 'childBusinessUnits',
                            value: selectedBusinessUnit" />
            
            <gisc-ui-checkbox params="text: i18n('Common_IncludeSubBusinessUnit'), checked:isIncludeSubBU"/>
            
            <gisc-ui-label params="for: 'ddEntityType', text: i18n('FleetMonitoring_EntityType'), isRequired: true"></gisc-ui-label>
            <gisc-ui-dropdown params="id: 'ddEntityType',
                                    options: entityTypes,
                                    optionsText: 'displayName',
                                    value: selectedEntityType" />

            <gisc-ui-label params="for: 'ddSelectEntity', text: i18n('Report_SelectedEntity'), isRequired: true"></gisc-ui-label>
            <gisc-ui-dropdown params="id: 'ddSelectEntity',
                                options: selectEntitys,
                                optionsText: 'displayName',
                                optionsCaption: selectedEntityBinding,
                                value: selectedEntity,
                                type: 'filter'" />

            <gisc-ui-label params="for:'stDate' ,text: i18n('Report_Date'), isRequired: true" />
            <gisc-ui-datetime params="id:'stDate' ,value:startDate ,mode:'date' ,maxDate:-1 ,minDate:'-3m' ,dateFormat:formatSet" />
        </section>
    </article>
</gisc-ui-component>