﻿<gisc-ui-component>
	<!--Picture-->
	<gisc-ui-label params="text: i18n('Picture')" />
	<gisc-ui-tooltip params="text: i18n('I018')" />
	<div class="app-img-wrap">
		<div class="app-img-manage-wrap">
			<img data-bind="attr: { src: pictureUrl, alt: '' }" />
		</div>
		<gisc-ui-fileupload params="
            fileName: pictureFileName,
            selectedFile: pictureSelectedFile,
            accept: pictureMimeTypes,
            onBeforeUpload: onBeforeUpload.bind($data),
            onUploadSuccess: onUploadSuccess.bind($data),
            onUploadFail: onUploadFail.bind($data),
            onRemoveFile: onRemoveFile.bind($data)
            " />
    </div>
    
    <!-- Authentication Type  -->
    <gisc-ui-label params="for: 'ddAuthType', text: i18n('Common_AuthenticationType'), isRequired: true"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddAuthType',
                              options: authTypeDS,
                              optionsText: 'title',
                              value: authType"></gisc-ui-dropdown>

    <!-- Permission Type  -->
    <gisc-ui-label params="for: 'ddPmsType', text: i18n('User_UserType'), isRequired: true"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddPmsType',
                              options: pmsTypeOption,
                              optionsText: 'title',
                              value: pmsType,
                              enable : enablePmsType"></gisc-ui-dropdown>

    <!-- Username -->
    <gisc-ui-label params="for: 'txtUserName', text: i18n('Common_Username'), isRequired: true"></gisc-ui-label>
    <gisc-ui-textbox params="id: 'txtUserName', value: username"></gisc-ui-textbox>
    <!-- First Name -->
    <gisc-ui-label params="for: 'txtFirstName', text: i18n('Common_FirstName')"></gisc-ui-label>
    <gisc-ui-textbox params="id: 'txtFirstName', value: firstName"></gisc-ui-textbox>
    <!-- Last Name -->
    <gisc-ui-label params="for: 'txtLastName', text: i18n('Common_Lastname')"></gisc-ui-label>
    <gisc-ui-textbox params="id: 'txtLastName', value: lastName"></gisc-ui-textbox>
    <!-- Email -->
    <gisc-ui-label params="for: 'txtEmail', text: i18n('Common_Email'), isRequired: true"></gisc-ui-label>
    <gisc-ui-textbox params="id: 'txtEmail', value: email, maxlength: 200"></gisc-ui-textbox>
    <!-- Phone -->
    <gisc-ui-label params="for: 'txtPhone', text: i18n('Common_Phone'), isRequired: true"></gisc-ui-label>
    <gisc-ui-textbox params="id: 'txtPhone', value: phone, maxlength: 20"></gisc-ui-textbox>
    <!-- Enable -->
    <gisc-ui-label params="for: 'ddUserEnabled', text: i18n('Common_Enable'), isRequired: true"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddUserEnabled',
                              options: enableDS,
                              optionsText: 'title',
                              value: userEnabled"></gisc-ui-dropdown>
    <!-- Business Unit -->
    <gisc-ui-label params="for: 'ddtBusinessUnit', text: i18n('Common_BusinessUnit'), isRequired: true"></gisc-ui-label>
    <gisc-ui-dropdowntree params="id: 'ddtBusinessUnit',
                                  options: businessUnitDS,
                                  optionsID: 'id',
                                  optionsText: 'name',
                                  optionsParent: 'parentBusinessUnitId',
                                  optionsChildren: 'childBusinessUnits',
                                  disableNodes:disableBusinessUnits,
                                  enable: enableBusinessUnit,
                                  value: businessUnit" />
    <!-- User Groups -->
    <div class="field-wrapper">
        <div class="field-table-title">
            <gisc-ui-label params="text: i18n('Common_UserGroups'), isRequired: true"></gisc-ui-label>
        </div>
        <div class="field-table-content">
            <!--if we set default order to column which orderable = false, dataTable still display sorting icon (this is a bug of dataTable.)
            so we need to add duplicate hidden column and use that column to apply default order instead. -->
            <gisc-ui-datatable params="
                id: 'ca-user-groups',
                ordering: true,
                datasource: userGroups,
                columns: [
                    { type: 'label', title: 'i18n:Common_GroupName', data: 'groupName', orderable: false },
                    { type: 'label', title: 'i18n:Common_GroupName', data: 'groupName', visible: false }
                ],
                rowId: 'id',
                order: orderUserGroups,
                removable: { visible: 'canManage' }
                " />
        </div>
        <span data-bind="validationMessage: userGroups" class="ko-block-msg-err"></span>
        <div class="field-table-commands">
            <a class="inline-cmd" data-bind="click: addUserGroup">
                <i class="fa fa-plus" aria-hidden="true"></i> <span data-bind="text:i18n('Common_Add')"></span>
            </a>
        </div>
    </div>
    <!-- Accessible Business Units -->
    <div class="field-wrapper">
        <div class="field-table-title">
            <gisc-ui-label params="text: i18n('User_AccessibleBusinessUnits'), isRequired: true"></gisc-ui-label>
        </div>
        <div class="field-table-content">
            <!--if we set default order to column which orderable = false, dataTable still display sorting icon (this is a bug of dataTable.)
            so we need to add duplicate hidden column and use that column to apply default order instead. -->
            <gisc-ui-datatable params="
                id: 'ca-user-accessible-companies',
                ordering: true,
                datasource: accessibleBusinessUnits,
                columns: [
                    { type: 'label', title: 'i18n:User_AccessibleBusinessUnitsName', data: 'businessUnitName', cellTitle: 'businessUnitPath', orderable: false },
                    { type: 'label', title: 'i18n:User_AccessibleBusinessUnitsName', data: 'businessUnitName', visible: false }
                ],
                rowId: 'id',
                order: orderAccessibleBusinessUnits,
                removable: { visible: 'canManage' }
                " />
        </div>
        <span data-bind="validationMessage: accessibleBusinessUnits" class="ko-block-msg-err"></span>
        <div class="field-table-commands">
            <a class="inline-cmd" data-bind="click: addAccessibleBusinessUnit">
                <i class="fa fa-plus" aria-hidden="true"></i> <span data-bind="text:i18n('Common_Add')"></span>
            </a>
        </div>
    </div>
    <!-- Expiration Date -->
    <gisc-ui-label params="for: 'dtExpDate', text: i18n('User_ExpirationDate')"></gisc-ui-label>
    <gisc-ui-datetime params="id: 'dtExpDate',
                              value: expDate,
                              mode: 'date',
                              dateFormat: dateFormat"></gisc-ui-datetime>
    <!-- IP Permit -->
    <gisc-ui-label params="for: 'txtIPPermit', text: i18n('User_IPPermit')"></gisc-ui-label>
    <gisc-ui-tooltip params="text: i18n('I007')"></gisc-ui-tooltip>
    <gisc-ui-textbox params="id: 'txtIPPermit', value: ipPermit, maxlength: 200"></gisc-ui-textbox>

</gisc-ui-component>