﻿<gisc-ui-component>
    <!--Picture-->
    <gisc-ui-label params="text: i18n('Common_Picture')" />
    <div class="app-img-wrap">
        <div class="app-img-manage-wrap">
            <img data-bind="attr: { src: pictureUrl, alt: '' }" />
        </div>
        <div class="file-upload-name" data-bind="visible: pictureFileName">
            <span data-bind="text: pictureFileName"></span>
        </div>
    </div>

     <!-- Authentication Type  -->
    <gisc-ui-label params="text: i18n('Common_AuthenticationType'), isRequired: true"></gisc-ui-label>
    <gisc-ui-field params="value: authTypeName"></gisc-ui-field>

    <!-- Permission Type  -->
    <gisc-ui-label params="text: i18n('User_UserType'), isRequired: true"></gisc-ui-label>
    <gisc-ui-field params="value: pmsType"></gisc-ui-field>

    <!-- Username -->
    <gisc-ui-label params="text: i18n('Common_Username'), isRequired: true"></gisc-ui-label>
    <gisc-ui-field params="value: username"></gisc-ui-field>

    <!-- First Name -->
    <gisc-ui-label params="text: i18n('Common_FirstName')"></gisc-ui-label>
    <gisc-ui-field params="value: firstName"></gisc-ui-field>

    <!-- Last Name -->
    <gisc-ui-label params="text: i18n('Common_Lastname')"></gisc-ui-label>
    <gisc-ui-field params="value: lastName"></gisc-ui-field>

    <!-- Email -->
    <gisc-ui-label params="text: i18n('Common_Email'), isRequired: true"></gisc-ui-label>
    <gisc-ui-field params="value: email"></gisc-ui-field>

    <!-- Phone -->
    <gisc-ui-label params="text: i18n('Common_Phone'), isRequired: true"></gisc-ui-label>
    <gisc-ui-field params="value: phone"></gisc-ui-field>

    <!-- Enable -->
    <gisc-ui-label params="text: i18n('Common_Enable'), isRequired: true"></gisc-ui-label>
    <gisc-ui-field params="value: userEnabled"></gisc-ui-field>

    <!-- Business Unit -->
    <gisc-ui-label params="text: i18n('Common_BusinessUnit'), isRequired: true"></gisc-ui-label>
    <gisc-ui-field params="value: businessUnit().name"></gisc-ui-field>

    <!-- User Groups -->
    <div class="field-wrapper">
        <div class="field-table-title">
            <gisc-ui-label params="text: i18n('Common_UserGroups'), isRequired: true"></gisc-ui-label>
        </div>
        <div class="field-table-content">
            <!--if we set default order to column which orderable = false, dataTable still display sorting icon (this is a bug of dataTable.) 
            so we need to add duplicate hidden column and use that column to apply default order instead. -->
            <gisc-ui-datatable params="
                ordering: true,
                datasource: userGroups,
                columns: [
                    { type: 'label', title: 'i18n:Common_GroupName', data: 'groupName', orderable: false },
                    { type: 'label', title: 'i18n:Common_GroupName', data: 'groupName', visible: false }
                ],
                rowId: 'id',
                order: orderUserGroups,
                readonly: true
                " />
        </div>
    </div>

    <!-- Accessible Business Units -->
    <div class="field-wrapper">
        <div class="field-table-title">
            <gisc-ui-label params="text: i18n('User_AccessibleBusinessUnits'), isRequired: true"></gisc-ui-label>
        </div>
        <div class="field-table-content">
            <!--if we set default order to column which orderable = false, dataTable still display sorting icon (this is a bug of dataTable.) 
            so we need to add duplicate hidden column and use that column to apply default order instead. -->
            <gisc-ui-datatable params="
                ordering: true,
                datasource: accessibleBusinessUnits,
                columns: [
                    { type: 'label', title: 'i18n:User_AccessibleBusinessUnitsName', data: 'businessUnitName', cellTitle: 'businessUnitPath', orderable: false },
                    { type: 'label', title: 'i18n:User_AccessibleBusinessUnitsName', data: 'businessUnitName', visible: false }
                ],
                rowId: 'id',
                order: orderAccessibleBusinessUnits,
                readonly: true
                " />
        </div>
    </div>

    <!-- Expiration Date -->
    <gisc-ui-label params="text: i18n('User_ExpirationDate')"></gisc-ui-label>
    <gisc-ui-field params="value: expDate"></gisc-ui-field>

    <!-- IP Permit -->
    <gisc-ui-label params="text: i18n('User_IPPermit')"></gisc-ui-label>
    <gisc-ui-field params="value: ipPermit"></gisc-ui-field>


</gisc-ui-component>