<!-- ko component: {
    name: 'gisc-ui-component',
    params: {
        additionalCssClasses: 'app-dockedballoon app-dockedballoon-help app-dockedballoon-anchor compact'
    }
} -->
<div data-bind="visible:visible, attr:{id:id}">
	<div tabindex="-1" class="app-balloon-icon" data-bind="hasFocus: isSelected">
		<img data-bind="attr: { src: instructionIcon }">
	</div>
	<div class="app-balloon app-balloon-box-right" data-bind="visible:isSelected">
		<div class=" app-balloon-pointer app-bg-pointer"></div>
		<div class="app-bg-content app-balloon-content" data-bind="text:text"></div>
	</div>
</div>
</div>
<!-- /ko -->