﻿<gisc-ui-component>
    <!-- Include Sub Business Unit -->
    <gisc-ui-label params="for: 'ddIncludeSubBU', text: i18n('Common_IncludeSubBusinessUnit'), isRequired: true" />
    <gisc-ui-dropdown params="id: 'ddIncludeSubBU' ,
                      options: includeSubBusinessUnitsDS,
                      optionsText: 'title' ,
                      value: includeSubBusinessUnits" />
    <!-- Business Units -->
    <gisc-ui-treeview params="mode: 'update' ,
                      datasource: businessUnits,
                      dataID: 'id' ,
                      text: 'name' ,
                      parent: 'parentBusinessUnitId' ,
                      children: 'childBusinessUnits' ,
                      selectedNodes: selectedBusinessUnits,
                      collapsedNodes: collapsedNodes,
                      disableNodes: disableNodes,
                      autoSelection: includeSubBusinessUnits" />
</gisc-ui-component>



