﻿<gisc-ui-component>

    <!--License-->
    <gisc-ui-label params="for: 'txtLicense', text:i18n('Common_License')" />
    <gisc-ui-textbox params="id:'txtLicense', value:license"></gisc-ui-textbox>

    <!--Chassis No-->
    <gisc-ui-label params="for: 'txtchassisNo', text:i18n('Chassis No.')" />
    <gisc-ui-textbox params="id:'txtchassisNo', value:chassisNo"></gisc-ui-textbox>

    <!--DLT Id-->
    <gisc-ui-label params="for: 'txtdltId', text:i18n('DLT Id')" />
    <gisc-ui-textbox params="id:'txtdltId', value:dltId"></gisc-ui-textbox>

    <!--DateTimeFromTo-->
    <div style="width:100%;float:left;">
        <gisc-ui-label params="for:'from' ,text: i18n('Companies_From'), isRequired: true" />
    </div>
    <div style="width:100%">
        <div style="width:55%;float:left;">
            <gisc-ui-datetime params="id:'from' ,value:start ,maxDate:maxDateStart,mode:'date' ,dateFormat:formatSet" />
        </div>
        <div style="width:40%;float:right;">
            <div class="app-textBox-wrapper">
                <input type="time" data-bind="value:timeStart, attr: { id:id, class:'app-input'} ">
            </div>
        </div>
    </div>
    <div style="width:100%;float:left;">
        <gisc-ui-label params="for:'to' ,text: i18n('Companies_To'), isRequired: true" />
    </div>
    <div style="width:100%">
        <div style="width:55%;float:left;">
            <gisc-ui-datetime params="id:'from' ,value:start  ,mode:'date' ,dateFormat:formatSet , enable : false" />
        </div>
        <div style="width:40%;float:right;">
            <div class="app-textBox-wrapper">
                <input type="time" data-bind="value:timeEnd, attr: { id:id, class:'app-input'} ">
            </div>
        </div>
    </div>

</gisc-ui-component>