﻿<gisc-ui-component>
    <gisc-ui-field params="value: lastSync" />
    <div class="div-dashboard-container">
        <div class="div-dashboard-row">
            <div class="div-dashboard-col">
                <div class="div-chart-item chart-1-item">
                    <gisc-ui-calendar params="data:CalendarData,selected: CalendarSelected" />
                </div>
            </div>

            <div class="div-dashboard-col">
                <div class="div-dashboard-section">
                    <div class="div-chart-item chart-2-item">
                        <gisc-ui-barchart params="data:Next30DaysActivityData, selected: Next30DaysActivitySelected, type:'vertical'" />
                    </div>
                    <div class="div-chart-item chart-2-item">
                        <gisc-ui-barchart params="data:Next7DaysAppointmentData, selected: Next7DaysAppointmentSelected, type:'vertical'" />
                    </div>
                </div>
            </div>
        </div>
        <div class="div-dashboard-row">
            <div class="div-dashboard-col">
                <div class="div-dashboard-section">
                    <div class="div-chart-item chart-2-item">
                        <gisc-ui-barchart params="data:TOP10VehicleMostCostRankingData, selected: TOP10VihecleMostCostRankingSelected, type:'horizontal'" />
                     </div>
                    <div class="div-chart-item chart-2-item">
                        <gisc-ui-barchart params="data:TOP10BusinessUnitMostCostRankingData, selected: TOP10BusinessUnitMostCostRankingSelected, type:'horizontal'" />
                    </div>
                </div>
            </div>
            <div class="div-dashboard-col">
                <div class="div-chart-item chart-1-item">
                    <gisc-ui-piechart params="data:next30DayMaTypeData, selected: next30DayMaTypeSelected" />
                </div>
            </div>
        </div>
    </div>
</gisc-ui-component>