<gisc-ui-component params="codeHighlight:true">
    <article class="markup-container sdk-body">
        <blockquote>File upload is using for upload file to specific URL which handle HTTP POST method.</blockquote>
        <section>
            <h2>Parameters</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Default Value</th>
                        <th>Observable</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><code>id</code></td>
                        <td>No</td>
                        <td>GUID</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td><code>enable</code></td>
                        <td>No</td>
                        <td>True</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><code>visible</code></td>
                        <td>No</td>
                        <td>True</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><code>fileName</code></td>
                        <td>No</td>
                        <td></td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                    <td><code>fileUrl</code></td>
                        <td>No</td>
                        <td></td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><code>fileNameVisible</code></td>
                        <td>No</td>
                        <td>True</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><code>url</code></td>
                        <td>Yes</td>
                        <td></td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td><code>accept</code></td>
                        <td>No</td>
                        <td>*/*</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td><code>selectedFile</code></td>
                        <td>true</td>
                        <td></td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><code>formData</code></td>
                        <td>No</td>
                        <td></td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><code>onBeforeUpload</code></td>
                        <td>No</td>
                        <td>undefined</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td><code>onUploadSuccess</code></td>
                        <td>No</td>
                        <td>undefined</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td><code>onUploadFail</code></td>
                        <td>No</td>
                        <td>undefined</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td><code>onRemoveFile</code></td>
                        <td>No</td>
                        <td>undefined</td>
                        <td>No</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h2>Parameters Details</h2>
            <ul>
                <li><strong>Required Parameters</strong>
                    <ul>
                        <li><code>url</code> Http URL which accept POST method.</li>
                    </ul>
                </li>
                <li><strong>Optional Parameters</strong>
                    <ul>
                        <li><code>id</code> Unique identifier of html element, set to id attribute. If none is specify the controls will generate GUID.</li>
                        <li><code>enable</code> Flag to determine whether this control is enabled or not. If set to false the control is not interactable.</li>
                        <li><code>visible</code> Flag to determine whether this control is visible or not. If set to false the control is not render.</li>
                        <li><code>fileName</code> Default file name, selected file name.</li>
                        <li><code>fileUrl</code> Render file name as hyperlink.</li>
                        <li><code>fileNameVisible</code> Flag to determine whether this filename is visible or not. If set to false the control is not render.</li>
                        <li><code>accept</code> Limit available file types in browser choose file dialog. Support multiple MIME types by comma separator for example "image/gif, image/jpeg".</li>
                        <li><code>selectedFile</code> Used for remember selected file state, attach validators.</li>
                        <li><code>formData</code> Data that will be sent with file upload request, this can be observable, pureComputed.</li>
                        <li><code>onBeforeUpload</code> Event handler for subscribe before file upload.</li>
                        <li><code>onUploadSuccess</code> Event handler for subscribe file upload success.</li>
                        <li><code>onUploadFail</code> Event handler for subscribe file upload failed.</li>
                        <li><code>onRemoveFile</code> Event handler when user remove file, when we assign function reference then UI will have remove button available.</li>
                    </ul>
                </li>
            </ul>
        </section>
        <section>
            <h2>Examples</h2>
            <section id="exp1">
                <h3>Advance Example</h3>
                <h4>Source</h4>
                <pre><code class="hljs html">&lt;!-- View --&gt;
&lt;gisc-ui-fileupload params=&quot;
                        fileName: fileName,
                        fileUrl: fileUrl,
                        selectedFile: selectedFile,
                        formData: formData,
                        url: uploadUrl,
                        accept: &#x27;image&#x2F;jpeg,image&#x2F;png&#x27;,
                        onBeforeUpload: onBeforeUpload.bind($data),
                        onUploadSuccess: onUploadSuccess.bind($data),
                        onUploadFail: onUploadFail.bind($data)&quot; &#x2F;&gt;</code></pre>
                <pre><code class="hljs js">// View Model
class FileUploadScreen extends ScreenBase {
    constructor(params) {
        super(params);
        this.bladeSize = BladeSize.Medium;
        this.bladeTitle("FileUpload (gisc-ui-fileupload)");
        this.bladeDescription("src/components/portals/developer/fileUpload");

        this.uploadUrl = Utility.resolveUrl(WebConfig.appSettings.apiCoreUrl, "~/api/media/upload");
        this.fileName = ko.observable("default file.bak");
        this.fileUrl = ko.observable("");
        this.selectedFile = ko.observable();
        this.formData = ko.pureComputed(()=> {
            var f =this.selectedFile();
            return {id: 1, timestap: 'xijfe'};
        });
    }
    onLoad(isFirstLoad) {}
    onBeforeUpload(isValidToSubmit) {
        console.log('onBeforeUpload');
    }
    onUploadSuccess(response) {
        console.log(this.uploadUrl, 'returns', response);
    }
    onUploadFail(error) {
        console.log(this.uploadUrl, 'fail with', error);
    }
    setupExtend() {
        // Manual setup track change.
        this.selectedFile.extend({
            trackChange: true
        });

        // Manual setup validation rules
        this.selectedFile.extend({
            fileRequired: true,
            fileExtension: ['jpg', 'png'],
            fileSize: 1, // MB
            fileImageDimension: [500, 500, 'maximum']
        });

        this.validationModel = ko.validatedObservable({
            selectedFile: this.selectedFile
        });
    }
}</code></pre>
                <h4>Output</h4>
                <div class="output">
                    <gisc-ui-fileupload params="
                        fileName: fileName,
                        fileUrl: fileUrl,
                        selectedFile: selectedFile,
                        formData: formData,
                        url: uploadUrl,
                        accept: 'image/jpeg,image/png',
                        onBeforeUpload: onBeforeUpload.bind($data)
                        onUploadSuccess: onUploadSuccess.bind($data),
                        onUploadFail: onUploadFail.bind($data)" />
                </div>
            </section>
        </section>
    </article>
</gisc-ui-component>