﻿<gisc-ui-component>
    <div >
        <gisc-ui-label params="for: 'txtNameMax50',text:i18n('CustomRoutes_POIDetail_Name'), isRequired: true"/>
        <gisc-ui-textbox params="id: 'txtNameMax50', value:nameMax50 ,maxlength:'50'"></gisc-ui-textbox>
    </div>
    
    <!--Description-->
    <gisc-ui-label params="for: 'txtDescription', text:i18n('Common_Description')"/>
    <gisc-ui-textarea params="id: 'txtDescription', value: description,maxlength:'1000'" />

    <div>
        <gisc-ui-label params="for: 'ddRank', text: i18n('Configurations_Categories_Alert_Rank'), isRequired: true"></gisc-ui-label>
        <gisc-ui-tooltip params="text: i18n('I032')" />
        <gisc-ui-dropdown params="id: 'ddRank',
                              options: rank,
                              optionsText: 'value',
                              optionsCaption: '',
                              value: selectedRank"></gisc-ui-dropdown>
    </div>
</gisc-ui-component>