<gisc-ui-component params="additionalCssClasses: 'compact'">
    <!-- ko if: visible -->
    <div class="file-upload-name" data-bind="visible: fileNameVisibleInternal">
        <!-- ko if: isHyperLink -->
            <a data-bind="text: fileName, attr: { href: fileUrl, title: fileName }" target="_blank"></a>
        <!-- /ko -->
        <!-- ko ifnot: isHyperLink -->
            <span data-bind="text: fileName, attr: { title: fileName }"></span>
        <!-- /ko -->
        <!-- ko if: onRemoveFile !== undefined -->
        <div class="close" data-bind="click: onRemoveFileInternal.bind($data)">
            <!-- ko component: 'svg-blade-close' --><!-- /ko -->
        </div>
        <!-- /ko -->
    </div>
    <div class="file-upload-container" data-bind="css: {'disable': enable() === false}">
        <span data-bind="i18n: 'Common_Upload'"></span>
        <input type="file" class="file-upload" data-bind="enable: enable, attr: {'id': elementId, 'data-url': url, 'accept': accept}" />
    </div>
    <span class="ko-inline-msg-err" data-bind="validationMessage: selectedFile"></span>
    <!--<div class="progress" data-bind="visible: isUploading">
        <div class="bar" data-bind="style: {width: uploadProgress + '%'"></div>
    </div>-->
    <!-- /ko -->
</gisc-ui-component>