﻿<div data-bind="template: { afterRender: afterRender.bind($data, $element)}" style="height:100%;">
    <!-- ko ifnot: isGanttChart -->
    <div data-bind="attr:{id: xyChartId}" style="height:100%;"></div>
    <!-- /ko -->
    <!-- ko if: isGanttChart -->
    <div data-bind="attr:{id: ganttChartId}" style="height:100%;"></div>
    <!-- /ko -->
</div>
