﻿<gisc-ui-component>
    <!-- Name -->
    <gisc-ui-label params="for: 'txtName', text: i18n('Assets_BoxFeatureName'), isRequired: true"></gisc-ui-label>
    <gisc-ui-textbox params="id: 'txtName', value: name, enable: isUpdateEditable"></gisc-ui-textbox>

    <!-- Code -->
    <gisc-ui-label params="for: 'txtCode', text: i18n('Assets_BoxFeatureCode'), isRequired: true"></gisc-ui-label>
    <gisc-ui-textbox params="id: 'txtCode', value: code, enable: isUpdateEditable, filter:{type: 'regex', pattern:'[a-zA-Z0-9]'}, maxlength:'20'"></gisc-ui-textbox>

    <!-- Description -->
    <gisc-ui-label params="for: 'txtDescription', text: i18n('Common_Description'), isRequired: true"></gisc-ui-label>
    <gisc-ui-textarea params="id: 'txtDescription', value: description, enable: isUpdateEditable"></gisc-ui-textarea>

    <!-- Unit -->
    <gisc-ui-label params="for: 'ddUnit', text: i18n('Assets_Unit')"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddUnit',
                              options: unitDS,
                              optionsText: 'title',
                              optionsCaption: '',
                              value: selectedUnit, 
                              enable: isNonUpdateEditableUnit"></gisc-ui-dropdown>
                              
    <!-- Event Type -->
    <gisc-ui-label params="for: 'ddEventType', text: i18n('Common_EventType'), isRequired: true"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddEventType',
                              options: eventTypeDS,
                              optionsText: 'title',
                              value: selectedEventType, 
                              enable: isNonUpdateEditable"></gisc-ui-dropdown>

    <!-- Event Data Type -->
    <gisc-ui-label params="for: 'ddEventDataType', text: i18n('Assets_DataType'), isRequired: true"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddEventDataType',
                              options: eventDataTypeDS,
                              optionsText: 'title',
                              value: selectedDataType, 
                              enable: isNonUpdateEditable"></gisc-ui-dropdown>


    <!-- Is Accessory & Support Custom Alert -->
    <div class="field-wrapper inline-checkbox-container last">
        <!-- show Support Analog (Digital type only) -->
        <!-- ko if:isShowSupportAnalog -->
        <gisc-ui-checkbox params="text: 'Support Analog Data Type', checked: isSupportAnalog,enable: isEnableSupportAnalog"/>
         <!-- /ko -->
        <gisc-ui-checkbox params="text: i18n('Assets_IsAccessory'), checked: isAccessory, enable: isNonUpdateEditable"/>
        <gisc-ui-checkbox params="text: i18n('Assets_SupportCustomAlert'), checked: isCustomAlert, enable: isNonUpdateEditable"/>
    </div>

</gisc-ui-component>
