﻿<gisc-ui-component>
    <!--Start Date-->
    <gisc-ui-label params="for:'manageStartDate', isRequired:true, text:i18n('Announcements_StartDate')" />
    <gisc-ui-datetime params="id:'manageStartDate', value:startDate, mode:'date', maxDate:endDate" />

    <!--End Date-->
    <gisc-ui-label params="for:'manageEndDate', isRequired:true, text:i18n('Announcements_EndDate')" />
    <gisc-ui-datetime params="id:'manageEndDate', value:endDate, mode:'date', minDate:startDate" />
    
    <!--Messages-->
    <gisc-ui-label params="isRequired:true, text:i18n('Announcements_Messages')" />
    <div class="field-table-content">
       <gisc-ui-datatable params="
                ordering: false,
                datasource: messages,
                columns: [
                    { type: 'label', title: 'i18n:Common_Language', data: 'languageName' },
                    { type: 'label', title: 'i18n:Announcements_Message', data: 'message', className: 'limit-text' }
                ],
                rowId: 'languageId',
                selectable: true,
                selectedRow: selectedMessages,
                onSelectingRow: _selectingRowHandler,
                recentChangedRowIds: recentChangedRowIds,
                removable:{ visible: 'canDelete' }
                " />
        <span data-bind="validationMessage: messagesValidator" class="ko-block-msg-err"></span>
    </div>
    <div class="field-table-commands">
        <a class="inline-cmd" data-bind="click: addLanguage"><i class="fa fa-plus" aria-hidden="true"></i> 
            <span data-bind="text:i18n('Common_Add')"></span>
        </a>
    </div>

    <!--AccessibleCompanies-->
    <gisc-ui-label params="isRequired:true, text:i18n('Announcements_AccessibleCompanies')"/>
    <gisc-ui-dropdown params="options:isAllCompanies,
                              optionsText:'title',
                              value:isAllCompaniesSelected"/>


     <!-- ko ifnot: visibleAccessibleCompanies -->
    <div class="field-table-content">
        <gisc-ui-datatable params="
            datasource: accessibleCompanies,
            ordering: false,
            columns: [
                { type: 'label', title: 'i18n:Common_AccessibleCompaniesName', data: 'companyName', orderable: false }
            ],
            order: order,
            rowId: 'companyId',
            removable: { visible: 'canManage' }
            " />
    </div>
    <div class="field-table-commands">
        <a class="inline-cmd" data-bind="click: addAccessibleCompany"><i class="fa fa-plus" aria-hidden="true"></i> 
            <span data-bind="text:i18n('Common_Add')"></span>
        </a>
    </div>
    <!-- /ko -->

</gisc-ui-component>