﻿<div data-dojo-attach-point="divItem" class="wg-list-item checkbox">
    <div style="display:none;" data-dojo-attach-point="divIconCheck" class="wg-list-item-icon-check">
        <img data-dojo-attach-point="imgCheck" />
    </div>
    <div data-dojo-attach-point="divIcon" class="wg-list-item-icon">
        <img data-dojo-attach-point="imgIcon" />
    </div>
    <div data-dojo-attach-point="divText" class="wg-list-item-label"></div>
    <div data-dojo-attach-point="divDelete" class="wg-list-item-delete-icon"></div>
</div>