﻿<div data-dojo-attach-point="divMainWg" class="wg-toolpanel-main">
    <div data-dojo-attach-point="divMenuList" class="wg-toolpanel-menu"></div>
    <div data-dojo-attach-point="divHiddingWidget" class="wg-toolpanel-hidding-panel">
        <div data-dojo-attach-point="divHideName" class="wg-toolpanel-hidding-panel-text">playback control</div>
    </div>
    <div data-dojo-attach-point="divPanelContent" class="wg-toolpanel-panel">
        <div data-dojo-attach-point="divPanelLoading" class="div-panel-loading" style="display: none;">
            <div class="app-blade-progress-translucent"><div></div><div></div><div></div><div></div><div></div></div>
        </div>
        <div data-dojo-attach-point="btnClose" class="wg-toolpanel-panel-close"></div>
        <div data-dojo-attach-point="btnHide" class="wg-toolpanel-panel-hide"></div>
        <div data-dojo-attach-point="btnPin" class="wg-toolpanel-panel-pin"></div>
        <div data-dojo-attach-point="divWgContent" class="wg-toolpanel-panel-content"></div>
    </div>
</div>