<gisc-ui-component params="codeHighlight:true">
    <article class="markup-container sdk-body">
        <blockquote>Datetimepicker control is using for selected date , time or datetime in the a standard form.
            <blockquote>Supports mode:
                <ul>
                    <li>datetime (default)</li>
                    <li>date</li>
                    <li>time</li>
                </ul>
            </blockquote>
        </blockquote>
            <h2>Parameters</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Default Value</th>
                        <th>Observable</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><code>id</code></td>
                        <td>No</td>
                        <td>GUID</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td><code>enable</code></td>
                        <td>No</td>
                        <td>True</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><code>visible</code></td>
                        <td>No</td>
                        <td>True</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><code>value</code></td>
                        <td>Yes</td>
                        <td>None</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><code>mode</code></td>
                        <td>No</td>
                        <td>datetime</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td><code>dateFormat</code></td>
                        <td>No</td>
                        <td>d MMMM yyyy</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td><code>timeFormat</code></td>
                        <td>No</td>
                        <td>H:mm:ss</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td><code>timezone</code></td>
                        <td>No</td>
                        <td>GMT+ 07:00</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td><code>minDate</code></td>
                        <td>No</td>
                        <td>None</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><code>maxDate</code></td>
                        <td>No</td>
                        <td>None</td>
                        <td>Yes</td>
                    </tr>
                      <tr>
                        <td><code>minTime</code></td>
                        <td>No</td>
                        <td>None</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><code>maxTime</code></td>
                        <td>No</td>
                        <td>None</td>
                        <td>Yes</td>
                    </tr>
                     <tr>
                        <td><code>timeRange</code></td>
                        <td>No</td>
                        <td>false</td>
                        <td>Yes</td>
                    </tr>
                    <!--<tr>
                        <td><code>enableCurrentTime</code></td>
                        <td>No</td>
                        <td>false</td>
                        <td>Yes</td>
                    </tr>-->
                </tbody>
            </table>
        </section>
        <section>
            <h2>Parameters Details</h2>
            <ul>
                <li><strong>Required Parameters</strong>
                    <ul>
                        <li><code>value</code> Get/Set value from the datetimepicker.</li>
                    </ul>
                </li>
                <li><strong>Optional Parameters</strong>
                    <ul>
                        <li><code>id</code> Unique identifier of html element, set to id attribute. If none is specify the controls will generate GUID.</li>
                        <li><code>enable</code> Flag to determine whether this control is enabled or not. If set to false the control is not interactable.</li>
                        <li><code>visible</code> Flag to determine whether this control is visible or not. If set to false the control is not render.</li>
                        <li><code>mode</code> Set the control mode as datetimepicker, datepicker or timepicker dropdown to your forms.</li>
                        <li><code>dateFormat</code>  Display current setting of short date format in this control.</li>
                        <li><code>timeFormat</code> Display current setting of short time format in this control.</li>
                        <li><code>timezone</code> Display current setting of timezone in this control.</li>
                        <li><code>minDate</code> Set minimum selectable date if the value set to <code>null</code> there is no minimum</li>
                        <li><code>maxDate</code> Set maximum selectable date if the value set to <code>null</code> there is no maximum</li>
                        <li><code>minTime</code> String of the minimum time allowed.'8:00 am' will restrict to times after 8am</li>
                        <li><code>maxTime</code> String of the maximum time allowed. '8:00 pm' will restrict to times before 8pm</li>
                        <li><code>timeRange</code> Set timeRange as <code>true</code> for start/end field to specified time range.</li>
                    </ul>
                </li>
            </ul>
        </section>
        <section>
            <h2>Examples</h2>
            <section id="exp1">
                <h3>Datepicker</h3>
                <h4>Source</h4>
                <pre><code class="hljs html">&lt;!-- View --&gt;
&lt;gisc-ui-datetime params=&quot;value:date, mode:&#x27;date&#x27;&quot;&#x2F;&gt;
                </code></pre>
                <pre><code class="hljs js">// View Model
this.date = ko.observable("2016-08-01T08:47:33.383");
                </code></pre>
                <h4>Output</h4>
                <div class="output">
                    <gisc-ui-datetime params="value:date, mode:'date'" />
                    <div data-bind="text:date"></div>
                </div>
            </section>

            <section id="exp2">
                <h3>Timepicker</h3>
                <h4>Source</h4>
                <pre><code class="hljs html">&lt;!-- View --&gt;
&lt;gisc-ui-datetime params=&quot;value:time, mode:&#x27;time&#x27;&quot&#x2F;&gt;
                </code></pre>
                <pre><code class="hljs js">// View Model
this.time = ko.observable("2016-08-01T08:47:33.383");
                </code></pre>
                <h4>Output</h4>
                <div class="output">
                    <gisc-ui-datetime params="value:time, mode:'time'" />
                    <div data-bind="text:time"></div>
                </div>
            </section>

            <section id="exp3">
                <h3>DateTimepicker</h3>
                <h4>Source</h4>
                <pre><code class="hljs html">&lt;!-- View --&gt;
&lt;gisc-ui-datetime params=&quot;value:dateTime&quot;&#x2F;&gt;
                </code></pre>
                <pre><code class="hljs js">// View Model
this.dateTime = ko.observable("2016-08-01T08:47:33.383");
                </code></pre>
                <h4>Output</h4>
                <div class="output">
                    <gisc-ui-datetime params="value:dateTime" />
                    <div data-bind="text:dateTime"></div>
                </div>
            </section>

            <section id="exp4">
                <h3>Set <code>dateFormat/timeFormat</code> format </h3>
                <h4>Source</h4>
                <pre><code class="hljs html">&lt;!-- View --&gt;
&lt;gisc-ui-datetime params="value:dtSetFormat, dateFormat:dateFormat, timeFormat:timeFormat" />
                </code></pre>
                <pre><code class="hljs js">// View Model
this.dtSetFormat = ko.observable(new Date());
this.dateFormat = ko.observable("d/M/yyyy");
this.timeFormat = ko.observable("h:mm:ss tt");
                </code></pre>
                <h4>Output</h4>
                <div class="output">
                    <gisc-ui-datetime params="value:dtSetFormat, dateFormat:dateFormat, timeFormat:timeFormat" />
                    <div data-bind="text:dtSetFormat"></div>
                </div>
            </section>

            <section id="exp5">
                <h3>Create a specific date range</h3>
                <pre><code class="hljs html">&lt;!-- View --&gt;
&lt;gisc-ui-label params="for:'from', text:'From'" />
&lt;gisc-ui-datetime params="id:'from', value:start, mode:'date', maxDate:end, dateFormat:'dd-MM-yyyy'" />

&lt;gisc-ui-label params="for:'to', text:'To'" />
&lt;gisc-ui-datetime params="id:'to', value:end, mode:'date', minDate:start, dateFormat:'dd-MM-yyyy'" />
                </code></pre>
                <pre><code class="hljs js">// View Model
this.start = ko.observable();
this.end = ko.observable();
this.formatSet = "yyyy-MM-dd";
                </code></pre>
                <h4>Output</h4>
                <div class="output">
                    <gisc-ui-label params="for:'from', text:'From'" />
                    <gisc-ui-datetime params="id:'from', value:start, mode:'date', maxDate:end, dateFormat:'dd-MM-yyyy'" />

                    <gisc-ui-label params="for:'to', text:'To'" />
                    <gisc-ui-datetime params="id:'to', value:end, mode:'date', minDate:start, dateFormat:'dd-MM-yyyy'" />

                    <div><code>From: </code><span data-bind="text:start"></span> </div>
                    <div><code>To: </code><span data-bind="text:end"></span></div>
                </div>
            </section>

             <section id="exp6">
                <h3>Set exceed range.</h3>
                <pre><code class="hljs html">&lt;!-- View --&gt;
&lt;gisc-ui-label params="for:'from1', text:'From'" />
&lt;gisc-ui-datetime params="id:'from1', value:startDate, mode:'date'" />

&lt;gisc-ui-label params="for:'to1', text:'To'" />
&lt;gisc-ui-datetime params="id:'to1', value:endDate, mode:'date', minDate:startDate, maxDate:exceedDate" />

                </code></pre>
                <pre><code class="hljs js">// View Model
import Utility from '../../../../app/frameworks/core/utility';

class DateTimePickerScreen extends ScreenBase {
    constructor(params) {
        this.startDate = ko.observable();
        this.endDate = ko.observable();
        this.exceedDate  = ko.pureComputed(()=>{
            return Utility.addDays(this.startDate(),30);
        });
}
                </code></pre>
                <h4>Output</h4>
                <div class="output">
                    <gisc-ui-label params="for:'from1', text:'From'" />
                    <gisc-ui-datetime params="id:'from1', value:startDate, mode:'date'" />

                    <gisc-ui-label params="for:'to1', text:'To'" />
                    <gisc-ui-datetime params="id:'to1', value:endDate, mode:'date', minDate:startDate, maxDate:exceedDate" />

                    <div><code>From: </code><span data-bind="text:startDate"></span> </div>
                    <div><code>To: </code><span data-bind="text:endDate"></span></div>
                </div>
            </section>


            <section id="exp7">
                <h3>Time Range</h3>
                <h4>Source</h4>
                <pre><code class="hljs html">&lt;!-- View --&gt;
&lt;gisc-ui-label params="for:'fromTime', text:'From'" />
&lt;gisc-ui-datetime params="id:'fromTime', value:startTime, mode:'time', timeRange:true "/>

&lt;gisc-ui-label params="for:'toTime', text:'To'" />
&lt;gisc-ui-datetime params="id:'toTime', value:endTime, mode:'time', minTime:startTime, timeRange:true" />
                </code></pre>
                <pre><code class="hljs js">// View Model
this.startTime = ko.observable("2000-01-01T08:30:00");
this.endTime = ko.observable("2000-01-01T08:50:00");
                </code></pre>
                <h4>Output</h4>
                <div class="output">
                    <gisc-ui-label params="for:'fromTime', text:'From'" />
                    <gisc-ui-datetime params="id:'fromTime', value:startTime, mode:'time', timeFormat:'hh:mm:ss tt', timeRange:true "/>

                    <gisc-ui-label params="for:'toTime', text:'To'" />
                    <gisc-ui-datetime params="id:'toTime', value:endTime, mode:'time', minTime:startTime, timeFormat:'hh:mm:ss tt', timeRange:true" />


                    <div><code>From: </code><span data-bind="text:startTime"></span> </div>
                    <div><code>To: </code><span data-bind="text:endTime"></span></div>
                </div>
            </section>
        </section>

    </article>
</gisc-ui-component>