﻿<gisc-ui-component>
    <!--Code-->
    <gisc-ui-label params="for:'txtCode', isRequired:true, text:i18n('Vendor_Code')" />
    <gisc-ui-textbox params="id:'txtCode', value:code" />

    <!--Name-->
    <gisc-ui-label params="for:'txtName', isRequired:true,text:i18n('Vendor_Name')" />
    <gisc-ui-textbox params="id:'txtName', value:name" />
    <!--User-->
    <gisc-ui-label params="for: 'ddUser', text: i18n('Vendor_User'), isRequired:true "></gisc-ui-label>
    <gisc-ui-dropdown params="    id: 'ddUser',
                                  options: user,
                                  optionsText: 'username',
                                  optionsCaption: '',
                                  enable: checkInUsed ,
                                  value: selectedUser">

    </gisc-ui-dropdown>
</gisc-ui-component>