﻿<gisc-ui-component>
    <!-- Name -->
    <gisc-ui-label params="for: 'txtName', text: i18n('Configurations_SystemSettingName'), isRequired: true"></gisc-ui-label>
    <gisc-ui-textbox params="id: 'txtName', value: name, enable: false"></gisc-ui-textbox>

    <!-- First Name -->
    <gisc-ui-label params="for: 'txtValue', text: i18n('Configurations_Value'), isRequired: true"></gisc-ui-label>
    <gisc-ui-textbox params="id: 'txtValue', value: value"></gisc-ui-textbox>
</gisc-ui-component>