<!-- ko component: 'gisc-ui-component' -->
    <!-- ko if: visible -->
        <div class="app-topbar-logo">
            <!-- ko if: companyLogoUrl -->
            <img class="app-topbar-logo-image" data-bind="attr: {src: companyLogoUrl}" />
            <!-- /ko -->
            <!-- ko ifnot: companyLogoUrl -->
            <div class="app-topbar-logo-image no-logo" data-bind="text: companyNameFirstLetter, attr: { title : companyName}"></div>
            <!-- /ko -->
        </div>
    <!-- /ko -->
<!-- /ko -->