﻿<div class="shipment-timeline" data-bind="template: { afterRender: afterRender.bind($data, $element)}">
    <div class="shipment-timeline-title">
        <span id="command-switch-date">
            <div class="timeline-pre-post-button" style="float: left; " data-bind="click: onClickDateBack.bind($data, -1), css: isDateBackVisible">
                <svg-icon-btn-back  />
            </div>

             <div style="float: left; margin: 10px; color: #20af80; font-weight: bold; position: relative; bottom: 6px; ">
                <span data-bind="text: textParamStatus"></span>
            </div>

            <div class="timeline-pre-post-button" style="float: right;" data-bind="click: onClickDateNext.bind($data, +1), css: isDateNextVisible">
                <svg-icon-btn-next />
            </div>

            <div class="timeline-zoom-in-out-button" style="float: right; " data-bind="click: onZoomIn, css: isZoomInVisible">
                <svg-icon-btn-zoom-in />
            </div>

            <div class="timeline-zoom-in-out-button" style="float: right; " data-bind="click: onZoomOut, css: isZoomOutVisible">
                <svg-icon-btn-zoom-out />
            </div>

        </span>
    </div>
    <div class="shipment-timeline-gantt-chart" data-bind="attr:{id:id}"></div>

    <div style="text-align: center;">
        <gisc-ui-button params="text: i18n('Common_LoadMore'), onclick: onLoadMore.bind($data,'Search'), visible:isLoadMoreVisible" />
    </div>
</div>