﻿<gisc-ui-component>
    <!-- Name -->
    <gisc-ui-label params="for:'txtBomsName', text:i18n('BOMs_DefaultValue_Name'), isRequired:true" />
    <gisc-ui-field params="value: name" />

    <!-- Description -->
    <gisc-ui-label params="for:'txtBomsdescription', text:i18n('BOMs_DefaultValue_Description')" />
    <gisc-ui-field params="value: description" />

    <!-- Plant -->
    <gisc-ui-label params="for:'txtBomsbusinessUnitName', text:i18n('BOMs_DefaultValue_Plant'), isRequired:true" />
    <gisc-ui-field params="value: businessUnitName" />

    <!-- TravelMode -->
    <gisc-ui-label params="for:'txtBomstravelMode', text:i18n('BOMs_DefaultValue_TravelMode'), isRequired:true" />
    <gisc-ui-field params="value: travelMode" />

    <!-- ShipmentCategory -->
    <gisc-ui-label params="for:'txtBomsjobCate', text:i18n('BOMs_DefaultValue_ShipmentCategory'), isRequired:true" />
    <gisc-ui-field params="value: jobCate" />

    <!-- Late -->
    <gisc-ui-label params="for:'txtBomslate', text:i18n('BOMs_DefaultValue_Late'), isRequired:true" />
    <gisc-ui-field params="value: late" />

    <!-- Maybe Late -->
    <gisc-ui-label params="for:'txtBomsmaybeLate', text:i18n('BOMs_DefaultValue_MaybeLate'), isRequired:true" />
    <gisc-ui-field params="value: maybeLate" />



</gisc-ui-component>
