<gisc-ui-component>
    <article>
        <section>
            <gisc-ui-label params="for: 'ddPlant', text: i18n('BOMs_Reports_Plant')"></gisc-ui-label>
            <gisc-ui-dropdowntree params=" id: 'ddPlant',
                                            options:plant,
                                            optionsID:'id',
                                            optionsText:'name',
                                            optionsParent:'parentBusinessUnitId',
                                            optionsChildren:'childBusinessUnits',
                                            value:selectedPlant,
                                            mode:'update'" />
            
            <!-- Zone -->
            <gisc-ui-label params="for: 'ddZone', text: i18n('BOMs_Reports_Zone')"></gisc-ui-label>
            <gisc-ui-dropdown-multiselect params="id: 'ddZone',
                                    optionsID:'id',
                                    optionsText: 'name',
                                    optionsCaption: '',
                                    options: zone,
                                    value: selectedZone,
                                    zIndex: '2'" />
            
            <!-- Shipment Template -->
            <gisc-ui-label params="for: 'ddLine', text: i18n('BOMs_Reports_Line')"></gisc-ui-label>
            <gisc-ui-dropdown params="id: 'ddLine',
                                    options: line,
                                    optionsText: 'name',
                                    optionsCaption: '',
                                    type:'filter',
                                    value: selectedLine" />
            
            <!-- TravelMode -->
            <gisc-ui-label params="for: 'ddTravelMode', text: i18n('BOMs_Reports_TravelMode')"></gisc-ui-label>
            <gisc-ui-dropdown params="id: 'ddTravelMode',
                                    options: travelMode,
                                    optionsText: 'displayName',
                                    optionsCaption: ' ',
                                    value: selectedTravelMode" />

            <!-- ShiftMode -->
            <gisc-ui-label params="for: 'ddShiftMode', text: i18n('BOMs_Reports_ShiftMode')"></gisc-ui-label>
            <gisc-ui-dropdown-multiselect params="id: 'ddShiftMode',
                                    optionsID:'id',
                                    optionsText: 'name',
                                    optionsCaption: '',
                                    options: shiftMode,
                                    value: selectedShiftMode" />
            

            <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_Yesterday'),value:'Yesterday',checked:valueRadio " />
            <!-- ko if: thisWeekVisible -->
                <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_ThisWeek'),value:'ThisWeek',checked:valueRadio " />
            <!-- /ko -->
            <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_LastWeek'),value:'LastWeek',checked:valueRadio" />
            <!-- ko if: thisMonthVisible -->
                <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_ThisMonth'),value:'ThisMonth',checked:valueRadio " />
            <!-- /ko -->
            <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_LastMonth'),value:'LastMonth',checked:valueRadio " />
            <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_Custom'),value:'Custom',checked:valueRadio " />

           <!--DateTimeFromTo-->
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <gisc-ui-label params="for:'from' ,text: i18n('Companies_From'), isRequired: true" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <gisc-ui-datetime params="id:'from' ,value:start ,mode:'date' ,maxDate:maxDateStart ,minDate:'-3m' ,dateFormat:formatSet ,enable: isDateTimeEnabled" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <gisc-ui-label params="for:'to' ,text: i18n('Companies_To'), isRequired: true" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <gisc-ui-datetime params="id:'to' ,value:end  ,mode:'date' ,maxDate:periodDay ,minDate:minDateEnd ,dateFormat:formatSet ,enable: isDateTimeEnabled" />
                        </div>
                    </div>
                </div>
            </div>

            <gisc-ui-radio params="text:i18n('BOMs_Reports_By_Bus'),value:'Bus',checked:previewRadio " />
            <gisc-ui-radio params="text:i18n('BOMs_Reports_By_Droppoint'),value:'Droppoint',checked:previewRadio " />

        </section>
    </article>
</gisc-ui-component>