﻿<gisc-ui-component>
    <!-- Code -->
    <gisc-ui-label params="for: 'txtCode', isRequired: true, text: i18n('Assets_VehicleModelCode')" />
    <gisc-ui-textbox params="id: 'txtCode', value: code, filter: {type: 'alphanumeric'}" />
    <!-- Brand -->
    <gisc-ui-label params="for: 'txtBrand', isRequired: true, text: i18n('Assets_VehicleBrand')" />
    <gisc-ui-textbox params="id: 'txtBrand', value: brand" />
    <!-- Model -->
    <gisc-ui-label params="for: 'txtModel', isRequired: true, text: i18n('Common_VehicleModel')" />
    <gisc-ui-textbox params="id: 'txtModel', value: model" />
    <!-- Enable -->
    <gisc-ui-label params="for: 'ddEnable', isRequired: true, text: i18n('Common_Enable')" />
    <gisc-ui-dropdown params="
        id: 'ddEnable',
        options: enableDataSource,
        optionsText: 'title',
        value: selectedEnable" />
    <!-- Weight -->
    <gisc-ui-label params="for: 'txtWeight', text: i18n('Assets_Weight')" />
    <gisc-ui-textbox params="id: 'txtWeight', value: weight, filter: {type: 'numeric', numericType: 'float', maxDecimalPlaces: 2, min: 0.01}" />
    <!-- Load Weight -->
    <gisc-ui-label params="for: 'txtLoadWeight', text: i18n('Assets_LoadWeight')" />
    <gisc-ui-textbox params="id: 'txtLoadWeight', value: loadWeight, filter: {type: 'numeric', numericType: 'float', maxDecimalPlaces: 2, min: 0.01}" />
    <!-- Wheel -->
    <gisc-ui-label params="for: 'txtWheel', text: i18n('Assets_Wheel')" />
    <gisc-ui-textbox params="id: 'txtWheel', value: wheel, filter: {type: 'numeric', numericType: 'int', min: 1}" />
    <!-- Fuel Capacity -->
    <gisc-ui-label params="for: 'txtFuelCapacity', text: i18n('Assets_FuelCapacity')" />
    <gisc-ui-textbox params="id: 'txtFuelCapacity', value: fuelCapacity, filter: {type: 'numeric', numericType: 'int', min: 1}" />
    <!-- Fuel Min -->
    <gisc-ui-label params="for: 'txtFuelMin', text: i18n('Assets_FuelMin')" />
    <gisc-ui-textbox params="id: 'txtFuelMin', value: fuelMin, filter: {type: 'numeric', numericType: 'int', min: 1}" />
    <!-- Fuel Max -->
    <gisc-ui-label params="for: 'txtFuelMax', text: i18n('Assets_FuelMax')" />
    <gisc-ui-textbox params="id: 'txtFuelMax', value: fuelMax, filter: {type: 'numeric', numericType: 'int', min: 1}" />
    <!-- RPM Multiply Value -->
    <gisc-ui-label params="for: 'txtRpmMultiple', text: i18n('RPM Multiply Value')" />
    <gisc-ui-textbox params="id: 'txtRpmMultiple', value: rpmMultipleValue,  filter:{type :'numeric', numericType:'float',maxDecimalPlaces:2,max: 99.99}" />
    <!-- Fuel Multiply Value -->
    <gisc-ui-label params="for: 'txtFuelMultiplyValue', text: i18n('Fuel Multiply Value')" />
    <gisc-ui-textbox params="id: 'txtFuelMultiplyValue', value: fuelMultipleValue,  filter:{type :'numeric', numericType:'float',maxDecimalPlaces:4,max: 99.9999}" />

    <section>
        <!--Sub Menu-->
        <ul id="sub-menu-items" class="gisc-ui-listview gisc-ui-listview-bordered">
            <li>
                <div class="gisc-ui-button">
                    <div class="gisc-ui-button-text">
                        <a data-bind="click: onSelectSubMenuItem.bind($data, 1), css: { 'selected': selectedSubMenuItem() == 1 }" class="gisc-ui-link-inherit" title="Subscriptions" href="#">
                            <span data-bind="text: i18n('Common_InverseSensors')"></span>
                            <i data-bind="css: { 'selected': selectedSubMenuItem() == 1 }" class="gisc-ui-icon" aria-hidden="true"><!-- ko component: "svg-ic-right-arrow" --><!-- /ko --></i>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </section>
</gisc-ui-component>