<gisc-ui-component params="codeHighlight:true">
    <article class="markup-container sdk-body">
        <blockquote>Messagebox is native alert/confirm replacement which is modal dialog. This control will available from ComponentBase.showMessageBox method.</blockquote>
        <section>
            <h2>Parameters</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Default Value</th>
                        <th>Observable</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><code>title</code></td>
                        <td>No</td>
                        <td></td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td><code>message</code></td>
                        <td>Yes</td>
                        <td></td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td><code>type</code></td>
                        <td>No</td>
                        <td>ok</td>
                        <td>No</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h2>Parameters Details</h2>
            <ul>
                <li><strong>Required Parameters</strong>
                    <ul>
                        <li><code>message</code> Message to be displayed to user on dialog screen.</li>
                    </ul>
                </li>
                <li><strong>Optional Parameters</strong>
                    <ul>
                        <li><code>title</code> Title of Messagebox.</li>
                        <li><code>type</code> Messagebox type same as dialog.
                            <ul>
                                <li><code>ok</code> Messagebox with OK button</li>
                                <li><code>oc</code> Messagebox with OK, Cancel button</li>
                                <li><code>yn</code> Messagebox with Yes, No button</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
        <section>
            <h2>Return object</h2>
            <blockquote>This method return jQuery's Deferred object so you can handle user'clicked button from done.</blockquote>
        </section>
        <section>
            <h2>Examples</h2>
            <section id="exp1">
                <h3>Basic Example</h3>
                <h4>Source</h4>
                <pre><code class="hljs html">&lt;!-- View --&gt;
&lt;p data-bind=&quot;text: responseButton&quot; &#x2F;&gt;
&lt;gisc-ui-button params=&quot;text: &#x27;Alert&#x27;, onclick: testClick.bind($data, &#x27;&#x27;, &#x27;This is alert replacement&#x27;, &#x27;ok&#x27;)&quot; &#x2F;&gt;
&lt;gisc-ui-button params=&quot;text: &#x27;Yes No&#x27;, onclick: testClick.bind($data, &#x27;&#x27;, &#x27;Do you want to use?&#x27;, &#x27;yn&#x27;)&quot; &#x2F;&gt;
&lt;gisc-ui-button params=&quot;text: &#x27;OK Cancel&#x27;, onclick: testClick.bind($data, &#x27;&#x27;, &#x27;Are you sure for?&#x27;, &#x27;oc&#x27;)&quot; &#x2F;&gt;</code></pre>
                <pre><code class="hljs js">// View Model
class MessageBoxHelpScreen extends ScreenBase {
    constructor(params) {
        super(params);
        this.responseButton = ko.observable();
    }
    testClick (title, message, type) {
        var self = this;
        this.showMessageBox(title, message, type).done((response) => {
            self.responseButton(response);
        });
    }
}</code></pre>
                <h4>Output</h4>
                <div class="output">
                    <p data-bind="text: responseButton" />
                    <gisc-ui-button params="text: 'Alert', onclick: testClick.bind($data, '', 'This is alert replacement', 'ok')" />
                    <gisc-ui-button params="text: 'Yes No', onclick: testClick.bind($data, '', 'Do you want to use?', 'yn')" />
                    <gisc-ui-button params="text: 'OK Cancel', onclick: testClick.bind($data, '', 'Are you sure for?', 'oc')" />
                </div>
            </section>
        </section>
    </article>
</gisc-ui-component>