﻿<gisc-ui-component params="additionalCssClasses: 'global-search-find'">
    <div class="form-container">
        <gisc-ui-autocomplete params="id:'txtSearch',
                              placeholder: i18n('GlobalSearch_Keyword'),
                              value: keyword,
                              onKeypress: onFindClick.bind($data),
                              onDatasourceRequest: onDatasourceRequestSearch" />
        <!--<gisc-ui-textbox params="immediateValueUpdate: true, value: keyword, placeholder: i18n('GlobalSearch_Keyword')" />-->
        <div class="find-button">
            <gisc-ui-button params="text: i18n('Common_Find'), enable: enableFind, onclick: onFindClick.bind($data)" />
        </div>
    </div>
    <ul data-bind="foreach: categories">
        <li data-bind="attr: {title: text, class: cssClass}, click: $parent.onCategoryClick.bind($parent, $data)">
            <!-- ko component: icon --><!-- /ko -->
            <span data-bind="text: text" />
        </li>
    </ul>
</gisc-ui-component>