﻿<gisc-ui-component params="additionalCssClasses: 'global-search-result'">
    <!-- ko if: items().length === 0 -->
        <p class="no-result" data-bind="text: i18n('M009')"></p>
    <!-- /ko -->
    <!-- ko ifnot: items().length === 0 -->
    <ul data-bind="foreach: items">
        <!-- ko if: $index() < $parents[0].visibleViewport() -->
        <li data-bind="css: {selected: selected}, style:{ cursor: 'pointer' }, click:$parents[0].onDefaultClick.bind($parents[0], $data)">
            <div class="search-context" data-bind="attr: {title: $parents[0].i18n('GlobalSearch_OpenMenuTooltip')}, clickBubble: false, click: $parents[0].onContextMenuClick.bind($parents[0], $data, $element)"><!-- ko component: "svg-icon-context-menu" --><!-- /ko --></div>
            <div class="search-category"><!-- ko component: icon --><!-- /ko --></div>
            <div class="search-title" data-bind="text: title, attr: {title: title}"></div>
            <div class="sub-header" data-bind="text: subtitle"></div>
            <div class="description" data-bind="text: description"></div>
        </li>
        <!-- /ko -->
    </ul>
    <div class="load-more" data-bind="visible: canViewLoadMore">
        <gisc-ui-button params="text: i18n('Common_LoadMore'), onclick: onLoadMoreClick.bind($data)" />
    </div>
    <!-- /ko -->
</gisc-ui-component>