﻿<gisc-ui-component>
    <!--Company -->
    <gisc-ui-label params="for: 'ddDltNewCompany', text:i18n('Common_Company'),isRequired:true" />
    <gisc-ui-dropdown params="id: 'ddDltNewCompany',
                            options: companyOptions,
                            optionsID: 'id',
                            optionsCaption: ' ',
                            optionsText: 'name',
                            type:'filter',
                            value: selectedCompany" />

    <!--Business Unit-->
    <gisc-ui-label params="for: 'ddDLTNyBusinessUnit', text:i18n('Common_BusinessUnit')" />
    <gisc-ui-dropdowntree params="id: 'ddDLTNyBusinessUnit',
                            options: businessUnitOptions,
                            optionsID: 'id',
                            optionsText: 'name',
                            optionsParent: 'parentBusinessUnitId',
                            optionsChildren: 'childBusinessUnits',
                            optionsCaption: ' ',
                            value: businessUnitId" />

    <!--Include Sub Business Unit-->
    <gisc-ui-checkbox params="text: i18n('Common_IncludeSubBusinessUnit'), checked:isIncludeSubBU" />

    <!--Vehicle-->
    <gisc-ui-label params="for: 'ddDLTNyVehicle', text:i18n('Common_Vehicle')" />
    <gisc-ui-dropdown params="id: 'ddDLTNyVehicle',
                              options: vehicleOptions,
                              optionsText: 'license',
                              optionsCaption: selectedEntityBinding,
                              type: 'filter',
                              value: vehicleId"></gisc-ui-dropdown>

    <!-- Contract No. -->
    <gisc-ui-label params="text:i18n('Contract Number'),isRequired:false" />
    <gisc-ui-dropdown params="options:contractNoOptions,
                               optionsText:'contractNo',
                               value:contractNo,
                               optionsCaption: ' ',
                               type:'filter' " />

    <!-- Install Date -->
    <gisc-ui-label params="for: 'txtDLTNyInstallDate', text: i18n('Install Date')"></gisc-ui-label>
    <div style="width: 100%">
        <div style="width: 40%;float: left;">
            <gisc-ui-datetime params="id:'from' ,value:startDate ,mode:'date' ,maxDate:maxStartDate ,dateFormat:formatSet" />
        </div>
        <gisc-ui-label params=" text: 'To'" style="padding-left: 7%"></gisc-ui-label>
        <div style="width: 40%;float: right;">
            <gisc-ui-datetime params="id:'to' ,value:endDate  ,mode:'date' ,maxDate:maxStartDate ,minDate:startDate ,dateFormat:formatSet" />
        </div>
    </div>

    <div style="clear: both"></div>

    <!-- Vendor Signature -->
    <gisc-ui-label params="for: 'ddDLTNyVendorSignature', text:i18n('Vendor Signature'),isRequired:true" />
    <gisc-ui-dropdown params="id: 'ddDLTNyVendorSignature',
                            options: vendorInfos,
                            optionsCaption: ' ',
                            optionsText: 'name',
                            value: selectedVendor" />

</gisc-ui-component>