﻿<gisc-ui-component params="codeHighlight:true">
    <article class="markup-container sdk-body">
        <blockquote>MapManager supports drawing multiple polygon on map.</blockquote>
        <section>
            <h2>Parameters</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Type</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><code>vehicles</code></td>
                        <td>Yes</td>
                        <td>Object []</td>
                        <td>An array of vehicles. Each vehicle is contain location, symbol and attributes.</td>
                    </tr>
                </tbody>
            </table>
            <h3>Vehicle Data</h3>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>location</td>
                        <td>object</td>
                        <td>Trackable's position (Latitude , Longitude)</td>
                    </tr>
                    <tr>
                        <td>symbol</td>
                        <td>object</td>
                        <td>Pin graphic (url, width, height, offset)</td>
                    </tr>
                    <tr>
                        <td>attributes</td>
                        <td>object</td>
                        <td>Trackable's Metadata</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h2>Parameter Value Example</h2>
<pre><code class="hljs js">vehicles = [{
    location: {
        lat: 13.733114,
        lon: 100.530602
    },
    symbol: {
        url: 'https://map.nostramap.com/mobileweb/images/pin_markonmap.png',
        width: '35',
        height: '50',
        offset: {
            x: 0,
            y: 23.5
        },
        rotation: 0
    },
    attributes: {
        ID: "V-001",
        DRIVER_NAME: "นาย ก",
        DEPT: "แผนก 1"
    }
}, {
    location: {
        lat: 13.723114,
        lon: 100.530602
    },
    symbol: {
        url: 'https://map.nostramap.com/mobileweb/images/pin_markonmap.png',
        width: '35',
        height: '50',
        offset: {
            x: 0,
            y: 23.5
        },
        rotation: 0
    },
    attributes: {
        ID: "V-002",
        DRIVER_NAME: "นาย ข",
        DEPT: "แผนก 2"
    }
}]</code></pre>
        </section>
        <section>
            <h2>Usage Examples</h2>
            <section id="exp1">
                <h3>Basic Example</h3>
                <h4>Source</h4>
                <pre><code class="hljs js">import * as EventAggregatorConstant from "../../../../app/frameworks/constant/eventAggregator";
import MapManager from "../../../controls/gisc-chrome/map/mapManager";</code></pre>
                <pre><code>// Register event subscribe in constructor.
this._eventAggregator.subscribe(EventAggregatorConstant.MAP_COMMAND_COMPLETE, this.onMapComplete.bind(this));</code></pre>
                <pre><code class="hljs js">// Call command.
MapManager.getInstance().drawMultipleVehicles(this.id, vehicles);</code></pre>
                <h4>Output</h4>
                <div class="output">
                    <gisc-ui-button params="text: 'Send Command', onclick: invokeCommand" />
                </div>
            </section>
        </section>
    </article>
</gisc-ui-component>