﻿<gisc-ui-component params="codeHighlight:true">
    <article class="markup-container sdk-body">
        <blockquote>MapManager supports drawing route path on map.</blockquote>
        <section>
            <h2>Parameters</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Type</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><code>stop</code></td>
                        <td>Yes</td>
                        <td>object[]</td>
                        <td>An array of stop point.</td>
                    </tr>
                    <tr>
                        <td><code>path</code></td>
                        <td>Yes</td>
                        <td>Number[][][]</td>
                        <td>An array of path. Each path is made up of two or more points.</td>
                    </tr>
                    <tr>
                        <td><code>pics</code></td>
                        <td>Yes</td>
                        <td>string[]</td>
                        <td>An array of pin's image.</td>
                    </tr>
                    <tr>
                        <td><code>color</code></td>
                        <td>Yes</td>
                        <td>string</td>
                        <td>HEX color string of line</td>
                    </tr>
                    <tr>
                        <td><code>style</code></td>
                        <td>Yes</td>
                        <td>string</td>
                        <td>Line style (solid / dash / dot)</td>
                    </tr>
                    <tr>
                        <td><code>width</code></td>
                        <td>Yes</td>
                        <td>string</td>
                        <td>Line width</td>
                    </tr>
                    <tr>
                        <td><code>attributes</code></td>
                        <td>Yes</td>
                        <td>object</td>
                        <td>Route metadata</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h2>Parameter Value Example</h2>
<pre><code class="hljs js">stops = [{
    lat: 13.723023600000033,
    lon: 100.53061890000004
}, {
    lat: 13.720359410000071,
    lon: 100.55929769600004
}],
pics = ['https://map.nostramap.com/mobileweb/images/pin_markonmap.png', 'https://map.nostramap.com/mobileweb/images/pin_markonmap.png'],
path = [
    [
        ["100.530453241", "13.722953929"],
        ["100.530174931", "13.723578441"],
        ["100.530607658", "13.7237800140001"],
        ["100.530658932", "13.723755957"],
        ["100.531102909", "13.722857472"],
        ["100.531272884", "13.72245437"],
        ["100.531328115", "13.7222869400001"],
        ["100.531561738", "13.7223571980001"],
        ["100.53311061", "13.722826647"],
        ["100.53339259", "13.7229108070001"],
        ["100.533445872", "13.722927397"],
        ["100.533461479", "13.7229306880001"],
        ["100.534033584", "13.7231067880001"],
        ["100.535231442", "13.723448504"],
        ["100.536723232", "13.7239013920001"],
        ["100.536843791", "13.7239357180001"],
        ["100.537932421", "13.724236218"],
        ["100.538507392", "13.7244061110001"],
        ["100.538742222", "13.724476764"],
        ["100.541655552", "13.7253587000001"],
        ["100.542189412", "13.725521508"],
        ["100.542326662", "13.7255624480001"],
        ["100.542479506", "13.725607817"],
        ["100.542860499", "13.7257218010001"],
        ["100.543181272", "13.7258147150001"],
        ["100.543852343", "13.726008312"],
        ["100.5439333", "13.7260354040001"],
        ["100.54421105", "13.726256838"],
        ["100.544276381", "13.726316007"],
        ["100.544355379", "13.7263875560001"],
        ["100.544409314", "13.7264364050001"],
        ["100.544630596", "13.7263434920001"],
        ["100.544848506", "13.7262492150001"],
        ["100.54501245", "13.726179573"],
        ["100.545523334", "13.7259740590001"],
        ["100.545940345", "13.725807721"],
        ["100.546187301", "13.725707772"],
        ["100.546446334", "13.7255547450001"],
        ["100.547064637", "13.725281965"],
        ["100.547977417", "13.724895147"],
        ["100.548071392", "13.7248553220001"],
        ["100.548695374", "13.724597411"],
        ["100.549612474", "13.7242174090001"],
        ["100.550863672", "13.7236999850001"],
        ["100.551710731", "13.723334229"],
        ["100.55183549", "13.7232817600001"],
        ["100.552104709", "13.7232022110001"],
        ["100.552559447", "13.723032661"],
        ["100.552651736", "13.72299825"],
        ["100.552691267", "13.722980766"],
        ["100.552855617", "13.72290808"],
        ["100.552943924", "13.7228638330001"],
        ["100.553003059", "13.722982013"],
        ["100.552761072", "13.725191683"],
        ["100.553060972", "13.7252239810001"],
        ["100.553090341", "13.725231514"],
        ["100.553111845", "13.725243505"],
        ["100.553135302", "13.7252611870001"],
        ["100.553869785", "13.7252765370001"],
        ["100.554472661", "13.725297579"],
        ["100.556151229", "13.725359322"],
        ["100.55654778", "13.725373765"],
        ["100.556876091", "13.7253852490001"],
        ["100.556967374", "13.7253891980001"],
        ["100.557402058", "13.725404559"],
        ["100.557394933", "13.7256362360001"],
        ["100.557609308", "13.7256304490001"],
        ["100.557942163", "13.725622351"],
        ["100.559370394", "13.7255875920001"],
        ["100.559782949", "13.7255770960001"],
        ["100.560202414", "13.7255665330001"],
        ["100.560324261", "13.7255567340001"],
        ["100.560240288", "13.726316565"],
        ["100.559874034", "13.728954921"],
        ["100.559805381", "13.729498828"],
        ["100.559744525", "13.730085662"],
        ["100.559675621", "13.7315493040001"],
        ["100.55966031", "13.7324702710001"],
        ["100.559710826", "13.7328455090001"],
        ["100.55971381", "13.732867662"],
        ["100.559791054", "13.7331909540001"],
        ["100.559805784", "13.733233178"],
        ["100.559927392", "13.7335284220001"],
        ["100.560095498", "13.733871989"],
        ["100.560263483", "13.734102539"],
        ["100.560307412", "13.7341303810001"],
        ["100.560359467", "13.734124926"],
        ["100.560396363", "13.7340886150001"],
        ["100.560401595", "13.7340376920001"],
        ["100.560301323", "13.7338864930001"],
        ["100.560118244", "13.733554344"],
        ["100.559950448", "13.733173503"],
        ["100.559858817", "13.7327752160001"],
        ["100.559836198", "13.7324149240001"],
        ["100.559842082", "13.7317029610001"],
        ["100.559912567", "13.7299772640001"],
        ["100.559958006", "13.7295950540001"],
        ["100.55999641", "13.7292885910001"],
        ["100.560049868", "13.728979802"],
        ["100.560346994", "13.726719239"],
        ["100.560492123", "13.7255974710001"],
        ["100.560515157", "13.7252323660001"],
        ["100.560507335", "13.725013199"],
        ["100.560507147", "13.7248120840001"],
        ["100.560484321", "13.724504913"],
        ["100.56040844", "13.7240432630001"],
        ["100.560359942", "13.723793707"],
        ["100.560344655", "13.7235222910001"],
        ["100.560160964", "13.722972444"],
        ["100.559648508", "13.7216342450001"],
        ["100.559291256", "13.7206234500001"],
        ["100.559247843", "13.720500621"],
        ["100.559296891", "13.7203591470001"]
    ]
],
color = '#6b2593',
width = 2,
opacity = 1,
attributes = null</code></pre>
        </section>
        <section>
            <h2>Usage Examples</h2>
            <section id="exp1">
                <h3>Basic Example</h3>
                <h4>Source</h4>
                <pre><code class="hljs js">import * as EventAggregatorConstant from "../../../../app/frameworks/constant/eventAggregator";
import MapManager from "../../../controls/gisc-chrome/map/mapManager";</code></pre>
                <pre><code>// Register event subscribe in constructor.
this._eventAggregator.subscribe(EventAggregatorConstant.MAP_COMMAND_COMPLETE, this.onMapComplete.bind(this));</code></pre>
                <pre><code class="hljs js">// Call command.
MapManager.getInstance().drawOneRoute(this.id, stops, pics, path, color, width, opacity, attributes);</code></pre>
                <h4>Output</h4>
                <div class="output">
                    <gisc-ui-button params="text: 'Send Command', onclick: invokeCommand" />
                </div>
            </section>
        </section>
    </article>
</gisc-ui-component>