﻿<gisc-ui-component params="codeHighlight:true">
    <article class="markup-container sdk-body">
        <blockquote>MapManager supports drawing line on map.</blockquote>
        <section>
            <h2>Parameters</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Type</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><code>path</code></td>
                        <td>Yes</td>
                        <td>Number[][][]</td>
                        <td>An array of paths. Each path is made up of an array of two or more points.</td>
                    </tr>
                    <tr>
                        <td><code>color</code></td>
                        <td>Yes</td>
                        <td>string</td>
                        <td>HEX color string of line</td>
                    </tr>
                    <tr>
                        <td><code>style</code></td>
                        <td>Yes</td>
                        <td>string</td>
                        <td>Line style (solid / dash / dot)</td>
                    </tr>
                    <tr>
                        <td><code>width</code></td>
                        <td>Yes</td>
                        <td>string</td>
                        <td>Line width</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h2>Parameter Value Example</h2>
<pre><code class="hljs js">paths = [
    [
        ["100.530453241", "13.722953929"],
        ["100.530174931", "13.723578441"],
        ["100.529722749", "13.7233677890001"],
        ["100.530401992", "13.722008449"],
        ["100.530818742", "13.722133765"],
        ["100.531328115", "13.7222869400001"],
        ["100.531561738", "13.7223571980001"],
        ["100.53311061", "13.722826647"],
        ["100.53339259", "13.7229108070001"],
        ["100.533445872", "13.722927397"],
        ["100.533461479", "13.7229306880001"],
        ["100.534033584", "13.7231067880001"],
        ["100.535231442", "13.723448504"],
        ["100.536723232", "13.7239013920001"],
        ["100.536843791", "13.7239357180001"],
        ["100.537932421", "13.724236218"],
        ["100.538507392", "13.7244061110001"],
        ["100.538742222", "13.724476764"],
        ["100.541655552", "13.7253587000001"],
        ["100.542189412", "13.725521508"],
        ["100.542326662", "13.7255624480001"],
        ["100.542479506", "13.725607817"],
        ["100.542860499", "13.7257218010001"],
        ["100.543181272", "13.7258147150001"],
        ["100.543852343", "13.726008312"],
        ["100.5439333", "13.7260354040001"],
        ["100.54421105", "13.726256838"],
        ["100.544276381", "13.726316007"],
        ["100.544355379", "13.7263875560001"],
        ["100.544409314", "13.7264364050001"],
        ["100.54453128", "13.726779938"],
        ["100.544570991", "13.726887193"],
        ["100.544752657", "13.727865863"],
        ["100.544928487", "13.7289460750001"],
        ["100.545034876", "13.729570229"],
        ["100.545302175", "13.7311187990001"],
        ["100.545393456", "13.731644783"],
        ["100.545554021", "13.7326018640001"],
        ["100.545778551", "13.733822259"],
        ["100.545828807", "13.7340566660001"],
        ["100.545853622", "13.734167552"],
        ["100.545914957", "13.7344966750001"],
        ["100.545921878", "13.734539597"],
        ["100.54597947", "13.734862171"],
        ["100.546034337", "13.7351694590001"],
        ["100.546072633", "13.7353726100001"],
        ["100.546207126", "13.736157715"],
        ["100.546225254", "13.7362597600001"],
        ["100.546301829", "13.7367451540001"],
        ["100.546362459", "13.737090519"],
        ["100.546504287", "13.737890877"],
        ["100.546621851", "13.7385724820001"],
        ["100.546668038", "13.7388297960001"],
        ["100.546690894", "13.7389663490001"],
        ["100.546957743", "13.7405341320001"],
        ["100.546987998", "13.7407384680001"],
        ["100.547217181", "13.7420217110001"],
        ["100.547314845", "13.742478141"],
        ["100.547405736", "13.7430159410001"],
        ["100.547533732", "13.743255302"],
        ["100.547563594", "13.743370323"],
        ["100.548193773", "13.7471046900001"],
        ["100.548269913", "13.7475290720001"],
        ["100.54838412", "13.748192719"],
        ["100.548445487", "13.7485606830001"],
        ["100.548567328", "13.7492457700001"],
        ["100.548617327", "13.749538123"],
        ["100.548611629", "13.749657154"],
        ["100.548606989", "13.749747429"],
        ["100.548766494", "13.7497552670001"],
        ["100.549437357", "13.749824861"],
        ["100.54949963", "13.7498312010001"],
        ["100.549583066", "13.7498396930001"],
        ["100.54963761", "13.749845292"],
        ["100.5497319", "13.7498551960001"],
        ["100.54975823", "13.749842643"],
        ["100.549783284", "13.7498302000001"],
        ["100.549805197", "13.749817777"],
        ["100.549829148", "13.7497971510001"],
        ["100.549844237", "13.7497761710001"],
        ["100.549906285", "13.7492424500001"],
        ["100.549993907", "13.748488848"],
        ["100.550123973", "13.7473535820001"],
        ["100.550105725", "13.7471445030001"],
        ["100.550085832", "13.746916566"],
        ["100.550276569", "13.7451594680001"],
        ["100.55027325", "13.7449645780001"],
        ["100.550269027", "13.7447165780001"],
        ["100.550390917", "13.743742996"],
        ["100.550489445", "13.742854784"],
        ["100.550501885", "13.742742638"],
        ["100.550536034", "13.742434782"],
        ["100.550680575", "13.7414745900001"],
        ["100.550795191", "13.7407993200001"],
        ["100.550848522", "13.7404724130001"],
        ["100.550879349", "13.7402428570001"],
        ["100.550986191", "13.739436561"],
        ["100.551092585", "13.7383952440001"],
        ["100.551306672", "13.736412025"],
        ["100.55160385", "13.7336226790001"],
        ["100.551725855", "13.732575626"],
        ["100.551947361", "13.730582236"],
        ["100.552153566", "13.7287177040001"],
        ["100.552320892", "13.7273607760001"],
        ["100.552412818", "13.72640203"],
        ["100.552515589", "13.725488795"],
        ["100.552488789", "13.724948505"],
        ["100.552580474", "13.7240383560001"],
        ["100.552647123", "13.7233987970001"],
        ["100.552679921", "13.7230840670001"],
        ["100.552684096", "13.723046045"],
        ["100.552691267", "13.722980766"],
        ["100.552697836", "13.722920953"],
        ["100.552699184", "13.7229086770001"]
    ]
],
color = '#000000',
style = 'solid',
width = '2'</code></pre>
        </section>
        <section>
            <h2>Usage Examples</h2>
            <section id="exp1">
                <h3>Basic Example</h3>
                <h4>Source</h4>
                <pre><code class="hljs js">import * as EventAggregatorConstant from "../../../../app/frameworks/constant/eventAggregator";
import MapManager from "../../../controls/gisc-chrome/map/mapManager";</code></pre>
                <pre><code>// Register event subscribe in constructor.
this._eventAggregator.subscribe(EventAggregatorConstant.MAP_COMMAND_COMPLETE, this.onMapComplete.bind(this));</code></pre>
                <pre><code class="hljs js">// Call command.
MapManager.getInstance().drawOneLineZoom(this.id, path);</code></pre>
                <h4>Output</h4>
                <div class="output">
                    <gisc-ui-button params="text: 'Send Command', onclick: invokeCommand" />
                </div>
            </section>
        </section>
    </article>
</gisc-ui-component>