﻿<gisc-ui-component params="codeHighlight:true">
    <article class="markup-container sdk-body">
        <blockquote>MapManager supports polygon editing and get that data from map.</blockquote>
        <section>
            <h2>Usage Examples</h2>
            <section id="exp1">
                <h3>Basic Example</h3>
                <h4>Source</h4>
                <pre><code class="hljs js">import * as EventAggregatorConstant from "../../../../app/frameworks/constant/eventAggregator";
import MapManager from "../../../controls/gisc-chrome/map/mapManager";</code></pre>
                <pre><code>// Register event subscribe in constructor.
this._eventAggregator.subscribe(EventAggregatorConstant.MAP_COMMAND_COMPLETE, this.onMapComplete.bind(this));</code></pre>
                <pre><code class="hljs js">// Call drawing command.
MapManager.getInstance().enableDrawingPolygon(this.id);
// Call cancel command.
MapManager.getInstance().cancelDrawingPolygon(this.id);</code></pre>
                <h4>Output</h4>
                <div class="output">
                    <gisc-ui-button params="text: 'Send Command', onclick: invokeCommand" />
                    <gisc-ui-button params="text: 'Cancel Command', onclick: invokeCancelCommand" />
                </div>
                <h4>Message From Map</h4>
                <div class="output">
                    <pre><code class="hljs js" data-bind="text:resultText"></code></pre>
                </div>
            </section>
        </section>
    </article>
</gisc-ui-component>