﻿<gisc-ui-component params="codeHighlight:true">
    <article class="markup-container sdk-body">
        <blockquote>MapManager supports playback animate mode.</blockquote>
        <section>
            <h2>Parameters</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Type</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>playback</td>
                        <td>true</td>
                        <td>Array[object]</td>
                        <td>Playback data of vehicle</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h2>Parameter Value Example</h2>
<pre><code class="hljs js">playback = [{
                    lon: 99.95493, 
                    lat: 12.72977, 
                    attributes: {
                        TITLE: "PB-001",
                        ID: "PB-001",
                        DRIVER_NAME: "นาย ก",
                        DEPT: "แผนก 1",
                        TEST: 7,
                        STATUS: [
                            {
                                //text: "SENSOR_ENGINE",
                                text: "Off",
                                title: "",
                                icon: '&lt;svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22"&gt;&lt;ellipse class="cls-1" cx="11.47" cy="12.06" rx="1.63" ry="1.59" /&gt;&lt;path class="cls-1" d="M5.7,7Z" /&gt;&lt;path class="cls-1" d="M20.38,11.14a23.88,23.88,0,0,0-.57-2.88c0-.15-.2-.39-.31-.39-.86,0-1.06,0-2,0V9.43h-.81c0-.29,0-.53,0-.77,0-.67-.15-.81-.83-.81h-1c0-.18,0-.28,0-.39,0-1.25-.34-1.55-1.62-1.55H12V5.09c.63,0,1.22,0,1.81,0,.43,0,.65-.08.65-.58S14.27,4,13.86,4Q10.63,4,7.4,4C7,4,6.74,4,6.74,4.54s.29.56.68.55c.59,0,1.18,0,1.79,0V5.9c-.55,0-1.07,0-1.58,0C6.77,5.84,6.07,6,5.9,7H5.57c-.59,0-.77.19-.78.76s0,1.15,0,1.73,0,.91,0,1.33H3.25v-4a.85.85,0,1,0-1.71,0v4a.86.86,0,0,0,.52.79.5.5,0,0,0,0,.21v3.7a.51.51,0,1,0,1,0v-3.7a.5.5,0,0,0,0-.15H4.8c0,1.06,0,2.06,0,3.06,0,.61.18.79.8.8a4.32,4.32,0,0,1,.71,0,1.36,1.36,0,0,1,.77.31c.66.6,1.26,1.26,1.91,1.87a.93.93,0,0,0,.57.26c2.43,0,3.53,0,6,0a1.1,1.1,0,0,0,1.2-1.17c0-.33,0-.66,0-1h.84v1.63a10.63,10.63,0,0,1,1.46,0c.56.05.74-.2.88-.66A14.51,14.51,0,0,0,20.38,11.14Zm-4.85,1.23c0,.13,0,.17-1.11.6l-.14.33c.5,1,.47,1.08.37,1.18l-.66.64h-.08a5.66,5.66,0,0,1-1.08-.4l-.34.14C12.09,16,12,16,11.91,16h-.85c-.13,0-.17,0-.61-1.08l-.34-.14A3.93,3.93,0,0,1,9,15.15H9l-.06-.05-.6-.59c-.09-.09-.12-.12.35-1.19L8.52,13c-1.11-.4-1.11-.44-1.11-.58v-.84c0-.13,0-.17,1.11-.6l.14-.33c-.5-1.05-.47-1.09-.37-1.18l.65-.64H9a5.7,5.7,0,0,1,1.08.4l.34-.14C10.84,8,10.89,8,11,8h.85C12,8,12,8,12.48,9.08l.34.14a3.88,3.88,0,0,1,1.07-.42H14l.06.05.6.59c.09.09.12.12-.35,1.2l.14.33c1.11.4,1.11.44,1.11.57Z" /&gt;&lt;/svg&gt;',
                                cssClass: ""
                            },
                            {
                                //text: "SENSOR_SPEED",
                                text: "160 km/h",
                                title: "",
                                icon: '&lt;svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22"&gt;&lt;path class="cls-1" d="M11.34,1.44A9.56,9.56,0,1,0,20.91,11,9.56,9.56,0,0,0,11.34,1.44ZM17.1,16.69l0,0,0,0a8.09,8.09,0,0,1-11.38,0l0,0,0,0a8.09,8.09,0,0,1,0-11.38l0,0,0,0A8.09,8.09,0,0,1,17,5.24l0,0,0,0a8.09,8.09,0,0,1,0,11.38Z" /&gt;&lt;path class="cls-1" d="M17.19,11.49a.49.49,0,1,1,0-1H18.5a7.1,7.1,0,0,0-1.74-4.2l-.92.92a.49.49,0,0,1-.69-.69l.92-.92a7.1,7.1,0,0,0-4.2-1.74V5.2a.49.49,0,1,1-1,0V3.89a7.1,7.1,0,0,0-4.2,1.74l.92.92a.49.49,0,1,1-.69.69L6,6.32a7.1,7.1,0,0,0-1.74,4.2H5.59a.49.49,0,0,1,0,1H4.28A7.06,7.06,0,0,0,5.7,15.25a9.85,9.85,0,0,1,5.69-1.64,9.85,9.85,0,0,1,5.69,1.64,7.06,7.06,0,0,0,1.42-3.77Zm-4.7,0A1.26,1.26,0,1,1,11.1,9.68l2.33-3.24-1,3.87A1.26,1.26,0,0,1,12.49,11.45Z" /&gt;&lt;/svg&gt;',
                                cssClass: ""
                            },
                            {
                                //text: "SENSOR_DOOR",
                                text: "Close",
                                title: "",
                                icon: '&lt;svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22"&gt;&lt;path class="cls-1" d="M1.21,2.17V19.83H20.79V2.17Zm8.93,15.34H3.51v-13h6.62Zm8.35,0H11.67v-13h6.82Z" /&gt;&lt;path class="cls-1" d="M8.56,12.63A.45.45,0,0,0,9,12.19V9.59a.45.45,0,0,0-.89,0v2.6A.45.45,0,0,0,8.56,12.63Z" /&gt;&lt;path class="cls-1" d="M13.16,12.63a.45.45,0,0,0,.45-.45V9.59a.45.45,0,1,0-.89,0v2.6A.45.45,0,0,0,13.16,12.63Z" /&gt;&lt;/svg&gt;',
                                cssClass: ""
                            },
                            {
                                //text: "SENSOR_TEMP",
                                text: "60 C",
                                title: "",
                                icon: '&lt;svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22"&gt;&lt;path class="cls-1" d="M14.3,10.11V4.7a3.45,3.45,0,1,0-6.9,0v5.42a5.88,5.88,0,1,0,6.9,0Zm-3.45,9.11A4.34,4.34,0,0,1,8.93,11V4.7a1.92,1.92,0,1,1,3.84,0V11a4.34,4.34,0,0,1-1.92,8.24Z" /&gt;&lt;path class="cls-1" d="M11.62,12.31V6.05H10.08v6.26a2.66,2.66,0,1,0,1.53,0Z" /&gt;&lt;/svg&gt;',
                                cssClass: ""
                            },
                            {
                                //text: "SENSOR_FUEL",
                                text: "50 %",
                                title: "",
                                icon: '&lt;svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22"&gt;&lt;path class="cls-1" d="M20.19,4.55h-.8A22.08,22.08,0,0,0,18.33,2.4a.56.56,0,0,0-1,.58c.16.26.71,1.38.81,1.6a.28.28,0,0,0-.17.26V9.21a.28.28,0,0,0,.28.28h.28v6c0,.59-.19.83-.35.84-.41,0-.42-.77-.42-.77V8.41a1.31,1.31,0,0,0-.46-1.06,1.52,1.52,0,0,0-.8-.32V2.41a1.22,1.22,0,0,0-1.22-1.22H5.8a1.1,1.1,0,0,0-1.1,1.1V19H3.26a1,1,0,1,0,0,2h15a1,1,0,1,0,0-2H16.54V8.17l.09,0s.05.09.05.19v7.12c0,.91.48,1.89,1.54,1.89.51,0,1.47-.41,1.47-2v-6h.49a.28.28,0,0,0,.28-.28V4.83A.28.28,0,0,0,20.19,4.55Zm-14-1.09A.78.78,0,0,1,7,2.69h7.24a.78.78,0,0,1,.78.78V9a.78.78,0,0,1-.78.78H7A.78.78,0,0,1,6.19,9Z" /&gt;&lt;/svg&gt;',
                                cssClass: ""
                            },
                            {
                                //text: "SENSOR_BATTERY",
                                text: "50 %",
                                title: "",
                                icon: '&lt;svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22"&gt;&lt;path class="cls-1" d="M18.65,5H18V3.85a1.56,1.56,0,1,0-3.12,0V5H7.17V3.85A1.56,1.56,0,0,0,4,3.85V5h-.7A1.89,1.89,0,0,0,1.45,6.91V17.82a1.89,1.89,0,0,0,1.89,1.89h15.3a1.89,1.89,0,0,0,1.89-1.89V6.91A1.89,1.89,0,0,0,18.65,5ZM6.18,4.31H4.94a.22.22,0,0,1,0-.43H6.18a.22.22,0,0,1,0,.43Zm4,13.6h0l0,0,0,0L11,13.66,7.23,13l4.58-6.49-1.1,4.29,4.06.61ZM17.07,4.46h-.41v.41a.22.22,0,1,1-.43,0V4.46h-.41a.22.22,0,1,1,0-.43h.41V3.62a.22.22,0,0,1,.43,0V4h.41a.22.22,0,1,1,0,.43Z" /&gt;&lt;/svg&gt;',
                                cssClass: ""
                            },
                            {
                                //text: "SENSOR_CELLULAR",
                                text: "Good",
                                title: "",
                                icon: '&lt;svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22"&gt;&lt;path class="cls-1" d="M3.52,4.62l4,4a.36.36,0,0,0,.5,0l.72-.72,1,1L7.9,10.73,9.18,12a3.61,3.61,0,0,0-3.52-.08.83.83,0,0,0-.18,1.31L9.23,17a.83.83,0,0,0,1.31-.18,3.61,3.61,0,0,0-.08-3.52l1.36,1.36,1.83-1.83.9.9-.72.72a.36.36,0,0,0,0,.5l4,4a.36.36,0,0,0,.5,0l2.15-2.15a.36.36,0,0,0,0-.5l-4-4a.36.36,0,0,0-.5,0l-.72.72-.9-.9,1.8-1.8a2.77,2.77,0,0,0-3.91-3.91l-1.8,1.8-1-1,.72-.72a.36.36,0,0,0,0-.5l-4-4a.36.36,0,0,0-.5,0L3.52,4.12A.36.36,0,0,0,3.52,4.62Z" /&gt;&lt;path class="cls-1" d="M7.34,20.05a.49.49,0,0,0-.22-.13A6.9,6.9,0,0,1,4,18a7.18,7.18,0,0,1-1.6-2.6.5.5,0,0,0-.94.32,8.18,8.18,0,0,0,1.82,3,8,8,0,0,0,3.62,2.24.5.5,0,0,0,.48-.83Z" /&gt;&lt;path class="cls-1" d="M4.85,17.23a4.26,4.26,0,0,0,2.36,1.31.5.5,0,1,0,.17-1,3.39,3.39,0,0,1-1.81-1,3.45,3.45,0,0,1-.84-1.49.5.5,0,0,0-1,.25A4.43,4.43,0,0,0,4.85,17.23Z" /&gt;&lt;/svg&gt;',
                                cssClass: ""
                            },
                            {
                                //text: "SENSOR_GPS",
                                text: "Good",
                                title: "",
                                icon: '&lt;svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22"&gt;&lt;rect class="cls-1" x="15.38" y="3.69" width="4.2" height="14.62" /&gt;&lt;rect class="cls-1" x="8.72" y="7.35" width="4.2" height="10.96" /&gt;&lt;rect class="cls-1" x="2.41" y="12.55" width="4.2" height="5.75" /&gt;&lt;/svg&gt;',
                                cssClass: ""
                            },
                            {
                                //text: "SENSOR_JOB",
                                text: "Idle",
                                icon: '&lt;svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22"&gt;&lt;path class="cls-1" d="M11,13.39h9.89a.29.29,0,0,0,.29-.29V4.38a.88.88,0,0,0-.88-.88H11.54a.88.88,0,0,0-.88.88V13.1A.29.29,0,0,0,11,13.39Z" /&gt;&lt;path class="cls-1" d="M5.82,14.76a1.82,1.82,0,1,0,1.82,1.82A1.82,1.82,0,0,0,5.82,14.76Zm0,2.73a.91.91,0,1,1,.91-.91A.91.91,0,0,1,5.82,17.49Z" /&gt;&lt;path class="cls-1" d="M21,14.76H16.91a2.4,2.4,0,0,1,.81,1.47H21a.29.29,0,0,0,.29-.29v-.89A.29.29,0,0,0,21,14.76Z" /&gt;&lt;path class="cls-1" d="M9.25,14.76V6.39a.59.59,0,0,0-.59-.59H5.91A2.34,2.34,0,0,0,4,6.84L2.19,9.48a2.34,2.34,0,0,0-.4,1.31v4H1.07a.29.29,0,0,0-.29.29v.89a.29.29,0,0,0,.29.29H3.44a2.4,2.4,0,0,1,4.75,0H13a2.4,2.4,0,0,1,.81-1.47Zm-1.33-5a.29.29,0,0,1-.29.29H4a.29.29,0,0,1-.24-.46l1.42-2a.29.29,0,0,1,.24-.12H7.63a.29.29,0,0,1,.29.29Z" /&gt;&lt;path class="cls-1" d="M15.34,14.76a1.82,1.82,0,1,0,1.82,1.82A1.82,1.82,0,0,0,15.34,14.76Zm0,2.73a.91.91,0,1,1,.91-.91A.91.91,0,0,1,15.34,17.49Z" /&gt;&lt;/svg&gt;',
                                cssClass: ""
                            }
                        ]
                    }, pic: {
                        N: "./gis-js/images/vehicles/DirN_truck_green.png",
                        E: "./gis-js/images/vehicles/DirE_truck_green.png",
                        W: "./gis-js/images/vehicles/DirW_truck_green.png",
                        S: "./gis-js/images/vehicles/DirS_truck_green.png",
                        NE: "./gis-js/images/vehicles/DirNE_truck_green.png",
                        NW: "./gis-js/images/vehicles/DirNW_truck_green.png",
                        SE: "./gis-js/images/vehicles/DirSE_truck_green.png",
                        SW: "./gis-js/images/vehicles/DirSW_truck_green.png"
                    }
                }, ...
]</code></pre>
        </section>
        <section>
            <h2>Usage Examples</h2>
            <section id="exp1">
                <h3>Basic Example</h3>
                <h4>Source</h4>
                <pre><code class="hljs js">import MapManager from "../../../controls/gisc-chrome/map/mapManager";</code></pre>
                <pre><code class="hljs js">// Call command.
MapManager.getInstance().playbackAnimate(param);</code></pre>
                <h4>Output</h4>
                <div class="output">
                    <gisc-ui-button params="text: 'Send Command', onclick: invokeCommand" />
                </div>
            </section>
        </section>
    </article>
</gisc-ui-component>