﻿<gisc-ui-component>

    <!-- Box and Sim Same Contract-->
    <gisc-ui-checkbox params="text: i18n('Box and Sim are the Same Contract'), checked:isSameContract" />

    <!--Contract No-->
    <gisc-ui-label params="for: 'ddContractNo', text:i18n('Assets_ContractNo')" />
    <gisc-ui-dropdown params="id: 'ddContractNo',
                            options: contractNo,
                            optionsID: 'id',
                            optionsText: 'contractNo',
                            optionsCaption: ' ',
                            value: selectedContractNo,
                            type:'filter'">
    </gisc-ui-dropdown>

    <!-- Sim Contract-->
    <gisc-ui-label params="for: 'ddSimContract', text:i18n('Sim Contract No.')" />
    <gisc-ui-dropdown params="id: 'ddSimContract',
                            options: simContract,
                            optionsText: 'contractNo',
                            optionsCaption: ' ',
                            value: selectedSimContract,
                            enable:isEnableSim
                            type:'filter'"/>

        <div class="field-wrapper">
            <gisc-ui-datatable params="
            id: 'dtUpdateTicket',
            datasource: items,
            columns: [
                { type: 'label', title: 'i18n:Common_License', data: 'vehicleLicense' },
                { type: 'label', title: 'i18n:Ticket_AssetId', data: 'serialNo' },
                { type: 'label', title: 'i18n:Ticket_MobileNo', data: 'mobileNo' },
                { type: 'label', title: 'Box C#', data: 'contractNo' },
                { type: 'label', title: 'Sim C#', data: 'simContractNo' }
            ],
            order: order,
            rowId: 'id',
            removable: true,
            " />
            <span data-bind="validationMessage: items" class="ko-block-msg-err"></span>
        </div>


</gisc-ui-component>