﻿<gisc-ui-component>
    <!-- <p data-bind="text: i18n('Ticket_AssetMonitoring')"></p> -->
    <!--<div class="table-asset">
        <gisc-ui-datatable params="
            id: 'dtCWTrackList',
            datasource: items,
            customColumns: columns,
            order: order,
            rowId: 'id',
            selectable: true,
            selectedRow: selectedItem,
            retainSelectedRowAfterReplaceDataSource: true,
            loadMore: true,
            errMode: errMode,
            onError: _errorHandler,
            autoWidth: autoWidth,
            showRowSelector: true,
            selectedRows: selectedItems,
            onSelectingRow: _selectingRowHandler
            " />
            { type: 'text', title: 'i18n:Ticket_ActiveTickets' },      
    </div>-->

    <gisc-ui-datagrid params=",
                      id:'Ticket-AssetMonitoring',
                      source:apiDataSource,
                      onDetailInit:onDetailInit.bind($data),
                      detailInitOnClickColumns:onDetailClickColumns,
                      columns:[
                      { type: 'text' , title: 'i18n:Common_Company' , data: 'companyName' ,width:'105px'},
                      { type: 'text' , title: 'i18n:Common_BusinessUnit' , data: 'businessUnitName' ,width:'115px'},
                      { type: 'text' , title: 'i18n:Common_License' , data: 'vehicleLicense' ,width:'115px',onClick:viewLicense ,template:'<u>#=vehicleLicense#</u>'},
                      { type: 'text', title: 'Vehicle Status', data: 'vehicleStatus', width:'115px'},
                      { type: 'text', title: 'i18n:Ticket_DLT', data: 'dltRegId', width:'115px'},
                      { type: 'text', title: 'i18n:Reference No', data: 'referenceNo', width:'115px'},
                      { type: 'text', title: 'i18n:Ticket_AssetId', data: 'serialNo',width:'115px',onClick: boxSerialNoClick, template:'<u>#=serialNo#</u>'},
                      { type: 'text', title: 'i18n:Ticket_BoxTemplate', data: 'boxTemplate',width:'130px'},
                      { type: 'text', title: 'i18n:Ticket_MobileNo', data: 'mobileNo',width:'115px'},
                      { type: 'text', title: 'Sim Status', data: 'simStatus',width:'115px'},
                      { type: 'text', title: 'Installed Date', data: 'formatInstalledDate',width:'115px'},
                      { type: 'text', title: 'i18n:Ticket_InstallDate', data: 'formatSetUpDate',width:'115px'},
                      { type: 'text', title: 'i18n:Ticket_GPSLastupdate', data: 'formatLastLocationDate', width:'140px'},
                      { type: 'text', title: 'i18n:FleetMonitoring_Duration', data: 'duration',width:'100px'},
                      { type: 'object', title: 'i18n:Common_Engine', headerTemplate:headerTemplateEngine, data: 'trackLocationFeatureValues', filterable : false, sortable: false, template: 'renderEngineColumn' ,width:'75px'},
                      { type: 'text', title: 'i18n:Common_Movement', headerTemplate:headerTemplateMovement, data: 'movement' , filterable : false, template: 'renderMovementColumn',width:'75px'},
                      { type: 'text', title: 'i18n:Common_Speed', headerTemplate:headerTemplateSpeed, data: 'formatSpeed',width:'75px'},
                      { type: 'text', title: 'i18n:Ticket_GSMStatus', headerTemplate:headerTemplateGSMStatus, data: 'gsmStatus', filterable : false, column:false, template: 'renderGsmStatusColumn',width:'75px'},
                      { type: 'text', title: 'i18n:Ticket_GPSStatus', headerTemplate:headerTemplateGPSStatus, data: 'gpsStatus', filterable : false, template: 'renderGpsStatusColumn',width:'75px'},
                      { type: 'text', title: 'Box C#', data: 'contractNo',width:'120px'},
                      { type: 'text', title: 'Start Date', data: 'formatContractStart', filterable : false, sortable: false ,width:'120px'},
                      { type: 'text', title: 'End Date', data: 'formatContractEnd', filterable : false, sortable: false ,width:'120px'},
                      { type: 'text', title: 'Sim C#', data: 'simContractNo',width:'120px'},
                      { type: 'text', title: 'Start Date', data: 'formatSimContractStart', filterable : false, sortable: false ,width:'120px'},
                      { type: 'text', title: 'End Date', data: 'formatSimContractEnd',  filterable : false, sortable: false, width:'120px'},
             ],
        rowId: 'id',
        showFilter: true,
        editable: true,
        showRowSelector: true,
        selectedRows: selectedItems,
        filterable:true,
        resizable:true,
        columnMenu: true,
        rememberDataGridState: ['columns']
    " />
    <!-- { type: 'text', title: 'i18n:Ticket_ActiveTickets', data: 'totalActiveTicket',width:'125px', onClick:onClickActiveTicket, template:'<u>#=totalActiveTicket#</u>' },
    { type: 'text', title: 'i18n:Ticket_InActiveTickets', data: 'totalInActiveTicket',width:'125px', onClick:onClickInActiveTicket, template:'<u>#=totalInActiveTicket#</u>' },       -->

</gisc-ui-component>