﻿<gisc-ui-component>
    <style>
        .style-icon{
            width:40px; 
            height:50px; 
            vertical-align:middle;
        }
        .style-text{
            width:100px; 
            height:50px; 
            vertical-align:middle;
        }
    </style>

        <div data-bind="text: fdriverName, style: { color: driverNameColor}"></div>
        <div data-bind="text: flocation, style: { color: locationColor} "></div>
        <div data-bind="text: flocationDate, style: { color: locationDateColor}"></div>
        <div data-bind="visible:disabledPark, text: fparkTime, style: { color: parkColor}"></div>
        <div data-bind="visible:disabledEngine, text: fengineOn , style: { color: engineColor}"></div>

        <hr style="height: 1px; border-style: solid none none none;" />

        <table>
            <tbody>
                <tr>
                    <td class="style-icon"> <div title='Movement' data-bind="html: pathMovement, css:'svg-icon-status'" class=""></div> </td>
                    <td class="style-text"> <div data-bind="text: txtMovement"></div> </td>
                    <td class="style-icon"> <div title='Speed (km/h)' data-bind="html: pathSpeed, css:'svg-icon-status'"></div> </td>
                    <td class="style-text"> <div data-bind="text: txtSpeed"></div> </td>
                </tr>
                <tr>
                    <td class="style-icon"> <div title='Direction' data-bind="html: pathDirection, css:'svg-icon-status'"></div> </td>
                    <td class="style-text"> <div data-bind="text: txtDirection"></div> </td>
                    <td class="style-icon"> <div title='GPS Status' data-bind="html: pathGps, css:'svg-icon-status'"></div> </td>
                    <td class="style-text"> <div data-bind="text: txtGps"></div>  </td>
                </tr>
                <tr>
                    <td class="style-icon"> <div title='GSM Status' data-bind="html: pathGsm, css:'svg-icon-status'"></div> </td>
                    <td class="style-text"> <div data-bind="text: txtGsm"></div> </td>
                    <td class="style-icon"> <div title='Altitude (m)' data-bind="html: pathAltitude, css:'svg-icon-status'"></div> </td>
                    <td class="style-text"> <div data-bind="text: txtAltitude"></div> </td>
                </tr>
                <tr>
                    <td class="style-icon"> <div title='DLT Status' data-bind="html: pathDlt, css:'svg-icon-status'"></div> </td>
                    <td class="style-text"> <div data-bind="text: txtDlt"></div> </td>
                    <td class="style-icon"> <div title='Engine' data-bind="html: pathEngine, css:'svg-icon-status'"></div> </td>
                    <td class="style-text"> <div data-bind="text: txtEngine"></div> </td>
                </tr>
                <tr>
                    <td class="style-icon"> <div title='Fuel Level' data-bind="html: pathFuel, css:'svg-icon-status'"></div> </td>
                    <td class="style-text"> <div data-bind="text: txtFuel"></div> </td>
                    <td class="style-icon"> <div title='Vehicle Battery' data-bind="html: pathBattery, css:'svg-icon-status'"></div> </td>
                    <td class="style-text"> <div data-bind="text: txtBattery"></div> </td>
                </tr>
                <tr>
                    <td class="style-icon"> <div title='Mileage' data-bind="html: pathMileage, css:'svg-icon-status'"></div> </td>
                    <td colspan="3"> <div data-bind="text: txtMileage" class="margin-text"></div> </td>
                </tr>
            </tbody>
        </table>

        <table>
            <tbody data-bind="foreach: DataTemperature">
                <tr>
                    <td class="style-icon" ><div data-bind="html: iconTemparature, css:'svg-icon-status', visible : tempvisible1, attr: { title: titleTemperature1 }"></div></td>
                    <td class="style-text" ><div data-bind="text: temparature1"></div></td>
                    <td class="style-icon" ><div data-bind="html: iconTemparature, css:'svg-icon-status', visible : tempvisible2, attr: { title: titleTemperature2 }"></div> </td>
                    <td class="style-text" ><div data-bind="text: temparature2"></div></td>
                </tr>
            </tbody>
        </table>

        <table>
            <tbody data-bind="foreach: DataGate">
                <tr>
                    <td class="style-icon" > <div data-bind="html: iconGate, css:'svg-icon-status', visible : gatevisible1, attr: { title: titleGate1 }"></div> </td>
                    <td class="style-text" ><div data-bind="text: gate1"></div></td>
                    <td class="style-icon" ><div data-bind="html: iconGate, css:'svg-icon-status', visible : gatevisible2, attr: { title: titleGate2 }"></div> </td>
                    <td class="style-text" ><div data-bind="text: gate2"></div></td>
                </tr>
            </tbody>
        </table>

</gisc-ui-component>
