﻿<gisc-ui-component>
    <gisc-ui-listview params="selectedIndex: selectedIndex, onItemSelected:goto.bind($data)">
        <item params="text: i18n('Report_SevenDays'), extras: { id: 'cw-report-telematics-sevendays'}" />
        <item params="text: i18n('Report_DriverPerformance'), extras: { id: 'cw-report-telematics-driverperformance'}" />
        <item params="text: i18n('Report_ParkingOverview'), extras: { id: 'cw-report-telematics-parkingoverview'}" />
        <item params="text: i18n('Report_DetailedFuel'), extras: { id: 'cw-report-telematics-detailedfuel'}" />
        <item params="text: i18n('Report_DetailedTrip'), extras: { id: 'cw-report-telematics-detailedtrip'}" />
        <item params="text: i18n('Report_SummaryADAS'), extras: { id: 'cw-report-telematics-summaryadas'}" />
    </gisc-ui-listview>
</gisc-ui-component>