﻿<gisc-ui-component>
    <!--BusinessUnit-->
    <gisc-ui-label params="for: 'ddlBusinessUnit', text:i18n('Report_BusinessUnit'), isRequired: true" />
    <gisc-ui-dropdowntree params="id: 'ddlBusinessUnit',
                            options: businessUnits,
                            optionsID: 'id',
                            optionsText: 'name',
                            optionsParent: 'parentBusinessUnitId',
                            optionsChildren: 'childBusinessUnits',
                            value: selectedBusinessUnit" />

    <gisc-ui-checkbox params="text: i18n('Common_IncludeSubBusinessUnit'), checked:isIncludeSubBU" />

    <!--Category Vehicle-->
        <gisc-ui-label params="for: 'ddCategoryVehicle', text: i18n('Report_CategoryVehicle')"></gisc-ui-label>
        <gisc-ui-dropdown params="id: 'ddCategoryVehicle',
                                        options: categoryVehicleOptions,
                                        optionsText: 'name',
                                        value: categoryVehicle" />
    <!-- Vehicle License-->
    <gisc-ui-label params="for: 'ddSelectEntity', text: i18n('Transportation_Mngm_Vehicle_Licence')"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddSelectEntity',
                                    options: selectLicense,
                                    optionsText: 'displayName',
                                    optionsCaption: licenseBinding,
                                    value: selectedLicense,
                                    type: 'filter'" />

    <!--ShipingType-->
        <gisc-ui-label params="for: 'ddShippingType', text: i18n('Report_ShippingType')"></gisc-ui-label>
        <gisc-ui-dropdown params="id: 'ddShippingType',
                                        options: shippingTypeOptions,
                                        optionsText: 'name',
                                        value: shippingType" />

    <!--DateTime-->
    <div style="width:100%;float:left;">
        <gisc-ui-label params="for:'from' ,text: i18n('Companies_From'), isRequired: true" />
    </div>
    <div style="width:100%">
        <div style="width:55%;float:left;">
            <gisc-ui-datetime params="id:'from' ,value:start ,mode:'date' ,maxDate:maxDateStart ,minDate:'-4m' ,dateFormat:formatSet" />
        </div>
        <div style="width:40%;float:right;">
            <div class="app-textBox-wrapper">
                <input type="time" data-bind="value:timeStart, attr: { id:id, class:'app-input'} ">
            </div>
        </div>
    </div>
    <div style="width:100%;float:left;">
        <gisc-ui-label params="for:'to' ,text: i18n('Companies_To'), isRequired: true" />
    </div>
    <div style="width:100%">
        <div style="width:55%;float:left;">
            <gisc-ui-datetime params="id:'to' ,value:end  ,mode:'date' ,maxDate:periodDay ,minDate:minDateEnd ,dateFormat:formatSet" />
        </div>
        <div style="width:40%;float:right;">
            <div class="app-textBox-wrapper">
                <input type="time" data-bind="value:timeEnd, attr: { id:id, class:'app-input'} ">
            </div>
        </div>
    </div>

</gisc-ui-component>
