﻿<gisc-ui-component>
    <!-- Mobile Number -->
    <gisc-ui-label params="for: 'txtMobile', text: i18n('Assets_MobileNumber'), isRequired: true" />
    <gisc-ui-textbox params="id: 'txtMobile', value: mobile, maxlength: 20" />

    <!-- SIM Card Serial Number -->
    <gisc-ui-label params="for: 'txtSimCardSerialNumber', text: i18n('Assets_SIMCardSerialNumber')" />
    <gisc-ui-textbox params="id: 'txtSimCardSerialNumber', value: simCardSerialNumber, maxlength: 20" />

    <!-- Promotion -->
    <gisc-ui-label params="for: 'ddPromotion', text: i18n('Assets_OperatorPackage')"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddPromotion',
                              options: promotions,
                              optionsText: 'displayText',
                              optionsCaption: '',
                              value: selectedPromotion"></gisc-ui-dropdown>

    <!-- Business Unit -->
    <gisc-ui-label params="for: 'ddBusinessUnit', text: i18n('Common_BusinessUnit'), isRequired: true"></gisc-ui-label>
    <gisc-ui-dropdowntree params="options:businessUnits,
                            optionsID:'id',
                            optionsText:'name',
                            optionsParent:'parentBusinessUnitId',
                            optionsChildren:'childBusinessUnits',
                            value:selectedBusinessUnit" />

    <!-- User -->
    <gisc-ui-label params="for: 'ddUser', text: i18n('Assets_User'), isRequired: true"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddUser',
                              options: users,
                              optionsText: 'username',
                              optionsCaption: '',
                              value: selectedUser"></gisc-ui-dropdown>

    <!-- IMEI -->
    <gisc-ui-label params="for: 'txtIMEI', text: i18n('Assets_IMEI'), isRequired: true" />
    <gisc-ui-textbox params="id: 'txtIMEI', value: imei, maxlength: 20" />

    <!-- Stop Duration -->
    <gisc-ui-label params="for: 'txtStopDuration', text: i18n('Assets_StopDuration'), isRequired: true" />
    <gisc-ui-textbox params="id: 'txtStopDuration', value: stopDuration, filter: { type: 'numeric', numericType: 'int', min: 1}" />

    <!-- Over Speed Delay -->
    <gisc-ui-label params="for: 'txtOverSpeedDelay', text: i18n('Assets_OverSpeedDelay'), isRequired: true" />
    <gisc-ui-textbox params="id: 'txtOverSpeedDelay', value: overSpeedDelay, filter: { type: 'numeric', numericType: 'int', min: 1}" />

    <!-- Check In Options -->
    <gisc-ui-label params="text:i18n('Assets_CheckInOptions')"/>
        <!-- {Start Job in Begin Waypoint only, Check In in Waypoint only, Finish Job in End Waypoint only} -->   
        <gisc-ui-checkbox params="text: i18n('Assets_StartJobInBeginWaypointOnly'), checked:startJobInBeginWaypointOnly"/>
        <gisc-ui-checkbox params="text: i18n('Assets_CheckInInWaypointOnly'), checked:checkInInWaypointOnly"/>
        <gisc-ui-checkbox params="text: i18n('Assets_FinishJobInEndWaypointOnly'), checked:finishJobInEndWaypointOnly"/>
</gisc-ui-component>