﻿<gisc-ui-component>
    <!--Mobile Number-->
    <gisc-ui-label params="text: i18n('Assets_MobileNumber'), isRequired: true" />
    <gisc-ui-field params="value: mobile" />

    <!--SIM Card Serial Number-->
    <gisc-ui-label params="text: i18n('Assets_SIMCardSerialNumber')" />
    <gisc-ui-field params="value: simCardSerialNumber" />

    <!-- Promotion -->
    <gisc-ui-label params="text: i18n('Assets_OperatorPackage')"></gisc-ui-label>
     <gisc-ui-field params="value: promotion" />

    <!-- Business Unit -->
    <gisc-ui-label params="text: i18n('Common_BusinessUnit'), isRequired: true"></gisc-ui-label>
    <gisc-ui-field params="value: businessUnit" />

    <!-- User -->
    <gisc-ui-label params="text: i18n('Assets_User'), isRequired: true"></gisc-ui-label>
    <gisc-ui-field params="value: username" />

    <!-- IMEI -->
    <gisc-ui-label params="text: i18n('Assets_IMEI'), isRequired: true"></gisc-ui-label>
    <gisc-ui-field params="value: imei" />

    <!-- Stop Duration -->
    <gisc-ui-label params="text: i18n('Assets_StopDuration'), isRequired: true"></gisc-ui-label>
    <gisc-ui-field params="value: stopDuration" />

    <!-- Over Speed Delay -->
    <gisc-ui-label params="text: i18n('Assets_OverSpeedDelay'), isRequired: true"></gisc-ui-label>
    <gisc-ui-field params="value: overSpeedDelay" />

    <!-- Check In Options -->
    <gisc-ui-label params="text:i18n('Assets_CheckInOptions')"/>
        <!-- {Start Job in Begin Waypoint only, Check In in Waypoint only, Finish Job in End Waypoint only} -->   
        <gisc-ui-checkbox params="text: i18n('Assets_StartJobInBeginWaypointOnly'), checked:startJobInBeginWaypointOnly, enable:false"/>
        <gisc-ui-checkbox params="text: i18n('Assets_CheckInInWaypointOnly'), checked:checkInInWaypointOnly, enable:false"/>
        <gisc-ui-checkbox params="text: i18n('Assets_FinishJobInEndWaypointOnly'), checked:finishJobInEndWaypointOnly, enable:false"/>
</gisc-ui-component>