<gisc-ui-component>
        <!--Authorized Persons-->
        <gisc-ui-label params="text: i18n('BU_AuthorizedPersons') " />
        <gisc-ui-datatable params="
                id: 'ddtAuthorizedPersonsManage',
                datasource: userItem,
                columns: [
                        { type: 'label', title: 'i18n: BU_Name ', data: 'fullName', searchable: true }
                ],
                ordering: false,
                rowId: 'id',
                showRowSelector: true,
                selectedRows: selectedItems,
                showFilter: true,
                filter: filterText,
        " />
</gisc-ui-component>