<gisc-ui-component>

    <style>
        th.k-header{
            text-align: center !important;
        }
    </style>

    <gisc-ui-datagrid params="
        id: 'dgBusinessUnitLevel',
        onDatasourceRequestRead: onDatasourceRequestRead.bind($data),
        pageSizeOptions: false,
        pageable: false,
        sortable:false,
        columns: [
            { type: 'label', title: 'i18n:BU_Level', data: 'levelNo', width: '100px'},
            { type: 'text', title: 'i18n:BU_NameTitle',
                columns:[
                            { type: 'text', title: 'i18n:BU_NameTitleEnglish', data: 'nameTitleEnglish', width: '120px' },
                            { type: 'object', title: 'i18n:BU_NameTitleLocal', data: 'nameTitleLocal', width: '120px'},
                        ]
                },
            { type: 'text', title: 'i18n:BU_NameLevel',
                columns:[
                            { type: 'text', title: 'i18n:BU_NameEnglish', data: 'nameEnglish', width: '120px' },
                            { type: 'object', title: 'i18n:BU_NameLocal', data: 'nameLocal', width: '120px'}
                        ]
                },
            { hidden: false }
        ],
        rowId: 'id',
        showFilter: true,
        filterable:true,
        resizable:true,
        onSelectingRow: _selectedBusinessUnitLevel,
        columnMenu: true,
        rememberDataGridState: ['columns']
    " />
</gisc-ui-component>