﻿<gisc-ui-component>
    <!-- Card Type -->
    <gisc-ui-label params="for: 'ddCardType', text: i18n('Assets_CardType'),isRequired: true"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddCardType',
                              options: cardTypes,
                              optionsText: 'displayName',
                              optionsCaption: '',
                              enable: createBy ,
                              value: selectedCardType"
                              ></gisc-ui-dropdown>

    <!--Card ID-->
    <gisc-ui-label params="for: 'txtCardId', text: i18n('Assets_CardID'), isRequired: true" />
    <gisc-ui-textbox params="id: 'txtCardId', value: cardId, maxlength: 20 , enable: createBy" />

    <!--First Name-->
    <gisc-ui-label params="for: 'txtFirstName1', text: i18n('Common_FirstName')" />
    <gisc-ui-textbox params="id: 'txtFirstName1', value: firstName , enable:false" />

    <!--Last Name-->
    <gisc-ui-label params="for: 'txtLastName1', text: i18n('Common_Lastname')" />
    <gisc-ui-textbox params="id: 'txtLastName1', value: lastName, enable:false " />

    <!-- License Type -->
    <gisc-ui-label params="for: 'ddLicenseType', text: i18n('Assets_LicenseType')"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddLicenseType',
                              options: licenseTypes,
                              optionsText: 'displayName',
                              optionsCaption: '',
                              enable: createBy ,
                              value: selectedLicenseType"></gisc-ui-dropdown>

    <!-- Country -->
    <gisc-ui-label params="for: 'ddProvince', text: i18n('Companies_Country')"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddProvince',
                              options: countryOptions,
                              optionsText: 'name',
                              optionsCaption: '',
                              enable: createBy ,
                              value: selectedCountry"></gisc-ui-dropdown>
    <!-- Province -->
    <gisc-ui-label params="for: 'ddProvince', text: i18n('Companies_Province')"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddProvince',
                              options: provinceOptions,
                              optionsText: 'name',
                              optionsCaption: '',
                              enable: createBy,
                              value: selectedProvince"></gisc-ui-dropdown>

    <!-- Issue Officer -->
    <gisc-ui-label params="for: 'ddLicenseType', text: i18n('Assets_IssueOfficer'),isRequired:issueRequired"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddLicenseType',
                              options: issueOfficer,
                              optionsText: 'name',
                              optionsCaption: '',
                              enable: createBy ,
                              value: selectedIssue"></gisc-ui-dropdown>
    <!--License No-->
    <gisc-ui-label params="for: 'txtLicenseNo', text: i18n('Assets_LicenseNo')" />
    <gisc-ui-textbox params="id: 'txtLicenseNo', value: licenseNo, enable:false " />

    <!--Issue Date-->
    <gisc-ui-label params="for: 'txtIssueDate', text: i18n('Assets_IssueDate')" />
    <gisc-ui-datetime params="value:issueDate, dateFormat:dateFormat, mode:'date', minDate:issueDate " />
    <!--Expire Date-->
    <gisc-ui-label params="for: 'txtIssueDate', text: i18n('Assets_ExpireDate')" />
    <gisc-ui-datetime params="value:expireDate, dateFormat:dateFormat, mode:'date' , minDate:issueDate " />
</gisc-ui-component>