﻿<gisc-ui-component>
    <!--Picture-->
    <gisc-ui-label params="text: i18n('Common_Picture')" />
    <div class="app-img-wrap">
        <div class="app-img-manage-wrap">
            <img data-bind="attr: { src: pictureUrl, alt: '' }" />
        </div>
        <div class="file-upload-name" data-bind="visible: pictureFileName">
            <span data-bind="text: pictureFileName"></span>
        </div>
    </div>

    <!--Empolyee ID-->
    <gisc-ui-label params="text: i18n('Common_EmployeeID'), isRequired: true" />
    <gisc-ui-field params="value: employeeId" />

    <!--National ID-->
    <gisc-ui-label params="for: 'txtNationalId', text: i18n('Assets_NationalID') " />
    <gisc-ui-field params="value: nationalId" />

    <!-- Gender -->
    <gisc-ui-label params="text: i18n('Common_Gender'), isRequired: true"></gisc-ui-label>
    <gisc-ui-field params="value: gender" />

    <!--Title-->
    <gisc-ui-label params="text: i18n('Assets_DriverTitle')" />
    <gisc-ui-field params="value: title" />

    <!--First Name-->
    <gisc-ui-label params="text: i18n('Common_FirstName'), isRequired: true" />
    <gisc-ui-field params="value: firstName" />

    <!--Last Name-->
    <gisc-ui-label params="text: i18n('Common_Lastname'), isRequired: true" />
    <gisc-ui-field params="value: lastName" />

    <!-- Business Unit -->
    <gisc-ui-label params="text: i18n('Common_BusinessUnit'), isRequired: true"></gisc-ui-label>
    <gisc-ui-field params="value: businessUnit" />

    <!--Enable-->
    <gisc-ui-label params="text: i18n('Common_Enable'), isRequired: true"></gisc-ui-label>
    <gisc-ui-field params="value: enable"></gisc-ui-field>

    <!--Phone-->
    <gisc-ui-label params="text: i18n('Common_Phone')" />
    <gisc-ui-field params="value: phone" />

    <!--Minimum Rest Time (minutes)-->
    <gisc-ui-label params="text: i18n('Assets_MinimumRestTime')" />
    <gisc-ui-field params="value: minRestTime" />

    <!-- Description -->
    <gisc-ui-label params="text: i18n('Common_Description')" />
    <gisc-ui-field params="value: desc" />

    <!--Trainer Name-->
    <gisc-ui-label params="text: i18n('Assets_Trainer')" />
    <gisc-ui-field params="value: trainerName" />


    <!--Associated User-->
    <div data-bind="visible: userName">
        <gisc-ui-label params="text: i18n('Assets_AssociatedUser')" />
        <gisc-ui-field params="value: userName" />
    </div>

    <!--Created Date-->
    <gisc-ui-label params="text: i18n('Common_CreatedDate')" />
    <gisc-ui-field params="value: formatCreateDate" />

    <!--Created By-->
    <gisc-ui-label params="text: i18n('Assets_CreatedBy')" />
    <gisc-ui-field params="value: createBy" />

    <!--Last Updated Date-->
    <gisc-ui-label params="text: i18n('Assets_LastUpdatedDate')" />
    <gisc-ui-field params="value: formatUpdateDate" />

    <!--Last Updated By-->
    <gisc-ui-label params="text: i18n('Assets_LastUpdatedBy')" />
    <gisc-ui-field params="value: updateBy" />
    <!--Driver Card-->
    <gisc-ui-label params="text: i18n('Assets_DriverCard')" />
    <gisc-ui-datatable params="
                id: 'ca-assets-driverView',
                ordering: true,
                datasource: driverCard,
                columns: [
                    { type: 'label', title: 'i18n:Assets_LicenseNo', data: 'DisplaylicenseNo' },
                    { type: 'label', title: 'i18n:Common_FirstName', data: 'firstName' },
                    { type: 'label', title: 'i18n:Common_Lastname', data: 'lastName' }
                ],
                rowId: 'id',
                order: orderDriver
                " />

</gisc-ui-component>