﻿<gisc-ui-component>
    <gisc-ui-tab params="selectedIndex: selectedIndex">
        <item params="text: i18n('Transportation_Mngm_Shipment_Tab_ShipmentInfo')">
            <div class="manage">
                    <div class="box_summary">
                            <div class="box_item" style="width: 200px;">
                                <gisc-ui-label params=" text: i18n('Transportation_Mngm_Templates_BusinessUnit'),isRequired:true" />
                                <gisc-ui-dropdowntree params="id: 'txtBusinessUnit',
                                            options:ddBusinessUnitList,
                                            optionsID:'id',
                                            optionsText:'name',
                                            optionsParent:'parentBusinessUnitId',
                                            optionsChildren:'childBusinessUnits',
                                            value:valueBusinessUnit,
                                            enable:txtDisable" />
                            </div>
                            <div class="box_item" style="width: 200px;">
                                <gisc-ui-label params="text: i18n('Transportation_Mngm_Templates_Code'),isRequired:true" />
                                <gisc-ui-textbox params="id: 'templateCode', value: valueTemplateCode" />
                            </div>
                            <div class="box_item" style="width: 200px;">
                                <gisc-ui-label params="text: i18n('Transportation_Mngm_Templates_Name'),isRequired:true" />
                                <gisc-ui-textbox params="id: 'templateName', value: valueTemplateName, enable:txtDisable" />
                            </div>
                            <div class="box_item" style="width: 200px;">
                                    <gisc-ui-label params=" text: i18n('Shipment_Vehicle_BU')" />
                                    <gisc-ui-dropdowntree params="id: 'txtVechicleBU',
                                                options:vechicleBUList,
                                                optionsID:'id',
                                                optionsText:'name',
                                                optionsParent:'parentBusinessUnitId',
                                                optionsChildren:'childBusinessUnits',
                                                value:vechicleBU,
                                                enable:txtDisable,
                                                zIndex:6" />
                            </div>
                            <div class="box_item" style="width: 200px;">
                                    <gisc-ui-label params="text: i18n('Common_Vehicle')" />
                                    <gisc-ui-dropdown params="id: 'txtVehicle',
                                                options: ddVehiclelist,
                                                optionsText: 'license',
                                                value: valueVehicle,
                                                optionsCaption:'',
                                                type:'filter',
                                                enable:txtDisable" />
                                </div>
                    </div>

                    <div class="box_summary">
                        <div class="box_item" style="width: 200px;">
                            <gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Name'),isRequired:true" />
                            <gisc-ui-textbox params="id: 'shipmentName', value: valueShipmentName, enable:txtDisable" />
                        </div>  
                        <div class="box_item" style="width: 200px;">
                                <gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Start_Date'),isRequired:true" />
                                <div style="width: 100%;">
                                    <gisc-ui-datetime params="id:'dtShipmentStartDate', mode:'date', value: txtStartDate,enable:txtDisable " style=" float:  left; width: 50%;"
                                    />
                                    <gisc-ui-textbox params="id:'txtStartTime', type:'time', value: valueStartTime , enable:txtDisable" style=" float:  right; width: 50%;" />
                                </div>
                        </div>
                        <div class="box_item" style="width: 200px;">
                                <gisc-ui-label params="text: i18n('Manage_Shipment_Waiting_Time')" />
                                <gisc-ui-textbox params="id:'txtWaitingTime', value: valueWaitingTime, enable:txtDisable,filter:{type :'numeric', numericType:'integer'} " />
                        </div>
                        <div class="box_item" style="width: 200px;">
                                <gisc-ui-label params=" text: i18n('Shipment_Driver_BU')" />
                                <gisc-ui-dropdowntree params="id: 'txtDriverBU',
                                            options:driverBUList,
                                            optionsID:'id',
                                            optionsText:'name',
                                            optionsParent:'parentBusinessUnitId',
                                            optionsChildren:'childBusinessUnits',
                                            value:driverBU,
                                            enable:txtDisable" />
                        </div>
                        <div class="box_item" style="width: 200px;">
                                <gisc-ui-label params="text: i18n('Common_Driver')" />
                                <gisc-ui-dropdown params="id: 'txtDriver',
                                            options: ddDriverlist,
                                            optionsText: 'name',
                                            optionsCaption:'',
                                            value: valueDriver,
                                            type:'filter',
                                            enable:txtDisable" />
                        </div>

                    </div>


                <div class="box_summary">
                    <div class="box_item" style="width: 200px;">
                            <gisc-ui-label params=" text: i18n('Transportation_Mngm_Shipment_Zone')" />
                            <gisc-ui-dropdown params="id: 'ddZone',
                                        options: zone,
                                        optionsText: 'name',
                                        optionsCaption: ' ',
                                        value: selectedZone" />
                    </div>
                    <div class="box_item" style="width: 200px;">
                            <gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Category')" />
                            <gisc-ui-dropdown params="id: 'ddCategory',
                                        options: shipmentCategory,
                                        optionsText: 'name',
                                        optionsCaption: ' ',
                                        value: selectedShipmentCategory" />
                    </div>
                    <div class="box_item" style="width: 200px;">
                            <gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_TravelMode')" />
                            <gisc-ui-dropdown params="id: 'ddTravelMode',
                                        options: travelMode,
                                        optionsText: 'displayName',
                                        optionsCaption: ' ',
                                        value: selectedTravelMode" />
                    </div>
                    <div class="box_item" style="width: 200px;">
                            <gisc-ui-label params="text: i18n('Notifications_DeliveryMan')" />
                            <gisc-ui-dropdown params="id: 'txtDelivertMan',
                                        options: ddDelivertManlist,
                                        optionsText: 'license',
                                        optionsCaption:'',
                                        value: valueDelivertMan,
                                        type:'filter',
                                        enable:txtDisable" />
                    </div>
                    <div class="box_item" style="width: 200px;">
                            <gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Trail')" />
                            <gisc-ui-dropdown params="id: 'txtTrail',
                                        options: ddTraillelist,
                                        optionsText: 'license',
                                        optionsCaption:'',
                                        value: valueTrail,
                                        type:'filter',
                                        enable:txtDisable" />
                    </div>
                </div>
                <div>
                        <div style="float: left;">
                            <div class="box_item" style="width: 200px;">
                                    <gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Close_Shipment_By')" />
                                    <gisc-ui-dropdown params="options: ddEnumJobAutoFinish,
                                                id: 'txtEnumJobAutoFinish',
                                                optionsText: 'displayName',
                                                value: valueEnumJobAutoFinish,
                                                enable:txtDisable" />
                                </div>
                                <div class="box_item" style="width: 200px;">
                                    <gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Duration'), visible:isVisibleDuration" />
                                    <gisc-ui-textbox params="id:'txtDuration', value: valueDuration, enable:txtDisable,filter:{type :'numeric', numericType:'integer'} , visible:isVisibleDuration,maxlength:4" />
                                </div>
                                <div class="box_item" style="width: 200px;">
                                    <gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Late_Shipment_Role')" />
                                    <gisc-ui-dropdown params="id: 'txtLastShipmentRole',
                                                options: ddLastShipmentRole,
                                                optionsText: 'displayName',
                                                value: valueLastShipmentRole,
                                                enable:txtDisable" />
                            </div>
                        </div>
                        <div>
                            <div class="box_desc" style="width: 425px;">
                                <gisc-ui-label params="text: i18n('Common_Description')" />
                                <gisc-ui-textarea params="id:'txtDescription', value: valueDescription, enable:txtDisable, maxlength:'255'" />
                            </div>
                        </div>
                </div>
               
               
            </div>
            <div>
                <div>
                    <gisc-ui-shipment-grid params="data: shipmentJobWaypointInfoLst,
                                            deliveryTypeList: deliveryTypeList,
                                            autoCompleteList: autoCompleteList.bind($data),
                                            startDateTime: startDateTime,
                                            routeData: routeData.bind($data),
                                            jobDetail: jobDetail,
                                            defaultValue: defaultValue,
                                            viewOnMap: viewOnMap.bind($data),    
                                            isShipmentGridEdit: isShipmentGridEdit,
                                            shipmentGridChange: shipmentGridChange,
                                            mode: mode,
                                            typedatagrid:typedatagrid,
                                            bladeId: bladeId,
                                            businessUnit: valueBusinessUnit,
                                            isFindBestSequenceLoading: isFindBestSequenceLoading" />
                </div>
            </div>
        </item>
        <item params="text: i18n('Transportation_Mngm_Shipment_Tab_AssignAdditional_Driver')">
                <div>
                        <div>Co-Driver</div>
                        <div class="divControlBtn">
                            <gisc-ui-button params="text:i18n('Transportation_Mngm_Add_new_Codriver'), onclick:newRecordCodriver.bind($data),enable: txtDisable"></gisc-ui-button>
                            <gisc-ui-button params="text:i18n('Transportation_Mngm_Cancel_Changes'), onclick:cancelCodriverChang.bind($data),enable: txtDisable"></gisc-ui-button>
                        </div>
                        <div class="tablePorter">                    
                            <div class="tablePorter-th">
                                <div class="tablePorter-td" style="width:40px;"></div>
                                <div class="tablePorter-td" style="width:60px;">
                                    <gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Order')" />
                                </div>
                                <div class="tablePorter-td">
                                    <gisc-ui-label params="text: i18n('Common_Drivers')" />
                                </div>
                                <div class="tablePorter-td">
                                    <gisc-ui-label params="text: i18n('Common_EmployeeID')" />
                                </div>
                            </div>
                        </div>
                                <div class="tablePorter-tr" data-bind="foreach: coDriverList">
                                    <div class="tablePorter-tr">
                                        <div class="tablePorter-td" style="width:40px;">
                                            <img data-bind="click: $parent.removeCodriver, attr: { src: imgUrl, test:$index() }" />
                                        </div>
                                        <div class="tablePorter-td" data-bind="text: ($index() + 1)" style="width:60px;"></div>
                                        <div class="tablePorter-td">
                                            <gisc-ui-dropdown params="options: $parent.ddcoDriverList,
                                                optionsText: 'name',
                                                value: selectedItem,
                                                optionsCaption:'',
                                                enable:$parent.txtDisable" />
                                        </div>
                                        <div class="tablePorter-td" data-bind="text: selectedItem()?selectedItem().employeeId : $parent.i18n('Transportation_Mngm_Not_Selected')"></div>
                                    </div>    
                                </div>
                        
        
                    </div>
        
        </item>
    </gisc-ui-tab>
</gisc-ui-component>