﻿<gisc-ui-component>

    <!-- Business Unit Vehicle-->
    <gisc-ui-label params="for: 'ddVehicleBusinessUnit', text: i18n('Transportation_Mngm_Vehicle_BusinessUnits')" />
    <gisc-ui-dropdowntree params=" id: 'ddVehicleBusinessUnit',
                     options:businessUnitList,
                     optionsID:'id',
                     optionsText:'name',
                     optionsParent:'parentBusinessUnitId',
                     optionsChildren:'childBusinessUnits',
                     mode:'update',
                     value:businessUnitVehicle,
                     zIndex: '8'" />

    <!-- Vehicle -->
    <gisc-ui-label params="for: 'ddVehicle', text: i18n('Common_Vehicle')"></gisc-ui-label>
    <gisc-ui-dropdown-multiselect params="id: 'ddVehicle',
                            optionsID:'id',
                            optionsText: 'license',
                            optionsCaption: '',
                            options: vehicle,
                            value: selectedVehicle,
                            zIndex: '7'" />
    <!-- Business Unit Driver-->
    <gisc-ui-label params="for: 'ddDriverBusinessUnit', text: i18n('Transportation_Mngm_Driver_BusinessUnits')">
    </gisc-ui-label>
    <gisc-ui-dropdowntree params=" id: 'ddDriverBusinessUnit',
                             options:businessUnitList,
                             optionsID:'id',
                             optionsText:'name',
                             optionsParent:'parentBusinessUnitId',
                             optionsChildren:'childBusinessUnits',
                             mode:'update',
                             value:businessUnitDriver,
                             zIndex: '6'" />
    <!-- Driver -->
    <gisc-ui-label params="for: 'ddDriver', text: i18n('Common_Driver')"></gisc-ui-label>
    <gisc-ui-dropdown-multiselect params="id: 'ddDriver',
                            optionsID:'id',
                            optionsText: 'displayName',
                            optionsCaption: '',
                            options: driver,
                            value: selectedDriver,
                            zIndex: '5'" />
    <!--Business Unit-->
    <gisc-ui-label params="for: 'ddBusinessUnit', text: i18n('Transportation_Mngm_BusinessUnits'), isRequired: false"/>
    <gisc-ui-dropdowntree params=" id: 'ddBusinessUnit',
                                options:businessUnitList,
                                optionsID:'id',
                                optionsText:'name',
                                optionsParent:'parentBusinessUnitId',
                                optionsChildren:'childBusinessUnits',
                                value:businessUnit,
                                mode:'update',
                                zIndex: '4'" />
    <!-- Zone -->
    <gisc-ui-label params="for: 'ddZone', text: i18n('Transportation_Mngm_Shipment_Zone')"></gisc-ui-label>
    <gisc-ui-dropdown-multiselect params="id: 'ddZone',
                            optionsID:'id',
                            optionsText: 'name',
                            optionsCaption: '',
                            options: zone,
                            value: selectedZone,
                            zIndex: '3'" />

    <!-- TravelMode -->
    <gisc-ui-label params="for: 'ddTravelMode', text: i18n('Transportation_Mngm_Shipment_TravelMode')"></gisc-ui-label>
    <gisc-ui-dropdown-multiselect params="id: 'ddTravelMode',
                                    optionsID:'id',
                                    optionsText: 'displayName',
                                    optionsCaption: '',
                                    options: travelMode,
                                    value: selectedTravelMode,
                                    zIndex: '2'" />


    <!-- Shipment Category -->
    <gisc-ui-label params="for: 'ddShipmentCategory', text: i18n('Transportation_Mngm_Shipment_Category')">
    </gisc-ui-label>
    <gisc-ui-dropdown-multiselect params="id: 'ddShipmentCategory',
                                    optionsID:'id',
                                    optionsText: 'name',
                                    optionsCaption: '',
                                    options: shipmentCategory,
                                    value: selectedShipmentCategory" />


    <!--Shipment Created Start Date-->
    <gisc-ui-label
        params="for:'dtShipmentCreatedStartDate', text:i18n('Transportation_Mngm_Shipment_Template_Create_Date_From')" />
    <div style="width:100%">
        <div style="width:55%;float:left;">
            <gisc-ui-datetime params="id:'dtShipmentCreatedStartDate', mode:'date', value: shipmentCreatedStartDate,dateFormat:dateFormat,
                              maxDate:maxCreateDate, minDate:minCreateDate" />
        </div>
        <div style="width:40%;float:right;">
            <div class="app-textBox-wrapper">
                <input type="time" data-bind="value:shipmentCreatedStartTime, attr: { id:id, class:'app-input'} ">
            </div>
        </div>
    </div>
    <div style="clear:both;"></div>

    <!--Shipment Created End Date-->
    <gisc-ui-label
        params="for:'dtShipmentCreatedEndDate', text:i18n('Transportation_Mngm_Shipment_Template_Create_Date_To')" />
    <div style="width:100%">
        <div style="width:55%;float:left;">
            <gisc-ui-datetime params="id:'dtShipmentCreatedEndDate', mode:'date', value: shipmentCreatedEndDate,dateFormat:dateFormat,
                              maxDate:maxCreateDate ,minDate:minCreateDate" />
        </div>
        <div style="width:40%;float:right;">
            <div class="app-textBox-wrapper">
                <input type="time" data-bind="value:shipmentCreatedEndTime, attr: { id:id, class:'app-input'} ">
            </div>
        </div>
    </div>
    <div style="clear:both;"></div>


    <!-- Template Name -->
    <gisc-ui-label params="for:'txtTemplateName',text:i18n('Transportation_Mngm_Shipment_Template_Template_Name')" />
    <gisc-ui-autocomplete params="id:'txtTemplateName',
                          onDatasourceRequest:onDatasourceRequestTemplateName, 
                          value: txtTemplateName" />
    <!--Shipment Name-->
    <gisc-ui-label params="for:'txtShipmentName',text:i18n('Transportation_Mngm_Shipment_Name')" />
    <gisc-ui-textBox params="id:'txtShipmentName',
                          value: txtShipmentName" />

    <!-- Create By -->
    <gisc-ui-label params="for:'txtCreateBy',text:i18n('Transportation_Mngm_Shipment_CreateBy')" />
    <gisc-ui-textBox params="id:'txtCreateBy',
                          value: txtCreateBy" />




</gisc-ui-component>









<!-- <gisc-ui-label params="for:'dtShipmentCreatedStartDate', text:i18n('Transportation_Mngm_Shipment_Create_From')" />
<div style="width:100%">
    <div style="width:55%;float:left;">
        <gisc-ui-datetime params="id:'dtShipmentCreatedStartDate', mode:'date', value: shipmentCreatedStartDate,dateFormat:dateFormat,
                          maxDate:maxCreateDate, minDate:minCreateDate" />
    </div>
    <div style="width:40%;float:right;">
        <div class="app-textBox-wrapper">
            <input type="time" data-bind="value:shipmentCreatedStartTime, attr: { id:id, class:'app-input'} ">
        </div>
    </div>
</div>
<div style="clear:both;"></div>


<gisc-ui-label params="for:'dtShipmentCreatedEndDate', text:i18n('Transportation_Mngm_Shipment_Create_To')" />
<div style="width:100%">
    <div style="width:55%;float:left;">
        <gisc-ui-datetime params="id:'dtShipmentCreatedEndDate', mode:'date', value: shipmentCreatedEndDate,dateFormat:dateFormat,
                          maxDate:maxCreateDate ,minDate:minCreateDate" />
    </div>
    <div style="width:40%;float:right;">
        <div class="app-textBox-wrapper">
            <input type="time" data-bind="value:shipmentCreatedEndTime, attr: { id:id, class:'app-input'} ">
        </div>
    </div>
</div>
<div style="clear:both;"></div>


<gisc-ui-label params="for:'txtShipmentCode',text:i18n('Template Name')" />
<gisc-ui-autocomplete params="id:'txtShipmentCode',
                      onDatasourceRequest:onDatasourceRequestShipmentCode,
                      value:txtShipmentCode
                      " />


<gisc-ui-label params="for:'txtShipmentName',text:i18n('Transportation_Mngm_Shipment_Name')" />
<gisc-ui-autocomplete params="id:'txtShipmentName',
                      onDatasourceRequest:onDatasourceRequestShipmentName, 
                      value: txtShipmentName" />


<gisc-ui-label params="for:'txtCreateBy',text:i18n('Transportation_Mngm_Shipment_CreateBy')" />
<gisc-ui-autocomplete params="id:'txtCreateBy',
                      onDatasourceRequest:onDatasourceRequestCreateBy, 
                      value: txtCreateBy" /> -->