<gisc-ui-component params="codeHighlight:true">
    <gisc-ui-markdown>
> Combobox controls is very similar to Dropdown but allow user to edit input for searching options.

## Parameters

| Name             | Required | Default Value | Observable |
| ---------------- | -------- | ------------- | ---------- | 
| `id`             | No       | GUID          | No         |
| `enable`         | No       | True          | Yes        |
| `options`        | Yes      | None          | Yes (Array)|
| `optionsText`    | Yes      | None          | No         |
| `optionsValue`   | Yes      | None          | No         |
| `selectedOption` | Yes      | None          | Yes        |
| `optionsCaption` | No       | None          | No         |

## Parameters Details
* __Required Parameters__
  * `options` Datasource for list items, You should supply an array (or observable array). 
  * `optionsText` Key to access datasource's item field which display as option's text.
  * `optionsValue` Key to access datasource's item field which display as option's value.
  * `selectedOption` Set/Get current selected options as object in datasource. Normally this is bound to an Observable.
* __Optional Parameters__
  * `id` Unique identifier of html element, set to id attribute. If none is specify the controls will generate GUID.
  * `enable` Flag to determine whether this control is enabled or not. If set to false the control is not interactable.
  * `optionsCaption` Placeholder text when there is no option selected.

    </gisc-ui-markdown>

    <article class="markup-container sdk-body">
        <h2>Examples</h2>

        <section id="exp1">
            <h3>Basic Example</h3>
            <h4>Source</h4>
            <pre><code class="hljs html">&lt;!-- View --&gt;
&lt;gisc-ui-combobox params="options: availableCountries, 
                optionsText: 'name',
                optionsValue: 'value',
                selectedOption: selectedItem"&gt;
&lt;/gisc-ui-combobox&gt;
&lt;p data-bind="text: selectedItem() ? selectedItem().name : 'Not Selected'"&gt;&lt;/p&gt;</code></pre>
            <pre><code class="hljs js">// View Model
this.availableCountries = ko.observableArray([
    { name: "UK", value: "_uk" },
    { name: "USA", value: "_us" },
    { name: "Sweden", value: "_swe" }
]);
this.selectedItem = ko.observable();</code></pre>
            <h4>Output</h4>
            <div class="output">
                <gisc-ui-combobox params="options: availableCountries, 
                                    optionsText: 'name',
                                    optionsValue: 'value',
                                    selectedOption: selectedItem">
                </gisc-ui-combobox>
                <p data-bind="text: selectedItem() ? selectedItem().name : 'Not Selected'"></p>
            </div>
        </section>

        <section id="exp2">
            <h3>Using <code>optionsCaption</code></h3>
            <h4>Source</h4>
            <pre><code class="hljs html">&lt;!-- View --&gt;
&lt;gisc-ui-combobox params="options: availableCountries, 
                optionsText: 'name',
                optionsValue: 'value',
                selectedOption: selectedItem2,
                optionsCaption:'Please Choose...'"&gt;
&lt;/gisc-ui-combobox&gt;
&lt;p data-bind="text: selectedItem2() ? selectedItem2().name : 'Not Selected'"&gt;&lt;/p&gt;</code></pre>
            <pre><code class="hljs js">// In View Model
this.availableCountries = ko.observableArray([
    { name: "UK", value: "_uk" },
    { name: "USA", value: "_us" },
    { name: "Sweden", value: "_swe" }
]);
this.selectedItem2 = ko.observable();</code></pre>
            <h4>Output</h4>
            <div class="output">
                <gisc-ui-combobox params="options: availableCountries, 
                                    optionsText: 'name',
                                    optionsValue: 'value',
                                    selectedOption: selectedItem2,
                                    optionsCaption:'Please Choose...'">
                </gisc-ui-combobox>
                <p data-bind="text: selectedItem2() ? selectedItem2().name : 'Not Selected'"></p>
            </div>
        </section>
        
        <section id="exp3">
            <h3>Set <code>enable</code> to false</h3>
            <h4>Source</h4>
            <pre><code class="hljs html">&lt;!-- View --&gt;
&lt;gisc-ui-combobox params="options: availableCountries, 
                optionsText: 'name',
                optionsValue: 'value',
                selectedOption: selectedItem3,
                enable:false"&gt;
&lt;/gisc-ui-combobox&gt;
&lt;p data-bind="text: selectedItem3() ? selectedItem3().name : 'Not Selected'"&gt;&lt;/p&gt;</code></pre>
            <pre><code class="hljs js">// In View Model
this.availableCountries = ko.observableArray([
    { name: "UK", value: "_uk" },
    { name: "USA", value: "_us" },
    { name: "Sweden", value: "_swe" }
]);
this.selectedItem3 = ko.observable();</code></pre>
            <h4>Output</h4>
            <div class="output">
                <gisc-ui-combobox params="options: availableCountries, 
                                    optionsText: 'name',
                                    optionsValue: 'value',
                                    selectedOption: selectedItem3,
                                    enable: false">
                </gisc-ui-combobox>
                <p data-bind="text: selectedItem3() ? selectedItem3().name : 'Not Selected'"></p>
            </div>
        </section>

    </article>

</gisc-ui-component>