﻿<gisc-ui-component>
    <gisc-ui-label params="text:i18n('CustomRoutes_Settings_Option'), isRequired:true" />
    <gisc-ui-dropdown params="options:routeOptions,optionsText:'displayName',value:settingOption,optionsCaption: ''"></gisc-ui-dropdown>
    <gisc-ui-label params="text:i18n('CustomRoutes_Settings_Mode'), isRequired:true" />
    <gisc-ui-dropdown params="options:routeMode,optionsText:'displayName',value:settingMode,optionsCaption: ''"></gisc-ui-dropdown>
</gisc-ui-component>
