﻿<gisc-ui-component>
    <!--Name-->
    <gisc-ui-label params="text: i18n('CustomRoutes_Name'), isRequired: true"></gisc-ui-label>
    <gisc-ui-field params="value: name"></gisc-ui-field>

    <!--Code-->
    <gisc-ui-label params="text: i18n('CustomRoutes_Code')"></gisc-ui-label>
    <gisc-ui-field params="value: code"></gisc-ui-field>

    <!--Poi Type-->
    <gisc-ui-label params="text: i18n('CustomRoutes_PoiType')"></gisc-ui-label>
    <gisc-ui-field params="value: poiType"></gisc-ui-field>

    <!--Description-->
    <gisc-ui-label params="text: i18n('CustomRoutes_Description')"></gisc-ui-label>
    <gisc-ui-field params="value: description"></gisc-ui-field>

    <!--Color-->
    <gisc-ui-label params="text:i18n('CustomRoutes_Color'), isRequired:true" />
    <div data-bind="style: { backgroundColor: routeColor(),width: '25px', height: '25px'}"></div>
    <!--Category-->
    <gisc-ui-label params="text: i18n('CustomRoutes_Category')"></gisc-ui-label>
    <gisc-ui-field params="value: category"></gisc-ui-field>

    <!--Accessible Bu-->
    <gisc-ui-label params="text: i18n('User_AccessibleBusinessUnits'), isRequired: true"></gisc-ui-label>

    <gisc-ui-datatable params="datasource:accessibleBusinessUnits,
                                columns:[
                                {type:'label',title: 'i18n:CustomRoutes_POIDetail_Name',data: 'businessUnitName', orderable: false},
                                {type:'label',title: 'i18n:CustomRoutes_POIDetail_Name', visible: false}
                                ],
                                rowId: 'id',
                        order: orderAccessibleBusinessUnits,
                        readonly: true" />


    <!--Tab-->
    <gisc-ui-tab params="selectedIndex: selectedTabIndex " data-bind="click:onClickTab.bind($data)">
        <item params="text: i18n('CustomRoutes_POI')">

            <!-- POI -->

            <div class="field-table-content">

                <gisc-ui-datatable params="datasource:customRouteViaPoint,
                                columns:[
                                {type:'label',title: 'i18n:Transportation_Mngm_Shipment_No',data: 'order', orderable: false},
                                {type:'label',title: 'i18n:CustomRoutes_Name',data: 'name', orderable: false}
                                ],
                                rowId: 'id',ordering: false" />

            </div>
        </item>
        <item params="text: i18n('CustomRoutes_Directions')">
            <!--Direction-->
            <div class="img-custom-geofencing" data-bind="click:printMapAndDirection.bind($data)">
                <!-- ko component: 'svg-icon-customroute-print' --><!-- /ko -->
            </div>
            <div class="field-wrapper">
                <table style="width:100%">
                    <tr><td><gisc-ui-label params="text:i18n('CustomRoutes_Directions_Distance')" /></td><td><gisc-ui-label params="text:distance()" /></td><td><gisc-ui-label params="text:i18n('CustomRoutes_Directions_Duration')" /></td><td><gisc-ui-label params="text:driveTime()" /></td></tr>
                </table>
            </div>

            <gisc-ui-datatable params="datasource:routeDirection,
                    columns:[{type:'label',title: 'i18n:CustomRoutes_Order',data: 'order', orderable: false},
                            {type:'label',title: 'i18n:CustomRoutes_Directions',data: 'text', orderable: false}],ordering: false,rowId: 'order'
                    " />

        </item>

    </gisc-ui-tab>

    <!--Settings-->
    <div class="field-wrapper">
        <gisc-ui-label params="text: i18n('CustomRoutes_View_Settings')"></gisc-ui-label>
    </div>
    <!--Option-->
    <gisc-ui-label params="text: i18n('CustomRoutes_Settings_Option'), isRequired: true"></gisc-ui-label>
    <gisc-ui-field params="value: settingOption"></gisc-ui-field>
    <!--Mode-->
    <gisc-ui-label params="text: i18n('CustomRoutes_Settings_Mode'), isRequired: true"></gisc-ui-label>
    <gisc-ui-field params="value: settingMode"></gisc-ui-field>
    <!--CreateDate-->
    <gisc-ui-label params="text: i18n('CustomRoutes_View_CreatedDate')"></gisc-ui-label>
    <gisc-ui-field params="value: createdDate"></gisc-ui-field>
    <!--CreateBy-->
    <gisc-ui-label params="text: i18n('CustomRoutes_View_CreatedBy')"></gisc-ui-label>
    <gisc-ui-field params="value: createdBy"></gisc-ui-field>
    <!--Last Update Date-->
    <gisc-ui-label params="text: i18n('CustomRoutes_View_LastUpdatedDate')"></gisc-ui-label>
    <gisc-ui-field params="value: lastUpdatedDate"></gisc-ui-field>
    <!--Last Update By-->
    <gisc-ui-label params="text: i18n('CustomRoutes_View_LastUpdatedBy')"></gisc-ui-label>
    <gisc-ui-field params="value: lastUpdatedBy"></gisc-ui-field>
</gisc-ui-component>