<!-- ko component: {
    name: 'gisc-ui-component',
    params: {
        additionalCssClasses: 'compact'
    }
} -->
<div>
    <video 
        data-setup='{"fluid": true}'
        data-bind="
            attr: { 
                id: id,
                class: 'video-js vjs-default-skin vjs-16-9 video-js-gis',
                controls: controls,
                autoplay: autoplay,
                preload: preload,
                width: width,
                height: height,
                controlsList: controlsList,
                disablepictureinpicture: disablepictureinpicture,
                poster: poster,
            }">
        <source data-bind="attr: { src:src, type:type }">
    </video>
</div>


<!-- /ko -->