﻿<gisc-ui-component>

     <!--ServiceType-->
     <gisc-ui-label params="for: 'ddServiceType', text:i18n('Ticket_ServiceType')" />
     <gisc-ui-dropdown params="id: 'ddServiceType',
                             options: serviceTypeOptions,
                             optionsID: 'id',
                             optionsText: 'name',
                             optionsCaption: ' ',
                             value: selectedServiceType" />


    <!--Company-->
    <gisc-ui-label params="for:'txtTitle',text:i18n('Common_Company')" />
    <gisc-ui-dropdown params="options: CompanyList,
                          optionsText: 'name',
                          value: selectedCompany ,
                          optionsCaption: '', " />
    <!--Business Unit-->
    <gisc-ui-label params="for:'txtTitle' , text:i18n('BU_BusinessUnits')" />
    <gisc-ui-dropdowntree params="id: 'ddlBusinessUnit',
                            options: businessUnits,
                            optionsID: 'id',
                            optionsText: 'name',
                            optionsParent: 'parentBusinessUnitId',
                            optionsChildren: 'childBusinessUnits',
                            value: selectedBusinessUnit" />

    <gisc-ui-checkbox params="text: i18n('Common_IncludeSubBusinessUnit'), checked:isIncludeSubBU" />

    <!--License-->
    <gisc-ui-label params="text: i18n('Common_License')" />
    <gisc-ui-dropdown params="options: LicenseList,
                      optionsText: 'license',
                      optionsCaption: selectedEntityBinding,
                      value: selectedLicense" />
    <!--Box Serial No-->
    <gisc-ui-label params="text: i18n('Assets_BoxSerialNo')" />
    <gisc-ui-dropdown params="options: BoxList,
                      optionsText:'serialNo',
                      optionsCaption: '',
                      value:selectedBoxSerialNo" />
    <!--Status-->
    <gisc-ui-label params="text: i18n('Ticket_AppointmentStatus')" />
    <gisc-ui-dropdown params="options: StatusList,
                      optionsText:'displayName',
                      optionsCaption: '',
                      value:selectedStatus" />
    <!--TechnicianTeam-->
    <gisc-ui-label params="text: i18n('Ticket_TechnicianTeam')" />
    <gisc-ui-dropdown params="options: TechnicianList,
                      optionsText:'fullName',
                      optionsCaption: '',
                      value:selectedTechnician" />
    <!--Ticket No-->
     <div style="width:100%;float:left;">
        <gisc-ui-label params="for: 'txtTicketNo', text: i18n('Ticket_TicketNo')"></gisc-ui-label>
     </div>
     <div style="width:100%">
        <div style="width:55%;float:left;">
            <gisc-ui-textbox params="id: 'txtTicketNo', value: ticketNo,filter:{type :'numeric', numericType:'int'}"></gisc-ui-textbox>
        </div>
     </div>

    <!--DateTimeFromTo-->
    <div style="width:100%;float:left;">
        <gisc-ui-label params="for:'from' ,text: i18n('Ticket_StartAppointmentDate'), isRequired: true" />
    </div>
    <div style="width:100%">
        <div style="width:55%;float:left;">
            <gisc-ui-datetime params="id:'from' ,value:start ,mode:'date' ,minDate:(end,'-4m') ,dateFormat:formatSet" />
        </div>
        <div style="width:40%;float:right;">
            <!-- new time -->
            <div class="app-textBox-wrapper">
                <input type="time" data-bind="value:timeStart, attr: { id:id, class:'app-input'} ">
            </div>
        </div>
    </div>
    <div style="width:100%;float:left;">
        <gisc-ui-label params="for:'to' ,text: i18n('Ticket_EndAppointmentDate'), isRequired: true" />
    </div>
    <div style="width:100%">
        <div style="width:55%;float:left;">
            <gisc-ui-datetime params="id:'to' ,value:end  ,mode:'date' ,minDate:start, maxDate: exceedDate ,dateFormat:formatSet" />
        </div>
        <div style="width:40%;float:right;">
            <div class="app-textBox-wrapper">
                <input type="time" data-bind="value:timeEnd, attr: { id:id, class:'app-input'} ">
            </div>
        </div>
    </div>

</gisc-ui-component>