﻿<gisc-ui-component>
    <gisc-ui-listview params="selectedIndex:selectedIndex, onItemSelected:goto.bind($data)">
        <item params="text: 'Shipment Servcice', extras: { id: 'serviceTestingShipment' }" />
    </gisc-ui-listview>
</gisc-ui-component>