<svg viewBox="0 0 16 16" class="msportalfx-svg-placeholder" role="img" focusable="false" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M1,2v12h14V2H1z M3,12V6h10v6H3z"></path></svg>