<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 26">
  <defs>
    <style>
      .next-1 {
        fill: #b7d9c8;
      }

      .next-2 {
        fill: #fff;
      }
    </style>
  </defs>
  <g id="btn_next" transform="translate(-1635.569 -474.495)">
    <path id="Path_17" data-name="Path 17" class="next-1" d="M86.2,26H55.8A3.742,3.742,0,0,1,52,22.218V3.782A3.742,3.742,0,0,1,55.8,0H86.2A3.742,3.742,0,0,1,90,3.782V22.218A3.742,3.742,0,0,1,86.2,26Z" transform="translate(1583.569 474.495)"/>
    <path id="Path_18" data-name="Path 18" class="next-2" d="M59.987,15.091,66.4,8.945,59.987,2.8,58.8,3.982l4.987,4.964L58.8,13.909Z" transform="translate(1592.919 478.313)"/>
  </g>
</svg>
