<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26">
  <defs>
    <style>
      .zoomin-1 {
        fill: #b7d9c8;
      }

      .zoomin-2 {
        fill: #757575;
      }
    </style>
  </defs>
  <g id="btn_zoom" transform="translate(-1598.934 -474.495)">
    <path id="Path_22" data-name="Path 22" class="zoomin-1" d="M36.2,22.389A3.7,3.7,0,0,0,39.811,26H58.589A3.7,3.7,0,0,0,62.2,22.389V3.611A3.7,3.7,0,0,0,58.589,0H39.811A3.7,3.7,0,0,0,36.2,3.611ZM38.607,3.611a1.137,1.137,0,0,1,1.2-1.2H58.589a1.137,1.137,0,0,1,1.2,1.2V22.389a1.137,1.137,0,0,1-1.2,1.2H39.811a1.137,1.137,0,0,1-1.2-1.2Z" transform="translate(1562.734 474.495)"/>
    <path id="Path_23" data-name="Path 23" class="zoomin-2" d="M44.478,16.463h2.407V10.685h5.778V8.278H46.885V2.5H44.478V8.278H38.7v2.407h5.778Z" transform="translate(1566.253 478.014)"/>
  </g>
</svg>
