<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><circle class="cls-1" cx="7.39" cy="15.86" r="2.64"/><circle class="cls-1" cx="15.13" cy="15.86" r="2.64"/><circle class="cls-1" cx="22.86" cy="15.86" r="2.64"/></svg>