<svg class="cmd-rectangle-shape" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="-5.1201172 0 27 22" enable-background="new -5.1201172 0 27 22" xml:space="preserve">
<g>
<path d="M3.894043,7.3164063v7.4267578h-7.4233398V7.3164063H3.894043 M5.4848633,5.7241211H-5.1201172v10.6098633
		H5.4848633V5.7241211L5.4848633,5.7241211z" />

</g>
<path d="M21.7158203,15.5214844l-2.4121094-2.4121094c1.6318359-2.4125977,1.3496094-5.6757813-0.7783203-7.8051758
	c-2.4150391-2.4130859-6.3867188-2.4130859-8.8027344,0c-2.4111328,2.4125977-2.4111328,6.3862305,0,8.7993164
	c2.1318359,2.1289063,5.3955078,2.4121094,7.8076172,0.7792969l2.4121094,2.4140625
	c0.4970703,0.4960938,1.2792969,0.4960938,1.7734375,0C22.2148438,16.7988281,22.2148438,16.0195313,21.7158203,15.5214844z
	 M17.0546875,12.6337891c-1.5830078,1.6582031-4.2675781,1.6582031-5.8525391,0
	c-1.6591797-1.6601563-1.6591797-4.2709961-0.0786133-5.9301758c1.6635742-1.6606445,4.2670898-1.6606445,5.8530273,0
	C18.6347656,8.362793,18.6347656,10.9736328,17.0546875,12.6337891z" />

</svg>