<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="22px" height="22px" viewBox="0 0 22 22" enable-background="new 0 0 22 22" xml:space="preserve">
<g>
	<path  d="M11,3.083c-4.971,0-9,4.029-9,9c0,1.18,0.232,2.302,0.645,3.334h16.71C19.767,14.385,20,13.263,20,12.083
		C20,7.112,15.971,3.083,11,3.083z M11,4.417c0.553,0,1,0.448,1,1c0,0.553-0.447,1-1,1s-1-0.447-1-1C10,4.865,10.447,4.417,11,4.417
		z M4.25,13.501c-0.553,0-1-0.447-1-1.001c0-0.552,0.447-1,1-1s1,0.448,1,1C5.25,13.054,4.803,13.501,4.25,13.501z M6.166,8.417
		c-0.553,0-1-0.447-1-1c0-0.552,0.447-1,1-1s1,0.448,1,1C7.166,7.97,6.719,8.417,6.166,8.417z M9.267,12.853l6.364-6.362
		l1.414,1.414l-6.364,6.362L9.267,12.853z M17.719,13.501c-0.553,0-1-0.447-1-1.001c0-0.552,0.447-1,1-1s1,0.448,1,1
		C18.719,13.054,18.271,13.501,17.719,13.501z"/>
	<rect x="4.87" y="16.417"  width="2.166" height="2.5"/>
	<rect x="8.235" y="16.417" width="2.166" height="2.5"/>
	<rect x="11.6" y="16.417"  width="2.166" height="2.5"/>
	<rect x="14.965" y="16.417"  width="2.166" height="2.5"/>
</g>
</svg>
