<svg class="cmd-rectangle-shape" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="-5.1201172 0 27 22" enable-background="new -5.1201172 0 27 22" xml:space="preserve">
<g>
<path d="M3.894043,7.3164063v7.4267578h-7.4233398V7.3164063H3.894043 M5.4848633,5.7241211H-5.1201172v10.6098633
		H5.4848633V5.7241211L5.4848633,5.7241211z" />

</g>
<path d="M20.5791016,10.3222656c-0.0087891-0.1088867-0.0400391-0.2099609-0.0546875-0.3168945
	c-0.015625-0.0942383-0.0283203-0.1889648-0.0488281-0.28125c-0.4736328-2.5112305-2.5390625-4.4311523-5.1386719-4.6430664
	V3.9130859h-0.9589844v1.1679688c-2.6005859,0.2109375-4.6640625,2.1298828-5.1376953,4.6401367
	C9.21875,9.8208008,9.2041016,9.9223633,9.1879883,10.0239258c-0.0136719,0.1005859-0.0429688,0.1958008-0.0512695,0.2983398
	H7.8354492V11.28125h1.2910156c0.1699219,2.8535156,2.4155273,5.1435547,5.2514648,5.3789063v1.296875h0.9589844v-1.296875
	c2.8349609-0.234375,5.0810547-2.5244141,5.2519531-5.3779297h1.2910156v-0.9599609H20.5791016z M15.3369141,15.1357422v-2.2861328
	h-0.9589844v2.2861328c-1.9990234-0.2285156-3.5673828-1.8359375-3.7338867-3.8535156h2.2983398v-0.9599609h-2.2714844
	c0.2773438-1.8925781,1.7958984-3.3681641,3.7070313-3.5869141v2.2851563h0.9589844V6.7348633
	c1.9111328,0.2182617,3.4306641,1.6943359,3.7080078,3.5874023h-2.2724609v0.9599609h2.2988281
	C18.9052734,13.2998047,17.3369141,14.9082031,15.3369141,15.1357422z" />

</svg>