<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="22px" height="22px" viewBox="0 0 22 22" enable-background="new 0 0 22 22" xml:space="preserve">
<g>
	<path d="M15.937,14.041h-0.019l-4.617,4.436l-3.248,0.471l0.509-3.215l1.759-1.691H6.571v-1.35h5.154l1.843-1.771
		H6.571V9.572h8.401l3.781-3.633c0-1.666,0-2.772,0-2.772h-15v18h15v-4.801c0,0,0-2.697,0-5.048l-2.817,2.707V14.041z M6.571,6.451
		h9.365V7.8H6.571V6.451z"/>
	<polygon fill="none" points="19.308,6.779 9.542,16.162 9.481,16.221 9.238,17.764 10.825,17.533 20.475,8.261 20.663,8.081 	"/>
	<path d="M16.338,0.833H1.337v18h1.417V2.167h13.584C16.338,1.338,16.338,0.833,16.338,0.833z"/>
</g>
</svg>
