<svg class="cmd-rectangle-shape" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="-5.1201172 0 27 22" enable-background="new -5.1201172 0 27 22" xml:space="preserve">
<path d="M21.7158203,15.5214844l-2.4121094-2.4121094c1.6318359-2.4125977,1.3496094-5.6757813-0.7783203-7.8051758
	c-2.4150391-2.4130859-6.3867188-2.4130859-8.8027344,0c-2.4111328,2.4125977-2.4111328,6.3862305,0,8.7993164
	c2.1318359,2.1289063,5.3955078,2.4121094,7.8076172,0.7792969l2.4121094,2.4140625
	c0.4970703,0.4960938,1.2792969,0.4960938,1.7734375,0C22.2148438,16.7988281,22.2148438,16.0195313,21.7158203,15.5214844z
	 M17.0546875,12.6337891c-1.5830078,1.6582031-4.2675781,1.6582031-5.8525391,0
	c-1.6591797-1.6601563-1.6591797-4.2709961-0.0786133-5.9301758c1.6635742-1.6606445,4.2670898-1.6606445,5.8530273,0
	C18.6347656,8.362793,18.6347656,10.9736328,17.0546875,12.6337891z" />

<g>
<path d="M6.7929688,6.4926758L6,5.7124023C5.8188477,5.5292969,5.5219727,5.5053711,5.2983398,5.7333984
		l-4.6796875,5.5898438l-2.0991211-1.6088867C-1.6606445,9.546875-1.9575195,9.5395508-2.1538086,9.7197266l-0.7929688,0.7836914
		c-0.0917969,0.0874023-0.1430664,0.2070313-0.1455078,0.3339844c-0.0014648,0.1293945,0.0493164,0.2543945,0.1650391,0.3686523
		l3.2700195,2.703125c0.0898438,0.0791016,0.206543,0.1259766,0.3276367,0.1259766
		c0.1259766,0,0.2446289-0.0488281,0.3574219-0.1591797l5.7641602-6.703125
		c0.0942383-0.0908203,0.1469727-0.2182617,0.1445313-0.3486328C6.9350586,6.6958008,6.8789063,6.5717773,6.7929688,6.4926758z" />

<g>
<polygon points="3.894043,12.8085938 3.894043,14.7431641 -3.5292969,14.7431641 -3.5292969,7.3164063
			2.0493164,7.3164063 3.3759766,5.7241211 -5.1201172,5.7241211 -5.1201172,16.3339844 5.4848633,16.3339844 5.4848633,10.8989258
					" />

	</g>
</g>
</svg>