<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="22px" height="22px" viewBox="0 0 22 22" enable-background="new 0 0 22 22" xml:space="preserve">
<g>
	<polygon  points="4.229,13.314 6.35,15.432 9.188,12.842 9.188,19.367 9.447,19.367 12.555,19.367 12.813,19.367 
		12.813,12.84 15.654,15.432 17.772,13.314 11.001,7.542 	"/>
	<rect x="4.145" y="2.632" width="13.711" height="3.241"/>
</g>
</svg>
