<svg viewBox="0 0 12 12" class="msportalfx-svg-placeholder" role="img" focusable="false" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="1,8.1 1.7,8.9 6,4.6 10.3,8.9 11,8.1 6,3.1"></polygon></svg>