<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32">
  <defs>
    <clipPath id="clip-path">
      <rect width="32" height="32" fill="none"/>
    </clipPath>
  </defs>
  <g id="ic_listvdo_normal" clip-path="url(#clip-path)">
    <rect id="Rectangle_73" data-name="Rectangle 73" width="32" height="32" fill="none"/>
    <rect id="Rectangle_57" data-name="Rectangle 57" width="5.739" height="5.739" rx="2" transform="translate(4 3.25)" />
    <rect id="Rectangle_61" data-name="Rectangle 61" width="5.739" height="5.739" rx="2" transform="translate(4 17.023)" />
    <rect id="Rectangle_60" data-name="Rectangle 60" width="24.102" height="3.443" rx="1.722" transform="translate(4 11.284)" />
    <rect id="Rectangle_64" data-name="Rectangle 64" width="24.102" height="3.443" rx="1.722" transform="translate(4 25.057)" />
    <rect id="Rectangle_58" data-name="Rectangle 58" width="5.739" height="5.739" rx="2" transform="translate(13.182 3.25)" />
    <rect id="Rectangle_62" data-name="Rectangle 62" width="5.739" height="5.739" rx="2" transform="translate(13.182 17.023)" />
    <rect id="Rectangle_59" data-name="Rectangle 59" width="5.739" height="5.739" rx="2" transform="translate(22.364 3.25)" />
    <rect id="Rectangle_63" data-name="Rectangle 63" width="5.739" height="5.739" rx="2" transform="translate(22.364 17.023)" />
  </g>
</svg>
