<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32">
  <defs>
    <clipPath id="clip-path">
      <rect width="32" height="32" fill="none"/>
    </clipPath>
  </defs>
  <g id="ic_tool_live_normal" clip-path="url(#clip-path)">
    <rect id="Rectangle_83" data-name="Rectangle 83" width="32" height="32" fill="none"/>
    <g id="Group_173" data-name="Group 173" transform="translate(-1732 -2106)">
      <g id="Group_167" data-name="Group 167" transform="translate(1733.821 2112.063)">
        <g id="Group_163" data-name="Group 163" transform="translate(0 3.625)">
          <path id="Path_187" data-name="Path 187" d="M651.967,785.926h-19.5a2.048,2.048,0,0,1-2.045-2.045V770.844a2.049,2.049,0,0,1,2.045-2.046h19.5a2.049,2.049,0,0,1,2.046,2.046v13.038a2.048,2.048,0,0,1-2.046,2.045Zm-19.5-15.083v13.038h19.5l0-13.038Z" transform="translate(-630.422 -768.798)" />
        </g>
        <g id="Group_164" data-name="Group 164" transform="translate(22.133 5.595)">
          <path id="Path_188" data-name="Path 188" d="M660.066,783.875a1.029,1.029,0,0,1-.456-.106l-5.6-2.786a1.023,1.023,0,0,1-.567-.916v-5.572a1.021,1.021,0,0,1,.567-.916l5.6-2.784a1.022,1.022,0,0,1,1.478.916v11.142a1.024,1.024,0,0,1-.483.871,1.036,1.036,0,0,1-.539.152Zm-4.578-4.442,3.555,1.769V773.36l-3.555,1.766v4.306Z" transform="translate(-653.442 -770.687)" />
        </g>
        <g id="Group_166" data-name="Group 166" transform="translate(7.386 0)">
          <path id="Path_190" data-name="Path 190" d="M651.888,770.435a1.022,1.022,0,0,1-1.023-1.022,2.048,2.048,0,0,0-2.045-2.046h-7.84a1.022,1.022,0,1,1,0-2.045h7.84a4.093,4.093,0,0,1,4.09,4.091,1.021,1.021,0,0,1-1.022,1.022Z" transform="translate(-639.958 -765.322)" />
        </g>
      </g>
      <g id="Group_168" data-name="Group 168" transform="translate(1738.063 2120.988)">
        <path id="Path_191" data-name="Path 191" d="M615.547,763.951a.593.593,0,0,1-.237-.046.642.642,0,0,1-.195-.132.617.617,0,0,1-.132-.195.6.6,0,0,1-.047-.238V758.03a.6.6,0,0,1,.045-.238.529.529,0,0,1,.123-.183.519.519,0,0,1,.185-.117.63.63,0,0,1,.453,0,.521.521,0,0,1,.185.117.56.56,0,0,1,.125.181.605.605,0,0,1,.046.24v4.911h2.229a.476.476,0,0,1,.2.04.5.5,0,0,1,.161.107.5.5,0,0,1,.107.161.478.478,0,0,1,.04.2.485.485,0,0,1-.04.2.5.5,0,0,1-.268.267.478.478,0,0,1-.2.04Z" transform="translate(-614.937 -757.441)" />
        <path id="Path_192" data-name="Path 192" d="M619.335,758.03a.587.587,0,0,1,.046-.24.544.544,0,0,1,.125-.181.509.509,0,0,1,.185-.117.623.623,0,0,1,.45,0,.543.543,0,0,1,.184.117.562.562,0,0,1,.124.183.586.586,0,0,1,.046.238v5.407a.589.589,0,0,1-.046.238.553.553,0,0,1-.124.183.543.543,0,0,1-.184.117.623.623,0,0,1-.45,0,.509.509,0,0,1-.185-.117.536.536,0,0,1-.125-.181.591.591,0,0,1-.046-.24Z" transform="translate(-614.707 -757.441)" />
        <path id="Path_193" data-name="Path 193" d="M624.235,763.453a.969.969,0,0,1-.12.265.649.649,0,0,1-.173.175.622.622,0,0,1-.216.094,1.143,1.143,0,0,1-.254.027,1.015,1.015,0,0,1-.253-.03.66.66,0,0,1-.213-.1.668.668,0,0,1-.168-.175.933.933,0,0,1-.119-.257l-1.569-5.269a.568.568,0,0,1-.018-.234.536.536,0,0,1,.074-.211.644.644,0,0,1,.15-.17.6.6,0,0,1,.21-.1.688.688,0,0,1,.228-.021.516.516,0,0,1,.21.061.523.523,0,0,1,.171.143.674.674,0,0,1,.108.234l1.177,4.365,1.187-4.355a.649.649,0,0,1,.113-.235.589.589,0,0,1,.173-.148.538.538,0,0,1,.214-.061.7.7,0,0,1,.232.021.6.6,0,0,1,.216.105.629.629,0,0,1,.154.173.613.613,0,0,1,.077.216.577.577,0,0,1-.021.238Z" transform="translate(-614.613 -757.442)" />
        <path id="Path_194" data-name="Path 194" d="M627.312,761.118v1.819H629.5a.521.521,0,0,1,.208.04.5.5,0,0,1,.16.107.471.471,0,0,1,.1.161.533.533,0,0,1,.036.2.542.542,0,0,1-.036.2.477.477,0,0,1-.1.16.5.5,0,0,1-.16.107.522.522,0,0,1-.208.04h-2.741a.594.594,0,0,1-.237-.046.645.645,0,0,1-.195-.131.619.619,0,0,1-.132-.195.6.6,0,0,1-.047-.238v-5.219a.585.585,0,0,1,.047-.234.6.6,0,0,1,.132-.195.628.628,0,0,1,.195-.133.579.579,0,0,1,.237-.049h2.722a.538.538,0,0,1,.208.04.523.523,0,0,1,.161.108.473.473,0,0,1,.1.16.546.546,0,0,1,0,.395.468.468,0,0,1-.1.161.5.5,0,0,1-.161.107.518.518,0,0,1-.208.04h-2.17v1.591h2.019a.571.571,0,0,1,.207.038.5.5,0,0,1,.16.107.487.487,0,0,1,.1.16.578.578,0,0,1,0,.395.479.479,0,0,1-.263.268.531.531,0,0,1-.207.04Z" transform="translate(-614.351 -757.438)" />
      </g>
    </g>
  </g>
</svg>
