<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">

    <path class="cls-1" d="M12.14,15l1.75-1,2-1.11c.48-.27.48-.71,0-1l-2-1.12-1.75-1-2-1.12c-.48-.26-.87-.11-.87.35v6.66c0,.46.39.62.87.35Z"
    />
    <path class="cls-1" d="M22,21.8H2a2,2,0,0,1-2-2V4.2a2,2,0,0,1,2-2H22a2,2,0,0,1,2,2V19.8a2,2,0,0,1-2,2ZM2,4.2V19.8H22V4.2Z"
    />
    <polygon class="cls-1" points="20.66 5.72 18.53 5.72 18.53 7.59 20.66 7.59 20.66 5.72 20.66 5.72" />
    <polygon class="cls-1" points="20.66 9.28 18.53 9.28 18.53 11.16 20.66 11.16 20.66 9.28 20.66 9.28" />
    <polygon class="cls-1" points="20.66 12.84 18.53 12.84 18.53 14.72 20.66 14.72 20.66 12.84 20.66 12.84" />
    <polygon class="cls-1" points="20.66 16.41 18.53 16.41 18.53 18.28 20.66 18.28 20.66 16.41 20.66 16.41" />
    <polygon class="cls-1" points="5.47 5.72 3.34 5.72 3.34 7.59 5.47 7.59 5.47 5.72 5.47 5.72" />
    <polygon class="cls-1" points="5.47 9.28 3.34 9.28 3.34 11.16 5.47 11.16 5.47 9.28 5.47 9.28" />
    <polygon class="cls-1" points="5.47 12.84 3.34 12.84 3.34 14.72 5.47 14.72 5.47 12.84 5.47 12.84" />
    <polygon class="cls-1" points="5.47 16.41 3.34 16.41 3.34 18.28 5.47 18.28 5.47 16.41 5.47 16.41" />
</svg>