<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
 viewBox="0 0 66 66" enable-background="new 0 0 66 66" xml:space="preserve">
<g id="Layer_3">
	<path d="M30.4,12.2l18.3,29.5c0.3,0.7,0.2,1.3-0.3,1.8c-0.3,0.2-0.8,0.3-1.2,0c-6.5-3.2-11.5-3.7-23.4,2.8l6.3,5.1
		c1.3,1.2,1.3,3,0.3,4.3c-0.2,0.2-0.5,0.3-0.7,0.5l0,0c-1.2,0.7-2.7,0.7-3.7-0.3l-8-6.5c-3.8,2.2-8.8,0.8-11-3c0,0,0,0,0-0.2
		c-2.2-3.8-0.8-8.6,3-11c15.6-9.8,17.6-14.6,17.8-22.9c0-0.7,0.7-1.3,1.3-1.2c0.5,0,0.8,0.2,1,0.7L30.4,12.2z M49.8,22.5
		c1.7,2.7,2.5,5.8,2.2,9c0,0.7-0.5,1.3-1,1.8c-1,0.7-2.3,0.3-3-0.7c-0.2-0.3-0.3-0.8-0.3-1.3c0.3-4.5-2.3-8.8-6.5-10.5
		c-0.5-0.2-0.8-0.5-1-0.8c-0.7-1-0.3-2.3,0.7-3c0.7-0.3,1.3-0.3,2,0c2.8,1.2,5.3,3.3,7,6V22.5z M41.7,12.7c-0.7,0-1.3-0.5-1.8-1
		c-0.7-1-0.3-2.3,0.7-3l0,0c0.5-0.3,1-0.3,1.5-0.3c6.1,0.8,11.5,4.6,14.3,10c3.7,5,4.6,11.5,2.8,17.3c-0.2,0.5-0.5,0.8-1,1.2
		c-1,0.7-2.3,0.3-3-0.7l0,0c-0.3-0.7-0.3-1.5,0-2.2c1.3-4.6,0.5-9.6-2.3-13.4c-2.2-4.1-6.3-7.1-11-8L41.7,12.7z"/>
</g>
</svg>
