<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
    <polygon class="cls-1" points="18.63 7.98 18.63 14.37 21.89 17.64 23.29 16.24 20.61 13.55 20.61 7.98 18.63 7.98"
    />
    <path class="cls-1" d="M29.54,12.51A9.92,9.92,0,0,0,12.13,7H15a7.83,7.83,0,0,1,4.61-1.49,8,8,0,0,1,7.89,7h-2l3.07,4,3.07-4Z"
    />
    <path class="cls-1" d="M25.12,19.63a7.85,7.85,0,0,1-3.7,2v2a9.87,9.87,0,0,0,5.06-2.56,9.61,9.61,0,0,0,1.09-1.21L26,18.67A7.86,7.86,0,0,1,25.12,19.63Z"
    />
    <path class="cls-1" d="M11.15,23.31a4.21,4.21,0,0,0-4.19,4c2.44.12,5.52.2,8.39.09A4.2,4.2,0,0,0,11.15,23.31Z" />
    <path class="cls-1" d="M19.47,22.89A3.32,3.32,0,0,0,18,21.39l-3.34-1.54c-.4-.18-.78-.44-1.14-.64l.43-1,.73-1.38a2.43,2.43,0,0,1,.2-.25,3.4,3.4,0,0,0,.62-2.31v-.3a1.63,1.63,0,0,1-.28-1.14,10.54,10.54,0,0,0-.32-2.3,3.07,3.07,0,0,0-2.44-2,4.57,4.57,0,0,0-1.1-.16h-.39a4.57,4.57,0,0,0-1.1.16,3.07,3.07,0,0,0-2.44,2,11.19,11.19,0,0,0-.33,2.3,1.63,1.63,0,0,1-.28,1.14v.3a3.46,3.46,0,0,0,.63,2.31l.2.25.72,1.38.44,1c-.36.2-.74.46-1.14.64L4.28,21.39a3.3,3.3,0,0,0-1.5,1.5,8.93,8.93,0,0,0-1,2.93c-.32.7-.2,1.06.62,1.22,0,0,1,.09,2.58.19a6.14,6.14,0,0,1,12.28.09c.89-.07,1.73-.16,2.51-.28s.94-.52.62-1.22A9.18,9.18,0,0,0,19.47,22.89Z"
    />
</svg>