<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22">
<path class="cls-1" d="M11.76,3l-.59,0V.19l.79,0Z" />
<path class="cls-1" d="M18.42,8.2A7.6,7.6,0,0,0,18,7.1l2.45-1.25A10.31,10.31,0,0,1,21,7.36ZM17,5.61a7.73,7.73,0,0,0-.85-.85L17.9,2.67a10.47,10.47,0,0,1,1.15,1.15ZM14.63,3.76a7.55,7.55,0,0,0-1.11-.46L14.37.69a10.35,10.35,0,0,1,1.51.62Z" />
<path class="cls-1" d="M21.53,10.55H18.79q0-.29,0-.58l2.74-.21Q21.53,10.15,21.53,10.55Z" />
<circle class="cls-2" cx="11.17" cy="10.55" r="1.76" />
<rect class="cls-2" x="10.33" y="4.02" width="1.8" height="6.78" rx="0.63" ry="0.63" />
<rect class="cls-2" x="13.04" y="7.24" width="1.8" height="6.78" rx="0.63" ry="0.63" transform="translate(24.56 -3.31) rotate(90)" />
<path class="cls-2" d="M5.1,13.17a4.32,4.32,0,1,0,4.32,4.32A4.32,4.32,0,0,0,5.1,13.17Zm.64,6.3a.64.64,0,0,1-.33.33.58.58,0,0,1-.24,0,.59.59,0,0,1-.24,0,.63.63,0,0,1-.2-.13.61.61,0,0,1-.13-.19.61.61,0,0,1,0-.48.61.61,0,0,1,.13-.19.63.63,0,0,1,.2-.13.59.59,0,0,1,.24,0,.58.58,0,0,1,.24,0,.64.64,0,0,1,.33.33.6.6,0,0,1,0,.48Zm.08-3.21L5.61,18a.48.48,0,0,1,0,.16.3.3,0,0,1-.09.11.36.36,0,0,1-.13.06l-.16,0-.16,0a.35.35,0,0,1-.13-.06.3.3,0,0,1-.09-.11A.52.52,0,0,1,4.75,18l-.22-1.77v-1a.62.62,0,0,1,.17-.47.67.67,0,0,1,.48-.16.67.67,0,0,1,.48.16.62.62,0,0,1,.17.47Z" />
<path class="cls-2" d="M3.64,11.65a7.55,7.55,0,0,1,7.52-8.71V.19a10.32,10.32,0,0,0-10,12.86A5.76,5.76,0,0,1,3.64,11.65Z" />
<path class="cls-2" d="M18.78,10.55a7.62,7.62,0,0,1-7.61,7.61l-.35,0a5.74,5.74,0,0,1-1.15,2.64A10.28,10.28,0,0,0,21.52,10.55Z" /></svg>