<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22">
    <path class="cls-1" d="M17.49,21H5.09a3.5,3.5,0,0,1-3.5-3.5V5.1a3.5,3.5,0,0,1,3.5-3.5h12.4A3.5,3.5,0,0,1,21,5.1V17.5A3.5,3.5,0,0,1,17.49,21ZM5.09,3.9a1.21,1.21,0,0,0-1.2,1.2V17.5a1.21,1.21,0,0,0,1.2,1.2h12.4a1.21,1.21,0,0,0,1.2-1.2V5.1a1.21,1.21,0,0,0-1.2-1.2Z" />
    <polygon class="cls-1" points="15.33 10.22 12.65 10.22 14.3 6.07 10.08 6.1 7.96 11.25 10.12 11.25 8.02 17.46 15.33 10.22" />
</svg>
