<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="44px" height="44px" viewBox="0 0 44 44" enable-background="new 0 0 44 44" xml:space="preserve">
<g>
	<path d="M18.81,27.369l8.822,2.313l-9.984-16.594l-2.325,8.487c-0.172,0.063-0.338,0.14-0.505,0.231l-9.081,5.031
		C4.064,27.765,3.5,29.829,4.475,31.45c0.656,1.09,1.844,1.701,3.059,1.701c0.591,0,1.188-0.145,1.734-0.447l0.425-0.236
		l7.709,4.313c0.276,0.154,0.579,0.229,0.894,0.229c0.829,0,1.714-0.516,2.236-1.395c0.722-1.209,0.487-2.646-0.52-3.211
		l-5.075-2.84l3.412-1.891C18.516,27.583,18.667,27.479,18.81,27.369z M17.381,25.923l-3.412,1.893l-3.145,1.74l3.136,1.754
		l4.986,2.789c0.012,0.084,0,0.268-0.134,0.49c-0.169,0.285-0.392,0.395-0.49,0.416l-7.653-4.283l-0.971-0.543L8.724,30.72
		L8.3,30.954c-0.232,0.131-0.496,0.195-0.767,0.195c-0.558,0-1.072-0.279-1.345-0.732c-0.184-0.307-0.237-0.662-0.148-0.998
		c0.095-0.352,0.33-0.645,0.666-0.832l9.084-5.031c0.071-0.041,0.146-0.074,0.22-0.101l0.971-0.354l0.273-0.998l1.09-3.982
		l5.04,8.38l-4.065-1.066l-0.959-0.252l-0.781,0.608C17.518,25.843,17.449,25.885,17.381,25.923z"/>
	<path d="M21.622,11.208c-0.258-0.431-0.728-0.668-1.208-0.668c-0.235,0-0.476,0.057-0.692,0.178
		c-0.665,0.368-0.894,1.186-0.511,1.823l9.74,16.186c0.256,0.43,0.725,0.668,1.206,0.668c0.234,0,0.476-0.057,0.692-0.18
		c0.665-0.367,0.894-1.184,0.511-1.823L21.622,11.208z"/>
	<path d="M37.655,13.839c-1.809-3.008-4.438-5.336-7.6-6.735c-0.636-0.282-1.402-0.015-1.711,0.591
		c-0.309,0.609-0.045,1.331,0.588,1.61c2.693,1.193,4.938,3.189,6.492,5.77c1.547,2.569,2.239,5.539,1.954,8.357
		c-0.068,0.668,0.445,1.25,1.149,1.301c0.27,0.021,0.528-0.042,0.751-0.167c0.351-0.192,0.603-0.54,0.645-0.95
		C40.269,20.257,39.481,16.877,37.655,13.839z"/>
	<path d="M28.167,12.084c-0.636-0.282-1.399-0.018-1.711,0.591c-0.309,0.609-0.045,1.327,0.588,1.609
		c1.565,0.692,2.869,1.854,3.774,3.356c0.9,1.496,1.304,3.225,1.138,4.861c-0.068,0.668,0.448,1.25,1.149,1.301
		c0.273,0.018,0.531-0.045,0.751-0.167c0.354-0.192,0.605-0.54,0.647-0.953c0.22-2.155-0.285-4.326-1.455-6.277
		C31.888,14.478,30.201,12.985,28.167,12.084z"/>
</g>
</svg>
