<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="44px" height="44px" viewBox="0 0 44 44" enable-background="new 0 0 44 44" xml:space="preserve">
<g>
	<rect x="12.6" y="18.8" width="14.8" height="2.3"/>
	<rect x="12.6" y="24.8" width="14.8" height="2.3"/>
	<rect x="12.6" y="30.8" width="14.8" height="2.3"/>
	<path d="M31.4,7.1V4.5H29v2.6h-3.8V4.5h-2.5v2.6h-3.7V4.5h-2.5v2.6h-4V11h-4v28.5h22.9v-3.9h4v-7.2V14V7.1H31.4z
		 M29.4,18.8V32v5.5H10.5V13h18.9V18.8z M33.5,14v14.5v5.2h-2V32c0,0,0-11.3,0-13.2c0-4.4,0-7.8,0-7.8H14.6V9.1h18.9V14z"/>
</g>
</svg>
