<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 21" enable-background="new 0 0 32 21" xml:space="preserve"> <g> <g> <path d="M19,11.9c-0.8,0-1.5,0.5-1.9,1.2H5.3v0c-2,0-3.6-1.7-3.6-3.7s1.6-3.7,3.6-3.7v0h0h0H7
                        C7,5.3,7.2,4.9,7.3,4.5c0.1-0.1,0.1-0.3,0.2-0.4c0.8-1.5,2.4-2.5,4.2-2.5c1.6,0,3,0.8,3.9,2c0.5-0.2,1-0.4,1.6-0.5
                        C16.1,1.2,14.1,0,11.7,0c-2.7,0-5,1.7-6,4.1c0,0,0,0,0,0l0,0c0,0,0,0,0,0H5.3C2.4,4.1,0,6.5,0,9.5c0,3,2.4,5.3,5.3,5.3h11.9
                        c0.3,0.7,1,1.2,1.9,1.2c1.1,0,2-0.9,2-2.1S20.2,11.9,19,11.9z"></path> <path d="M25.6,7.8c-1.2-2.4-3.7-4.1-6.5-4.1c-3.5,0-6.4,2.5-7.1,5.8c-1.7,0.2-3.2,1.1-4.1,2.4h8.7
                        c0.6-0.8,1.5-1.2,2.5-1.2c1.8,0,3.2,1.5,3.2,3.3s-1.5,3.3-3.2,3.3c-1,0-1.9-0.5-2.5-1.2H6.9c0.4,2.8,2.8,5,5.6,5c0,0,0,0,0,0v0h13
                        v0c0,0,0,0,0,0c3.6,0,6.5-2.9,6.5-6.6C32,10.8,29.1,7.9,25.6,7.8z"></path> </g> </g> </svg>