﻿<gisc-ui-component>
    <!--CustomArea-->
        <gisc-ui-label params="for: 'ddCustomArea', text: i18n('Configurations_InsideArea')"></gisc-ui-label>
        <gisc-ui-dropdown params="id: 'ddCustomArea',
                              options: customAreas,
                              optionsText: 'name',
                              optionsCaption: '',
                              value: selectedCustomArea"></gisc-ui-dropdown>
    <!--CustomAreaType-->
        <gisc-ui-label params="for: 'ddCustomAreaType', text: i18n('Configurations_InsideAreaType')"></gisc-ui-label>
        <gisc-ui-dropdown params="id: 'ddCustomAreaType',
                              options: customAreaTypes,
                              optionsText: 'displayName',
                              optionsCaption: '',
                              value: selectedCustomAreaType"></gisc-ui-dropdown>
    <!--CustomAreaCategory-->
        <gisc-ui-label params="for: 'ddCustomAreaCategory', text: i18n('Configurations_InsideAreaCategory')"></gisc-ui-label>
        <gisc-ui-dropdown params="id: 'ddCustomAreaCategory',
                              options: customAreaCategories,
                              optionsText: 'name',
                              optionsCaption: '',
                              value: selectedCustomAreaCategory"></gisc-ui-dropdown>



</gisc-ui-component>