﻿<gisc-ui-component>
     <section>
        <h3 class="gisc-section-header" data-bind="text: i18n('Configurations_AssociatedAssets')"></h3>    
        <!--Vehicle-->
        <div data-bind="visible: visibleVehicle">
            <gisc-ui-label params="text:i18n('Common_Vehicle')"/>
            <gisc-ui-datatable params="
                id: 'dtVehiclesAsset',
                datasource: vehicles,
                columns: [
                    { type: 'label', title: 'i18n:Common_License', data: 'license' }
                ],
                order: orderVehicles,
                rowId: 'id',
                showRowSelector: true,
                selectedRows: selectedVehicles,
                showFilter: false
                " />

        </div>
        <!--Delivery Men-->
        <div data-bind="visible: visibleDeliveryMen">
            <gisc-ui-label params="text:i18n('Common_DeliveryMen')"/>
            <gisc-ui-datatable params="
                id: 'dtUsersAsset',
                datasource: users,
                columns: [
                    { type: 'label', title: 'i18n:Common_Username', data: 'username' }
                ],
                order: orderUsers,
                rowId: 'id',
                showRowSelector: true,
                selectedRows: selectedDeliveryMen,
                showFilter: false
                " />
        </div>
    </section>
</gisc-ui-component>