﻿<gisc-ui-component>
    <div data-bind="attr: { id: id }">
        <gisc-ui-textbox params="id: 'txtSearch', value:searchText, type:'search', placeholder:i18n('PHSearchBy012'), immediateValueUpdate: true"></gisc-ui-textbox>
        <!-- ko if: results().length -->
        <div data-bind="foreach: results">
            <!-- ko if: $data.length -->
            <div data-bind="foreach: $data">
                <!-- ko if: $data.vehicle -->
                <div data-bind="with: $data.vehicle">
                    <div class="dataTables_wrapper">
                        <div class="dataTables_scroll">
                            <div class="dataTables_scrollHead">
                                <div class="dataTables_scrollHeadInner">
                                    <h3 class="gisc-section-header" data-bind="text: businessUnitPath"></h3>
                                    <table data-bind="attr:{ id: dtId, 'data-type-table': entityType }" class="gisc dataTable">
                                        <thead>
                                            <tr class="tbheader">
                                                <th width="20%" class="checkboxAll">
                                                    <div class="app-checkBox-contain-dt">
                                                        <label class="app-checkBox-control-dt control-checkbox-dt">
                                                            <input type="checkbox" class="dt-checkbox-master all"
                                                                   data-bind="attr: {
                                                                id: $data.vehicleId
                                                            }" />
                                                            <div class="app-control-dt-indicator app-input">
                                                                <!-- ko component: 'svg-control-checkbox-checked' --><!-- /ko -->
                                                            </div>
                                                        </label>
                                                    </div>
                                                </th>
                                                <th width="30%" data-bind="text:$parents[2].i18n('Common_License')"></th>
                                                <th width="30%" data-bind="text:$parents[2].i18n('Assets_SerialNo')"></th>
                                                <th width="20%" data-bind="text:$parents[2].i18n('Assets_DefaultOverSpeedLimit')"></th>
                                            </tr>
                                        </thead>
                                        <tbody class="AlertConfigurationFindAssetFilter" data-bind="foreach: assets">
                                            <tr class="tbbody" style="word-break: break-all;">
                                                <td width="20%" class="checkbox">
                                                    <div class="app-checkBox-contain-dt">
                                                        <label class="app-checkBox-control-dt control-checkbox-dt">
                                                            <input type="checkbox" class="dt-checkbox-master"
                                                                   data-bind="attr: {
                                                                id: $data.vehicleId
                                                            }" />
                                                            <div class="app-control-dt-indicator app-input">
                                                                <!-- ko component: 'svg-control-checkbox-checked' --><!-- /ko -->
                                                            </div>
                                                        </label>
                                                    </div>
                                                </td>
                                                <div>
                                                <td width="30%">
                                                    <label data-bind="text:vehicleLicense, attr:{ id: $data.vehicleId }"></label>
                                                </td>
                                                <td width="30%">
                                                    <label data-bind="text:serialNo "></label>
                                                </td>
                                                <td width="20%">
                                                    <label data-bind="text:formatDefaultOverSpeed"></label>
                                                </td>
                                                </div>
                                                
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko if: $data.deliveryMan -->
                <div data-bind="with: $data.deliveryMan">
                    <div class="dataTables_wrapper">
                        <div class="dataTables_scroll">
                            <div class="dataTables_scrollHead">
                                <div class="dataTables_scrollHeadInner">
                                    <h3 class="gisc-section-header" data-bind="text: businessUnitPath"></h3>
                                    <table data-bind="attr:{ id: dtId, 'data-type-table': entityType }" class="gisc dataTable">
                                        <thead>
                                            <tr class="tbheader">
                                                <th width="20%" class="checkboxAll">
                                                    <div class="app-checkBox-contain-dt">
                                                        <label class="app-checkBox-control-dt control-checkbox-dt">
                                                            <input type="checkbox" class="dt-checkbox-master all"
                                                                   data-bind="attr: {
                                                                id: $data.deliveryManId
                                                            }" />
                                                            <div class="app-control-dt-indicator app-input">
                                                                <!-- ko component: 'svg-control-checkbox-checked' --><!-- /ko -->
                                                            </div>
                                                        </label>
                                                    </div>
                                                </th>
                                                <th width="30%" data-bind="text:$parents[2].i18n('Common_Username')"></th>
                                                <th width="50%" data-bind="text:$parents[2].i18n('Assets_SerialNo')"></th>
                                            </tr>
                                        </thead>
                                        <tbody class="AlertConfigurationFindAssetFilter" data-bind="foreach: assets">
                                            <tr class="tbbody">
                                                <td width="20%" class="checkbox">
                                                    <div class="app-checkBox-contain-dt">
                                                        <label class="app-checkBox-control-dt control-checkbox-dt">
                                                            <input type="checkbox" class="dt-checkbox-master"
                                                                   data-bind="attr: {
                                                                id: $data.deliveryManId
                                                            }" />
                                                            <div class="app-control-dt-indicator app-input">
                                                                <!-- ko component: 'svg-control-checkbox-checked' --><!-- /ko -->
                                                            </div>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td width="40%">
                                                    <label data-bind="text:username, attr:{ id: $data.deliveryManId }"></label>
                                                </td>
                                                <td width="50%">
                                                    <label data-bind="text:serialNo"></label>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
                <!-- /ko -->
            </div>
            <!-- /ko -->
        </div>
        <!-- /ko -->
        <!-- ko ifnot: results().length -->
        <p data-bind="text: i18n('M110')"></p>
        <!-- /ko -->
    </div>
</gisc-ui-component>