﻿<gisc-ui-component>

        <gisc-ui-label params="for: 'ddBusinessUnit', text: i18n('Dashboard_Truck_Status_Business_Unit'), isRequired: false"></gisc-ui-label>
        <gisc-ui-dropdowntree params=" id: 'ddBusinessUnit',
                                        options:businessUnitList,
                                        optionsID:'id',
                                        optionsText:'name',
                                        optionsParent:'parentBusinessUnitId',
                                        optionsChildren:'childBusinessUnits',
                                        value:businessUnit,
                                        mode:'update'" />
    
    </gisc-ui-component>