﻿<gisc-ui-component>
    <gisc-ui-label params="for: 'dtInputToTime', text: i18n('Configuration_DaysOfWeek')"></gisc-ui-label>
    <div style="width:100%">
        <div style="width:45%;float:left;">
            <gisc-ui-checkbox params="text: i18n('Common_Allday'), checked:enableOnAllDay" />
        </div>
        <div style="width:45%;float:right;">
            <gisc-ui-checkbox params="text: i18n('Common_DayMon'), checked:enableOnMonday" />
        </div>
    </div>
    <div style="width:100%">
        <div style="width:45%;float:left;">
            <gisc-ui-checkbox params="text: i18n('Common_DayTue'), checked:enableOnTuesday" />
        </div>
        <div style="width:45%;float:right;">
            <gisc-ui-checkbox params="text: i18n('Common_DayWed'), checked:enableOnWednesday" />
        </div>
    </div>
    <div style="width:100%">
        <div style="width:45%;float:left;">
            <gisc-ui-checkbox params="text: i18n('Common_DayThu'), checked:enableOnThursday" />
        </div>
        <div style="width:45%;float:right;">
            <gisc-ui-checkbox params="text: i18n('Common_DayFri'), checked:enableOnFriday" />
        </div>
    </div>
    <div style="width:100%">
        <div style="width:45%;float:left;">
            <gisc-ui-checkbox params="text: i18n('Common_DaySat'), checked:enableOnSaturday" data-bind="validationOptions: { insertMessages: false}"/>
        </div>
        <div style="width:45%;float:right;">
            <gisc-ui-checkbox params="text: i18n('Common_DaySun'), checked:enableOnSunday" />
        </div>
    </div>

    <gisc-ui-label params="for: 'dtInputToTime', text: i18n('Configuration_Duration')"></gisc-ui-label>
    <div style="width:100%">
        <div style="width:45%;float:left;">
            <div class="app-textBox-wrapper">
                <input type="time" data-bind="value:startTime, attr: { id:id, class:'app-input'} ">
            </div>
        </div>
        <div style="width:45%;float:right;">
            <div class="app-textBox-wrapper">
                <input type="time" data-bind="value:endTime, attr: { id:id, class:'app-input'} ">
            </div>
        </div>
    </div>
    <gisc-ui-label style="color: #d34f4f;font-size: 0.8em;" data-bind="validationMessage: enableOnSaturday"></gisc-ui-label>
</gisc-ui-component>