﻿<gisc-ui-component>
    <!-- Type -->
    <gisc-ui-label params="for: 'ddType', text: i18n('Configurations_Type'), isRequired: true"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddType',
                              options: alertTypes,
                              optionsText: 'displayName',
                              value: selectedAlertType,
                              optionsCaption: '',
                              enable: enableType,
                              type: 'filter'
                              ">
    </gisc-ui-dropdown>

    <!-- Turn Option -->
    <!-- ko if: isVisibleDirection -->
    <gisc-ui-label params="for: 'ddTurnOptions', text: i18n('Configurations_Direction') "></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddTurnOptions',
                              options: turnOptions,
                              optionsText: 'displayName',
                              value: selectedTurnOption
                              "/>
    <!-- /ko -->

    <div style="padding-bottom: 10px;" data-bind="visible: visibleMinSpeed() || visibleMaxSpeed()">
        <fieldset style="border: 0.5px solid #a3a5a8; padding: 0 0 0 10px;">
            <legend><gisc-ui-label params="text: i18n('Configurations_ActivationSpeed')"/></legend>
            <div data-bind="visible: visibleMinSpeed">
                <gisc-ui-label params="for: 'txtMinSpeed', text: i18n('Configurations_MinSpeed'), isRequired: true" />
                <gisc-ui-textbox
                    params="id: 'txtMinSpeed', value:inputMinSpeed ,filter:{type :'numeric' ,numericType:'int'}, maxlength:5">
                </gisc-ui-textbox>
            </div>

            <div data-bind="visible: visibleMaxSpeed">
                <gisc-ui-label params="for: 'txtMaxSpeed', text: i18n('Configurations_MaxSpeed'), isRequired: true" />
                <gisc-ui-textbox
                    params="id: 'txtMaxSpeed', value:inputMaxSpeed ,filter:{type :'numeric' ,numericType:'int'}, maxlength:5">
                </gisc-ui-textbox>
            </div>
        </fieldset>
    </div>

    <div style="padding-bottom: 10px;" data-bind="visible: visibleMinRPM() || visibleMaxRPM()">
        <fieldset style="border: 0.5px solid #a3a5a8; padding: 0 0 0 10px;">
            <legend><gisc-ui-label params="text: i18n('Configurations_AuthorizedRPM')"/></legend>
            <div data-bind="visible: visibleMinRPM">
                <gisc-ui-label params="for: 'txtMinRPM', text: i18n('Configurations_MinRPM'), isRequired: true" />
                <gisc-ui-textbox
                    params="id: 'txtMinRPM', value:inputMinRPM ,filter:{type :'numeric' ,numericType:'int'}, maxlength:5">
                </gisc-ui-textbox>
            </div>

            <div data-bind="visible: visibleMaxRPM">
                <gisc-ui-label params="for: 'txtMaxRPM', text: i18n('Configurations_MaxRPM'), isRequired: true" />
                <gisc-ui-textbox
                    params="id: 'txtMaxRPM', value:inputMaxRPM ,filter:{type :'numeric' ,numericType:'int'}, maxlength:5">
                </gisc-ui-textbox>
            </div>
        </fieldset>
    </div>

    <!-- ManeuverLevel -->
    <!-- ko if:visibleManeuverLevel-->
    <gisc-ui-label params="for: 'ddMlevel', text: i18n('Configurations_ManeuverLevel') "></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddMlevel',
                              options: mlItem,
                              optionsText: 'name',
                              value: selectedML
                              "/>
    <!-- /ko -->

    <!-- ko if:isVisibleMinDuration -->
    <!-- Minimum Duration -->
    <gisc-ui-label params="for: 'txtMinimumDuration', text: i18n('Configurations_MinimumDuration'), isRequired: true" />
    <gisc-ui-textbox
        params="id: 'txtMinimumDuration', value:inputMinimumDuration ,filter:{type :'numeric' ,numericType:'int',min: 1,max: 999}" />
    <!-- /ko -->

    <!-- Custom Fields -->
    <div data-bind="visible: visibleFeatureUnit">
        <gisc-ui-label params="for: 'ddFeatureUnit', text: i18n('Common_Feature'), isRequired: true"></gisc-ui-label>
        <gisc-ui-dropdown params="id: 'ddFeatureUnit',
                              options: features,
                              optionsText: 'name',
                              optionsCaption: '',
                              value: selectedFeatureUnit"></gisc-ui-dropdown>
    </div>
    <div data-bind="visible: visibleDecimal">
        <gisc-ui-label params="for: 'txtDecimal',text:labelDecimal, isRequired: true" />
        <gisc-ui-textbox
            params="id: 'txtDecimal', value:inputDecimal ,filter:{type :'numeric' ,numericType:'float', maxDecimalPlaces: 2 ,min:0.01}">
        </gisc-ui-textbox>
    </div>
    <div data-bind="visible: visibleInfoOverSpeed">
        <gisc-ui-label params="for: 'txtOverSpeedDelay',text:i18n('Configurations_OverSpeedDelay'), isRequired: true" />
        <gisc-ui-textbox
            params="id: 'txtOverSpeedDelay', value:overspeedDelay ,filter:{type :'numeric' ,numericType:'int'}">
        </gisc-ui-textbox>

        <!-- Alert Repeating -->
        <gisc-ui-label params="text:i18n('Configurations_AlertRepeating')" />
        <gisc-ui-checkbox params="text: i18n('Configurations_OnlyFirstTime'), checked:enableRepeatAlert" />
    </div>
    <div data-bind="visible: visibleInteger">
        <gisc-ui-label params="for: 'txtInteger',text:labelInteger, isRequired: true" />
        <gisc-ui-textbox
            params="id: 'txInteger', value:inputInteger ,filter:{type :'numeric' ,numericType:'int', min:1}">
        </gisc-ui-textbox>
    </div>
    <div data-bind="visible: visibleIntegerMax24">
        <gisc-ui-label params="for: 'txtIntegerMax24',text:labelIntegerMax24, isRequired: true" />
        <gisc-ui-tooltip params="text: i18n('I033')" />
        <gisc-ui-textbox
            params="id: 'txIntegerMax24', value:inputIntegerMax24 ,filter:{type :'numeric' ,numericType:'int', min:1, max:1440}">
        </gisc-ui-textbox>
    </div>
    <div data-bind="visible: visibleExceedLimitDrivingVehicle">
        <gisc-ui-label params="for: 'txtParkingExceed',text:i18n('Configurations_ParkingTime'), isRequired: true" />
        <gisc-ui-textbox
            params="id: 'txtParkingExceed', value:parkingExceed ,filter:{type :'numeric' ,numericType:'int'}">
        </gisc-ui-textbox>
    </div>

    <div data-bind="visible: visibleDecimalAllowNegative">
        <gisc-ui-label params="for: 'txtDecimalAllowNegative',text:labelDecimalAllowNegative, isRequired: true" />
        <gisc-ui-textbox
            params="id: 'txtDecimalAllowNegative', value:inputDecimalAllowNegative ,filter:{type :'numeric' ,numericType:'float', maxDecimalPlaces: 2, allowNegative: true}">
        </gisc-ui-textbox>
    </div>
    <div data-bind="visible: visibleDecimalLessThan100">
        <gisc-ui-label params="for: 'txtDecimalLessThan100',text:labelDecimalLessThan100, isRequired: true" />
        <gisc-ui-textbox
            params="id: 'txtDecimalLessThan100', value:inputDecimalLessThan100 ,filter:{type :'numeric' ,numericType:'float', maxDecimalPlaces: 2 ,min:0.01, max:100}">
        </gisc-ui-textbox>
    </div>

    <!-- Move Duration for Unusual Fuel -->
    <div data-bind="visible: visibleMoveDurationUnusualFuel">
        <gisc-ui-label params="for: 'txtMoveDUrationUnusualFuel',text:i18n('Configurations_MoveDuration')" />
        <gisc-ui-textbox
            params="id: 'txtMoveDUrationUnusualFuel', value:moveDurationUnusualFuel ,filter:{type :'numeric' ,numericType:'int',max:99}">
        </gisc-ui-textbox>
    </div>

    <div data-bind="visible: visibleCustomPoi">
        <gisc-ui-label params="for: 'ddCustomPoi', text: i18n('Configurations_CustomPOI')"></gisc-ui-label>
        <gisc-ui-dropdown params="id: 'ddCustomPoi',
                              options: customPoiList,
                              optionsText: 'name',
                              optionsCaption: '',
                              value: selectedCustomPoi"></gisc-ui-dropdown>
    </div>
    <div data-bind="visible: visibleCustomPoiCategory">
        <gisc-ui-label params="for: 'ddCustomPoiCategory', text: i18n('Configurations_CustomPOICategory')">
        </gisc-ui-label>
        <gisc-ui-dropdown params="id: 'ddCustomPoiCategory',
                              options: customPoiCategories,
                              optionsText: 'name',
                              optionsCaption: '',
                              value: selectedCustomPoiCategory"></gisc-ui-dropdown>
    </div>
    <div data-bind="visible: visibleAlertParkingType">
        <gisc-ui-label params="for: 'ddAlertParkingType', text: i18n('Common_ParkingType'), isRequired: true">
        </gisc-ui-label>
        <gisc-ui-dropdown params="id: 'ddAlertParkingType',
                              options: alertParkingTypes,
                              optionsText: 'displayName',
                              optionsCaption: '',
                              value: selectedAlertParkingType"></gisc-ui-dropdown>
        <div data-bind="visible: visibleOverTimeParkLimit">
            <gisc-ui-label params="for: 'txInputOverTimeParkLimit',text:i18n('Common_Duration'), isRequired: true" />
            <gisc-ui-textbox
                params="id: 'txInputOverTimeParkLimit', value:inputOverTimeParkLimit ,filter:{type :'numeric' ,numericType:'int', min:1}">
            </gisc-ui-textbox>
        </div>
    </div>
    <div data-bind="visible: visibleCustomArea">
        <gisc-ui-label params="for: 'ddCustomArea', text: i18n('Configurations_CustomArea')"></gisc-ui-label>
        <gisc-ui-dropdown params="id: 'ddCustomArea',
                              options: customAreas,
                              optionsText: 'name',
                              optionsCaption: '',
                              value: selectedCustomArea"></gisc-ui-dropdown>
        <gisc-ui-label params="for: 'ddCustomAreaType', text: i18n('Common_CustomAreaType')"></gisc-ui-label>
        <gisc-ui-dropdown params="id: 'ddCustomAreaType',
                              options: customAreaTypes,
                              optionsText: 'displayName',
                              optionsCaption: '',
                              value: selectedCustomAreaType"></gisc-ui-dropdown>
    </div>

    <!-- ///////////////// Datatable for Unathorized Stop ////////////////////////// -->
    <!-- <div data-bind="visible: visibleUnauthorizedStop" > -->
    <div data-bind="if: visibleUnauthorizedStop">
        <!-- ///Allow/// -->
        <div class="field-table-title">
            <gisc-ui-label params="for: 'bo-config-alert-allow',text: i18n('Unathorized_Allow')"></gisc-ui-label>
        </div>
        <div class="field-table-content">
            <gisc-ui-datatable params="
                    id: 'bo-config-alert-allow',
                    datasource: allowList,
                    columns: [

                        { type: 'label', title: 'i18n:Unathorized_Stop_Name',  data: 'conditionForDisplay', orderable: false },
                        { type: 'label', title: '', data: 'categoryTypeName', orderable: false },
                        { type: 'label', title: '', data: 'categoryNameLst', orderable: false },
                        { type: 'label', title: '', data: 'parkingDurationForDisplay', orderable: false },

                    ],

                    selectable: true,
                    onSelectingRow: _allowSelectingRowHandler,
                    order: false,
                    rowId: 'dataId',
                    removable: true
                    " />
        </div>
        <span data-bind="validationMessage: allowList" class="ko-block-msg-err"></span>
        <div class="field-table-commands unathorized-table-button">
            <a class="inline-cmd" data-bind="click: addAllow">
                <i class="fa fa-plus" aria-hidden="true"></i> <span data-bind="text:i18n('Common_Add')"></span>
            </a>
        </div>
        <!-- /////Not Allow/////    -->
        <div class="field-table-title">
            <gisc-ui-label params="for: 'bo-config-alert-not-allow',text: i18n('Unathorized_Not_Allow')">
            </gisc-ui-label>
        </div>
        <div class="field-table-content">

            <gisc-ui-datatable params="
                        id: 'bo-config-alert-not-allow',

                        datasource: notAllowList,
                        columns: [

                        { type: 'label', title: 'i18n:Unathorized_Stop_Name',  data: 'conditionForDisplay', orderable: false },
                        { type: 'label', title: '', data: 'categoryTypeName', orderable: false },
                        { type: 'label', title: '', data: 'categoryNameLst', orderable: false },
                        { type: 'label', title: '', data: 'speedTypeForDisplay', orderable: false },

                        ],
                        selectable: true,
                        onSelectingRow:_notAllowSelectingRowHandler,
                        order: false,
                        rowId: 'dataId',
                        removable: true
                        " />
        </div>
        <span data-bind="validationMessage: notAllowList" class="ko-block-msg-err"></span>
        <div class="field-table-commands unathorized-table-button">
            <a class="inline-cmd" data-bind="click: addNotAllow">
                <i class="fa fa-plus" aria-hidden="true"></i> <span data-bind="text:i18n('Common_Add')"></span>
            </a>
        </div>

        <!-- ////// Stop Over Time ///// -->
        <div class="field-table-title">
            <gisc-ui-label
                params="for: 'bo-config-alert-stop-over-time',text: i18n('Unathorized_Stop_Overtime_Province')">
            </gisc-ui-label>
        </div>
        <div class="field-table-content">

            <gisc-ui-datatable params="
                        id: 'bo-config-alert-stop-over-time',

                        datasource: stopOvertimeList,
                        columns: [

                            { type: 'label', title: 'i18n:Unathorized_Stop_Name',  data: 'provinceGroupName',searchable: false, orderable: false },
                            { type: 'label', title: '', data: 'selectedProvinceForDisplay', orderable: false },
                            { type: 'label', title: '', data: 'stopDuration', orderable: false },


                        ],
                        selectable: true,
                        onSelectingRow:_stopOvertimeSelectingRowHandler,
                        order: false,
                        rowId: 'dataId',
                        removable: true
                        " />
        </div>
        <span data-bind="validationMessage: stopOvertimeList" class="ko-block-msg-err"></span>
        <div class="field-table-commands unathorized-table-button">
            <a class="inline-cmd" data-bind="click: addStopOvertimeProvince">
                <i class="fa fa-plus" aria-hidden="true"></i> <span data-bind="text:i18n('Common_Add')"></span>
            </a>
        </div>
    </div>

    <!-- //////////////////////////////////////////////////////////////////////// -->

    <div data-bind="visible: visibleCustomAreaCategories">
        <gisc-ui-label params="for: 'ddCustomAreaCategory', text: i18n('Configurations_CustomAreaCategory')">
        </gisc-ui-label>
        <gisc-ui-dropdown params="id: 'ddCustomAreaCategory',
                              options: customAreaCategories,
                              optionsText: 'name',
                              optionsCaption: '',
                              value: selectedCustomAreaCategory"></gisc-ui-dropdown>

    </div>
    <div data-bind="visible: visibleAreaParkingType">
        <gisc-ui-label params="for: 'ddAreaParkingType', text: i18n('Configurations_StopType'), isRequired: true">
        </gisc-ui-label>
        <gisc-ui-dropdown params="id: 'ddAreaParkingType',
                              options: areaParkingTypes,
                              optionsText: 'displayName',
                              optionsCaption: '',
                              value: selectedAreaParkingType"></gisc-ui-dropdown>
    </div>
    <div data-bind="visible: visibleDrivingType">
        <gisc-ui-label params="for: 'ddDrivingType', text: i18n('Common_Movement'), isRequired: true"></gisc-ui-label>
        <gisc-ui-dropdown params="id: 'ddDrivingType',
                              options: drivingTypes,
                              optionsText: 'displayName',
                              optionsCaption: '',
                              value: selectedDrivingType"></gisc-ui-dropdown>
    </div>
    <div data-bind="visible: visibleTime">
        <gisc-ui-label
            params="for: 'dtInputFromTime', text: i18n('Configurations_WorkingPeriodForm'), isRequired: true">
        </gisc-ui-label>
        <gisc-ui-datetime params="
                        id: 'dtInputFromTime',
                        value:inputFromTime,
                        mode: 'time',
                        timeRange:true" />
        <gisc-ui-label params="for: 'dtInputToTime', text: i18n('Configurations_WorkingPeriodTo'), isRequired: true">
        </gisc-ui-label>
        <gisc-ui-datetime params="
                        id: 'dtInputToTime',
                        value:inputToTime,
                        mode: 'time',
                        timeRange:true" />
    </div>
    <div data-bind="visible: visibleCustomAlert">
        <gisc-ui-label params="for: 'txtCustomMessage',text:i18n('Configurations_CustomMessage'), isRequired: true" />
        <gisc-ui-textbox params="id: 'txtCustomMessage', value:customMessage"></gisc-ui-textbox>
        <gisc-ui-label params="for: 'ddFeature', text: i18n('Common_Feature'), isRequired: true"></gisc-ui-label>
        <gisc-ui-dropdown params="id: 'ddFeature',
                              options: features,
                              optionsText: 'name',
                              optionsCaption: '',
                              value: selectedFeature"></gisc-ui-dropdown>
        <div data-bind="visible: visibleInputDigital">
            <gisc-ui-label params="for: 'txtDigitalMatchValue',text:i18n('Configurations_MatchValue')" />
            <gisc-ui-textbox
                params="id: 'txtDigitalMatchValue', value:inputDigital,filter:{type :'numeric' ,numericType:'int', min:0, max:1}">
            </gisc-ui-textbox>
        </div>
        <div data-bind="visible: visibleInputAnalog">
            <gisc-ui-label params="for: 'txtMinValue',text:i18n('Configurations_MinValue')" />
            <gisc-ui-textbox
                params="id: 'txtMinValue', value:inputMinValue,filter:{type :'numeric' ,numericType:'float', maxDecimalPlaces: 2, allowNegative: true}">
            </gisc-ui-textbox>
            <gisc-ui-label params="for: 'txtMaxValue',text:i18n('Configurations_MaxValue')" />
            <gisc-ui-textbox
                params="id: 'txtMaxValue', value:inputMaxValue,filter:{type :'numeric' ,numericType:'float', maxDecimalPlaces: 2, allowNegative: true}">
            </gisc-ui-textbox>
        </div>
        <div data-bind="visible: visibleInputText">
            <gisc-ui-label params="for: 'txtTextMatchValue',text:i18n('Configurations_MatchValue')" />
            <gisc-ui-textbox params="id: 'txtTextMatchValue', value:inputText"></gisc-ui-textbox>
        </div>
    </div>

    <!-- Alert Category -->
    <div data-bind="visible: visibleAlertCategory">
        <gisc-ui-label params="for: 'ddAlertCategory', text: i18n('Configurations_AlertCategory')"></gisc-ui-label>
        <gisc-ui-dropdown params="id: 'ddAlertCategory',
                            options: alertCategory,
                            optionsText: 'name',
                            optionsCaption: '',
                            value: selectedAlertCategory"></gisc-ui-dropdown>
    </div>

    <!-- Priority -->
    <gisc-ui-label params="for: 'txtPriority',text:i18n('Configurations_Priority'), isRequired: true" />
    <gisc-ui-textbox params="id: 'txtPriority', value:priority ,filter:{type :'numeric' ,numericType:'int' ,min:1}">
    </gisc-ui-textbox>

    <!-- Enable -->
    <gisc-ui-label params="for: 'ddEnable', text: i18n('Common_Enable'), isRequired: true"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddEnable',
                              options: enableOptions,
                              optionsText: 'title',
                              value: selectedEnable,
                              optionsCaption: ''">
    </gisc-ui-dropdown>

    <!-- Enail to -->
    <gisc-ui-label params="for: 'txtMailTo',text:i18n('Common_MailTo')" />
    <gisc-ui-tooltip params="text: i18n('I012')" />
    <gisc-ui-textbox params="id: 'txMailTo', value:mailTo"></gisc-ui-textbox>
    <!--Automatically ticket-->
    <gisc-ui-checkbox params="text: i18n('Configuration_AutoCreateTicket'), checked:enableCreateTicket" />
    <gisc-ui-checkbox params="text: i18n('Configurations_MDVR'), checked:enableMDVR" />
    <!-- Alert Via -->
    <gisc-ui-label params="text:i18n('Common_AlertVia')" />
    <!-- {Website, Email, SMS, Interface} -->
    <gisc-ui-checkbox params="text: i18n('Common_Website'), checked:enableWebsiteAlert" />
    <gisc-ui-checkbox params="text: i18n('Common_Email'), checked:enableEmailAlert" />
    <gisc-ui-checkbox params="text: i18n('Common_SMS'), checked:enableSmsAlert" />
    <gisc-ui-checkbox params="text: i18n('Configurations_Interface'), checked:enableInterfaceAlert" />
    <gisc-ui-checkbox params="text: i18n('Common_Device'), checked:enableDeviceAlert" />
    <gisc-ui-checkbox params="text: i18n('Configurations_Report'), checked:enableReportAlert" />

    <!-- Website Notification Sound -->
    <div data-bind="visible: visibleNotificationSound">
        <gisc-ui-label params="text:i18n('Common_WebsiteNotificationSound'), isRequired: true" />
        <div class="row">
            <div class="col-11">
            <gisc-ui-dropdown params="id: 'ddNotificationSound',
                options: notificationSound,
                optionsText: 'name',
                value: selectedNotificationSound,
                optionsCaption: ''">
            </gisc-ui-dropdown>
            </div>

            <div data-bind="component: iconAlertSound,click: playAlertSound,
                            style:{cursor:'pointer', padding: '0'},css: 'col-1'"/> 
            <audio data-bind="attr:{id: soundId,src: soundUrl,type: 'audio/mpeg'}"/>
            <audio data-bind="attr:{id: soundId2,src: soundUrl2,type: 'audio/mpeg'}"/>
        </div>
    </div>

    <div data-bind="visible: visibleDeviceGroup">
        <!-- Box Template -->
        <gisc-ui-label params="for: 'ddBoxTemplate', text: i18n('Assets_BoxTemplates'), isRequired: true">
        </gisc-ui-label>
        <gisc-ui-dropdown params="id: 'ddBoxTemplate',
                                options: boxTemplates,
                                optionsText: 'name',
                                value: selectedBoxTemplate,
                                optionsCaption: ''">
        </gisc-ui-dropdown>
        <!-- Output -->
        <gisc-ui-label params="for: 'ddOutput', text: i18n('Assets_Output'), isRequired: true"></gisc-ui-label>
        <gisc-ui-dropdown params="id: 'ddOutput',
                                options: outputs,
                                optionsText: 'featureName',
                                value: selectedOutput,
                                optionsCaption: ''">
        </gisc-ui-dropdown>
        <!-- Command Template -->
        <gisc-ui-label
            params="for: 'ddCommandTemplate', text: i18n('Configurations_CommandTemplate'), isRequired: true">
        </gisc-ui-label>
        <gisc-ui-dropdown params="id: 'ddCommandTemplate',
                                options: commandTemplates,
                                optionsText: 'displayName',
                                value: selectedCommandTemplate,
                                enable:commandTemplateEnable,
                                optionsCaption: ''">
        </gisc-ui-dropdown>
        <!-- Command -->
        <gisc-ui-label params="for: 'txtCommand',text:i18n('Configurations_Command'), isRequired: true" />
        <gisc-ui-textarea params="id: 'txCommand', value:command, enable:commandEnable"></gisc-ui-textarea>
    </div>

    <!--Description-->
    <gisc-ui-label params="for: 'txtDescription', text:i18n('Common_Description'), isRequired: true" />
    <gisc-ui-textarea params="id: 'txtDescription', value: description" />

    <section>
        <ul class="gisc-ui-listview gisc-ui-listview-bordered">
            <li>
                <div class="gisc-ui-button">
                    <div class="gisc-ui-button-text">
                        <a data-bind="click: onSelectSubMenuItem.bind($data, 1), css: { 'selected': selectedSubMenuItem() == 1 }, attr: { title: i18n('Configurations_AreaSetting') }"
                            class="gisc-ui-link-inherit" href="#">
                            <span data-bind="text: i18n('Configurations_AreaSetting')"></span>
                            <i data-bind="css: { 'selected': selectedSubMenuItem() == 1 }" class="gisc-ui-icon"
                                aria-hidden="true">
                                <!-- ko component: "svg-ic-right-arrow" -->
                                <!-- /ko --></i>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </section>
    <section>
        <ul class="gisc-ui-listview gisc-ui-listview-bordered">
            <li>
                <div class="gisc-ui-button">
                    <div class="gisc-ui-button-text">
                        <a data-bind="click: onSelectSubMenuItem.bind($data, 3), css: { 'selected': selectedSubMenuItem() == 3 }, attr: { title: i18n('Configurations_DateTimeSetting') }"
                            class="gisc-ui-link-inherit" href="#">
                            <span data-bind="text: i18n('Configurations_Datetime')"></span>
                            <i data-bind="css: { 'selected': selectedSubMenuItem() == 3 }" class="gisc-ui-icon"
                                aria-hidden="true">
                                <!-- ko component: "svg-ic-right-arrow" -->
                                <!-- /ko --></i>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </section>
    <ul class="gisc-ui-listview gisc-ui-listview-bordered">
        <li>
            <div class="gisc-ui-button">
                <div class="gisc-ui-button-text">
                    <a data-bind="click: onSelectSubMenuItem.bind($data, 2), css: { 'selected': selectedSubMenuItem() == 2 }, attr: { title: i18n('Common_Assets') }"
                        class="gisc-ui-link-inherit" href="#">
                        <span data-bind="text: i18n('Common_Assets')"></span>
                        <i data-bind="css: { 'selected': selectedSubMenuItem() == 2 }" class="gisc-ui-icon"
                            aria-hidden="true">
                            <!-- ko component: "svg-ic-right-arrow" -->
                            <!-- /ko --></i>
                    </a>
                </div>
            </div>
        </li>

    </ul>





</gisc-ui-component>