﻿<gisc-ui-component>

    <!--Status-->
    <gisc-ui-label params="for:'txtstatus',text:i18n('Common_Status'),isRequired:true" />
    <gisc-ui-dropdown params="options :status,
                      optionsText:'name',
                       optionsCaption: '',
                      value:selectedStatus,
                      enable:isEnable
                      ">
    </gisc-ui-dropdown>

    <!--AppointmentDate-->
    <div style="width:100%;float:left;">
        <gisc-ui-label params="for:'txtdate',text:i18n('Ticket_AppointmentDate'),isRequired:true" />
    </div>
    <div style="width:100%;float:left;">
        <div style="width:55%;float:left;">
            <gisc-ui-datetime params="mode:'date',value:appDatetime,minDate:minDate,dateFormat:formatSet" />
        </div>
        <div style="width:40%;float:right;">
            <div class="app-textBox-wrapper">
                <input type="time" data-bind="value:time, attr: { id:id, class:'app-input'} ">
            </div>
        </div>
    </div>


    <!--AppointmentDesc-->
    <gisc-ui-label params="for:'txtdesc',text:i18n('Ticket_AppointmentDescription')" />
    <gisc-ui-textarea params="id:'txtWSRawData',value:appoidesc" />

    <!--AppointmentProvince-->
    <gisc-ui-label params="for:'txtprovince',text:i18n('Ticket_Province'),isRequired:true" />
    <gisc-ui-dropdown params="options :province,
                      optionsText:'name',
                       optionsCaption: '' ,
                      value:selectedProvince
                      ">
    </gisc-ui-dropdown>

    <!--AppointmentTechnician-->
    <gisc-ui-label params="for:'txttown',text:i18n('Ticket_TechnicianTeam'),isRequired:true" />
    <gisc-ui-dropdown params="options :techteam,
                      optionsText:'displayName',
                      optionsCaption: '' ,
                      value:selectedTechTeam
                      ">
    </gisc-ui-dropdown>

    <!-- Send Email -->
    <gisc-ui-checkbox params="text: i18n('Send Email'), checked:isSendEmail" />

    <!-- ko if:isSendEmail -->
    <div class="container" style="margin:0">
        <!--MailTemplate-->
        <div class="row">
            <div class="col-lg-2 col-sm-3" style="padding-right: 0">
                <gisc-ui-label params="for: 'ddCompany', text: i18n('Ticket_MailTemplate'), isRequired: true">
                </gisc-ui-label>
            </div>
            <div class="col-lg-5 col-sm-6">
                <gisc-ui-dropdown params="options :mailtemplate ,
                    optionsText:'templateName',
                    value: selectedtemplate,
                    optionsCaption: ''
                    ">
                </gisc-ui-dropdown>
            </div>
            <div class="col-5">
            </div>
        </div>
        <!--mailto-->
        <div class="row">
            <div class="col-lg-2 col-sm-3">
                <gisc-ui-label params="text: i18n('Ticket_To'), isRequired: true"></gisc-ui-label>
            </div>
            <div class="col-lg-5 col-sm-6">
                <gisc-ui-textbox params="id:'txtMailTo', value:mailTo,maxlength: 2000" />
            </div>
            <div class="col-5">
                <gisc-ui-tooltip params="text: i18n('I012')" />
            </div>
        </div>

        <!--CC-->
        <div class="row">
            <div class="col-lg-2 col-sm-3">
                <gisc-ui-label params="text: i18n('Ticket_CC')"></gisc-ui-label>
            </div>
            <div class="col-lg-5 col-sm-6">
                <gisc-ui-textbox params="id:'txtMailcc', value:mailcc,maxlength: 2000" />
            </div>
            <div class="col-5">
                <gisc-ui-tooltip params="text: i18n('I012')" />
            </div>
        </div>

        <!--Subject-->
        <div class="row">
            <div class="col-lg-2 col-sm-3">
                <gisc-ui-label params="text: i18n('Ticket_Subject'), isRequired: true"></gisc-ui-label>
            </div>
            <div class="col-lg-5 col-sm-6">
                <gisc-ui-textbox params="id:'txtSubject', value:subject" />
            </div>
            <div class="col-5"></div>
        </div>
    </div>
    <!--Body-->
    <gisc-ui-editor params="id: 'edSendMail' ,
                            value: textBody,
                            " />
    <!-- /ko -->

    <!--TableTicket-->
    <div data-bind="visible:isVisibleTable">
            <gisc-ui-datatable params="
                                   datasource: vehicle,
                                   columns: [
                                   { type: 'label' , title: 'i18n:Common_License' , data: 'license' },
                                   { type: 'label' , title: 'i18n:Ticket_TicketNo' , data: 'ticketId' }
                                   ]
                                   " />
        </div>

</gisc-ui-component>