﻿<gisc-ui-component>
    <div class="container-fulid">
        <div class="row">
            <div class="col-3">
                <!--Status-->
                <gisc-ui-label params="for:'txtstatus',text:i18n('Common_Status'),isRequired:true" />
                <gisc-ui-dropdown params="options :status,
                                optionsText:'name',
                                optionsCaption: '',
                                value:selectedStatus,
                                enable:isStatusEnable
                                ">
                </gisc-ui-dropdown>

                <div data-bind="visible:isVisible">
                    <div class="sdk-body">
                        <div class="output">
                            <!--Cause-->
                            <gisc-ui-label params="text:i18n('Ticket_PendingCause') ,isRequired:true" />
                            <gisc-ui-dropdown params="
                                                options: pendingCause,
                                                optionsText: 'name',
                                                value: selectedPending,
                                                optionsCaption: '',
                                                enable:isStatusAppoint
                                                " />
                            <!--SubCause-->
                            <gisc-ui-label params="text:i18n('Ticket_PendingSubCause')" />
                            <gisc-ui-dropdown params="
                                                options: pendingSubCause,
                                                optionsText: 'name' ,
                                                value: selectedSubPend,
                                                optionsCaption: '',
                                                enable:isStatusAppoint
                                                " />

                            <!--Remark-->
                            <gisc-ui-label params="text:i18n('Ticket_Remark') ,isRequired:true" />
                            <gisc-ui-textarea params="value:pendingRemark, enable:isStatusAppoint" />
                        </div>
                    </div>
                </div>
                <!--AppointmentDate-->
                <div style="width:100%;float:left;">
                    <gisc-ui-label params="for:'txtdate',text:i18n('Ticket_AppointmentDate'),isRequired:true" />
                </div>
                <div style="width:100%;float:left;">
                    <div style="width:55%;float:left;">
                        <gisc-ui-datetime
                            params="mode:'date',value:appDatetime,minDate:minDate,dateFormat:formatSet, enable:isStatusAppoint" />
                    </div>
                    <div style="width:40%;float:right;">
                        <!-- ko if: isStatusAppoint -->
                        <div class="app-textBox-wrapper">
                            <input type="time" data-bind="value:time, attr: { id:id, class:'app-input'} ">
                        </div>
                        <!-- /ko -->
                        <!-- ko ifnot: isStatusAppoint -->
                        <div class="app-textBox-wrapper">
                            <input type="time" data-bind="value:time, attr: { id:id, class:'app-input'} " disabled>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>

                <!--AppointmentDesc-->
                <gisc-ui-label params="for:'txtdesc',text:i18n('Ticket_AppointmentDescription')" />
                <gisc-ui-textarea params="id:'txtWSRawData',value:appoidesc, enable:isStatusAppoint" />

                <!--AppointmentProvince-->
                <gisc-ui-label params="for:'txtprovince',text:i18n('Ticket_Province'),isRequired:true" />
                <gisc-ui-dropdown params="options :province,
                                optionsText:'name',
                                optionsCaption: '' ,
                                value:selectedProvince, 
                                enable:isStatusAppoint,
                                type:'filter'
                                ">
                </gisc-ui-dropdown>

                <!--AppointmentTechnician-->
                <gisc-ui-label params="for:'txttown',text:i18n('Ticket_TechnicianTeam'),isRequired:true" />
                <gisc-ui-dropdown params="options :techteam,
                                optionsText:'displayName',
                                optionsCaption: '' ,
                                value:selectedTechTeam, 
                                enable:isStatusAppoint
                                ">
                </gisc-ui-dropdown>

                <!--AppointmentMaintenanceType-->
                <!--<gisc-ui-label params="for:'txttown',text:i18n('Ticket_MaintenanceType')" />
                <gisc-ui-dropdown params="options :MaintenanceType,
                                optionsText:'name',
                                optionsCaption: '' ,
                                value:selectedMaintenanceType
                                ">
                </gisc-ui-dropdown>-->
            </div>
            <div class="col-9">
                <div class="row">
                    <div class="col-3">
                        <gisc-ui-label params="for:'txtLicense',text:licenseDisplay" />
                        <gisc-ui-textbox params="id:'txtLicense', value:license" />

                        <gisc-ui-label params="for:'txtVType',text:i18n('Type'),isRequired:true" />
                        <gisc-ui-dropdown params="id: 'ddlAppType', 
                                                  options: typeOptions, 
                                                  optionsText: 'displayText', 
                                                  optionsCaption: '',
                                                  value: vType">
                        </gisc-ui-dropdown>

                        <gisc-ui-label params="for:'txtVModel',text:i18n('Model'),isRequired:true" />
                        <gisc-ui-dropdown params="id: 'ddlAppModel', 
                                                  options: modelOptions, 
                                                  optionsText: 'displayText', 
                                                  optionsCaption: '',
                                                  type:'filter',
                                                  value: vModel">
                        </gisc-ui-dropdown>

                        <gisc-ui-label params="for:'txtLicensePlate',text:i18n('License Plate')" />
                        <gisc-ui-textbox params="id:'txtLicensePlate', value:licensePlate" />

                        <gisc-ui-label params="for:'txtLicenseCountry',text:i18n('License Country')" />
                        <gisc-ui-textbox params="id:'txtLicenseCountry', value:licenseCountry" />
                    </div>
                    <div class="col-3">
                        <gisc-ui-label params="for:'txtBoxSerialNo',text:boxSerialNoDisplay" />
                        <gisc-ui-textbox params="id:'txtBoxSerialNo', value:boxSerialNo" />

                        <gisc-ui-label params="for:'txtVChassis',text:i18n('Chassis No.')" />
                        <gisc-ui-textbox params="id:'txtVChassis', value:chassisNo,maxlength: 20" />

                        <gisc-ui-label params="for:'txtVBusinessUnit',text:i18n('Business Unit'),isRequired:true" />
                        <gisc-ui-dropdowntree params="id: 'ddlAppBusinessUnitId',
                                                     options: businessUnitOptions,
                                                     optionsID: 'id',
                                                     optionsText: 'displayText',
                                                     optionsParent: 'parentBusinessUnitId',
                                                     optionsChildren: 'childBusinessUnits',
                                                     value: businessUnit" />

                        <gisc-ui-label params="for:'txtlicenseProvince',text:i18n('License Province/City')" />
                        <gisc-ui-textbox params="id:'txtlicenseProvince', value:licenseProvince" />

                        <div class="row">
                            <div class="col-7" style="padding-right: 5%">
                                <gisc-ui-label params="for:'txtTimeInstall',text:i18n('Install Date')" />
                                <gisc-ui-datetime
                                    params="id:'txtTimeInstall', mode:'date',value:installDate,maxDate:maxDate,dateFormat: 'dd/MM/yyyy' " />
                            </div>
                            <div class="col-5" style="padding-left: 0">
                                <div style="opacity: 0">
                                    <gisc-ui-label params="for:'txtLicenseMockUp',text:i18n('Common_License')" />
                                </div>
                                <div class="app-textBox-wrapper">
                                    <input type="time"
                                        data-bind="value:timeInstall, attr: { id:id, class:'app-input'} " />
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-6">
                        <div class="row">
                            <div class="col-6">
                                <gisc-ui-label params="for:'txtLicense',text:i18n('Enable'),isRequired:true" />
                                <!--Enable-->
                                <gisc-ui-dropdown params="id: 'ddlAppEnable', 
                                                          options: enableOptions, 
                                                          optionsText: 'title', 
                                                          optionsCaption: '',
                                                          value: enableVehicle">
                                </gisc-ui-dropdown>
                            </div>
                            <div class="col-6">
                                <gisc-ui-label params="for:'txtAppDefaultOverSpeed',text:i18n('Default Over Speed (km/hr)')" />
                                <gisc-ui-textbox params="id:'txtAppDefaultOverSpeed', value:defaultOverSpeed,, filter: { type: 'numeric', numericType: 'float', min: 0.01, maxDecimalPlaces: 2 },maxlength: 7" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <gisc-ui-label params="for:'txtRefNo',text:i18n('Reference No.')" />
                                <gisc-ui-textbox params="id:'txtRefNo', value:refNo,maxlength: 20" />
                            </div>
                            <div class="col-6">
                                <gisc-ui-label params="for:'txtStopDuration',text:i18n('Stop Duration (second)'),isRequired:true" />
                                <gisc-ui-textbox params="id:'txtStopDuration', value:stopDuration, filter: { type: 'numeric', numericType: 'int', min: 1 },maxlength: 7"" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <gisc-ui-label params="for:'txtOverSpeedDelay',text:i18n('Over Speed Delay (second)'),isRequired:true" />
                                <gisc-ui-textbox params="id:'txtOverSpeedDelay', value:overSpeedDelay, filter: { type: 'numeric', numericType: 'int', min: 0 },maxlength: 7" />
                            </div>
                            <div class="col-6">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <gisc-ui-label params="for:'txtVDesc',text:i18n('Description')" />
                                <gisc-ui-textarea params="id:'txtVDesc', value:vDescription,height:'100px'" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <gisc-ui-gallery params="source:pathImages, fullScreen:false" />
                    </div>
                </div>
            </div>
        </div>
    </div>



</gisc-ui-component>