﻿<gisc-ui-component>
    <!--Datatable-->
    <gisc-ui-datatable params="
                       datasource:dt,
                       columns:[
                       { type:'label' , title:'i18n:Common_License' , data:'license' ,width:'30px' },
                       { type:'label' , title:'i18n:Ticket_TicketNo' , data:'ticketId',width:'30px' }
                       ]
                       " />

    <!--Status-->
    <gisc-ui-label params="for:'txtstatus',text:i18n('Common_Status') " />
    <gisc-ui-dropdown params="options :status,
                      optionsText:'name',
                       optionsCaption: '',
                      value:selectedStatus
                      ">
    </gisc-ui-dropdown>

    <!-- Change Box Model -->
    <gisc-ui-checkbox params="text:'Change Box Model', checked:isChangeBoxModel" />

    <!-- QC -->
    <gisc-ui-checkbox params="text:'QC', checked:isQC" />

    <!-- Move Default Driver -->
    <div data-bind="visible:moveDefaultDriverVisible">
        <gisc-ui-checkbox params="text:'Move Default Driver', checked:isMoveDefaultDriver"/>
    </div>

    <!--AppointmentMaintenanceType-->
    <div data-bind="visible:enableClose">
        <gisc-ui-label params="for:'txtmaintenance',text:i18n('Ticket_MaintenanceType'),isRequired:true" />
        <gisc-ui-dropdown params="options :MaintenanceType,
                      optionsText:'name',
                      optionsCaption: '' ,
                      value:selectedMaintenanceType
                      ">
        </gisc-ui-dropdown>
    </div>


    <div data-bind="visible:enablePending">
        <div class="sdk-body">
            <div class="output">
                <!--Cause-->
                <gisc-ui-label params="text:i18n('Ticket_PendingCause') ,isRequired:true" />
                <gisc-ui-dropdown params="
                                      options: pendingCause,
                                      optionsText: 'name',
                                      value: selectedPending,
                                      optionsCaption: '',
                                      " />
                <!--SubCause-->
                <gisc-ui-label params="text:i18n('Ticket_PendingSubCause')" />
                <gisc-ui-dropdown params="
                                      options: pendingSubCause,
                                      optionsText: 'name' ,
                                      value: selectedSubPend,
                                      optionsCaption: '',
                                      " />

                <!--Remark-->
                <gisc-ui-label params="text:i18n('Ticket_Remark') ,isRequired:true" />
                <gisc-ui-textarea params="value:pendingRemark" />
            </div>
        </div>
    </div>

    <div data-bind="visible:enableClose">
        <div class="sdk-body">
            <div class="output">
                <!--Cause-->
                <gisc-ui-label params="text:i18n('Close Cause') ,isRequired:true" />
                <gisc-ui-dropdown params="
                                      options: closeCause,
                                      optionsText: 'name',
                                      value: selectedClose,
                                      optionsCaption: '',
                                      " />
                <!--SubCause-->
                <gisc-ui-label params="text:i18n('Close Sub Cause')" />
                <gisc-ui-dropdown params="
                                      options: closeSubCause,
                                      optionsText: 'name' ,
                                      value: selectedSubClose,
                                      optionsCaption: '',
                                      " />

                <!--Remark-->
                <gisc-ui-label params="text:i18n('Ticket_Remark') ,isRequired:true" />
                <gisc-ui-textarea params="value:closeRemark" />
            </div>
        </div>
    </div>


    <!--ServiceType-->
    <gisc-ui-label params="for:'txttype',text:i18n('Ticket_NewServiceType')" />
    <gisc-ui-dropdown params="options :serviceType,
                      optionsText:'name',
                       optionsCaption: '',
                      value:selectedserviceType
                      ">
    </gisc-ui-dropdown>

    <!--AssignTo-->
    <gisc-ui-label params="for:'txtassign',text:i18n('Ticket_AssignTo')" />
    <gisc-ui-dropdown params="options :AssignTo,
                      optionsText:'displayName',
                       optionsCaption: '',
                      value:selectedAssignTo
                      ">
    </gisc-ui-dropdown>

    <!--TargetDate-->
    <gisc-ui-label params="text:i18n('Ticket_TargetDate')" />
    <gisc-ui-datetime params="mode:'date',value:targetDate,minDate:0,dateFormat:formatSet" />

    <!--Remark-->
    <gisc-ui-label params="for:'txtRemark',text:i18n('Ticket_Remark')" />
    <gisc-ui-textarea params="value:remark" />

</gisc-ui-component>