﻿<gisc-ui-component>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <!--Status-->
                <gisc-ui-label params="for:'txtstatus',text:i18n('Common_Status') " />
                <gisc-ui-dropdown params="options :statusTicket,
                                optionsText:'name',
                                value:selectedStatus
                                ">
                </gisc-ui-dropdown>
            </div>
            <div class="col">
                <!--Owner-->
                <gisc-ui-label params="for:'txtstatus',text:i18n('Ticket_Owner') " />
                <gisc-ui-dropdown params="options :assignTo,
                                optionsText:'displayName',
                                optionsCaption: '',
                                value:selectedOwner
                                ">
                </gisc-ui-dropdown>
            </div>
            <div class="col">
                <!--AssignTo-->
                <gisc-ui-label params="for:'txtstatus',text:i18n('Ticket_AssignTo') " />
                <gisc-ui-dropdown params="options :assignTo,
                                optionsText:'displayName',
                                optionsCaption: '',
                                value:selectedAssign
                                ">
                </gisc-ui-dropdown>
            </div>
            <div class="col">
                <!--ContractNo-->
                <gisc-ui-label params="for:'txtstatus',text:i18n('Ticket_ContractNo') " />
                <gisc-ui-textbox params=" value: contract" />
            </div>
            <div class="col">
                <!--ServiceType-->
                <gisc-ui-label params="for:'txtstatus',text:i18n('Ticket_ServiceType') " />
                <gisc-ui-dropdown params="options :serviceType,
                                optionsText:'name',
                                optionsCaption: '',
                                value:selectedService
                                ">
                </gisc-ui-dropdown>
            </div>
            <div class="col">
                <!--Duration-->
                <gisc-ui-label params="for:'txtstatus',text:i18n('Ticket_Duration') " />
                <gisc-ui-dropdown params="options :durationTicket,
                                optionsText:'name',
                                optionsCaption: '',
                                value:selectedDuration
                                ">
                </gisc-ui-dropdown>

            </div>
            <div class="col">
                <br/>
                <gisc-ui-button params="text:i18n('Common_Search') , onclick:viewSearch " />
            </div>
        </div>
    </div>

    <gisc-ui-datagrid params="
        id:'Ticket-New',
        source:apiDataSource,
        columns: [
            { type: 'text', title: 'i18n:Ticket_TicketDate', data: 'formatTicketDate', filter:false, width:'110px'},
            { type: 'text', title: 'i18n:Ticket_TicketNo', data: 'ticketId',width:'105px', onClick: viewTicket ,template:'<u>#=ticketId#</u>'},
            { type: 'text', title: 'i18n:Ticket_Owner', data: 'owner',width:'105px' },
            { type: 'text', title: 'i18n:Ticket_ContractNo', data: 'contractNo',width:'125px'},
            { type: 'text', title: 'i18n:Ticket_ContractEnd', data: 'formatContractEnd',width:'120px' ,filterable : false},
            { type: 'text', title: 'i18n:Common_Company', data: 'companyName',width:'125px'},
            { type: 'text', title: 'i18n:Common_BusinessUnit', data: 'businessUnitName',width:'125px'},
            { type: 'text', title: 'i18n:Common_License', data: 'license',width:'100px', onClick: viewLicense ,template:'<u>#=license#</u>'},
            { type: 'text', title: 'i18n:Ticket_AssetId', data: 'serialNo',width:'115px'},
            { type: 'text', title: 'i18n:Ticket_MobileNo', data: 'mobile',width:'130px'},
            { type: 'text', title: 'i18n:Ticket_AssignTo', data: 'assignToId', editable: true, width:'105px', editor:editorAssignToId, template:templateAssignToId },
            { type: 'text', title: 'i18n:Ticket_BoxTemplate', data: 'boxTemplate', width:'130px'},
            { type: 'text', title: 'i18n:Ticket_GPS', headerTemplate:headerTemplateGPS, data: 'gpsStatus', template: 'renderGpsColumn', filterable : false, sortable:false, width:'45px'},
            { type :'text' , title: 'i18n:Ticket_GPSLastupdate' ,data: 'formatLastLocationDate', width:'140px',filterable : false},
            { type: 'text', title: 'i18n:Ticket_ServiceType', data: 'serviceType', editable: true, width:'120px', editor:editorServiceType, template:templateServiceType  },
            { type: 'text', title: 'i18n:Ticket_TargetDate', data: 'formatTargetDate',  width:'115px', editable: true ,filterable : false},
            { type: 'text', title: 'i18n:Common_Status', data: 'status', editable: true, width:'105px', editor:editorTicketStatus, template:templateTicketStatus },
            { type: 'text', title: 'i18n:Ticket_Remark', data: 'remark', editable: true ,width:'200px',sortable:false}
        ],
        rowId: 'id',
        showFilter: true,
        editable: true,
        showRowSelector: true,
        toolbar: ['save', 'cancel'],
        selectedRows: selectedItems,
        filterable:true,
        columnMenu: true,
        rememberDataGridState: ['columns']
    "/>
    
</gisc-ui-component>