﻿<gisc-ui-component>

    <!--Status-->
    <gisc-ui-label params="for:'txtstatus',text:i18n('Common_Status')" />
    <gisc-ui-dropdown params="options :status,
                      optionsText:'name',
                      optionsCaption: '',
                      enable:isEnable ,
                      value:selectedStatus
                      ">
    </gisc-ui-dropdown>

    <!--AppointmentDate-->
    <div style="width:100%;float:left;">
        <gisc-ui-label params="for:'txtdate',text:i18n('Ticket_AppointmentDate')" />
    </div>
        <div style="width:100%;float:left;">
            <div style="width:55%;float:left;">
                <gisc-ui-datetime params="mode:'date',value:appDatetime,minDate:minDate,dateFormat:formatSet,enable:isEnable" />
            </div>
            <div style="width:40%;float:right;">
                <!-- ko if: isEnable -->
                <div class="app-textBox-wrapper">
                    <input type="time" data-bind="value:time, attr: { id:id, class:'app-input'} ">
                </div>
                <!-- /ko -->
                <!-- ko ifnot: isEnable -->
                <div class="app-textBox-wrapper">
                    <input type="time" data-bind="value:time, attr: { id:id, class:'app-input'} " disabled>
                </div>
                <!-- /ko -->
            </div>
        </div>

    <!--AppointmentDesc-->
    <gisc-ui-label params="for:'txtdesc',text:i18n('Ticket_AppointmentDescription')" />
    <gisc-ui-textarea params="id:'txtWSRawData',value:appoidesc,enable:isEnable" />

    <!--AppointmentCustomer-->
    <gisc-ui-label params="for:'txtcustomer',text:i18n('Ticket_Customer')" />
    <gisc-ui-dropdown params="options :contract,
                      optionsText:'name',
                      optionsCaption: '' ,
                      enable:isEnable,
                      value:selectedContract
                      ">
    </gisc-ui-dropdown>

    <!--AppointmentMobileNo-->
    <gisc-ui-label params="for:'txtmobile',text:i18n('Ticket_MobileNo')" />
    <gisc-ui-textbox params="id:'txtEmail', value:mobile,enable:isEnable" />


    <!--AppointmentEmail-->
    <gisc-ui-label params="for:'txtmail',text:i18n('Ticket_Email')" />
    <gisc-ui-textbox params="id:'txtEmail', value:email,enable:isEnable" />

    <!--AppointmentProvince-->
    <gisc-ui-label params="for:'txtprovince',text:i18n('Ticket_Province')" />
    <gisc-ui-dropdown params="options :province,
                      optionsText:'name',
                       optionsCaption: '' ,
                      enable:isEnable ,
                      value:selectedProvince
                      ">
    </gisc-ui-dropdown>

    <!--AppointmentCity-->
    <gisc-ui-label params="for:'txtcity',text:i18n('Ticket_City')" />
    <gisc-ui-dropdown params="options :city,
                      optionsText:'name',
                      optionsCaption: '' ,
                       enable:isEnable ,
                      value:selectedCity
                      ">
    </gisc-ui-dropdown>

    <!--AppointmentTown-->
    <gisc-ui-label params="for:'txttown',text:i18n('Ticket_Town')" />
    <gisc-ui-dropdown params="options :town,
                      optionsText:'name',
                      optionsCaption: '' ,
                       enable:isEnable ,
                      value:selectedTown
                      ">
    </gisc-ui-dropdown>

    <!--AppointmentTechnician-->
    <gisc-ui-label params="for:'txttown',text:i18n('Ticket_TechnicianTeam')" />
    <gisc-ui-dropdown params="options :techteam,
                      optionsText:'displayName',
                      optionsCaption: '' ,
                       enable:isEnable ,
                      value:selectedTechTeam
                      ">
    </gisc-ui-dropdown>
</gisc-ui-component>