﻿<gisc-ui-component>

    <!--Company -->
    <gisc-ui-label params="for: 'ddCompany', text:i18n('Common_Company')" />
    <gisc-ui-dropdown params="id: 'ddCompany',
                            options: companyOptions,
                            optionsID: 'id',
                            optionsCaption: ' ',
                            optionsText: 'name',
                            type:'filter',
                            value: companyId">
    </gisc-ui-dropdown>

    <!--Business Unit-->
    <gisc-ui-label params="for: 'ddBusinessUnit', text:i18n('Common_BusinessUnit')" />
    <gisc-ui-dropdowntree params="id: 'ddBusinessUnit',
                            options: businessUnitOptions,
                            optionsID: 'id',
                            optionsText: 'name',
                            optionsParent: 'parentBusinessUnitId',
                            optionsChildren: 'childBusinessUnits',
                            optionsCaption: ' ',
                            value: businessUnitId" />

    <!--Include Sub Business Unit-->
    <gisc-ui-checkbox params="text: i18n('Common_IncludeSubBusinessUnit'), checked:isIncludeSubBU" />

    <!--listNotification-->
    <gisc-ui-label params="for: 'ddReportType', text: i18n('Notificaton Type')"></gisc-ui-label>
    <gisc-ui-dropdown params="      options: NotificationTypes,
                                    optionsText: 'notificationName',
                                    value:selectedNotification" />

    <!--listStatus-->
    <gisc-ui-label params="for: 'ddReportType', text: i18n('Status')"></gisc-ui-label>
    <gisc-ui-dropdown params="      options: StatusItems,
                                    optionsText: 'displayName',
                                    value: selectedStatus" />

    <!--DateTimeFromTo-->
    <div style="width:100%;float:left;">
        <gisc-ui-label params="for:'from' ,text: i18n('Companies_From'), isRequired: true" />
    </div>
    <div style="width:100%">
        <div style="width:55%;float:left;">
            <gisc-ui-datetime params="id:'from' ,value:start ,mode:'date' ,maxDate:maxDateStart ,minDate:'-3m' ,dateFormat:formatSet" />
        </div>
        <div style="width:40%;float:right;">
            <div class="app-textBox-wrapper">
                <input type="time" data-bind="value:timeStart, attr: { id:id, class:'app-input'} ">
            </div>
        </div>
    </div>
    <div style="width:100%;float:left;">
        <gisc-ui-label params="for:'to' ,text: i18n('Companies_To'), isRequired: true" />
    </div>
    <div style="width:100%">
        <div style="width:55%;float:left;">
            <gisc-ui-datetime params="id:'to' ,value:end  ,mode:'date' ,maxDate:periodDay ,minDate:minDateEnd ,dateFormat:formatSet" />
        </div>
        <div style="width:40%;float:right;">
            <div class="app-textBox-wrapper">
                <input type="time" data-bind="value:timeEnd, attr: { id:id, class:'app-input'} ">
            </div>
        </div>
    </div>

</gisc-ui-component>
