<!-- ko component: {
    name: 'gisc-ui-component',
    params: {
        additionalCssClasses: 'compact'
    }
} -->
<div class="app-datetime-box">
    <div class="box">
        <input class="app-input" readonly="true" type="text" data-bind="attr:{id:id},enable:enable,value:value">
    </div>
</div>
<!-- /ko -->