<!-- ko component: {
    name: 'gisc-ui-component',
    params: {
        additionalCssClasses: 'compact'
    }
} -->
<!-- ko if: visible() -->

<div class="app-treeview-dropdown">
    <div tabindex="0" class="app-treeview-dropdown-wrapper multiselect" data-bind="hasFocus:isFocus, css: { 'enable': !enable(), 'focus': isFocus },attr: {id:id}, validationElement: value, style: { 'z-index': zIndex }">
        <span data-bind="text:name"></span>
        <span class="app-allow-icon"></span>
        <span data-bind="css: id, visible:visibleCloseBtn" class="app-remove-icon">
            <!-- ko component: 'svg-blade-close' -->
            <!-- /ko -->
        </span>
        
        <div class="app-treeview-dropdown-list" data-bind="visible:isDropdownOpened">
            <input title="" data-bind="attr: {id:id + 'FilterText', placeholder: placeholderFilterText}" type="text" class="app-treeview-dropdown-wrapper" autocomplete="off">
            <gisc-ui-treeview params="
                            datasource:options,
                            dataID:optionsID,
                            text:optionsText,
                            parent:optionsParent,
                            children:optionsChildren,
                            selectedNodes:arrayValue,
                            disableNodes:disableNodes,
                            autoSelection:autoSelection,
                            selectable:selectable,
                            mode:'update',
                            wholerow:'wholerow'" />
        </div>
    </div>
     <span class="ko-inline-msg-err" data-bind="validationMessage: value"></span>
</div>
<!-- /ko -->
<!-- /ko -->