﻿<gisc-ui-component>
    <!--Preview Pic-->
    <gisc-ui-label params="for: 'icon', text: i18n('Configurations_PreviewPicture') ,isRequired:true" />
    <gisc-ui-tooltip params="text: i18n('I004')" />
    <div class="app-img-wrap">
         <div class="app-img-manage-wrap">
            <img data-bind="attr: { src: previewImageUrl, alt: '', class: 'placeholder', style: 'width:32px;height:32px' }" />
         </div>
        <gisc-ui-fileupload params="fileName: previewImageName,
                                    accept: 'image/png',
                                    selectedFile: previewImageSelectedFile,
                                    onUploadSuccess: onUploadPreviewSuccess.bind($data),
                                    onUploadFail: onUploadFail.bind($data),
                                    onBeforeUpload: onBeforeUpload.bind($data),
                                    onRemoveFile: onRemoveFile.bind($data)" />
                                    
    </div>

    <!--Name-->
    <gisc-ui-label params="for:'txtName', isRequired:true,text:i18n('Configurations_Name')" />
    <gisc-ui-textbox params="id:'txtName', value:name" />

    <!--Code-->
    <gisc-ui-label params="for:'txtCode', text:i18n('Configurations_VehicleIconCode')"/>
    <gisc-ui-textbox params="id:'txtCode', value:code, filter:{type: 'alphanumeric'}"/>

    <!--Image set-->
    <gisc-ui-label params="isRequired:true,text:i18n('Configurations_ImageSets')" />
    <gisc-ui-tooltip params="text: i18n('I005')" />

    <div class="field-wrapper">
        <table class="gisc-ui-datatable">
            <colgroup>
                <col />
                <col style="width: 200px;" />
            </colgroup>
            <thead>
                <tr>
                    <th data-bind="text:i18n('Configurations_ImageSet')"></th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: imageSetItems">
                <tr>
                    <td data-bind="text:displayName" ></td>
                    <td class="dt-body-center">
                        <gisc-ui-fileupload params="fileName: fileName,
                                                    fileUrl:fileUrl,
                                                    accept: 'application/x-zip-compressed',
                                                    selectedFile: selectedFile,
                                                    onUploadSuccess:onUploadZipSuccess.bind($data),
                                                    onUploadFail: onUploadFail.bind($data),
                                                    onBeforeUpload: onBeforeUpload.bind($data),
                                                    onRemoveFile: onRemoveFile.bind($data)" />
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>

    <!-- Accessible companies -->
    <gisc-ui-label params="isRequired:true,text:i18n('Configurations_AccessibleCompanies')" />
    <gisc-ui-dropdown params= "options:isAllCompanies,
                                optionsText:'title',
                                value:isAllCompaniesSelected,
                                optionsCaption: ''"/>

    <!-- ko ifnot: visibleAccessibleCompanies -->
    <div class="field-table-content">
        <gisc-ui-datatable params="
            datasource: accessibleCompanies,
            ordering: false,
            columns: [
                { type: 'label', title: 'i18n:Common_AccessibleCompaniesName', data: 'companyName', orderable: false }
            ],
            order: order,
            rowId: 'companyId',
            removable: { visible: 'canManage' }
            " />
    </div>
    <div class="field-table-commands">
        <a class="inline-cmd" data-bind="click: addAccessibleCompany"><i class="fa fa-plus" aria-hidden="true"></i> Add</a>
    </div>
    <!-- /ko -->
</gisc-ui-component>