﻿<gisc-ui-component>
    <!--Name-->
    <gisc-ui-label params="text: i18n('CustomRouteCategory_Name'), isRequired: true"></gisc-ui-label>
    <gisc-ui-field params="value: name"></gisc-ui-field>

    <!--Description-->
    <gisc-ui-label params="text: i18n('CustomRouteCategory_Description')"></gisc-ui-label>
    <gisc-ui-field params="value: description"></gisc-ui-field>

    <!--Code-->
    <gisc-ui-label params="text: i18n('CustomRouteCategory_Code')"></gisc-ui-label>
    <gisc-ui-field params="value: code"></gisc-ui-field>

    <!--Color-->
    <gisc-ui-label params="text:i18n('CustomRouteCategory_Color'), isRequired:true" />
    <div data-bind="style: { backgroundColor: routeColor(),width: '25px', height: '25px'}"></div>
</gisc-ui-component>