﻿<gisc-ui-component>
    <span class="bold" data-bind="text: i18n('Transportation_Mngm_Dashboard_Date_From')"></span>
    <span data-bind="text: dateFrom"></span>&nbsp;&nbsp;
    <span class="bold" data-bind="text: i18n('Transportation_Mngm_Dashboard_Date_To')"></span>
    <span data-bind="text: dateTo"></span>
    <div style="display: flex;">
        <div style="margin-left: 40%;">
            <div style="width: 35px;">
                <!-- ko if: isDriver -->
                <!-- ko component: 'svg-icon-utili-driver' -->
                <!-- /ko -->
                <!-- /ko-->
                <!-- ko if: !isDriver() -->
                <!-- ko component: 'svg-icon-utili-vehicle' -->
                <!-- /ko -->
                <!-- /ko -->
            </div>
        </div>
        <div style="margin: 5px;">
            <p data-bind="text: i18n('Dashboard_Utilization_Time')" class="fontTitle uppercase"></p>
        </div>
    </div>

    <div style="height:500px;">
        <gisc-ui-baramchart params="data: barChart, nameChart: nameChart, categoryLabelRotateAngle:45, onClickBarChart:barChartCallback.bind($data)"
        />
    </div>

    <div style="width:100%; text-align:center;">
        <p data-bind="text: i18n('Dashboard_Utilization_Driving_Time_Driving_Period')" class="fontTitle uppercase font_11"></p>
    </div>
</gisc-ui-component>