﻿<gisc-ui-component>
    <gisc-ui-label params="for: 'ddBusinessUnit', text: i18n('Dashboard_Utilization_Time_Business_Unit'), isRequired: true"></gisc-ui-label>
    <gisc-ui-dropdowntree params=" id: 'ddBusinessUnit',
                                    options:businessUnitList,
                                    optionsID:'id',
                                    optionsText:'name',
                                    optionsParent:'parentBusinessUnitId',
                                    optionsChildren:'childBusinessUnits',
                                    value:businessUnit,
                                    mode:'update'" />
    <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_Today'),value:'Today',checked:ValueRadio " />
    <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_Yesterday'),value:'Yesterday',checked:ValueRadio " />
    <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_ThisWeek'),value:'ThisWeek',checked:ValueRadio " />
    <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_LastWeek'),value:'LastWeek',checked:ValueRadio " />
    <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_ThisMonth'),value:'ThisMonth',checked:ValueRadio " />
    <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_LastMonth'),value:'LastMonth',checked:ValueRadio " />
    <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_Custom'),value:'Custom',checked:ValueRadio " />

    <!--Start Date-->
    <gisc-ui-label params="for:'searchStartDate',text:i18n('Dashboard_Utilization_Time_Start_Date'),isRequired:true"/>
    <gisc-ui-datetime params="id:'searchStartDate', value:startDate, mode:'date', maxDate:endDate, enable: isDateTimeEnabled"/>

    <!--End Date-->
    <gisc-ui-label params="for:'searchEndDate', text:i18n('Dashboard_Utilization_Time_End_Date'),isRequired:true"/>
    <gisc-ui-datetime params="id:'searchEndDate', value:endDate, mode:'date', minDate:startDate, enable: isDateTimeEnabled"/>

    <!-- Entity Type-->
    <gisc-ui-label params="text:i18n('Dashboard_Utilization_Time_Enitity_Type'),isRequired:true"/>
    <gisc-ui-dropdown params="options: ddEntityType,
                          optionsText: 'name',
                          value: selectedEntityType,
                          optionsCaption: ''"/>

</gisc-ui-component>