﻿<div class="app-chart-container" data-bind="template: { afterRender: afterRender.bind($data, $element)}">
    
        <canvas data-bind="attr:{id:id},click:onChartClick.bind($data, event),visible:isData"></canvas>
    
    
    
    <div class="piechart-nodata" data-bind="visible:isNoData">
        <div data-bind="text: chartNameTxt"></div>
        <div data-bind="text: noDataTxt"></div>
    </div>
    
</div>