﻿<gisc-ui-component>
    <!-- Alert Type -->
    <gisc-ui-label params="text: i18n('Common_AlertType')" />
    <gisc-ui-field params="value: alertType" />

    <!-- Datetime -->
    <gisc-ui-label params="text: i18n('Common_Datetime')" />
    <gisc-ui-field params="value: alertDateTime" />

    <!-- Alert Message -->
    <gisc-ui-label params="text: i18n('Notifications_AlertMessage')" />
    <gisc-ui-field params="value: alertMessage" />

    <!-- Alert Duration -->
    <gisc-ui-label params="text: i18n('Notifications_AlertDuration')" />
    <gisc-ui-field params="value: alertDuration" />

    <!-- Vehicle -->
    <!-- ko ifnot: isDeliveryMenMode -->
    <gisc-ui-label params="text: i18n('Common_Vehicle')" />
    <gisc-ui-field params="value: vehicle" />
    <!-- /ko -->

    <!-- DeliveryMen -->
    <!-- ko if: isDeliveryMenMode -->
    <gisc-ui-label params="text: i18n('Notifications_DeliveryMan')" />
    <gisc-ui-field params="value: deliveryMen" />
    <!-- /ko -->

    <!-- Business Unit -->
    <!-- ko if: canViewBusinessUnit -->
    <gisc-ui-label params="text: i18n('Common_BusinessUnit')" />
    <gisc-ui-field params="value: alertBusinessUnitPath" />
    <!-- /ko -->

    <!-- Driver -->
    <!-- ko ifnot: isDeliveryMenMode -->
    <!-- ko if: canViewDriver -->
    <gisc-ui-label params="text: i18n('Common_Driver')" />
    <gisc-ui-field params="value: driver" />
    <!-- /ko -->
    <!-- /ko -->

    <!-- Co Driver -->
    <!-- ko ifnot: isDeliveryMenMode -->
    <!-- ko if: canViewCoDriver -->
    <gisc-ui-label params="text: i18n('Common_CoDrivers')" />
    <gisc-ui-field params="value: coDrivers" />
    <!-- /ko -->
    <!-- /ko -->

    <!-- Location -->
    <gisc-ui-label params="text: i18n('Common_Location')" />
    <gisc-ui-field params="value: location" />

    <div class="feature-container">
    <!-- ko foreach: features -->
        <div class="feature-item">
            <div class="feature-icon" data-bind="html: icon, attr: {title: title}"></div>
            <div class="feature-value" data-bind="text: text, attr: {title: text}"></div>
        </div>
    <!-- /ko -->
    </div>
</gisc-ui-component>