﻿<gisc-ui-component>
    <!-- Datetime -->
    <gisc-ui-label params="text: i18n('Announcements_StartDate')" />
    <gisc-ui-field params="value: announcementStartDate" />
    <!-- Message -->
    <gisc-ui-label params="text: i18n('Announcements_Message')" />
    <gisc-ui-field params="value: announcementMessage" />
</gisc-ui-component>