<!-- ko component: {
    name: 'gisc-ui-component',
    params: {
        additionalCssClasses: 'compact'
    }
} -->
<style>
    table.k-editor .k-content {
        resize: vertical;
    }
</style>
<textarea data-bind="value: value, attr: { id:id}"></textarea>
<!-- /ko -->