/* Font Setting */
/* Safari, Android, iOS */
/* Safari, Android, iOS */
/* Safari, Android, iOS */
/* Color Setting */
/* Font Family Creator */
/* List Container */
.wg-list-container {
  width: 100%;
  height: auto; }

.wg-list-item {
  cursor: pointer;
  width: 100%;
  height: 50px;
  border-top: 1px solid #A3A5A8;
  box-sizing: border-box;
  display: table; }

/*.wg-list-item:hover {
        background-color: #e2e3e4;
    }*/
.wg-list-item:active {
  background-color: #B7D9C8; }

.wg-list-item:last-child {
  border-bottom: 1px solid #A3A5A8; }

.wg-list-item-label {
  display: table-cell;
  vertical-align: middle;
  font-family: "DB-Regular";
  font-size: 22px;
  color: #A3A5A8; }

.has-delete .wg-list-item-label {
  padding-right: 40px; }

.wg-list-item-icon {
  display: table-cell;
  width: 60px;
  height: 100%;
  vertical-align: middle;
  box-sizing: border-box;
  padding-left: 10px; }

.wg-list-item-icon img {
  width: 30px;
  height: 30px;
  display: table-cell; }

.wg-list-item-icon-check {
  display: table-cell;
  width: 20px;
  height: 100%;
  vertical-align: middle;
  box-sizing: border-box;
  padding-left: 10px; }

.wg-list-item-icon-check img {
  width: 20px;
  height: 20px;
  display: table-cell; }

.wg-list-item-icon svg {
  width: 30px;
  height: 30px;
  display: table-cell;
  vertical-align: middle; }

.wg-list-item-delete-icon {
  display: none; }

.has-delete .wg-list-item-delete-icon {
  display: table-cell;
  vertical-align: middle;
  width: 40px;
  height: 100%;
  box-sizing: border-box; }

.has-delete .wg-list-item-delete-icon svg {
  width: 30px;
  height: 30px;
  display: table-cell;
  vertical-align: middle; }

/*.wg-list-item-icon svg .cls-1 {
        fill:#20af80 !important;
    }*/
.wg-list-item.selected {
  background-color: #20AF80; }

.wg-list-item.selected .wg-list-item-label {
  color: #FFFFFF; }

/* Context Menu */
.wg-context-menu {
  display: none;
  position: absolute;
  z-index: 51;
  background-color: #F2F2F2;
  border-radius: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  box-shadow: 2px 2px 5px 2px rgba(28, 33, 26, 0.3);
  -webkit-box-shadow: 2px 2px 5px 2px rgba(28, 33, 26, 0.3);
  -moz-box-shadow: 2px 2px 5px 2px rgba(28, 33, 26, 0.3); }

/* Override CSS ListItemC*/
.wg-context-menu .wg-list-item {
  border: 0 none;
  height: 50px;
  padding-right: 10px; }

.wg-context-menu .wg-list-item-label {
  border-bottom: 1px solid #A3A5A8;
  color: #323B3A;
  font-size: 20px;
  font-family: "DB-Regular"; }

.wg-context-menu .wg-list-item:first-child:active {
  border-radius: 10px 10px 0 0; }

.wg-context-menu .wg-list-item:last-child:active {
  border-radius: 0 0 10px 10px; }

.wg-context-menu .wg-list-item:last-child .wg-list-item-label {
  border-bottom: 0 none; }

.wg-context-menu .wg-list-item-icon svg .cls-1 {
  fill: #20AF80 !important; }

/* ToolPanel */
.wg-toolpanel {
  width: 40px;
  /*height: calc(100%);*/
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 50;
  height: calc(100%); }

.wg-toolpanel-main {
  width: 100%;
  height: 100%;
  position: relative; }

.wg-toolpanel-menu {
  position: relative;
  padding-top: 10px;
  right: 0;
  z-index: 2; }

/*.wg-toolpanel-panel-icon {
    width:28px;
    height:28px;
    margin-top:6px;
    margin-left:6px;
}*/
.wg-toolpanel-menu-item svg {
  width: 28px;
  height: 28px;
  margin-top: 6px;
  margin-left: 6px; }

.wg-toolpanel-menu-space {
  height: 10px;
  width: 40px; }

.wg-toolpanel-menu-gap {
  height: 2px;
  width: 40px;
  background-color: #1C211A; }

.wg-toolpanel-menu-item {
  cursor: pointer;
  background-color: rgba(50, 59, 58, 0.9);
  position: relative;
  height: 40px;
  width: 40px;
  box-sizing: border-box; }

.wg-toolpanel-menu-item svg .cls-1 {
  fill: #F2F2F2; }

.wg-toolpanel-menu-item.content-active svg .cls-1 {
  fill: #20AF80; }

.wg-toolpanel-menu-item:active svg .cls-1, .wg-toolpanel-menu-item.content-open svg .cls-1 {
  fill: #FFD100 !important; }

.wg-toolpanel-menu-item:first-child {
  border-radius: 10px 0 0 0; }

.wg-toolpanel-menu-item.last-item {
  border-radius: 0 0 0 10px; }

.wg-toolpanel-menu-item.other-content {
  display: none;
  margin-top: 10px;
  border-radius: 10px 0 0 10px; }

.wg-toolpanel-menu-item-tooltip {
  background-color: #F2F2F2;
  border-radius: 4px;
  color: #323B3A;
  padding: 6px;
  position: absolute;
  right: 100%;
  text-align: center;
  visibility: hidden;
  white-space: nowrap;
  z-index: 1;
  top: 10%;
  font-family: "DB-Regular";
  font-size: 16px; }

.wg-toolpanel-menu-item-tooltip::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #FFFFFF; }

.wg-toolpanel-menu-item:hover .wg-toolpanel-menu-item-tooltip {
  visibility: visible; }

.wg-toolpanel-menu-item-first:hover .wg-toolpanel-menu-item-tooltip {
  visibility: visible; }

.wg-toolpanel-menu-item-last:hover .wg-toolpanel-menu-item-tooltip {
  visibility: visible; }

/* Open */
.wg-toolpanel-panel {
  height: 100%;
  width: 285px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #FFFFFF;
  box-shadow: 6px 6px 6px 6px #1c211a;
  display: none; }

.wg-toolpanel-menu.open {
  right: 285px; }

.wg-toolpanel.open {
  height: calc(100%); }

.wg-toolpanel-panel.open {
  display: block; }

.wg-toolpanel-panel-close {
  /*background-image:url('../../images/menu/close.png');
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center center;*/
  /*background-color:#f2f2f2;
    border-radius:100px;*/
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer; }

.wg-toolpanel-panel-close svg {
  width: 20px;
  height: 20px; }

.wg-toolpanel-panel-close svg .cls-1 {
  fill: #1E7358 !important; }

.wg-toolpanel-panel-content {
  height: 100%;
  width: 100%;
  background-color: #F2F2F2; }

.wg-toolpanel-panel-hide {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 40px;
  cursor: pointer; }

.wg-toolpanel-panel-hide svg {
  width: 20px;
  height: 20px; }

.wg-toolpanel-panel-hide svg .cls-1 {
  fill: transparent !important; }

.wg-toolpanel-panel-hide svg .cls-1 {
  fill: transparent !important; }

.wg-toolpanel-panel-hide svg .cls-2 {
  fill: #1E7358 !important; }

.wg-toolpanel-menu-item.other-content.show {
  display: block; }

.wg-toolpanel-menu-item.other-content.show svg .cls-1 {
  fill: rgba(28, 33, 26, 0) !important; }

.wg-toolpanel-hidding-panel {
  position: absolute;
  width: 40px;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #F2F2F2;
  box-sizing: border-box;
  border-left: 1px solid #A3A5A8;
  box-shadow: -1px 0 5px #A3A5A8;
  display: none;
  cursor: pointer; }

.wg-toolpanel-main.open .wg-toolpanel-hidding-panel {
  display: block; }

.wg-toolpanel-hidding-panel-text {
  -webkit-transform: rotate(90deg) translateX(50%) translateX(25px);
  transform: rotate(90deg) translateX(50%) translateX(25px);
  text-transform: uppercase;
  font-family: "DB-Bold";
  color: #323B3A;
  font-size: 24px;
  line-height: 0.6em;
  white-space: nowrap; }

/* Hide Content*/
.wg-toolpanel-main.open .wg-toolpanel-panel {
  display: none; }

.wg-toolpanel-main.open .wg-toolpanel-menu {
  right: 40px; }

.wg-toolpanel-main.open .wg-toolpanel {
  height: calc(100%); }
