/* Font Setting */
/* Safari, Android, iOS */
/* Safari, Android, iOS */
/* Safari, Android, iOS */
/* Color Setting */
/* Font Family Creator */
/* Global Font Style */
@font-face {
  font-family: "DB-Regular";
  src: url("font/woff/DB Helvethaica X v3.2.woff") format("woff"), url("font/ttf/DB Helvethaica X v3.2.ttf") format("truetype"); }

@font-face {
  font-family: "DB-Italic";
  src: url("font/woff/DB-Helvethaica-X-It-v3.2.woff") format("woff"), url("font/ttf/DB Helvethaica X It v3.2.ttf") format("truetype"); }

@font-face {
  font-family: "DB-Bold";
  src: url("font/woff/DB Helvethaica X Bd v3.2.woff") format("woff"), url("font/ttf/DB Helvethaica X Bd v3.2.ttf") format("truetype"); }

/* Global CSS : HTML BODY Map */
body, html, #divMap, #divWorkingMap {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; }

/* Loading CSS */
/*--------------------- Loader -----------------------*/
.div-loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100000;
  display: flex;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  width: auto;
  text-align: left;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  background-color: #20AF80; }

.div-loading-logo svg {
  fill: #FFFFFF; }

.div-loading-text {
  font-family: "DB-Bold";
  font-size: 60px;
  color: #FFFFFF; }

.app-splashscreen-loader-container {
  width: 585px;
  margin-top: 16px; }

.app-splashscreen-loader-container > div {
  opacity: 0;
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #FFFFFF;
  -webkit-animation: loading 3s cubic-bezier(0, 0.95, 1, 0.05) infinite, loading-opacity 1.5s ease-in-out infinite alternate;
  animation: loading 3s cubic-bezier(0, 0.95, 1, 0.05) infinite, loading-opacity 1.5s ease-in-out infinite alternate;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.app-splashscreen-loader-container > div:nth-child(1) {
  -webkit-animation-delay: .5s;
  animation-delay: .5s; }

.app-splashscreen-loader-container > div:nth-child(2) {
  -webkit-animation-delay: .4s;
  animation-delay: .4s; }

.app-splashscreen-loader-container > div:nth-child(3) {
  -webkit-animation-delay: .3s;
  animation-delay: .3s; }

.app-splashscreen-loader-container > div:nth-child(4) {
  -webkit-animation-delay: .2s;
  animation-delay: .2s; }

@keyframes loading {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  10% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  45% {
    -webkit-transform: translateX(535px/2);
    transform: translateX(535px/2); }
  55% {
    -webkit-transform: translateX(535px/2);
    transform: translateX(535px/2); }
  90% {
    -webkit-transform: translateX(535px);
    transform: translateX(535px); }
  100% {
    -webkit-transform: translateX(535px);
    transform: translateX(535px); } }

@keyframes loading-opacity {
  0% {
    opacity: 0; }
  10% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 1; } }

/* Global CSS : Widget */
div.global-widget-header {
  height: 60px;
  width: 100%;
  background-color: #B7D9C8;
  padding: 10px;
  box-sizing: border-box; }

div.global-widget-header-text {
  cursor: default;
  font-size: 28px;
  box-sizing: border-box;
  font-family: "DB-Bold";
  color: #323B3A; }

div.global-widget-content {
  /*padding:10px;*/
  box-sizing: border-box; }

/* Global CSS : Button */
div.global-btn-submit {
  min-width: 100px;
  height: 30px;
  cursor: pointer;
  /*border:1px solid black;*/
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  color: #FFFFFF;
  background-color: #20AF80;
  font-family: "DB-Regular";
  font-size: 20px; }

div.global-btn-submit:active {
  background-color: #1E7358; }

div.global-btn-cancel {
  min-width: 100px;
  height: 30px;
  cursor: pointer;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  color: #FFFFFF;
  background-color: #A3A5A8;
  font-family: "DB-Regular";
  font-size: 20px; }

div.global-btn-cancel:active {
  background-color: #323B3A; }

/* Global CSS : Form Input */
label.global-form-label {
  font-family: "DB-Regular";
  font-size: 22px;
  color: #A3A5A8; }

input.global-form-invalid {
  border: 1px solid #FF0000;
  box-sizing: border-box; }

input.global-form-textbox {
  /*width:150px;*/
  height: 30px;
  box-sizing: border-box;
  font-family: "DB-Regular";
  font-size: 20px;
  outline: none; }

/* SVG ICON STATUS SETTING  */
.div-status-blog {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  padding-left: 10px; }

.div-icon-container {
  width: 50%;
  height: 100%;
  float: left;
  box-sizing: border-box;
  padding-top: 10px; }

.div-svg-icon-status {
  width: 30px;
  height: 30px;
  float: left; }

.div-svg-icon-status-text {
  width: calc(100% - 30px);
  height: 30px;
  float: left;
  font-family: "DB-Regular";
  font-size: 20px;
  line-height: 30px;
  color: #323B3A;
  text-indent: 20px;
  text-overflow: ellipsis;
  cursor: default;
  white-space: nowrap;
  overflow: hidden; }

.div-svg-icon-status svg .cls-1 {
  fill: #323B3A !important; }

.div-footprint-legend {
  background-color: rgba(50, 59, 58, 0.9);
  position: absolute;
  right: 50px;
  bottom: 50px;
  /*width:150px;*/
  /*height:100px;*/
  z-index: 1;
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  display: none; }

.div-footprint-legend.open {
  display: block; }

.div-legend-item {
  /*width:calc(100%);*/
  margin-bottom: 5px;
  box-sizing: border-box; }

.div-legend-item:last-child {
  margin-bottom: 0px; }

.div-legend-color {
  display: table-cell;
  vertical-align: middle; }

.div-legend-color-item {
  /*background-color:red;*/
  width: 30px;
  height: 30px; }

.div-legend-label {
  font-family: "DB-Regular";
  color: #FFFFFF;
  font-size: 18px;
  padding-left: 10px;
  vertical-align: middle;
  display: table-cell; }

/* Override Scalebar */
.scalebar_bottom-right {
  right: 180px;
  bottom: 20px; }

.div-location-text {
  width: calc(100% - 55px);
  height: auto;
  float: left;
  font-family: "DB-Regular";
  font-size: 20px;
  line-height: 30px;
  color: #323B3A;
  cursor: default;
  margin-left: 20px; }

/* Map Info (GIS)*/
.mapinfo-row {
  font-family: "DB-Regular";
  font-size: 18px; }

.mapinfo-column-title {
  width: 100px;
  font-weight: bold;
  vertical-align: top; }

.mapinfo-column-text {
  width: 200px;
  word-break: break-all;
  vertical-align: top; }

.mapinfo-remark-title {
  font-weight: bold;
  /*width: 200px;*/ }

.mapinfo-remark-text {
  margin-top: 5px;
  /*width: 200px;*/ }
