﻿.goto-xy-content {
    width:95%;
    margin-left:auto;
    padding-top:2em;
    padding-bottom:10em;
}

.content-xy {
    border-bottom: 1px solid #808080;
    border-top: 1px solid #808080;
    font-family: 'DB-Bold';
}

.label-error {
    color:#f00;
    font-family: 'DB-Regular';
}

.divTextBox {
    margin-top:5px;
}

.divBtn {
    margin-top:5px;
}

.txtXY {
    width:calc(100% - 10px);
}

