﻿.wg-playback {
    height:calc(100%);
}

.wg-playback .playback-control-section
{
    width:100%;
    height:40px;
    /*margin-top:10px;*/
    background-color:#b7d9c8;
}

.wg-playback .range-timer
{
    /*width: calc(100% - 100px);
    height:25px;
    margin-left: 10px;
    float:left;*/

    height:30px;
    margin-left: 10px;
    padding-top:12px;
    float:left;
    box-sizing:border-box;
}

.wg-playback .button-control {
    width:30px;
    height:30px;
    float:left;
    margin-left:10px;
    cursor:pointer;
    box-sizing:border-box;
    line-height:30px;
    text-align:center;
    /*background-color:#e0e0e0;
    border:1px solid #555;*/
}

    .wg-playback .button-control img {
        width:30px;
        height:30px;
    }

    .wg-playback .button-control.hide {
        display:none;
    }

.wg-playback .button-control:active {
    background-color:#ccc;
}


.playback-control-timer {
    height: 30px;
    float: left;
    width: 50px;
    margin-left: 20px;
    font-family: 'DB-Regular';
    font-size: 20px;
    line-height: 30px;
    color: #323b3a;
}

.div-stat-item {
    clear:both;
    width:100%;
    /*height:100px;*/
    box-sizing:border-box;
    /*border-bottom:1px solid #aaa;*/
    padding-left:10px;
    padding-top:5px;
}


.div-asset-pb-color {
    width:30px;
    height:30px;
    float:left;
}

.div-attr-asset-id {
    font-family: 'DB-Bold';
    font-size: 22px;
    line-height: 30px;
    float:left;
    padding-left:5px;
}

.div-lst-attr .div-status-blog {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    padding-left: 10px;
}

.div-lst-attr .div-icon-container {
    width: 50%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    padding-top: 0px;
}

.div-attr-item{
    float:left;
    width:50%;
}

.div-svg-icon {
    width:30px;
    height:30px;
}

.playback-status-section {
    height: calc(100% - 100px);
    overflow-y: auto;
    overflow-x: hidden;
}

.wg-playback .global-widget-content {
    height:calc(100%);
}

.wg-playback .button-control svg .cls-1 {
    fill:#20af80;
}

.wg-playback .button-control svg .cls-2 {
    fill:#fff;
}

.wg-playback .button-control svg .cls-3 {
    fill:#fff;
}