<gisc-ui-component params="codeHighlight:true">
    <article>
        <section>
            <gisc-ui-datatable params="
                id: 'dtLoadMoreExp',
                datasource: items,
                columns: [
                    { type: 'label', title: 'ID', data: 'id', sType: 'numeric' },
                    { type: 'label', title: 'Name', data: 'name', searchable: true },
                    { type: 'label', title: 'Position', data: 'position', searchable: true },
                    { type: 'label', title: 'Age', data: 'age' }
                ],
                order: order,
                rowId: 'id',
                selectable: true,
                selectedRow: selectedItem,
                showFilter: true,
                filter: searchText,
                filterPlaceholder: 'Filter by name or position',
                loadMore: true,
                onLoadMore: _loadMoreHandler
                " />
        </section>
    </article>
</gisc-ui-component>