<gisc-ui-component params="codeHighlight:true">
    <article>
        <section>
            <div class="output">
                <gisc-ui-datatable params="
                    datasource: items,
                    columns: [
                        { type: 'image-button', columnId: 'viewOnMapColumn', data: 'viewonmap', onClick: viewMapClick },
                        { type: 'colorhex', title: 'Color', data: 'colorHex' },
                        { type: 'label', title: 'Name', data: 'name' },
                        { type: 'label', title: 'Code', data: 'code' },
                        { type: 'boolean', title: 'Enable', data: 'isEnabled' }
                    ],
                    order: order,
                    showFilter: true,
                    filter: searchText
                    " />
            </div>
        </section>
    </article>
    <article class="markup-container sdk-body">
        <section>
            <h4>Source</h4>
            <pre><code class="hljs html">&lt;!-- View --&gt;
&lt;gisc-ui-datatable params=&quot;
    datasource: items,
    columns: [
        { type: &#x27;image-button&#x27;, columnId: &#x27;viewOnMapColumn&#x27;, data: &#x27;viewonmap&#x27;, onClick: viewMapClick },
        { type: &#x27;colorhex&#x27;, title: &#x27;Color&#x27;, data: &#x27;colorHex&#x27; },
        { type: &#x27;label&#x27;, title: &#x27;Name&#x27;, data: &#x27;name&#x27; },
        { type: &#x27;label&#x27;, title: &#x27;Code&#x27;, data: &#x27;code&#x27; },
        { type: &#x27;boolean&#x27;, title: &#x27;Enable&#x27;, data: &#x27;isEnabled&#x27; }
    ],
    order: order,
    showFilter: true,
    filter: searchText
    &quot; &#x2F;&gt;</code></pre>
            <pre><code class="hljs js">// View Model
this.items = ko.observableArray([
    { id: 1, name: "Custom POI Category 1", colorHex: "#ff0000", code: "P001", isEnabled: false, viewonmap:'../images/ic-search.svg' },
    { id: 2, name: "Custom POI Category 2", colorHex: "#00ff00", code: "P002", isEnabled: true, viewonmap:'../images/ic-search.svg' },
    { id: 3, name: "Custom POI Category 3", colorHex: "#0000ff", code: "P003", isEnabled: false, viewonmap:'../images/ic-search.svg' }
]);
// To preserve state when journey is inactive.
this.searchText = ko.observable("");
this.order = ko.observable([[ 0, "asc" ]]);

// onClick of columnId: 'viewOnMapColumn'
this.viewMapClick = (data) => {
    console.log(data);
    alert("Clicked on search icon for " + data.name);
};</code></pre>
        </section>
    </article>
</gisc-ui-component>