<gisc-ui-component params="codeHighlight:true">
    <article>
        <section>
            <gisc-ui-datatable params="
                id: 'dtLoadMoreExp',
                serverSide: true,
                onDatasourceRequest: onDatasourceRequest,
                columns: [
                    { type: 'image-button', columnId: 'viewOnMapColumn', data: 'icon', onClick: viewMapClick },
                    { type: 'label', title: 'ID', data: 'id', sType: 'numeric' },
                    { type: 'label', title: 'Name', data: 'name', searchable: true },
                    { type: 'label', title: 'Position', data: 'position', searchable: true },
                    { type: 'custom', title: 'Custom', data: 'age', render: renderCustomColumn, orderable: false },
                    { type: 'boolean', title: 'Boolean', data: 'registered', orderable: false},
                    { type: 'colorhex', title: 'Color', data: 'color', orderable: false }
                ],
                order: order,
                rowId: 'id',
                selectable: true,
                selectedRow: selectedItem,
                showFilter: true,
                filter: searchText,
                filterPlaceholder: 'Filter by name or position',
                onLoadMore: _loadMoreHandler,
                loadMore: true,
                pageSize: pageSize,
                pageIndex: pageIndex
                " />
        </section>
    </article>
</gisc-ui-component>