﻿<gisc-ui-component>

    <gisc-ui-label params="text: lblLastSync" />
    <div data-bind="attr:{id:id}">
        <div class="div-dashboard-overall-legend">
            <span class="legend">
                <span style="background-color: #46bc78" />
                <span data-bind="text: i18n('Dashboard_Safety_Dashboard_Good')" />
            </span>
            <span class="legend">
                <span style="background-color: #f48e06" />
                <span data-bind="text: i18n('Dashboard_Safety_Dashboard_Fair')" />
            </span>
            <span class="legend">
                <span style="background-color: #ee4036" />
                <span data-bind="text: i18n('Dashboard_Safety_Dashboard_Bad')" />
            </span>
        </div>

        <div class="div-dashboard-overall-allGraph">

            <!-- ko foreach: donutChartList -->
            <div data-bind="text:title" style="width: 50%"></div>
            <div class="graph-safety-dashboard">
                <div style="width: 100%" data-bind="text:$parent.i18n('Dashboard_Safety_Dashboard_Overtime4hrs')"></div>


                <div class="graph-safety-dashboard-donuts">
                    <!--<span data-bind="text:$parent.i18n('Dashboard_Safety_Dashboard_DFM')"></span>-->
                    <gisc-ui-donutchart params="data: overtime4hrdfm,
                innerRadius: 40,
                formatBalloonText: formatBalloonText,
                centerLabel: totleover4hrdfm,
                paddingbottom:50,
                formatLabelText: '',
                propertyGraph:propertyGraph,
                onClickPieChart: $parent.onClickPieChart.bind($parent,'overtime4hr',$data.buFilter)
                " />
                </div>
            </div>
            <div class="graph-safety-dashboard">
                <div style="width: 100%" data-bind="text:$parent.i18n('Dashboard_Safety_Dashboard_Overtime10hrs')"></div>


                <div class="graph-safety-dashboard-donuts">
                    <!--<span data-bind="text:$parent.i18n('Dashboard_Safety_Dashboard_DFM')"></span>-->
                    <gisc-ui-donutchart params="data: overtime10hrdfm,
                    innerRadius: 40,
                    formatBalloonText: formatBalloonText,
                    centerLabel: totleover10hrdfm,
                    paddingbottom:50,
                    formatLabelText: '',
                    propertyGraph:propertyGraph,
                    onClickPieChart: $parent.onClickPieChart.bind($parent,'overtime10hr',$data.buFilter)
                    " />
                </div>
            </div>
            <div class="graph-safety-dashboard">
                <div style="width: 100%" data-bind="text:$parent.i18n('Dashboard_Safety_Dashboard_Activating')"></div>
                <div class="graph-safety-dashboard-donuts">
                    <!--<span data-bind="text:$parent.i18n('Dashboard_Safety_Dashboard_DFM')"></span>-->
                    <gisc-ui-donutchart params="data: aotivatingdfm,
                        innerRadius: 40,
                        formatBalloonText: formatBalloonText,
                        centerLabel: totleaotivatingdfm,
                        paddingbottom:50,
                        formatLabelText: '',
                        propertyGraph:propertyGraph,
                        onClickPieChart: $parent.onClickPieChart.bind($parent,'activatingdriving',$data.buFilter)
                        " />
                </div>
            </div>
            <div class="graph-safety-dashboard">
                <div data-bind="text:$parent.i18n('Dashboard_Safety_Dashboard_Rest10hrs')"></div>
                <div class="graph-safety-dashboard-donuts">
                    <!--<span data-bind="text:$parent.i18n('Dashboard_Safety_Dashboard_DFM')"></span>-->
                    <gisc-ui-donutchart params="data: rest10hrdfm,
                        innerRadius: 40,
                        formatBalloonText: formatBalloonText,
                        centerLabel: totalrest10hrdfm,
                        paddingbottom:50,
                        formatLabelText: '',
                        propertyGraph:propertyGraph,
                        onClickPieChart: $parent.onClickPieChart.bind($parent,'restlessthan10hr',$data.buFilter)
                        " />
                </div>
            </div>

            <!-- /ko -->
        </div>
    </div>

</gisc-ui-component>