﻿<div data-bind="template: { afterRender: afterRender.bind($data, $element)}, style: { width:'100%' , height: height }">
        <div data-bind="attr:{id:id}" style="width:100%;height:100%;"></div>
</div>