﻿<gisc-ui-component>
    <!--File-->
    <gisc-ui-label params="text: i18n('Assets_File'), isRequired: true"></gisc-ui-label>
    <gisc-ui-tooltip params="text: i18n('I008')"></gisc-ui-tooltip>                 
    <gisc-ui-fileupload params="
        fileName: fileName,
        selectedFile: selectedFile,
        accept: mimeType,
        onRemoveFile: onRemoveFile.bind($data),
        onBeforeUpload: onBeforeUpload.bind($data),
        onUploadSuccess: onUploadSuccess.bind($data),
        onUploadFail: onUploadFail.bind($data),
        url: urlUpload" />
    <span data-bind="validationMessage: media" class="ko-block-msg-err"></span>
    <!--Import Validation Error-->
    <div class="ko-inline-msg-err" data-bind="text: importValidationError"></div>

    <section data-bind="visible: previewDataVisible">
        <!--Preview Data -->  
        <gisc-ui-label params="text: i18n('Common_PreviewData')"></gisc-ui-label>
        <gisc-ui-datatable params="
            datasource: previewData,
            columns: [
                { type: 'label', title: 'i18n:Assets_IMEI', data: 'imei' },
                { type: 'label', title: 'i18n:Assets_SerialNo', data: 'serialNo' },
                { type: 'label', title: 'i18n:Assets_Sim', data: 'mobileNo' },
                { type: 'label', title: 'i18n:Assets_Vendor', data: 'vendorName' },
                { type: 'label', title: 'i18n:Assets_IsForRent', data: 'formatIsForRent' },
                { type: 'label', title: 'i18n:Common_Company', data: 'companyName' },
                { type: 'label', title: 'i18n:Common_BusinessUnit', data: 'businessUnitName' },
                { type: 'label', title: 'i18n:Assets_Stock', data: 'boxStockName' },
                { type: 'label', title: 'i18n:Common_Status', data: 'boxStatusDisplayName' },
                { type: 'label', title: 'i18n:Assets_InstalledDateTime', data: 'formatInstalledDate' },
                { type: 'label', title: 'i18n:Assets_TrackInterval', data: 'formatTrackInterval' },
                { type: 'label', title: 'i18n:Assets_AdjustTemperature', data: 'formatAdjustTemperature' },
                { type: 'label', title: 'i18n:Assets_CalculateDistanceByMileage', data: 'formatIsCalculateDistanceByMileage' },
                { type: 'label', title: 'i18n:Assets_MultiPath', data: 'formatEnableMultipath' },
                { type: 'label', title: 'i18n:Assets_Template', data: 'boxTemplateName' },
                { type: 'label', title: 'i18n:Assets_InputEvents', data: 'inputs' },
                { type: 'label', title: 'i18n:Assets_OutputEvents', data: 'outputs' },
                { type: 'label', title: 'i18n:Assets_InputAccessories', data: 'inputAccessories' },
                { type: 'label', title: 'i18n:Assets_Notes', data: 'inputAccessoriesNotes' },
                { type: 'label', title: 'i18n:Assets_OutputAccessories', data: 'outputAccessories' },
                { type: 'label', title: 'i18n:Assets_Notes', data: 'outputAccessoriesNotes' },
            ],
            ordering: false,
            rowId: 'tempId'
            " />
    </section>
</gisc-ui-component>