﻿<gisc-ui-component>
    <!--<gisc-ui-datatable params="
        id: 'dtBOBoxList',
        datasource: boxes,
        columns: [
            { type: 'label', data: 'id', visible: false, sType: 'numeric' },
            { type: 'label',title: 'i18n:Assets_IMEI', data: 'imei', searchable: true, orderData:[1,0] },
            { type: 'label',title: 'i18n:Assets_SerialNo', data: 'serialNo', searchable: true, orderData:[2,0] },
            { type: 'label',title: 'i18n:Assets_Vendor', data: 'vendorName', orderData:[3,0] },
            { type: 'label',title: 'i18n:Common_Company', data: 'companyName', orderData:[4,0] },
            { type: 'label',title: 'i18n:Common_BusinessUnit', data: 'businessUnitName', orderData:[5,0] },
            { type: 'label',title: 'i18n:Common_Status', data: 'boxStatusDisplayName',  orderData:[7,0] },
            { type: 'label', data: 'boxStatus', visible: false },
            { type: 'label',title: 'i18n:Assets_Template', data: 'boxTemplateName', orderData:[8,0] },
            { type: 'label',title: 'i18n:Assets_Stock', data: 'boxStockName', orderData:[9,0] }
        ],
        order: order,
        rowId: 'id',
        selectable: true,
        selectedRow: selectedBox,
        showFilter: true,
        filter: filterText,
        filterPlaceholder: 'i18n:PHSearchBy002',
        onSelectingRow: _selectingRowHandler,
        recentChangedRowIds: recentChangedRowIds,
        loadMore: true
        " />-->

    <gisc-ui-datagrid params="
                      id:'ddBox',
                      onDatasourceRequestRead:onDatasourceRequestRead.bind($data),
                      columns:[
                        { type: 'text',title: 'i18n:Assets_IMEI', data: 'imei', filterable: true, width: 153 },
                        { type: 'text',title: 'i18n:Assets_SerialNo', data: 'serialNo', filterable: true, width: 100 },
                        { type: 'text',title: 'i18n:Assets_Sim', data: 'mobileNo', filterable: true, width: 90 },
                        { type: 'text',title: 'i18n:Assets_Vendor', data: 'vendorName', filterable: true, width: 84 },
                        { type: 'text',title: 'i18n:Common_Company', data: 'companyName', filterable: true, width: 139 },
                        { type: 'text',title: 'i18n:Common_BusinessUnit', data: 'businessUnitName',  filterable: true, width: 180 },
                        { type: 'text',title: 'i18n:Common_Status', data: 'boxStatusDisplayName', filterable: false, width: 80 },
                        { type: 'text',title: 'i18n:Assets_Template', data: 'boxTemplateName',  filterable: true, width: 132 },
                        { type: 'text',title: 'i18n:Assets_Stock', data: 'boxStockName',  filterable: true, width: 77 }
                       ],
            rowId: 'id',
            pageSizeOptions: pageSizeOptions,
            columnMenu: true,
            showFilter: true,
            filterable: true,
            onSelectingRow: _selectingRowHandler,
            recentChangedRowIds: recentChangedRowIds"
    " />
</gisc-ui-component>