﻿<gisc-ui-component>
    
    <!--Date Time-->
    <gisc-ui-label params="for:'dtMaintenanceDatetime', isRequired:true, text:i18n('Assets_DateTime')"/>
    <gisc-ui-datetime params="id:'dtMaintenanceDatetime', value:datetime"/>

    <!--Description-->
    <gisc-ui-label params="for:'txtDescriptions', isRequired:true, text:i18n('Common_Description')"/>
    <gisc-ui-textarea params="id:'txtDescriptions', value: descriptions"/>

    <!--Author-->
    <gisc-ui-label params="for:'txtAssetsAuthor', isRequired:true, text:i18n('Assets_Author')"/>
    <gisc-ui-textbox params="id:'txtAssetsAuthor', value: author "/>


</gisc-ui-component>