﻿
<gisc-ui-component>
    <!--IMEI-->
    <gisc-ui-label params="for: 'txtImei', text:i18n('Assets_IMEI'), isRequired: true"/>
    <gisc-ui-textbox params="id: 'txtImei', value: imei, maxlength: 100" />

    <!--Serial No.-->
    <gisc-ui-label params="for: 'txtSerialNo', text:i18n('Assets_SerialNo'), isRequired: true"/>
    <gisc-ui-textbox params="id: 'txtSerialNo', value: serialNo, maxlength: 100" />

     <!--Sim-->
     <!-- <gisc-ui-label params="for: 'ddlSim', text:i18n('Assets_Sim'), isRequired: true" />
     <gisc-ui-dropdown params="id: 'ddlSim',
         options: simOptions,
         optionsText: 'displayText',
         optionsCaption: '',
         value: sim
         ">
    </gisc-ui-dropdown> -->
    
    <!-- Promotion -->
    <gisc-ui-label params="for: 'ddPromotion', text: i18n('Assets_OperatorPackage'), isRequired: true"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddPromotion',
                              options: promotions,
                              optionsText: 'operator',
                              optionsCaption: '',
                              value: selectedPromotion"></gisc-ui-dropdown>


    <!--Mobile Number-->
    <gisc-ui-label params="for: 'txtMobile', text: i18n('Assets_MobileNumber'), isRequired: true" />
    <gisc-ui-dropdown params="id: 'ddMobile',
                              options: mobileArray,
                              optionsText: 'mobileNo',
                              optionsCaption: '',
                              type: 'filter',
                              value: selectedMobile"></gisc-ui-dropdown>

    <!--Vendor-->
    <gisc-ui-label params="for: 'ddlVendor', text:i18n('Assets_Vendor'), isRequired: true" />
    <gisc-ui-dropdown params="id: 'ddlVendor',
        options: vendorOptions,
        optionsText: 'displayText',
        optionsCaption: '',
        value: vendor
        ">
    </gisc-ui-dropdown>

    <!--Is For Rent-->
    <gisc-ui-label params="for: 'ddlIsForRent', text:i18n('Assets_IsForRent'), isRequired: true"/>
    <gisc-ui-dropdown params="id: 'ddlIsForRent', 
        options: isForRentOptions,
        optionsText: 'title',
        optionsCaption: '',
        value: isForRent
        ">
    </gisc-ui-dropdown>

    <!--Company-->
    <gisc-ui-label params="for: 'ddlCompany', text:i18n('Common_Company')" />
    <gisc-ui-dropdown params="id: 'ddlCompany',
        options: companyOptions,
        optionsText: 'displayText',
        optionsCaption: '',
        value: company
        ">
    </gisc-ui-dropdown>

    <!--Business Unit-->
    <gisc-ui-label params="for: 'ddlBusinessUnit', text:i18n('Common_BusinessUnit')" />
    <gisc-ui-dropdowntree params="id: 'ddlBusinessUnit',
                            options: businessUnitOptions,
                            optionsID: 'id',
                            optionsText: 'displayText',
                            optionsParent: 'parentBusinessUnitId',
                            optionsChildren: 'childBusinessUnits',
                            value: businessUnit" />

    <!--Stock-->
    <gisc-ui-label params="for: 'ddlStock', text:i18n('Assets_Stock')" />
    <gisc-ui-dropdown params="id: 'ddlStock',
        options: stockOptions,
        optionsText: 'displayText',
        optionsCaption: '',
        value: stock
        ">
    </gisc-ui-dropdown>

    <!--Status-->
    <gisc-ui-label params="for: 'ddlStatus', text:i18n('Common_Status'), isRequired: true" />
    <gisc-ui-dropdown params="id: 'ddlStatus',
        options: statusOptions,
        optionsText: 'displayText',
        optionsCaption: '',
        value: status
        ">
    </gisc-ui-dropdown>

    <!--Installed Date/Time-->
    <div data-bind="visible: installedDateTimeVisible">
    <gisc-ui-label params="for: 'dtInstalledDateTime', text: i18n('Assets_InstalledDateTime'), isRequired: true"></gisc-ui-label>
    <gisc-ui-datetime params="id: 'dtInstalledDateTime', 
                              value: installedDateTime, 
                              dateFormat: dateFormat,
                              timeFormat: timeFormat"></gisc-ui-datetime>
    </div>

    <!--Track Interval-->
    <gisc-ui-label params="for: 'txtTrackInterval', text:i18n('Assets_TrackInterval'), isRequired: true"/>
    <gisc-ui-textbox params="id: 'txtTrackInterval', value: trackInterval, filter: { type: 'numeric', numericType: 'int', min: 1 }"/>

    <!--Adjust Temperature-->
    <gisc-ui-label params="for: 'txtAdjustTemperature', text:i18n('Assets_AdjustTemperature')"/>
    <gisc-ui-textbox params="id: 'txtAdjustTemperature', value: adjustTemperature, filter: { type: 'numeric', numericType: 'float', min: 0, maxDecimalPlaces: 2 }" />

    <!--Calculate Distance by Mileage-->
    <gisc-ui-label params="for: 'ddlIsCalculateDistanceByMileage', text:i18n('Assets_CalculateDistanceByMileage'), isRequired: true" />
    <gisc-ui-dropdown params="id: 'ddlIsCalculateDistanceByMileage',
        options: isCalculateDistanceByMileageOptions,
        optionsText: 'title',
        value: isCalculateDistanceByMileage
        ">
    </gisc-ui-dropdown>

    <!--MultiPath-->
    <gisc-ui-label params="for: 'ddMultiPath', text: i18n('Assets_MultiPath'), isRequired: true" />
    <gisc-ui-dropdown params="id: 'ddMultiPath',
        options: enableMultipathOptions,
        optionsText: 'title',
        value: enableMultipath
        " />

    <!--Template-->
    <gisc-ui-label params="for: 'ddlTemplate', text:i18n('Assets_Template'), isRequired: true" />
    <gisc-ui-dropdown params="id: 'ddlTemplate',
        options: templateOptions,
        optionsText: 'displayText',
        optionsCaption: '',
        value: template
        ">
    </gisc-ui-dropdown>

    <!-- ko if: template -->
    <section>
        <gisc-ui-label params="text:i18n('Assets_InputEvents')" />
        <gisc-ui-datatable params="
            ordering: false,
            datasource: inputEvents,
            onDataSourceChanged: onInputEventDataSourceChanged.bind($data),
            columns: [
                { type: 'checkbox', title: i18n('Assets_Installed')(), data: 'isInstall', 'width': '15px' },
                { type: 'label', title: i18n('Assets_Event')(), data: 'event', 'width': '15px' },
                { type: 'label', title: i18n('Common_Feature')(), data: 'featureName', 'width': '40%' },
                { type: 'label', title: 'Data Type', data: 'eventDataTypeDisplay', width: '50px' },
                { type: 'textboxAssetBox', title: 'Analog Convert value(v)', data: 'analogValue', width: '80px' },
                { type: 'label', title: i18n('Assets_Notes')(), data: 'note', 'width': '40%' }
            ],
            rowId: 'uniqueId'
            " />

        <gisc-ui-label params="text:i18n('Assets_OutputEvents')" />
        <gisc-ui-datatable params="
            ordering: false,
            datasource: outputEvents,
            columns: [
                { type: 'checkbox', title: i18n('Assets_Installed')(), data: 'isInstall', 'width': '15px'},
                { type: 'label', title: i18n('Assets_Event')(), data: 'event', 'width': '15px'},
                { type: 'label', title: i18n('Common_Feature')(), data: 'featureName', 'width': '40%' },
                { type: 'label', title: i18n('Assets_Notes')(), data: 'note', 'width': '40%' }
            ],
            rowId: 'uniqueId'
            " />

        <gisc-ui-label params="text:i18n('Assets_InputAccessories')" />
        <gisc-ui-datatable params="
            ordering: false, 
            datasource: inputAccessories,
            onDataSourceChanged: onInputEventDataSourceChanged.bind($data),
            columns: [
                { type: 'checkbox', title: i18n('Assets_Installed')(), data: 'isInstall', 'width': '15px' },
                { type: 'label', title: i18n('Assets_Event')(), data: 'event', 'width': '15px' },
                { type: 'label', title: i18n('Common_Feature')(), data: 'featureName', 'width': '40%' },
                { type: 'label', title: 'Data Type', data: 'eventDataTypeDisplay', width: '50px' },
                { type: 'textboxAssetBox', title: 'Analog Convert value(v)', data: 'analogValue', width: '80px' },
                { type: 'textbox', title: i18n('Assets_Notes')(), data: 'note', 'width': '40%' }
            ],
            rowId: 'uniqueId'
            " />

        <gisc-ui-label params="text:i18n('Assets_OutputAccessories')" />
        <gisc-ui-datatable params="
            ordering: false, 
            datasource: outputAccessories,
            columns: [
                { type: 'checkbox', title: i18n('Assets_Installed')(), data: 'isInstall', 'width': '15px' },
                { type: 'label', title: i18n('Assets_Event')(), data: 'event', 'width': '15px' },
                { type: 'label', title: i18n('Common_Feature')(), data: 'featureName', 'width': '40%' },
                { type: 'textbox', title: i18n('Assets_Notes')(), data: 'note', 'width': '40%' }
            ],
            rowId: 'uniqueId'
            " />

    </section>
    <!-- /ko -->
</gisc-ui-component>