﻿<gisc-ui-component>
    <!--Vendor-->
    <gisc-ui-label params="for: 'ddlVendor', text:i18n('Assets_Vendor')" />
    <gisc-ui-dropdown params="id: 'ddlVendor',
        options: vendorOptions,
        optionsText: 'name',
        optionsCaption: '',
        value: vendor
        ">
    </gisc-ui-dropdown>

    <!--Company-->
    <gisc-ui-label params="for: 'ddlCompany', text:i18n('Common_Company')" />
    <gisc-ui-dropdown params="id: 'ddlCompany',
        options: companyOptions,
        optionsText: 'name',
        optionsCaption: '',
        value: company
        ">
    </gisc-ui-dropdown>

    <!--Business Unit-->
    <gisc-ui-label params="for: 'ddlBusinessUnit', text:i18n('Common_BusinessUnit')" />
    <gisc-ui-dropdowntree params="id: 'ddlBusinessUnit',
        options: businessUnitOptions,
        optionsID: 'id',
        optionsText: 'name',
        optionsParent: 'parentBusinessUnitId',
        optionsChildren: 'childBusinessUnits',
        value: businessUnitId
        " />

    <!--Status-->
    <gisc-ui-label params="for: 'ddlStatus', text:i18n('Common_Status')" />
    <gisc-ui-dropdown params="id: 'ddlStatus',
        options: statusOptions,
        optionsText: 'displayName',
        optionsCaption: '',
        value: status
        ">
    </gisc-ui-dropdown>

    <!--Template-->
    <gisc-ui-label params="for: 'ddlTemplate', text:i18n('Assets_Template')" />
    <gisc-ui-dropdown params="id: 'ddlTemplate',
        options: templateOptions,
        optionsText: 'name',
        optionsCaption: '',
        value: template
        ">
    </gisc-ui-dropdown>

    <!--Stock-->
    <gisc-ui-label params="for: 'ddlStock', text:i18n('Assets_Stock')" />
    <gisc-ui-dropdown params="id: 'ddlStock',
        options: stockOptions,
        optionsText: 'name',
        optionsCaption: '',
        value: stock
        ">
    </gisc-ui-dropdown>
</gisc-ui-component>