﻿<gisc-ui-component>
    <gisc-ui-label params="for: 'ddlTaBusinessUnit', text:i18n('Report_BusinessUnit')" />
    <gisc-ui-dropdowntree params="id: 'ddlTaBusinessUnit',
                                options: businessUnits,
                                optionsID: 'id',
                                optionsText: 'name',
                                optionsParent: 'parentBusinessUnitId',
                                optionsChildren: 'childBusinessUnits',
                                value: selectedBusinessUnit,
                                enable:isAutoMailOpen" />

    <gisc-ui-checkbox params="text: i18n('Common_IncludeSubBusinessUnit'), 
    checked:isIncludeSubBU,enable:isAutoMailOpen" />

    <!-- Entity Type -->
    <gisc-ui-label params="for: 'ddTaEntityType', text: i18n('FleetMonitoring_EntityType'), isRequired: true"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddTaEntityType',
                                        options: entityTypes,
                                        optionsText: 'displayName',
                                        value: selectedEntityType,
                                        enable:isAutoMailOpen" />

 
    <div data-bind="visible: driverVisible" >
        <gisc-ui-checkbox params="text: i18n('ReportCriteria_FormerDriver'),
        checked:isIncludeFormerDriver,enable:isAutoMailOpen"/>
        <gisc-ui-checkbox params="text: i18n('ReportCriteria_ResignedDriver'), 
        checked:isIncludeResignedDriver,enable:isAutoMailOpen"/>
    </div>                                       

    <!-- Vehicle Driver -->
    <gisc-ui-label params="for: 'ddTaSelectEntity', text: i18n('Report_SelectedEntity'), isRequired: true"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddTaSelectEntity',
                                    options: selectEntity,
                                    optionsText: 'displayName',
                                    optionsCaption: selectedEntityBinding,
                                    value: selectedEntity,
                                    type: 'filter',
                                    enable:isAutoMailOpen" />

    <!-- End Trip Criteria -->
    <gisc-ui-label params="text: i18n('TripAnalysis_EndTripCriteria')"></gisc-ui-label>
    <gisc-ui-tooltip params="text:i18n('I045')" />

    <!-- ko if: visiblePoitoPoi -->
    <gisc-ui-radio params="text:i18n('TripAnalysis_PoiToPoi'),value:1,checked:radEndTrip,enable:isAutoMailOpen " />
    <!-- /ko -->
    <gisc-ui-radio params="text:i18n('TripAnalysis_Parking'),value:2,checked:radEndTrip,enable:isAutoMailOpen " />
    <gisc-ui-radio params="text:i18n('TripAnalysis_Engine'),value:3,checked:radEndTrip ,enable:isAutoMailOpen" />
    <gisc-ui-radio params="text:i18n('TripAnalysis_Driver'),value:4,checked:radEndTrip,enable:isAutoMailOpen " />


    <!-- Period -->
    <gisc-ui-label params="text: i18n('TripAnalysis_Period')"></gisc-ui-label>
    <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_Today'),value:'Today',checked:valuePeriod ,enable:isAutoMailOpen" />
    <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_Yesterday'),value:'Yesterday',checked:valuePeriod,enable:isAutoMailOpen " />
    <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_ThisWeek'),value:'ThisWeek',checked:valuePeriod,enable:isAutoMailOpen " />
    <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_LastWeek'),value:'LastWeek',checked:valuePeriod,enable:isAutoMailOpen" />
    <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_ThisMonth'),value:'ThisMonth',checked:valuePeriod,enable:isAutoMailOpen" />
    <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_LastMonth'),value:'LastMonth',checked:valuePeriod,enable:isAutoMailOpen" />
    <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_Custom'),value:'Custom',checked:valuePeriod,enable:isAutoMailOpen " />

    <!--DateTimeFromTo-->
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <gisc-ui-label params="for:'from' ,text: i18n('Companies_From'), isRequired: true" />
                </div>
            </div>
            <div class="row">
                <div class="col-7">
                    <gisc-ui-datetime params="id:'from' ,value:start ,
                    mode:'date' ,maxDate:maxDateStart ,minDate:'-3m' ,dateFormat:formatSet ,
                    enable: isDateTimeEnabled" />
                </div>
                <div class="col-5" style="padding-left: 5px;">
                    <div class="app-textBox-wrapper">
                        <input type="time" data-bind="value:timeStart, attr: { id:id, class:'app-input'} ,enable: isDateTimeEnabled ">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <gisc-ui-label params="for:'to' ,text: i18n('Companies_To'), isRequired: true" />
                </div>
            </div>
            <div class="row">
                <div class="col-7">
                    <gisc-ui-datetime params="id:'to' ,value:end  ,mode:'date' ,maxDate:periodDay ,minDate:minDateEnd ,dateFormat:formatSet ,enable: isDateTimeEnabled" />
                </div>
                <div class="col-5" style="padding-left: 5px;">
                    <div class="app-textBox-wrapper">
                        <input type="time" data-bind="value:timeEnd, attr: { id:id, class:'app-input'} ,enable: isDateTimeEnabled ">
                    </div>
                </div>
            </div>
        </div>
    </div>

</gisc-ui-component>