﻿<gisc-ui-component>
    <!-- Language -->
    <gisc-ui-label params="for: 'ddLanguageExport', text: i18n('Common_Language'), isRequired: true"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddLanguageExport',
                              options: languages,
                              optionsText: 'name',
                              optionsCaption: '',
                              value: selectedLanguage"></gisc-ui-dropdown>

    <!-- Category -->
    <gisc-ui-label params="for: 'ddCategoryExport', text: i18n('Configurations_Category'), isRequired: true"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddCategoryExport',
                              options: categories,
                              optionsText: 'displayName',
                              optionsCaption: '',
                              value: selectedCategory"></gisc-ui-dropdown>
</gisc-ui-component>