<!-- ko if: visible() -->
<div class="app-textBox-wrapper" data-bind="template: { afterRender: afterRender.bind($data, $element)}">
	<!-- ko if: immediateValueUpdate -->
	<input class="app-input" data-bind="textInput: value, enable: enable, attr: { placeholder: placeholder, id: id ,type: type, maxlength: maxlength}" />
	<!-- /ko -->
	<!-- ko ifnot: immediateValueUpdate -->
	<input class="app-input" data-bind="value: value, enable: enable, attr: { placeholder: placeholder, id: id ,type: type, maxlength: maxlength}" />
	<!-- /ko -->
</div>
<!-- /ko -->