﻿<gisc-ui-component>
    <!-- Code -->
    <gisc-ui-label params="for:'txtShmCategoryCode', text:i18n('ShipmentCategory_Code'), isRequired:true" />
    <gisc-ui-textbox params="id:'txtShmCategoryCode', value:code,maxlength:50" />

    <!-- Name -->
    <gisc-ui-label params="for:'txtShmCategoryName', text:i18n('ShipmentCategory_Name'),isRequired:true" />
    <gisc-ui-textbox params="id:'txtShmCategoryName', value:name " />

    <!-- Enable Category -->
    <gisc-ui-label params="for: 'ddShmCategoryEnable', text:i18n('ShipmentCategory_Enable'), isRequired:true" />
    <gisc-ui-dropdown params="id: 'ddShmCategoryEnable',
                            options:enableOptions,
                            optionsText:'title',
                            value:enableJobCate"></gisc-ui-dropdown>


    <!-- Accessible Business Units -->
    <div class="field-wrapper">
        <div class="field-table-title">
            <gisc-ui-label params="text: i18n('User_AccessibleBusinessUnits'), isRequired: true"></gisc-ui-label>
        </div>
        <div class="field-table-content">
            <!--if we set default order to column which orderable = false, dataTable still display sorting icon (this is a bug of dataTable.)
            so we need to add duplicate hidden column and use that column to apply default order instead. -->
            <gisc-ui-datatable params="id:'cw-shipment-category-accessible-manage' ,
                               ordering: true,
                               datasource: accessibleBusinessUnits,
                               columns: [
                               { type: 'label' , title: 'i18n:User_AccessibleBusinessUnitsName' , data: 'name' , orderable: false },
                               { type: 'label' , title: 'i18n:User_AccessibleBusinessUnitsName' , data: 'name' , visible: false }
                               ],
                               rowId: 'id' ,
                               order: orderAccessibleBusinessUnits,
                               removable: true" />
        </div>
        <span data-bind="validationMessage: accessibleBusinessUnits" class="ko-block-msg-err"></span>
        <div class="field-table-commands">
            <a class="inline-cmd" data-bind="click: addAccessibleBusinessUnit">
                <i class="fa fa-plus" aria-hidden="true"></i> <span data-bind="text:i18n('Common_Add')"></span>
            </a>
        </div>
    </div>

    <!-- Description -->
    <gisc-ui-label params="for:'txtShmCategoryName', text:i18n('ShipmentCategory_Description')" />
    <gisc-ui-textarea params="id:'txtShmCategoryDesc', value:description,maxlength:1000" />


</gisc-ui-component>