<!-- ko component: {
    name: 'gisc-ui-component',
    params: {
        additionalCssClasses: containerCssClass
    }
} -->
<div class="app-sidebar-bar" role="navigation">
    <button class="app-sidebar-collapse-button app-has-hover" role="button" data-bind="
        attr: {'aria-expanded': isExpanded, title: title},
        click: onToggleMenu.bind($data)">
        <!-- ko component: 'svg-menu-hamburger' --><!-- /ko -->
    </button>
    <ul class="app-sidebar-favorites app-scrollbar-styles app-scrollbar-transparent app-scrollbar-default-hover"
        data-bind="foreach: navigations, attr: {'data-active-component': activeMenu}">
        <li class="app-sidebar-item app-has-hover">
            <a class="app-sidebar-item-link" data-bind="attr: {title: $data.title, 'data-component': $parent.computeRootComponent($data)}, click: $parent.changeHub.bind($parent)">
            <div class="app-sidebar-icon"><!-- ko component: icon --><!-- /ko --></div>
            <div class="app-sidebar-label app-sidebar-show-if-expanded" data-bind="text: $data.title"></div>
            </a>
        </li>
    </ul>
</div>
<!-- /ko -->