<gisc-ui-component>
    <div role="menu" data-bind="
        css: cssClass,
        style: {top: offsetTop, left: offsetLeft},
        attr: { id: id}">
        <ul class="app-contextMenu-itemList" data-bind="foreach: items">
            <li role="menuitem" class="app-contextMenu-item app-has-hover" data-bind="attr: {title: text}, click: $parent.onItemClick.bind($parent, $data)">
                <div class="app-contextMenu-text app-text-ellipsis" data-bind="text: text"></div>
            </li>
        </ul>
    </div>
</gisc-ui-component>