﻿<gisc-ui-component>
    <!-- DMS Model-->
    <gisc-ui-label params="for: 'ddDMSModel', text: i18n('Assets_ADASModel')"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddDMSModel',
                                    options: adsModelOptions,
                                    optionsText: 'model',
                                    optionsCaption: '',
                                    value: selectedADSModel" />
    <!-- DMS Device-->
    <gisc-ui-label params="for: 'ddDMSDevice', text: i18n('Assets_DeviceID')"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddDMSDevice',
                                    options: adsDeviceOptions,
                                    optionsText: 'deviceId',
                                    optionsCaption: '',
                                    value: selectedADSDevice" />

</gisc-ui-component>