﻿<gisc-ui-component>
    <!--License-->
    <gisc-ui-label params="for: 'txtSMSAlert', text: i18n('Assets_SMSAlert')" />
    <gisc-ui-tooltip params="text: i18n('I013')"></gisc-ui-tooltip>
    <gisc-ui-textbox params="id: 'txtSMSAlert', value: smsAlert, filter: { type: 'regex', pattern: '[0-9, ]' }, maxlength: 1000" />

    <!--License-->
    <gisc-ui-label params="for: 'txtEmailAlert', text: i18n('Assets_EmailAlert')" />
    <gisc-ui-tooltip params="text: i18n('I012')"></gisc-ui-tooltip>
    <gisc-ui-textbox params="id: 'txtEmailAlert', value: emailAlert, maxlength: 1000" />
</gisc-ui-component>