<gisc-ui-component params="additionalCssClasses: 'k-grid-height'">
    <div style="padding: 10px">
        <gisc-ui-radio params="text: i18n('Vehicle_MoveDriverBu'),value:1, checked:isRadioDriver"/>
        <gisc-ui-radio params="text:i18n('Vehicle_notMoveDriverBu'),value:2, checked:isRadioDriver"/>
        <gisc-ui-radio params="text:i18n('Vehicle_RemoveDriverBU'),value:3, checked:isRadioDriver"/>
    </div>
    <div style="width:100%">
        <div style="width: 50%; float: left;">
            <button data-bind="click: onClickOK, attr:{ class: 'btn-dialog-ok' },text: i18n('Common_OK')"></button>
        </div>
        <div style="width: 50%; float: left;">
            <button data-bind="click: onClickCancel, attr:{ class: 'btn-dialog-cancel' },text: i18n('Common_Cancel')"></button>
        </div>
    </div>
</gisc-ui-component>