﻿<gisc-ui-component>
    <!--File-->
    <gisc-ui-label params="text: i18n('Assets_File'), isRequired: true"></gisc-ui-label>
    <gisc-ui-tooltip params="text: i18n('I008')"></gisc-ui-tooltip>                 
    <gisc-ui-fileupload params="
        fileName: fileName,
        selectedFile: selectedFile,
        accept: mimeType,
        onRemoveFile: onRemoveFile.bind($data),
        onBeforeUpload: onBeforeUpload.bind($data),
        onUploadSuccess: onUploadSuccess.bind($data),
        onUploadFail: onUploadFail.bind($data),
        url: urlUpload" />
    <span data-bind="validationMessage: media" class="ko-block-msg-err"></span>
    <!--Import Validation Error-->
    <div class="ko-inline-msg-err" data-bind="text: importValidationError"></div>

    <section data-bind="visible: previewDataVisible">
        <!--Preview Data -->  
        <gisc-ui-label params="text: i18n('Common_PreviewData')"></gisc-ui-label>
        <gisc-ui-datatable params="
            id: 'dtImportVehicles',
            datasource: previewData,
            columns: [
                { type: 'label', title: 'i18n:Assets_Type', data: 'vehicleTypeDisplayName' },
                { type: 'label', title: 'i18n:Assets_ERMVehicleType', data: 'ermVehicleTypeDisplayName' },
                { type: 'label', title: 'i18n:Common_VehicleModel', data: 'displayModel' },
                { type: 'custom', title: 'i18n:Common_Icon', data: 'previewImageURL', render: renderIconColumn },
                { type: 'label', title: 'i18n:Common_BusinessUnit', data: 'businessUnitName' },
                { type: 'label', title: 'i18n:Common_Enable', data: 'formatEnable' },
                { type: 'label', title: 'i18n:Assets_ChassisNo', data: 'chassisNo' },
                { type: 'label', title: 'i18n:Assets_Seat', data: 'formatSeat' },
                { type: 'label', title: 'i18n:Assets_Volume', data: 'formatVolume' },
                { type: 'label', title: 'i18n:Common_Description', data: 'description', className: 'dt-body-text-preserve' },
                { type: 'label', title: 'i18n:Common_ReferenceNo', data: 'referenceNo' },
                { type: 'label', title: 'i18n:Assets_FuelRate', data: 'formatFuelRate' },
                { type: 'label', title: 'i18n:Assets_StopDuration', data: 'formatStopDuration' },
                { type: 'label', title: 'i18n:Assets_RegisteredType', data: 'vehicleRegisteredTypeDisplayName' },
                { type: 'label', title: 'i18n:Assets_Trail', data: 'trailLicense' },
                { type: 'label', title: 'i18n:Assets_OverSpeedDelay', data: 'formatOverSpeedDelay' },
                { type: 'label', title: 'i18n:Assets_ParkEngineOnLimit', data: 'formatParkEngineOnLimit' },
                { type: 'label', title: 'i18n:Assets_DefaultOverSpeedLimit', data: 'formatDefaultOverSpeedLimit' },
                { type: 'label', title: 'i18n:Common_License', data: 'license' },
                { type: 'label', title: 'i18n:Assets_LicensePlate', data: 'licensePlate' },
                { type: 'label', title: 'i18n:Assets_LicenseCity', data: 'licenseProvince' },
                { type: 'label', title: 'i18n:Assets_LicenseCountry', data: 'licenseCountry' },
                { type: 'label', title: 'i18n:Common_Driver', data: 'driverEmployeeDisplayName' },
                { type: 'label', title: 'i18n:Assets_CoDriver1', data: 'coDriver1EmployeeDisplayName' },
                { type: 'label', title: 'i18n:Assets_CoDriver2', data: 'coDriver2EmployeeDisplayName' },
                { type: 'label', title: 'i18n:Assets_SMSAlert', data: 'smsAlert' },
                { type: 'label', title: 'i18n:Assets_EmailAlert', data: 'emailAlert' },
            ],
            ordering: false,
            rowId: 'tempId',
            onTableReady: onImportVehiclesTableReady
            " />
    </section>
</gisc-ui-component>