﻿<gisc-ui-component>
    <!--License-->
    <gisc-ui-label params="for: 'txtLicense', text: i18n('Common_License'), isRequired: true" />
    <gisc-ui-textbox params="id: 'txtLicense', value: license" />

    <!--License Plate-->
    <gisc-ui-label params="for: 'txtLicensePlate', text: i18n('Assets_LicensePlate')" />
    <gisc-ui-textbox params="id: 'txtLicensePlate', value: licensePlate" />

    <!--License Province-->
    <gisc-ui-label params="for: 'txtLicenseProvince', text: i18n('Assets_LicenseCity')" />
    <gisc-ui-textbox params="id: 'txtLicenseProvince', value: licenseProvince" />

    <!--License Country-->
    <gisc-ui-label params="for: 'txtLicenseCountry', text: i18n('Assets_LicenseCountry')" />
    <gisc-ui-textbox params="id: 'txtLicenseCountry', value: licenseCountry" />
</gisc-ui-component>