﻿<gisc-ui-component>
    <!--Actual-->
    <section>
        <h3 class="gisc-section-header" data-bind="text: i18n('Assets_Actual')"></h3>
        
        <!--Perform By-->
        <gisc-ui-label params="for: 'txtPerformBy', text:i18n('Assets_PerformBy'), isRequired: true,message: 'hello'" />
        <gisc-ui-textbox params="id: 'txtPerformBy', value: performBy" />

        <!--Actual Cost (Currency)-->
        <gisc-ui-label params="for: 'txtActualCost', text: i18n('Assets_ActualCost', [currency()]), isRequired:true" />
        <gisc-ui-textbox params="id: 'txtActualCost', value: actualCost, filter: { type: 'numeric', numericType: 'float', min: 0, maxDecimalPlaces: 2 }" />

        <!--Actual Date-->
        <gisc-ui-label params="for:'dtActualDate', text:i18n('Assets_ActualDate'), isRequired:true"/>
        <gisc-ui-datetime params="id:'dtActualDate',
                              value: actualDate,
                              mode: 'date',
                              maxDate: currentDate,
                              dateFormat: dateFormat" />

        <!--Actual Distance (Distance Unit)-->
        <gisc-ui-label params="for: 'txtActualDistance', text: i18n('Assets_ActualDistance', [distanceUnit()]), isRequired:true" />
        <gisc-ui-textbox params="id: 'txtActualDistance', value: actualDistance, filter: { type: 'numeric', numericType: 'int', min: 1,max: 9999999.9999,maxDecimalPlaces:4 }" />

        <!--Remark-->
        <gisc-ui-label params="for:'txtRemark', text:i18n('Vehicle_MA_Common_Remark')"></gisc-ui-label>
        <gisc-ui-textarea params="id:'txtRemark', value:remarkText,maxlength:1000"></gisc-ui-textarea>

    </section>
    <gisc-ui-checkbox params="text: i18n('Assets_NextPlan'),checked:isChecked" />
    <!--, checked:isChecked-->
    <!--Next Plan-->
    <section>
        <h3 class="gisc-section-header" data-bind="text: i18n('Assets_NextPlan')"></h3>

        <!--MA Type-->
        <gisc-ui-label params="for:'ddlMAType', text:i18n('Vehicle_MA_Common_Maintenance_Type'), isRequired:true" />
        <gisc-ui-dropdown params="id:'ddlMAType',
                          options: maintenanceTypes,
                          optionsText: 'name',
                          value: selectedMA,
                          optionsCaption: '',enable:isChecked" />

        <!--MA Subtype-->
        <gisc-ui-label params="for:'ddlMASubType', text:i18n('Vehicle_MA_Common_Maintenance_SubType'), isRequired:true" />
        <gisc-ui-dropdown params="id:'ddlMASubType',
                          options: maintenanceSubTypes,
                          optionsText: 'name',
                          value: selectedSubMA,
                          optionsCaption: '',enable:isChecked" />

        <!--Maintenance Date-->
        <gisc-ui-label params="for:'dtNextMaintenanceDate', text:i18n('Common_MaintenanceDate'), isRequired:true"/>
        <gisc-ui-datetime params="id:'dtNextMaintenanceDate', 
                              minDate: minMaintenanceDate,
                              value: nextMaintenanceDate,
                              mode: 'date',
                              dateFormat: dateFormat,enable:isChecked" />
        

        <!--Maintenance Distance (Distance Unit)-->
        <gisc-ui-label params="for: 'txtNextMaintenanceDistance', text: i18n('Common_MaintenanceDistance', [distanceUnit()]), isRequired:true" />
        <gisc-ui-textbox params="id: 'txtNextMaintenanceDistance', value: nextMaintenanceDistance, filter: { type: 'numeric', numericType: 'int', min: 1 ,max: 9999999.9999,maxDecimalPlaces:4},enable:isChecked" />
    </section>
</gisc-ui-component>