﻿<gisc-ui-component>
    <gisc-ui-label params="for:'ddlMAType', text: i18n('Vehicle_MA_Common_Maintenance_Type'), isRequired: true " />
    <gisc-ui-dropdown params="id: 'ddlMAType' ,
                      options: maintenanceTypes,
                      optionsText: 'name' ,
                      optionsCaption: '' ,
                      value: selectedMA" />

    <gisc-ui-label params="for:'ddlMASubType', text: i18n('Vehicle_MA_Common_Maintenance_SubType'), isRequired: true " />
    <gisc-ui-dropdown params="id: 'ddlMASubType' ,
                      options: maintenanceSubTypes,
                      optionsText: 'name' ,
                      optionsCaption: '' ,
                      value: selectedSubMA" />

    <gisc-ui-label params="for:'txtTitle' ,text: i18n('Assets_MaintanancePlanTitle'), isRequired: true" />
    <gisc-ui-textbox params="id:'txtTitle', value: title"></gisc-ui-textbox>

    <gisc-ui-label params="for:'txtDesc' ,text: i18n('Common_Description')" />
    <gisc-ui-textarea params="id:'txtDesc', value: description"></gisc-ui-textarea>

    <gisc-ui-label params="text: i18n('Common_MaintenanceDate'), isRequired: true" />
    <gisc-ui-datetime params="mode:'date', value: selectedDate, maxDate: currentDate" />

    <gisc-ui-label params="text: i18n('Common_CurrentDistance', [distanceUnit()])" />
    <gisc-ui-field params="value: displayCurrentDistance" />

    <gisc-ui-label params="for: 'txtActualCost', text: i18n('Assets_ActualCost', [currency()]), isRequired:true" />
    <gisc-ui-textbox params="id: 'txtActualCost', value: actualCost, filter: { type: 'numeric', numericType: 'float', min: 0, maxDecimalPlaces: 2 }" />

    <gisc-ui-label params="for: 'txtAssignTo', text:i18n('Vehicle_MA_Common_Assign_To')" />
    <gisc-ui-textbox params="id: 'txtAssignTo', value: assignTo" />

    <gisc-ui-label params="for: 'txtPerformBy', text:i18n('Assets_PerformBy'),isRequired: true" />
    <gisc-ui-textbox params="id: 'txtPerformBy', value: performBy" />
</gisc-ui-component>