﻿<gisc-ui-component>
    <gisc-ui-label params="text: i18n('Vehicle_MA_Common_Maintenance_Type')" />
    <gisc-ui-field params="value: maType" />

    <gisc-ui-label params="text: i18n('Vehicle_MA_Common_Maintenance_SubType')" />
    <gisc-ui-field params="value: maSubType" />

    <gisc-ui-label params="text: i18n('Assets_MaintanancePlanTitle')" />
    <gisc-ui-field params="value: title" />

    <gisc-ui-label params="text: i18n('Common_Description')" />
    <gisc-ui-field params="value: description" />

    <gisc-ui-label params="text: i18n('Common_MaintenanceDate')" />
    <gisc-ui-field params="value: maDate" />

    <gisc-ui-label params="text: i18n('Common_CurrentDistance', [distanceUnit()])" />
    <gisc-ui-field params="value: currentDistance" />

    <gisc-ui-label params="text: i18n('Assets_ActualCost', [currency()])" />
    <gisc-ui-field params="value: actualCost" />

    <gisc-ui-label params="text:i18n('Vehicle_MA_Common_Assign_To')" />
    <gisc-ui-field params="value: assignTo" />

    <gisc-ui-label params="text:i18n('Assets_PerformBy')" />
    <gisc-ui-field params="value: performBy" />

    <gisc-ui-label params="text:i18n('Common_Status')" />
    <gisc-ui-field params="value: status" />
</gisc-ui-component>