﻿<gisc-ui-component>
    <!--Current-->
    <gisc-ui-label params="text: i18n('Assets_Current', [distanceUnitSymbol()])"></gisc-ui-label>
    <gisc-ui-field params="value: currentDistance"></gisc-ui-field>

    <!--New Distance-->
    <gisc-ui-label
        params="for: 'txtNewDistance', text: i18n('Assets_NewValue', [distanceUnitSymbol()]), isRequired: true" />
    <gisc-ui-textbox
        params="id: 'txtNewDistance', value: newDistance, filter: { type: 'numeric', numericType: 'float', min: 0.01, maxDecimalPlaces: 2 }" />

    <!--Use current-->
    <gisc-ui-checkbox params="text:i18n('Common_UseCurrentDateTime'), checked: useCurrent"></gisc-ui-checkbox>

    <!--Date Time-->
    <gisc-ui-label params="for: 'dtDateTime', text: i18n('Assets_ODOMeterDateTime'), isRequired: true"></gisc-ui-label>
    
    <gisc-ui-datetime params="id: 'dtDateTime', 
        value: dateTime, 
        dateFormat: dateFormat,
        timeFormat: timeFormat,
        minDate: minDate,
        maxDate: maxDate,
        enable: dateTimeEnable">
    </gisc-ui-datetime>

    <!-- History -->
    <gisc-ui-label params="for: 'dtHistory', text: i18n('Assets_ODOMeterHistory')"></gisc-ui-label>

    <gisc-ui-datatable params="
        id: 'dtODOHistory',
        datasource: historyItems,
        columns: [
            { type: 'label',title: i18n('Assets_ValueKM', [distanceUnitSymbol()]), data: 'formatNewDistance', searchable: true },
            { type: 'label',title: 'i18n:Assets_Gps_Devices_Update_Date', data: 'formatUpdateDate', orderData: 2 },
            { type: 'label',title: 'i18n:Assets_Gps_Devices_Update_By', data: 'updateBy' },
        ],  
        ordering: false" />

</gisc-ui-component>