﻿<gisc-ui-component>
    <!--Type-->
    <gisc-ui-label params="for: 'ddlType', text:i18n('Assets_Type')" />
    <gisc-ui-dropdown params="id: 'ddlType',
        options: typeOptions,
        optionsText: 'displayName',
        optionsCaption: '',
        value: type
        ">
    </gisc-ui-dropdown>

    <!--Model-->
    <gisc-ui-label params="for: 'ddlModel', text:i18n('Common_VehicleModel')" />
    <gisc-ui-dropdown params="id: 'ddlModel',
        options: modelOptions,
        optionsText: 'displayText',
        optionsCaption: '',
        value: model
        ">
    </gisc-ui-dropdown>
    
    <!--Business Unit-->
    <gisc-ui-label params="for: 'ddlBusinessUnit', text:i18n('Common_BusinessUnit')" />
    <gisc-ui-dropdowntree params="id: 'ddlBusinessUnit',
        options: businessUnitOptions,
        optionsID: 'id',
        optionsText: 'name',
        optionsParent: 'parentBusinessUnitId',
        optionsChildren: 'childBusinessUnits',
        value: businessUnitId
        " />
    <gisc-ui-checkbox params="text: i18n('Common_IncludeSubBusinessUnit'), checked: includeSubBusinessUnit, enable: includeSubBusinessUnitEnable" />
    <!--Enable-->
    <gisc-ui-label params="for: 'ddlEnable', text:i18n('Common_Enable')" />
    <gisc-ui-dropdown params="id: 'ddlEnable',
        options: enableOptions,
        optionsText: 'title',
        optionsCaption: '',
        value: enable
        ">
    </gisc-ui-dropdown>
</gisc-ui-component>