<!-- ko component: 'gisc-ui-component' -->
    <!-- ko if: visible -->
        <div class="app-topbar-companyswitcher app-companyswitchermenu-dropmenu" data-bind="attr: {id: companyMenu.id}">
            <div class="app-companyswitchermenu-menu">
                <div class="app-dropmenu"  tabindex="-1">
                    <!-- <a class="app-dropmenu-button app-popup-button" data-bind="click: companyMenu.onClick.bind(companyMenu), css: companyMenu.menuStatus, attr: {title: companyMenu.title}"> -->
                    <!-- ko foreach: items -->
                        <a class="app-dropmenu-button app-popup-button" data-bind="attr: {title: title, href: href, target: target}">    
                            <div class="app-topbar-button app-has-hover app-notificationmenu-button">
                                <div class="app-notificationmenu-icon"><!-- ko component: 'svg-company-switcher' --><!-- /ko --></div>
                            </div>
                        </a>
                    <!-- /ko -->
                    <!-- <div class="app-dropmenu-content app-popup app-dropmenu-left" data-bind="css: companyMenu.menuContentStatus">
                        <div class="app-avatarmenu-dropdown">
                            <ul class="app-avatarmenu-list-system" data-bind="foreach: items">
                                <li class="app-has-hover">
                                    <a data-bind="attr: {title: title, href: href, target: target}">
                                        <div class="app-dropmenu-list-content" data-bind="text: title"></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    <!-- /ko -->
    <!-- ko ifnot: visible -->
        <div style="width:10px;"></div>
    <!-- /ko -->
<!-- /ko -->