﻿<gisc-ui-component>
    
    <div class="">
        <span data-bind="text:i18n('Ticket_Action_Number')" />
        <span data-bind="text:ticketNumber" />
    </div>
    <div class="">
        <span data-bind="text:i18n('Ticket_Action_Alert_Type')" />
        <span data-bind="text:alertType" />
    </div>
    <div class="">
        <span data-bind="text:i18n('Ticket_Action_Vehicle_License')" />
        <span data-bind="text:vehicleLicense" />
    </div>
    <div class="">
        <span data-bind="text:i18n('Ticket_Action_Driver')" />
        <span data-bind="text:driver" />
    </div>
    <gisc-ui-label params="for:'dtTicketlog', text:i18n('Ticket_TicketLog')" />
    <div class="div-alert-ticket-action-log">
        <div class="div-alert-ticket-action-log-detail" data-bind="if: isVisible">
            <!-- ko foreach: detailData -->
            <div class="alert-ticket-action-log-detail">
                <div class="div-alert-ticket-action-log-datetime">
                    <label data-bind="text: formatDate" />
                </div>
                <!-- ko foreach: noteLst -->
                <div class="div-alert-ticket-action-log-notelist">
                    <span data-bind="text:formatTime" />
                    <span data-bind="text:formatDetail" />
                </div>
                <!-- /ko -->
            </div>
            <!-- /ko -->
        </div>
    </div>

    <div data-bind="if: isPermission" style="word-break: break-all;">
        <gisc-ui-label params="for:'ddlResponseAction', text:i18n('FleetMonitoring_Alert_Ticke_Response')" />
        <gisc-ui-dropdown params="id: 'ddlResponseAction',
                options: lstTicketResponseAction,
                optionsText: 'name',
                optionsCaption: '',
                value: ticketResponseAction" />

        <gisc-ui-label params="text:i18n('FleetMonitoring_Alert_Ticke_Note'), isRequired: true" />
        <gisc-ui-textarea params="value: txtRemark" />
        </gisc-ui-dropdown>
    </div>
</gisc-ui-component>