/*-- Fixed CSS issues for any browser --*/

/*---------------------------------------------------------
 * Fixed blade status bar, command bar, and actions is hidden in google chrome for tablets.
 * Status Bar (minimize, maximize, close)
 * Command Bar (e.g. create, update, delete)
 * Actions (e.g. Save, Cancel)
---------------------------------------------------------*/
.app-blade {
    z-index: 1;
}

/*---------------------------------------------------------
 * Fixed IE-Edge close button.
 * Clear this style.
---------------------------------------------------------*/
::-ms-clear {
    display: none;
}

/*---------------------------------------------------------
 * Fixed Chrome highlight transparent file upload area.
 * Occured in Android tablet.
---------------------------------------------------------*/
.file-upload-container {
    .file-upload {
        -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
    }
}