/*-------------------- Control -----------------------*/
/*-- Turn off safari curve border --*/
input,
textarea {
    border-radius: 0;
    -webkit-appearance: none;
}

/*-- Begin label control --*/

.app-bladecontent .app-text-label {
    font-weight: bold;
}

.app-form-labelcontainer {
    box-sizing: border-box;
    min-height: 18px;
    display: inline-block;
    label {
        line-height: normal;
        max-width: calc(100% - 25px);
    }
}

.app-dockedballoon-requiredwidget {
    &.app-dockedballoon-required {
        display: inline-block;
        text-align: center;
        width: 11px;
        height: 6px;
        position: relative;
        svg {
            vertical-align: 4px;
            height: 6px;
            width: 6px;
        }
    }
}


/*-- End label control --*/

/*-- Begin textBox & textArea control --*/

.app-textBox,
.app-textBox-wrapper input,
.app-dropdown-wrapper select {
    height: 32px;
}

.app-textBox-wrapper,
.app-dropdown-wrapper {
    width: 100%;
}

.app-textBox-wrapper {
    padding-bottom: 15px;

    [placeholder] {
        text-overflow: ellipsis;
    }
    input,
    textarea {
        font-weight: 400;
        box-sizing: border-box;
        width: 100%;
        padding: 2px 8px 4px;
        outline: 0;
        border-width: 1px;
        border-style: solid;
    }
    textarea {
        height: 70px;
        // resize: none;
    }
}

/*-- End textBox & textArea control --*/

/*-- Begin checkBox control --*/

table {
    &.gisc-ui-datatable {
        .app-checkBox-control {
            display: inline;
        }
        .app-checkBox-contain {
            margin-bottom: 0;
        }
        th,
        td {
            &.dt-body-center {
                text-align: center;
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
}

.app-checkBox-contain {
    margin-bottom: 10px;
    width: auto;
    .app-checkBox-control {
        position: relative;
        padding-left: 30px;
        cursor: pointer;
        line-height: 20px;
        input {
            position: absolute;
            z-index: -1;
            opacity: 0;
            top: 0;
            left: 0px;
        }
        input {
            &:disabled {
                ~.app-control-indicator {
                    cursor: not-allowed;
                    opacity: .6;
                }
            }

            &:checked {
                ~.app-control-indicator {
                    svg {
                        visibility: visible;
                    }
                }
            }
        }
    }
}

.control-checkbox {
    .app-control-indicator {
        position: absolute;
        top: 2px;
        left: 0;
        width: 17px;
        height: 17px;
        border: 1px solid;

        svg {
            visibility: hidden;
        }
    }
}

.control-radio {
    .app-control-indicator {
        position: absolute;
        top: 2px;
        left: 0;
        width: 18px;
        height: 18px;
        border: 1px solid;
        border-radius: 10px;

        svg {
            visibility: hidden;
        }
    }
}

//For dataTable
.app-checkBox-control-dt {
    position: relative;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    line-height: 20px;
    width: 17px;
    height: 17px;

    input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        left: 0;

        &:disabled~.app-control-dt-indicator {
            cursor: not-allowed;
            opacity: .6;
        }

        &:checked~.app-control-dt-indicator {
            svg {
                visibility: visible;
            }
        }
    }

    .app-control-dt-indicator {
        svg {
            visibility: hidden;
        }
    }
}

.app-checkBox-contain-dt.left> {
    .app-checkBox-control-dt {
        padding-left: 0;
        input {
            left: 0;
        }
    }
}

.app-control-dt-indicator {
    top: 0px;
    left: 0;
    width: 17px;
    height: 17px;
    border: 1px solid;
}

/*-- End checkBox control --*/

/*-- Begin dropdown control --*/

.app-dropdown-multi-select {
    margin-bottom: 15px;

    select {
        width: 100%;
        outline: 0;
        font-weight: 400;
    }
}

.app-dropdown {
    padding-bottom: 10px;
    width: 100%;
    .app-dropdown-wrapper {
        display: inline-block;
        text-decoration: none;
        min-height: 19px;
    }
}

.app-dropdown-container {
    height: 32px;
    box-sizing: border-box;
    margin-bottom: 15px;
    position: relative;
}

.app-dropdown-wrapper {
    box-sizing: border-box;
    border: solid 1px;
    margin: 0;

    .app-dropdown-current {
        margin: 0;
        padding: 2px 27px 4px 8px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        top: -webkit-calc(50% - 14px);
        top: calc(50% - 14px);
        line-height: 25px;
        height: 100%;
        border-width: 0;
        display: inline-block;
        text-decoration: none;
        box-sizing: border-box;

        &.watch-change {
            background-color: #fff;
            border: solid 1px #20af80;
        }
    }



    .app-dropdown-arrow-normal:before {
        content: '';
        box-sizing: border-box;
        position: absolute;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        top: -webkit-calc(50% - 4.95px);
        top: calc(50% - 1.95px);
        right: 9px;
    }

    .app-dropdown-select {
        cursor: pointer;
        font-weight: 400;
        display: inline-block;
        margin: 0;
        border-width: 0;
        text-decoration: none;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    select {
        &:disabled {
            cursor: not-allowed;
        }
    }
}

/*-- End dropdown control --*/

/*-- Begin combobox control --*/

.app-combobox {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 21px;
    .ui-widget {
        font-family: inherit; // override default ui-widget.
    }
}

.app-combobox,
.app-combobox-wrapper {
    height: 32px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 15px;
}

.app-combobox-wrapper {
    display: inline-block;
    margin: 0;
    text-decoration: none;
    width: 100%;
    min-height: 19px;
    border-width: 1px;
    border-style: solid;
    .app-combobox-input {
        margin: 0;
        padding: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    input[type=text].app-combobox-input {
        border: none;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        outline: none;
    }
    .app-combobox-arrow-normal:before {
        content: '';
        box-sizing: border-box;
        position: absolute;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        top: -webkit-calc(50% - 4.95px);
        top: calc(50% - 1.95px);
        right: 9.05px;
    }
}

.sdk-body .app-combobox>ul {
    padding: 0;
}

/*ui-autocomplete is used by jquery-ui autocomplete to create menu*/

/*-- End combobox control --*/

/*-- Begin tooltip control --*/

.app-dockedballoon {
    display: inline-block;
    text-align: center;
    height: 9px;
    cursor: pointer;
    position: relative;
    >div {
        outline: none;
        /*width: 17px;
        height: 17px; */
        position: absolute;
        top: -5px;
    }
}

.app-dockedballoon-anchor {
    .app-balloon-icon {
        width: 20px;
        height: 20px;
        img{
            width: 9px;
            height: 100%;
            outline: none;
            display: inline-block;
        }
        
    }
}

.app-balloon {
    position: fixed;
    left: -99999px;
    top: -99999px;
    word-wrap: break-word;
    text-align: left;
    z-index: 250;
    min-width: 75px;
    max-width: 500px;
    width: auto;
    min-height: 55px;
    height: auto;
    .app-balloon-pointer {
        position: absolute;
    }

    .app-balloon-content {
        font-weight: 400;
        line-height: 15px;
        padding: 15px;
        white-space: normal;
        text-transform: none;
        white-space: pre-line;
    }
    &.app-balloon-box-right {
        .app-balloon-content {
            margin: 0 0 0 12px;
        }

        .app-balloon-pointer {
            top: 9px;
            left: 2px;
            height: 0;
            border-width: 10px 10px 10px 0;
            border-top-color: transparent!important;
            border-left-color: transparent!important;
            width: 0;
            border-style: solid;
            border-bottom-color: transparent!important;
            background: 0 0;
        }
    }
}

/*-- End tooltip control --*/

/*-- begin tab control -*/

.ext-hubs-tabssection {
    margin-bottom: 10px;
    display: block;
    a {
        padding: 4px 10px 4px;
        text-decoration: none;
        display: inline-block;
        vertical-align: bottom;
        &:hover {
            text-decoration: none;
        }
    }
}

/*-- end tab control --*/


/*-- begin statusBar control --*/

.app-blade-status-container {
    height: 40px;
    box-sizing: border-box;

    .app-blade-status {
        border: 0;
        text-align: left;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;

        .app-blade-status-text {
            display: block;
            line-height: 30px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-right: 25px;
        }

        .app-blade-status-arrow {
            display: block;
            height: 12px;
            -webkit-flex: 0 0 12px;
            flex: 0 0 12px;
            position: absolute;
            right: 8px;
            top: 10px;
            cursor: pointer;
            svg {
                height: 20px;
                width: 20px;
            }
        }
    }

    .app-blade-status,
    .app-blade-status-text-container {
        width: 100%;
        height: 100%;
        padding: 5px 10px 5px 10px;
        line-height: 20px;
        box-sizing: border-box;
    }

    .app-blade-status-icon {
        height: 20px;
        -webkit-flex: 0 0 20px;
        flex: 0 0 20px;
        margin-right: 10px;

        svg {
            height: 20px;
            width: 20px;
        }
    }
}

/*-- End statusBar control --*/


/*-- Begin Dialog control --*/

.app-blade-overlay {
    background: transparent;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    z-index: 100;
}

.app-blade-dialoghost {
    display: block;
    position: relative;
    z-index: 200;
    width: 100%;
    left: 0;
    overflow: visible;
    height: 0;
    outline: 0;
}

.app-messagebox {
    box-sizing: border-box;
    border: 1px solid;
    h2 {
        padding: 24px 27px 7px;
        margin: 0;
        line-height: 14px;
        border-bottom: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .app-messagebox-text {
        padding: 0 27px;
        word-wrap: break-word;
        white-space: pre-line;
        max-height: 200px;
        overflow: auto;
    }
    .app-portalfx-form {
        padding: 0;
        margin: 27px 0 0;
        div {
            padding: 15px;
        }
    }
}

/*-- end Dialog control --*/

/*-- Begin Messagbox control --*/

.app-portal-shield {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    align-items: center; // vertical center.
    justify-content: center; // horizontal center.
    .app-blade-dialoghost {
        min-height: 150px;
        margin: 10px;
        width: auto;
        max-width: 450px;
        .app-messagebox-buttons {
            text-align: right;
        }
    }
}

@media only screen and (max-width: 460px) {
    /* From mobile phones: */
    .app-blade-dialoghost {
        width: 100%;
    }
}

/*-- End Messagbox control --*/

/*-- begin fileupload control -*/

.file-upload-name {
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 15px;
    position: relative;
    a {
        display: inline-block;
        overflow: hidden;
        text-decoration: underline;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: calc(100% - 20px);
    }
    span {
        display: inline-block;
        max-width: 98%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .close {
        display: inline-block;
        margin: 0px 7px;
        cursor: pointer;
        opacity: 0.7;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        position: absolute;
        top:9px; 
        svg{
            width: 15px;
            height: 15px;
            display: block;
            margin: auto;
        }
    }
    &:hover {
        .close {
            opacity: 1;
        }
    }
}

.file-upload-container {
    position: relative;
    display: inline-flex;
    padding: 2px 22px 3px 22px;
    overflow: hidden;
    margin: 0px 4px 0 0;
    min-width: 60px;
    box-sizing: border-box;
    border: solid 1px;
    height: 28px;
    align-items: center;
    .file-upload {
        position: absolute;
        opacity: 0;
        top: 0;
        right: 0;
        font-size: 200px;
        cursor: pointer;
    }
    .file-upload[disabled] {
        cursor: not-allowed;
    }
     ::-webkit-file-upload-button {
        cursor: pointer;
    }
     ::-webkit-file-upload-button[disabled] {
        cursor: not-allowed;
    }
    span {
        font-weight: bold;
        font-size: 0.9em;
    }
}

.progress {
    .bar {
        height: 2px;
    }
}


/*-- end fileupload control --*/


/*---DatePicker control--*/
.ui-widget {
    font-family: inherit;
    input, select {
        font-family: inherit;
    }
}

/*--textBox for date picker--*/

.app-datetime-box {
    padding-bottom: 15px;
    .box {
        width: 100%;
        position: relative;

        input {
            height: 32px;
            width: 100%;
            padding: 2px 8px 4px 8px;
            box-shadow: none;
            outline: 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            background-size: 16px;
        }
        // span {
        //     &.enable {
        //         cursor: not-allowed;
        //     }
        // }
        .app-icon-calender,
        .app-remove-icon {
            position: absolute;
            cursor: pointer;
        }
        &.enable .app-icon-calender,
        &.enable .app-remove-icon {
            // position: absolute;
            cursor: not-allowed;
        }
        .app-icon-calender {
            top: 4px;
            right: 8px;
            svg {
                width: 13px;
                height: 13px;
            }
        }
        .app-remove-icon {
            top: 6px;
            right: 27px;
        }
        svg {
            width: 16px;
            height: 16px;
        }
    }
}

/*--textBox for date picker--*/


/*--Calendar styles--*/
div.ui-datepicker {
    border-radius: 0;
    width: 12em;
}

.ui-widget-header {
    border: none;
    .ui-state-hover {
        border: 1px solid transparent;
        background: transparent;
    }
}

.ui-datepicker {
    padding: 0;
    z-index: 10100 !important;
    position: absolute !important;
    td span,
    td a {
        text-align: center;
        padding: 0.1em;
    }
    th {
        padding: 0.1em;
    }
    .ui-datepicker-buttonpane button {
        float: left;
        border-radius: 0;
        &.ui-datepicker-current {
            float: right;
        }
    }
    .ui-datepicker-header {
        border-radius: 0;
        padding: 0 0 .2em 0;
    }

    .ui-datepicker-title {
        margin-top: 0.1em;
        margin-left: 1em;
        margin-right: 1em;

        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            outline: none;
            padding: 1px 5px;
            margin: 0;
            transition: border-color 0.2s;
            line-height: normal;
        }
        select::-ms-expand {
            display: none;
        }
    }

    .ui-datepicker-prev,
    .ui-datepicker-next {
        width: 1em;
    }
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    border: none;
}

.ui-timepicker-div {
    dl {
        margin: 0.2em;
    }
    .ui_tpicker_timezone .ui_tpicker_time_input {
        background: 0 0;
        color: inherit;
        border: 0;
        outline: 0;
        width: 95%;
        margin-left: 12px;
    }
    dl {
        margin: 0.1em 0.2em;
    }
    dl dd {
        margin-left: 40%;
    }
    .ui-widget-header {
        border-radius: 0;

        .ui-datepicker-title {
            line-height: 1em;
            margin-bottom: 0.1em;
        }
    }
}

.ui-timepicker-select.ui-state-default {
    border-radius: 0;
}

.ui-datepicker-prev span,
.ui-datepicker-next span,
{
    background-image: url("../images/ic-sort-down.svg") !important;
    background-size: 12px;
}

.ui-datepicker-prev span {
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    background-position: 0px 0px !important;
}

.ui-datepicker-next span {
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    background-position: 4px 0px !important;
}

.ui-datepicker-dropdown {
    position: relative;
    display: inline;
    .ui-datepicker-dropdown-arrow {
        &:before {
            content: '';
            position: absolute;
            top: 9px;
            right: 5px;
            pointer-events: none;
        }
    }
}

/*-- end DatetimePicker control --*/


/*--Begin listview control -*/
.gisc-ui-listview {
    list-style: none;
    margin: 0;
    padding: 0;
    .gisc-ui-button {
        cursor: pointer;
        display: block;
        position: relative;
        .gisc-ui-button-text {
            width: auto;
        }
        a.gisc-ui-link-inherit {
            display: block;
            padding: 15px 25px 15px 20px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            i.fa {
                margin-right: 10px;
            }
        }
        a.gisc-ui-link-inherit.selected {
            text-shadow: none;
        }
        .gisc-ui-icon {
            position: absolute;
            top: 50%;
            margin-top: -10px;
            right: 10px;
            width: 20px;
            height: 20px;
            font-size: 14px;
        }
        .gisc-ui-required {
            margin-left: 4px;
        }
    }
}

/*--End listview control -*/

/*--Begin Chart control -*/

.app-chart-container {
    padding: 8px 0 8px 0;
}

.app-chart-bar-container{
    padding-bottom: 15px;
    canvas{
        max-height: 60px;  
    }
}

/*--End Chart control -*/

/*-- Begin Field control --*/

.app-form-field-container {
    padding-bottom: 15px;
    margin-top: 2px;
    width: 100%;
    word-break: break-word;
}

/*-- End Field control --*/

/* KO Validation */
.app-dropdown-container.ko-input-err {
    border: none;
}

.ko-inline-msg-err {
    display: block;
    margin-top: 6px;
    white-space: pre-line;
}

select+.ko-inline-msg-err {
    margin-top: 0;
}

.ko-block-msg-err {
    display: block;
    margin-top: 6px;
}

.field-wrapper>.ko-block-msg-err {
    margin-top: 10px;
    margin-bottom: -4px;
}

/* Begin ColorPicker */

.minicolors-theme-default {
    .minicolors-input {
        display: inline-block;
        padding-left: 26px;
        width: 100% !important;
        border-style: solid;
        border-width: 1px;
        font-weight: 400;
        outline: 0 none;
    }
    &.minicolors {
        width: 100% !important;
    }
}

/*End ColorPicker*/

/* Begin Image combobox */

.app-image-combobox {
    padding-bottom: 15px;

    .dd {
        width: 100% !important;
        margin-bottom: 20px !important;
        border-width: 0;
        height: 100%;
        cursor: pointer;

        img {
            width: 18px;
            height: 18px;
        }

        .ddTitle {
            background: none;
            height: 100%;

            .ddTitleText {
                padding: 3px 27px 3px 8px;
            }
        }

        .ddArrow {
            background: none;
            margin-top: -3px;
            right: 2px;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                border-top: 5px solid #a3a5a8;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
            }

            &:after {
                content: '';
                position: absolute;
                left: 1px;
                top: 0;
                border-top: 4px solid #a3a5a8;
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
            }
        }

        .ddChild {
            li {
                padding: 5px 5px 5px 8px;
                border-bottom-width: 0;
            }
        }
    }

    .ddcommon {
        ul {
            padding: 0 !important;
        }

        .divider {
            display: none;
        }
    }

    .dd .ddChild li {
        padding: 5px;
        border-bottom: unset;
        min-height:18px;
        
    }
     .borderRadius {
        -moz-border-radius: 0;
        border-radius: 0;
    }
    .borderRadiusTp {
        -moz-border-radius: 0;
        border-radius: 0;
    }

    .borderRadiusBtm {
        -moz-border-radius: 0;
        border-radius: 0;
    }

}

/*End Image Combobox*/


/*------- Tree View ----------*/

.app-treeview-container {
    padding-bottom: 15px;
    width: 100%;
    ul,
    li,
    a {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.app-treeview-dropdown-list {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    .app-treeview-container {
        padding-bottom: 0;
        ul {
            width: 100%;
        }
    }
    .jstree-default .jstree-anchor {
        max-width: 100%;
    }
}

.jstree-default .jstree-clicked.jstree-checkbox {
    border-radius: 2px;
}

/*------- Tree View ----------*/

/*------- DropdownTree View ----------*/

.app-treeview-dropdown {
    padding-bottom: 15px;
    outline: none;
} 
.app-treeview-dropdown-wrapper {
    position: relative;
    width: 100%;
    height: 32px;
    box-sizing: border-box;
    padding: 4px 8px;
    margin: 0 auto;

    outline: none;
    cursor: pointer;
    z-index: 5;

    &.enable {
        cursor: not-allowed;
    }
    span {
        display: inline-block;
        max-width: 85%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .app-allow-icon {
        width: 10px;
        height: 10px;
        position: absolute;
        top: 50%;
        right: 8px;
        margin-top: -6px;
        &:after {
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            top: calc(50% + 3px);
            margin-top: -6px;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
        }
    }
    .app-remove-icon {
        position: absolute;
        right: 25px;
        top: 5px;
        svg {
            width: 16px;
            height: 16px;
        }
    }
    .app-treeview-dropdown-contain {
        height: 100%;
        width: 80%;
        line-height: 12px;
        display: inline-block;
    }
    .app-treeview-dropdown-list {
        position: absolute;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        list-style: none;
    }

    .jstree-default {
        .jstree-open>.jstree-ocl {
            pointer-events: none;
        }
    }
}

/*------- Dropdown Multi Select ---------
.app-treeview-dropdown-wrapper.multiselect{
    z-index: 1;
}
-*/

.jstree-default {
	>.jstree-no-dots {
		.jstree-node {
			background: transparent;
		}
		.jstree-leaf {
			>.jstree-ocl {
				background: transparent;
			}
		}
	}
}



.app-treeview-dropdown-wrapper.enable {
    .app-remove-icon,
    .app-allow-icon {
        cursor: not-allowed;
    }
}

/*------- DropdownTree View ----------*/

/*------- Dashboard View --------*/
.div-dashboard-container
{
    width:100%;
    height:1000px;
}

.div-dashboard-container .div-dashboard-row 
{
    width:100%;
    clear:both;
}

.div-dashboard-container .div-dashboard-row:nth-child(1)
{
    height:45%;
}

.div-dashboard-container .div-dashboard-row:nth-child(2)
{
    height:55%;
}

.div-dashboard-container .div-dashboard-row .div-dashboard-col {
    float:left;
    height:100%;
}

/*.div-dashboard-container .div-dashboard-row .div-dashboard-col:nth-child(1) {
    width:calc(40%);
}

.div-dashboard-container .div-dashboard-row .div-dashboard-col:nth-child(2) {
    width:calc(60%);
}*/

.div-dashboard-container .div-dashboard-row:nth-child(1) .div-dashboard-col:nth-child(1) {
    width:calc(40%);
}

.div-dashboard-container .div-dashboard-row:nth-child(1) .div-dashboard-col:nth-child(2) {
    width:calc(60%);
}

.div-dashboard-container .div-dashboard-row:nth-child(2) .div-dashboard-col:nth-child(1) {
    width:calc(60%);
}

.div-dashboard-container .div-dashboard-row:nth-child(2) .div-dashboard-col:nth-child(2) {
    width:calc(40%);
}

.div-dashboard-container .div-dashboard-row .div-dashboard-section {
    width:100%;
    height:100%;
    box-sizing: border-box;
}

.div-dashboard-container .div-dashboard-row .div-dashboard-col .div-chart-item {
    border: 2px solid #eee;
    border-radius: 5px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
    box-sizing: border-box;
    margin:10px;
    padding:15px;
}

.div-chart-item.chart-1-item {
    width:calc(100% - 20px);
    height:calc(100% - 20px);
}

.div-chart-item.chart-2-item {
    width:calc(100% - 20px);
    height:calc(50% - 20px);
}

.div-dashboard-container .div-dashboard-row .div-dashboard-section .div-chart-item.chart-2-item:nth-child(1) {
    margin-bottom:20px;
}
.div-dashboard-container .div-dashboard-row .div-dashboard-section .div-chart-item.chart-2-item:nth-child(2) {
    margin-top:20px;
}

.div-dashboard-container {
    .app-chart-container,app-control-fullcaledar  {
        width:100%;
        height:100%;
    }

}
.fc-day-grid.fc-unselectable {
    display: none;
}

.fc-view.fc-agendaDay-view.fc-agenda-view {
    
}

.piechart-nodata {
    margin: 0 auto;
    text-align: center;
}

.piechart-nodata div:first-child{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.dt-fix-size-appointment {
    width: 100px;
    word-break: break-all;
    white-space: normal;
}

.dt-fix-size-madate {
    width: 130px;
    word-break: break-all;
    white-space: normal;
}


.dt-fix-size
{
    width: 200px;
    word-break: break-all;
    white-space: normal;
}

//kendo window modal for drag resize not lag
.kwindow-modal
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    display: none;
}

.app-widget-component-vehicle-info {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    // background: #f2f2f2;
    padding: 10px;
    display: table;

    .vehicle-info-row {
        width: calc(100% - 10px);
        display: table-row;
        box-sizing: border-box;

        .vehicle-info-col {
            // background: #fff;
            display: table-cell;
            padding: 5px;
        }

        .vehicle-info-col.key {
            width: 40%;
            box-sizing: border-box;
            vertical-align: middle;
            // border-bottom: 2px solid #f2f2f2;
            // border-left: 2px solid #f2f2f2;

            label {
                // color: #20af80;
                font-weight: bold;
            }
        }

        .vehicle-info-col.value {
            width: 60%;
            box-sizing: border-box;
            vertical-align: middle;
            border-bottom: 2px solid #f2f2f2;
            border-left: 2px solid #f2f2f2;
            border-right: 2px solid #f2f2f2;

            label {
            }
        }
    }

    .vehicle-info-row:first-child {
        border-top: 2px solid white;
    }
}

.ui-route-option {
    width: 100%;

    table {
        width: 100%;
        margin-bottom: 10px;

        td {
            width: 25%;
            height: 30px;
            text-align: center;
            cursor: pointer;

            svg {
                width: 30px;
                height: 30px;
            }
        }

        td.active {
            box-sizing:border-box;
            // border-bottom: 2px solid #20af80;

            svg {
                // fill: #20af80;
            }
        }
    }
}

.working-map-ctrl
{
    width:100%;
    height: 100%;
}

// for loading autocomplete
// .ui-autocomplete-loading {
//     background: url('../images/loading-image.gif') no-repeat right center;
//     background-size: 20px 20px;
// }

input[type="search"].ui-autocomplete-loading::-webkit-search-cancel-button {
    display: none;
}
// end autocomplete

/* shipment-timeline */

.shipment-timeline {
    width: 1200px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    
    .shipment-timeline-title {
        h1 {
            width: fit-content;
            margin: 0 auto;
        }
        span {
            i {
                font-size: 26px;
                margin-bottom: 5px;
                float: right;
            }
            i:first-child {
                float: left;
            }
        }
        span {
            i:hover {
                cursor: pointer;
                color: #ccccff;
            }
        }
    }
    .shipment-timeline-gantt-chart {
        width: calc(100%);
        height: calc(100%);
        overflow-x: auto;
        overflow-y: hidden;
    }
}

/* End shipment-timeline */