/* --------------------------------------------------------------
   * Resets default Kendo UI CSS.
-------------------------------------------------------------- */

/* set for fix widget small */

.k-filter-row th,
.k-grid-header th.k-header {
  padding: .5em .6em .4em;
}

.findAssetFleetMonitoring {
    & .k-grid td {
        padding: .4em .6em !important;
    }
}

.k-grid td {
    padding: .1em .6em;
}

div.k-grid .app-control-dt-indicator {
  width: 12px;
  height: 12px;
}

.k-grid-header th.k-header {
  vertical-align: middle;
}

.k-webkit .k-pager-wrap {
  min-height: 0;
}

.k-pager-wrap {
  padding: .1em 0 .1em .25em;
}

/* end set for fix widget small */

.k-grid-height {
  height: 100%;
  padding-bottom: 0 !important;
}

.k-grid input.k-textbox {
  height: 1.65em;
}

.k-grid .k-input {
  height: 1.4em;
}

.k-grid input[data-role="autocomplete"].k-input {
  height: 1.65em;
}

.k-grid tbody .k-button {
  min-width: auto;
}

.k-grid tbody .k-button>.k-icon.k-i-close {
  margin: 0;
}

// .k-grid tbody td[data-editable="true"] {
//   outline: 1px solid #9E9E9E;
//   outline-offset: -6px;
//   outline-style: double;
// }

.dg-body-center {
  text-align: center;
}

.dg-body-right {
  text-align: right;
}

td.dg-svg-column {
  >svg {
    width: 20px;
    height: 20px;
  }
}

td.dg-small-svg-column {
  >svg {
    width: 15px;
    height: 15px;
  }
}

/* reset css autocomplete */

// .k-autocomplete.k-state-focused,
// .k-autocomplete.k-state-hover,
// .k-textbox:hover {
//   -webkit-box-shadow: unset !important;
//   box-shadow: unset !important;
// }
/* end autocomplete */

/* reset css photoswipe */
.pswp {
  //w - l
  width: calc(100% - 36%) !important;
  //h - t
  height: calc(100% - 230px) !important;
  left: 36% !important;
  top: 230px !important
}

.pswp__button--rotate {
  background: url("../images/rotate-to-right.png") center center no-repeat !important;
  background-size: 18px 18px !important;
}
/* end photoswipe */