﻿.liveview-portal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: background .25s ease;
    overflow: hidden;
}
.app-theme-gis .liveview-portal {
    background-color: #f2f2f2;
}
.app-theme-gis .liveview-portal .app-topbar {
    background-color: #323b3a;
}
.liveview-portal .app-topbar {
    height: 58px;
    position: relative;
    z-index: 202;
}
.liveViewContainer {
    display: inline-block;
    padding: 10px;
    vertical-align: top;
}

.live-view-bg {
    background-color: white;
}

.live-view-small-camera {
    width:300px; 
    height:200px; 
    margin-bottom:15px;
}
.header-live-view{
    h1{
        color: #ffffff;
        margin-left: 5%;
        padding-top: 20px;
    }
}
.smallCamera{
    display:inline-block; 
    vertical-align: top;
    

    a{
        font-size: 20px;
        background-color: #b7d9c8;
        display: block;
        padding-left: 10px;
    }
}

.liveView-cameraCenter {
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
    span{
        font-size: 20px;
        background-color: #b7d9c8;
        display: block;
        padding-left: 10px;
    }
}
.cbInfo{
    display: inline-block;
    width: 350px;
    background-color: #ffffff;
    border: #000000 solid 1px;
}

.statusInfoItem {
    display: inline !important;
    background-color: transparent !important;
    border: none !important;
    padding-left:10px !important;
}
