/*-------------------- SDK for Developer section -----------------------*/

$lineColor: #eee;
$lowLevelImportantColor: #777;
$separatorColor: #e7e7e7;
$blockQuoteBorderColor: #ddd;
$codeBackgroundColor: rgba(0, 0, 0, 0.04);
$codeBlockBackgroundColor: white ;//#f7f7f7
$tableRowBackgroundColor: #fff;
$tableRowAltBackgroundColor: #f8f8f8;
$tableRowBorderColor: #ccc;
$tableCellBorderColor: #ddd;
$hyperlinkColor: #4078c0;
$buttonColor: #333;
$buttonBackgroundColor: #fff;
$buttonBorderColor: #ccc;
// Mixin to prefix a property, the simpler version of Autoprefixer
@mixin prefix($property, $value, $prefixes: ()) {
    @each $prefix in $prefixes {
        #{'-' + $prefix + '-' + $property}: $value;
    }
    #{$property}: $value;
}

blockquote {
    margin: 0;
}

.sdk-body {
    box-sizing: border-box;
    /*-- Common --*/
    p,
    blockquote,
    ul,
    ol,
    dl,
    table,
    pre {
        margin-top: 0;
        margin-bottom: 16px;
    }
    /*-- Headers --*/
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 24px;
        margin-bottom: 16px;
        font-weight: 600;
        line-height: 1.25;
    }
    h1 {
        padding-bottom: 0.3em;
        //font-size: 2em;
        border-bottom: 1px solid $lineColor;
    }
    h2 {
        padding-bottom: 0.3em;
        //font-size: 1.5em;
        border-bottom: 1px solid $lineColor;
    }
    h3 {
        //font-size: 1.25em;
    }
    h4 {
        //font-size: 1em;
    }
    h5 {
        //font-size: 0.875em;
    }
    h6 {
        //font-size: 0.85em;
        color: $lowLevelImportantColor;
    }
    /*-- List --*/
    ul,
    ol {
        padding-left: 2em;
    }
    ul ul,
    ul ol,
    ol ol,
    ol ul {
        margin-top: 0;
        margin-bottom: 0;
    }
    li>p {
        margin-top: 16px;
    }
    li+li {
        margin-top: 0.25em;
    }
    /*-- Others --*/
    hr {
        height: 0.25em;
        padding: 0;
        margin: 24px 0;
        background-color: $separatorColor;
        border: 0;
    }
    blockquote {
        padding: 0 1em;
        color: $lowLevelImportantColor;
        border-left: 0.25em solid $blockQuoteBorderColor;
        li+li {
            margin-top: 0;
        }
    }
    blockquote>:first-child {
        margin-top: 0;
    }
    blockquote>:last-child {
        margin-bottom: 0;
    }
    /*-- Code --*/
    code,
    tt {
        padding: 0;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        margin: 0;
        //font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
        //font-size: 85%;
        background-color: $codeBackgroundColor;
        border-radius: 3px;
    }
    code:before,
    code:after,
    tt:before,
    tt:after {
        letter-spacing: -0.2em;
        content: "\00a0";
    }
    .highlight pre,
    pre {
        padding: 16px;
        overflow: auto;
        font-size: 85%;
        line-height: 1.45;
        background-color: $codeBlockBackgroundColor;
        border-radius: 3px;
    }
    pre {
        word-wrap: normal;
        code,
        tt {
            display: inline;
            padding: 0;
            margin: 0;
            overflow: visible;
            line-height: inherit;
            word-wrap: normal;
            background-color: transparent;
            border: 0;
        }
    }
    pre>code {
        padding: 0;
        margin: 0;
        //font-size: 100%;
        word-break: normal;
        white-space: pre;
        background: transparent;
        border: 0;
    }
    pre code::before,
    pre code::after,
    pre tt::before,
    pre tt::after {
        content: normal;
    }
    /*-- Table --*/
    table {
        border-spacing: 0;
        border-collapse: collapse;
        display: block;
        width: 100%;
        overflow: auto;
        word-break: keep-all;
        tr {
            background-color: $tableRowBackgroundColor;
            border-top: 1px solid $tableRowBorderColor;
        }
        tr:nth-child(2n) {
            background-color: $tableRowAltBackgroundColor;
        }
        th,
        td {
            padding: 6px 13px;
            border: 1px solid $tableCellBorderColor;
        }
        th {
            font-weight: bold;
        }
    }
    /*-- Hyperlinks --*/
    a {
        color: $hyperlinkColor;
        text-decoration: none;
    }
    a:hover,
    a:active {
        text-decoration: underline;
        outline-width: 0;
    }
    /*-- Form --*/
    button.eval-btn {
        color: $buttonColor;
        background-color: $buttonBackgroundColor;
        border: 1px solid $buttonBorderColor;
        vertical-align: middle;
        white-space: nowrap;
        text-align: center;
        cursor: pointer;
        border-radius: 4px;
        padding: 10px 16px;
        //font-size: 14px;
        line-height: 1.33;
    }
    /*-- Add-ons --*/
    .output {
        background-color: $codeBlockBackgroundColor;
        border: 2px dotted $tableCellBorderColor;
        padding: 16px;
    }
    /*-- Used by some screens, just experimental --*/
    .form-group {
        margin-bottom: 5px;
        label {
            display: inline-block;
            max-width: 100%;
            margin-bottom: 5px;
            //font-size: 12px;
        }
        .form-control {
            width: 100px;
            //font-size: 14px;
            padding: 5px 6px;
            &:focus {
                outline: 0;
            }
        }
    }
    .boxed-group {
        position: relative;
        margin-bottom: 20px;
        border-radius: 3px;
        h3 {
            display: block;
            padding: 9px 10px 10px;
            margin: 0;
            //font-size: 14px;
            line-height: 17px;
            background-color: #f5f5f5;
            border: 1px solid #d8d8d8;
            border-bottom: 0;
            border-radius: 3px 3px 0 0;
        }
        .boxed-group-inner {
            color: #666;
            background-color: #fff;
            border: 1px solid #d8d8d8;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
            padding: 10px;
        }
    }
    .btn {
        position: relative;
        display: inline-block;
        padding: 6px 12px;
        //font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        color: #333;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        @include prefix(user-select, none, webkit moz ms);
        background-color: #eee;
        // background-image: -webkit-linear-gradient(#fcfcfc, #ccc);
        // background-image: linear-gradient(#fcfcfc, #ccc);
        border: 1px solid #d5d5d5;
        border-radius: 3px;
        @include prefix(appearance, none, webkit moz);
        &:hover {
            text-decoration: none;
            background-color: #ddd;
            border-color: #ccc;
        }
        &:active {
            background-color: #dcdcdc;
            border-color: #b5b5b5;
            box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
        }
    }
    .btn-sm {
        padding: 3px 10px;
        //font-size: 12px;
        line-height: 20px;
    }
}

.sdk-special-body {
    .output {
        background-color: $codeBlockBackgroundColor;
        border: 2px dotted $tableCellBorderColor;
        padding: 16px;
    }
}