﻿<gisc-ui-component>

    <!--Name-->
    <gisc-ui-label params="for:'txtSqlTempName', isRequired:true,text:i18n('AutoMail_TemplateName')" />
    <gisc-ui-textbox params="id:'txtSqlTempName', value:sqlTempName" />

    <!--Sql Statement-->
    <gisc-ui-label params="for:'txtSqlStatement', isRequired:true, text:i18n('AutoMail_SqlStatement')" />
    <gisc-ui-tooltip params="text: i18n('I027')"></gisc-ui-tooltip>
    <div style="height:100%">
        <gisc-ui-textarea params="id:'txtSqlStatement', value: sqlStatement"/>
    </div>
    <!--Validate Statement-->
    <!--<gisc-ui-button params="id:'btnValidateStatement', text:i18n('AutoMail_ValidateStatement')"></gisc-ui-button>-->
    <!-- Validate Statement -->
    <gisc-ui-button params="text: i18n('Validate Statement'), onclick: onValidateButtonClick.bind($data,)" />
</gisc-ui-component>