<!-- ko component: {name: "gisc-ui-component"} -->
        <!-- ko if: journey() != null -->
        <div class="app-breadcrumb-wrapper" data-bind="attr: {id: id}, foreach: journey().items()">
            <a class="app-breadcrumb-crumb app-has-hover" data-bind="text: $data.title"></a>
            <div class="app-breadcrumb-divider app-fill-secondary">
                <!-- ko component: 'svg-crumb-divider' --><!-- /ko -->
            </div>
        </div>
        <!-- /ko -->
<!-- /ko -->