﻿<div class="wg-tools">
    <div class="global-widget-header" data-dojo-attach-point="divHeader">
        <div class="global-widget-header-text">Developer Example</div>
    </div>
    <div class="global-widget-content">
        <div data-dojo-attach-point="divMeasurement"></div>
        <div data-dojo-attach-point="divPrintMap"></div>
        <div data-dojo-attach-point="divDeleteGraphic"></div>
        <div class="global-btn-submit">OK</div>
        <div class="global-btn-cancel">Cancel</div>
        <br />
        <label class="global-form-label">Textbox Valid</label>
        <input type="text" class="global-form-textbox" />
        <br />
        <label class="global-form-label">Textbox Invalid</label>
        <input type="text" class="global-form-textbox global-form-invalid" />
        <div data-dojo-attach-point="divTestList" style="width:100%;"></div>
    </div>
</div>