﻿<div class="wg-favorite">
    <div class="global-widget-header" data-dojo-attach-point="divHeader">
        <div class="global-widget-header-text">Favorite</div>
    </div>
    <div class="global-widget-content">
        <div data-dojo-attach-point="divFavoriteList" style="width:100%;"></div>
    </div>
</div>