﻿<div class="wg-layers">
    <div class="global-widget-header" data-dojo-attach-point="divHeader">
        <div class="global-widget-header-text">Layers</div>
    </div>
    <div class="global-widget-content">
        <div data-dojo-attach-point="dibBasemapList" style="width:100%;"></div>
    </div>
</div>