﻿<div>
    <div class="global-widget-header" data-dojo-attach-point="divHeader">
        <div data-dojo-attach-point="divVideoPanelHeader" class="global-widget-header-text"></div>
    </div>
    <div class="global-widget-content">
        <div style="margin:10px;" data-dojo-attach-point="divWndLiveViewList">
            <div id="windowe0">
                <div class="liveview-control-asset-name" style="cursor:  pointer; font-family: 'DB-Regular'; color: #323B3A;font-size: 20px;font-weight: bold;" data-dojo-attach-point="divTitle0" id="divTitle0"></div>
                <div id="divWnd0" style="width:265px; height:250px; margin-bottom:10px; position:relative; top:30px; left:30px;"></div>
            </div>
            <div id="windowe1">
                <div class="liveview-control-asset-name" style="cursor:  pointer; font-family: 'DB-Regular'; color: #323B3A;font-size: 20px;font-weight: bold;" data-dojo-attach-point="divTitle1" id="divTitle1"></div>
                <div id="divWnd1" style="width:265px; height:250px; margin-bottom:10px; position:relative; top:30px; left:30px"></div>
            </div>
            <div id="windowe2">
                <div class="liveview-control-asset-name" style="cursor:  pointer; font-family: 'DB-Regular'; color: #323B3A;font-size: 20px;font-weight: bold;" data-dojo-attach-point="divTitle2" id="divTitle2"></div>
                <div id="divWnd2" style="width:265px; height:250px;margin-bottom:10px; position:relative; top:30px; left:30px"></div>
            </div>
            
        </div>
    </div>
</div>