﻿<div class="wg-location-info">
    <div class="global-widget-header" data-dojo-attach-point="divHeader">
        <div class="global-widget-header-text">Location Info</div>
    </div>
    <div class="global-widget-content content-info">
        <div data-dojo-attach-point="divLocation" class="global-widget-header-text divLocation"></div>
        <div data-dojo-attach-point="divLocationInfo" class="info"></div>
        <div class="favorite-icon" data-dojo-attach-point="divLocationFavorite">
            <!--<img src="./gis-js/images/icon_locationinfo_favorite@3x.png" />-->
        </div>
    </div>
</div>