﻿<div class="wg-playback">
    <div class="global-widget-header" data-dojo-attach-point="divHeader">
        <div class="global-widget-header-text">Playback Control</div>
    </div>
    <div class="global-widget-content">
        <div class="playback-control-section">
            <div data-dojo-attach-point="btnPlay" class="button-control play big-icon">
                <!--<img src="./gis-js/images/svg/btn_playback_play.svg" title="" alt="" />-->
            </div>
            <div data-dojo-attach-point="btnPause" class="button-control pause hide big-icon">
                <!--<img src="./gis-js/images/svg/btn_playback_pause.svg" title="" alt="" />-->
            </div>
            <div class="range-timer">
                <input data-dojo-attach-point="inpSlider" type="hidden" value="0" />
            </div>
            <div data-dojo-attach-point="divTimer" class="playback-control-timer">

            </div>
            <div class="button-control-group">
                <div data-dojo-attach-point="btnStop" class="button-control stop hide">
                </div>
                <select id="ddSpreed" data-dojo-type="dijit/form/Select" data-dojo-attach-point="ddSpreed"
                    data-dojo-props="name: 'ddSpreed'" style=" position: relative; top: 5px; left: 10px; ">
                    <option value="1x" id="ix1">Increase Speed x1</option>
                    <option value="2x" id="ix2">Increase Speed x2</option>
                    <option value="4x" id="ix4">Increase Speed x4</option>
                </select>
                <div id="increasespeed"></div>
            </div>
        </div>


        <div data-dojo-attach-point="divListStat" class="playback-status-section" style="position: absolute;"></div>

    </div>


</div>