﻿<div class="wg-playback">
    <div class="global-widget-header" data-dojo-attach-point="divHeader">
        <div class="global-widget-header-text">Playback Control</div>
    </div>
    <div class="global-widget-content">
        <div class="playback-control-section">
            <div data-dojo-attach-point="btnPlay" class="button-control play ">
                <!--<img src="./gis-js/images/svg/btn_playback_play.svg" title="" alt="" />-->
            </div>
            <div data-dojo-attach-point="btnPause" class="button-control pause hide">
                <!--<img src="./gis-js/images/svg/btn_playback_pause.svg" title="" alt="" />-->
            </div>
            <!--<div data-dojo-attach-point="btnStop" class="button-control stop material-icons">stop</div>-->
            <!--<input type="range" class="range-timer" value="0" />-->
            <div class="range-timer">
                <input data-dojo-attach-point="inpSlider" type="hidden" value="0" />
            </div>
        </div>
        <div data-dojo-attach-point="divListStat" class="playback-status-section"></div>
    </div>
</div>