﻿<div class="wg-tools">
    <div class="global-widget-header" data-dojo-attach-point="divHeader">
        <div class="global-widget-header-text">Tools</div>
    </div>
    <div class="global-widget-content" data-dojo-attach-point="divToolsContent">
        
    </div>
</div>