﻿<div class="wg-vehicle">
    <div class="global-widget-header" data-dojo-attach-point="divHeader">
        <div class="global-widget-header-text">Vehicle</div>
    </div>
    <div class="global-widget-content">
        <div data-dojo-attach-point="divList"></div>
    </div>
    <div div data-dojo-attach-point="divVehicleStatus">
        <img data-dojo-attach-point="imgQuestion" class="vehicle-status-img"/>
        <u>
            <label data-dojo-attach-point="vehicleStatusTitle" class="vehicle-status-title" style="cursor: pointer">Vehicle Status</label>
        </u>
    </div>
</div>