﻿<gisc-ui-component>
    <gisc-ui-listview params="
        selectedIndex: selectedIndex,
        onItemSelecting: _selectingRowHandler.bind($data),
        datasource: items,
        dataTextfield: 'text',
        isShowNavIcon: true">
    </gisc-ui-listview>
</gisc-ui-component>