<!-- ko component: {
    name: 'gisc-ui-component',
    params: {
        additionalCssClasses: 'compact'
    }
} -->
<div class="app-textBox-wrapper gb-search">
	<input class="app-input" data-bind="textInput: value, enable: enable, event: {keypress: onKeypress}, attr: { placeholder: placeholder, id: id ,type: type, maxlength: maxlength}" />
    <div class="app-blade-actions">
        <button type="button" data-bind="attr: { title: placeholder }, click: onKeypress">
            <!-- ko component: 'svg-cmd-search' --><!-- /ko -->
        </button>
    </div>
</div>
<!-- /ko -->