<gisc-ui-component>
    <gisc-ui-listview params="selectedIndex:selectedIndex, onItemSelected:goto.bind($data)">
        <item params="text: 'Button', extras: { id: 'buttonPage'}" />
        <item params="text: 'Chart', extras: { id: 'chartPage'}" />
        <item params="text: 'ChartBar', extras: { id: 'chartBarPage'}" />
        <item params="text: 'Checkbox', extras: { id: 'checkBoxPage'}" />
        <item params="text: 'ColorPicker', extras: { id: 'colorPickerPage'}" />
        <item params="text: 'ComboBox', extras: { id: 'comboboxPage'}" />
        <item params="text: 'DataTable', extras: { id: 'datatableIndex'}" />
        <item params="text: 'DateTimePicker', extras: { id: 'dateTimepickerPage'}" />
        <item params="text: 'Dropdown', extras: { id: 'dropdownPage'}" />
        <item params="text: 'Dropdown Tree', extras: { id: 'dropdownTreePage'}" />
        <item params="text: 'FileUpload', extras: { id: 'fileUploadPage'}" />
        <item params="text: 'ImageCombobox', extras: { id: 'imageComboboxPage'}" />
        <item params="text: 'Label', extras: { id: 'labelPage'}" />
        <item params="text: 'Map', extras: { id: 'mapIndex'}" />
        <item params="text: 'Messagebox', extras: { id: 'messageboxHelpPage'}" />
        <item params="text: 'Report Viewer', extras: { id: 'reportViewerDemo'}" />
        <item params="text: 'Screen Development', extras: { id: 'screenDevIndex'}" />
        <item params="text: 'Service Testing', extras: { id: 'serviceTestingIndex'}" />  
        <item params="text: 'Tab', extras: { id: 'tabPage'}" />
        <item params="text: 'Textarea', extras: { id: 'textAreaPage'}" />
        <item params="text: 'Textbox', extras: { id: 'textBoxPage'}" />
        <item params="text: 'Tooltip', extras: { id: 'tooltipPage'}" />
        <item params="text: 'Tree View', extras: { id: 'treeViewPage'}" />  
    </gisc-ui-listview>
</gisc-ui-component>