﻿<gisc-ui-component>
    <style>
        .app-chart-container {
          position: relative;
          margin: auto;
          height: 460px;
        }
    </style>

    <div class="row">
        <div class="col-lg-9 col-md-10 col-sm-12">
            <gisc-ui-stackchart params="data:activeTicketData, selected: activeTicketSelected" />
        </div>
        <div class="col-lg-3 col-md-5 col-sm-12">
            <gisc-ui-stackchart params="data:inActiveTicketData, selected: inActiveTicketSelected" />
        </div>
    </div>
</gisc-ui-component>