﻿<gisc-ui-component>

    <link rel="stylesheet" href="../../../../../css/grid.min.css">

    <!--Company-->
    <gisc-ui-label params="text:i18n('Common_Company')" />
    <gisc-ui-dropdown params="options: listCompany,
                                  optionsText: 'name',
                                  value: selectedCompany,
                                  optionsCaption: '' " />


    <!--Bu-->
    <gisc-ui-label params="text:i18n('Common_BusinessUnit')" />
    <gisc-ui-dropdowntree params="id: 'ddlBusinessUnit',
                            options: listBu,
                            optionsID: 'id',
                            optionsText: 'name',
                            optionsParent: 'parentBusinessUnitId',
                            optionsChildren: 'childBusinessUnits',
                            value: selectedBu" />
    <gisc-ui-checkbox params="text:i18n('Common_IncludeSubBusinessUnit'), checked:isIncludeSubBu" />

    <!--Vehicle-->
    <gisc-ui-label params="for: 'ddVehicle', text:i18n('Common_Vehicle')" />
    <gisc-ui-dropdown params="id: 'ddVehicle',
                              options: vehicleOptions,
                              optionsText: 'license',
                              optionsCaption: selectedEntityBinding,
                              type: 'filter',
                              value: vehicleId"></gisc-ui-dropdown>

    <!--Contract-->
    <gisc-ui-label params="text:i18n('Ticket_ContractNo')" />
    <gisc-ui-textbox params="value:contract" />


    <!--ServiceType-->
    <gisc-ui-label params="text:i18n('Ticket_ServiceType')" />
    <gisc-ui-dropdown params="options: listServiceType,
                                  optionsText: 'name',
                                  value: selectedServiceType,
                                  optionsCaption: '' " />
    <!--Owner-->
    <gisc-ui-label params="text:i18n('Ticket_Owner')" />
    <gisc-ui-dropdown params="options: listOwner,
                                  optionsText: 'displayName',
                                  value: selectedOwner,
                                  optionsCaption: '' " />

    <!--AssignTo-->
    <gisc-ui-label params="text:i18n('Ticket_AssignTo')" />
    <gisc-ui-dropdown params="options: listOwner,
                                  optionsText: 'displayName',
                                  value: selectedAssignTo,
                                  optionsCaption: '' " />


    <!--Technician-->
    <gisc-ui-label params="text:i18n('Ticket_TechnicianTeam')" />
    <gisc-ui-dropdown params="options: listTech,
                                  optionsText: 'fullName',
                                  value: selectedTech,
                                  optionsCaption: '' " />
    <!--Ticket-->
    <gisc-ui-label params="for: 'txtTicketId', text: i18n('Ticket_TicketNo')"></gisc-ui-label>
    <gisc-ui-textbox params="id: 'txtTicketId', value: ticketId, filter:{type :'numeric', numericType:'int'}, maxlength:10"></gisc-ui-textbox>

    <!--License-->
    <gisc-ui-label params="text:'License'" />
    <gisc-ui-textbox params="value:license" />


</gisc-ui-component>