﻿<gisc-ui-component>
    <gisc-ui-label params="text: i18n('Vehicle_MA_Common_Name')" />
    <gisc-ui-field params="value: txtName" />

    <gisc-ui-label params="text: i18n('Vehicle_MA_Common_Code')" />
    <gisc-ui-field params="value: txtCode" />

    <gisc-ui-label params="text: i18n('Common_Description')" />
    <gisc-ui-field params="value: txtDesc" />

    <gisc-ui-label params="text: i18n('Vehicle_MA_ViewMA_CheckList')" />
    <gisc-ui-datatable params="
    id: 'dtViewCheckList',
    datasource: itemsCheckList,
    columns: [
        { type: 'label', title: 'i18n:Vehicle_MA_List_Name', data: 'name', orderable: false }
    ],
    order: order
    " />

    <gisc-ui-label params="text: i18n('Vehicle_MA_Actions')" />
    <gisc-ui-datatable params="
    id: 'dtViewAction',
    datasource: itemsAction,
    columns: [
        { type: 'label', title: 'i18n:Vehicle_MA_Common_Code', data: 'code', orderable: false },
        { type: 'label', title: 'i18n:Vehicle_MA_Action_Name', data: 'name', orderable: false }
    ],
    order: order
    " />
</gisc-ui-component>