﻿<gisc-ui-component>
    <!--Picture-->
    <gisc-ui-label params="text: i18n('Common_Picture')" />
    <gisc-ui-tooltip params="text: i18n('I018')" />
    <div class="app-img-wrap">
        <div class="app-img-manage-wrap">
            <img data-bind="attr: { src: pictureUrl, alt: '' }" />
        </div>
        <gisc-ui-fileupload params="
            fileName: pictureFileName,
            selectedFile: pictureSelectedFile,
            accept: pictureMimeTypes,
            onBeforeUpload: onBeforeUpload.bind($data),
            onUploadSuccess: onUploadSuccess.bind($data),
            onUploadFail: onUploadFail.bind($data),
            onRemoveFile: onRemoveFile.bind($data)
            " />
    </div>

    <!--Empolyee ID-->
    <gisc-ui-label params="for: 'txtEmployeeId', text: i18n('Common_EmployeeID'), isRequired: true" />
    <gisc-ui-textbox params="id: 'txtEmployeeId', value: employeeId, maxlength: 20" />


    <!--National ID-->
    <gisc-ui-label params="for: 'txtNationalId', text: i18n('Assets_NationalID') " />
    <gisc-ui-textbox params="id: 'txtNationalId', value: nationalId, maxlength: 20" />

    <!-- Gender -->
    <gisc-ui-label params="for: 'ddGender', text: i18n('Common_Gender'), isRequired: true"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddGendere',
                              options: genders,
                              optionsText: 'displayName',
                              optionsCaption: '',
                              value: selectedGender"></gisc-ui-dropdown>

    <!--Title-->
    <gisc-ui-label params="for: 'txtTitle', text: i18n('Assets_DriverTitle')" />
    <gisc-ui-textbox params="id: 'txtTitle', value: title, maxlength: 20" />

    <!--First Name-->
    <gisc-ui-label params="for: 'txtFirstName', text: i18n('Common_FirstName'), isRequired: true" />
    <gisc-ui-textbox params="id: 'txtFirstName', value: firstName" />

    <!--Last Name-->
    <gisc-ui-label params="for: 'txtLastName', text: i18n('Common_Lastname'), isRequired: true" />
    <gisc-ui-textbox params="id: 'txtLastName', value: lastName" />

    <!--Phone-->
    <gisc-ui-label params="for: 'txtPhone', text: i18n('Common_Phone')" />
    <gisc-ui-textbox params="id: 'txtPhone', value: phone, maxlength: 20 ,filter:{type:'regex',pattern:'[0-9+\-,]'}" />

    <!--Description-->
    <gisc-ui-label params="for: 'txtDesc', text: i18n('Common_Description')" />
    <gisc-ui-textarea  params="id: 'txtDesc', value: desc " />
</gisc-ui-component>