﻿<gisc-ui-component>
    <!--Picture-->
    <gisc-ui-label params="text: i18n('Common_Picture')" />
    <div class="app-img-wrap">
        <div class="app-img-manage-wrap">
            <img data-bind="attr: { src: pictureUrl, alt: '' }" />
        </div>
        <div class="file-upload-name" data-bind="visible: pictureFileName" >
            <span data-bind="text: pictureFileName"></span>
        </div>
    </div>

    <!--Empolyee ID-->
    <gisc-ui-label params="text: i18n('Common_EmployeeID'), isRequired: true" />
    <gisc-ui-field params="value: employeeId" />

    <!--National ID-->
    <gisc-ui-label params="for: 'txtNationalId', text: i18n('Assets_NationalID') " />
    <gisc-ui-field params="value: nationalId" />

    <!-- Gender -->
    <gisc-ui-label params="text: i18n('Common_Gender'), isRequired: true"></gisc-ui-label>
    <gisc-ui-field params="value: gender" />

    <!--Title-->
    <gisc-ui-label params="text: i18n('Assets_DriverTitle')" />
    <gisc-ui-field params="value: title" />

    <!--First Name-->
    <gisc-ui-label params="text: i18n('Common_FirstName'), isRequired: true" />
    <gisc-ui-field params="value: firstName" />

    <!--Last Name-->
    <gisc-ui-label params="text: i18n('Common_Lastname'), isRequired: true" />
    <gisc-ui-field params="value: lastName" />   


    <!--Phone-->
    <gisc-ui-label params="text: i18n('Common_Phone')" />
    <gisc-ui-field params="value: phone" />

    <!-- Description -->
    <gisc-ui-label params="text: i18n('Common_Description')" />
    <gisc-ui-field params="value: desc" /> 

    <!--Created Date-->
    <gisc-ui-label params="text: i18n('Common_CreatedDate')" />
    <gisc-ui-field params="value: formatCreateDate" />  

    <!--Created By-->
    <gisc-ui-label params="text: i18n('Assets_CreatedBy')" />
    <gisc-ui-field params="value: createBy" />  

    <!--Last Updated Date-->
    <gisc-ui-label params="text: i18n('Assets_LastUpdatedDate')" />
    <gisc-ui-field params="value: formatUpdateDate" />  

    <!--Last Updated By-->
    <gisc-ui-label params="text: i18n('Assets_LastUpdatedBy')" />
    <gisc-ui-field params="value: updateBy" /> 
</gisc-ui-component>