<!-- ko if: isLoading -->
<div data-bind="attr:{ class : companyClass }">
  <div data-bind="if: isLoading()" class="app-splashscreen">
    <!-- <div class="app-splashscreen-logo" data-bind="html: companyLoadingIcon">
      
    </div> -->
    <div class="app-splashscreen-loader-container"><div></div><div></div><div></div><div></div><div></div></div>
  </div>
</div>
<!-- /ko -->
<!-- ko component: {
    name: 'gisc-ui-component',
    params: {
        additionalCssClasses: themeClass
    }
} -->
  <!-- ko ifnot: isLoading -->
  <div class="app-portal app-show-journey">
    <div class="app-topbar">
      <div class="app-topbar-content">
        <div class="app-topbar-home app-has-hover" data-bind="html: companyIcon">
          
        </div>
        <!-- ko component: "gisc-chrome-companylogo" --><!-- /ko -->
        <!-- ko component: {
          name: "gisc-chrome-journeymenu",
          params: {navigationService: navigationService, isShowJourney: isShowJourney}
        } --><!-- /ko -->
        <div class="app-breadcrumb">
          <!-- ko component: { name: "gisc-chrome-crumbtail", params: {journey: navigationService.activeItem}} --><!-- /ko -->
        </div>
        <!-- "gisc-chrome-test-drive-widget-switcher" -->
        <!-- ko component: "gisc-chrome-liveview-widget-switcher" --><!-- /ko -->
        <!-- ko component: "gisc-chrome-track-widget-switcher" --><!-- /ko -->
        <!-- ko component: { name: "gisc-chrome-notification", params: {navigationService: navigationService, isShowJourney: isShowJourney}} --><!-- /ko -->
        <!-- ko component: "gisc-chrome-companyswitcher" --><!-- /ko -->
        <!-- ko component: {
          name: "gisc-chrome-usermenu",
          params: {navigationService: navigationService, isShowJourney: isShowJourney}} --><!-- /ko -->
      </div>
    </div>
    <div class="app-portal-main">
      <!-- ko component: {
        name: "gisc-chrome-sidebar",
        params: {navigationService: navigationService, isShowJourney: isShowJourney}
      } --><!-- /ko -->
      <div id="main-panorama" class="app-portal-content app-scrollbar-styles app-scrollbar-transparent app-scrollbar-default-hover app-panorama" tabindex="0">
        <div class="app-journey-target app-journey">
          <div class="app-journey-layout app-stacklayout-horizontal app-stacklayout">
            <!-- ko component: {
              name: "gisc-chrome-map",
              params: {visible: isMapVisible}
            } -->
            <!-- /ko -->
            <!-- ko if: (navigationService.activeItem() !== null) && isShowJourney -->
            <!-- ko foreach: navigationService.activeItem().items-->
            <section class="app-blade-paired-smallmaster app-blade fx-rightClick app-stacklayout-child" data-bind="attr: {id: id}, css: bladeSizeCss, click: restore.bind($data), template: { afterRender: afterRender.bind($data, $element)}">
              <header class="app-blade-header app-header app-bladestyle-default app-blade-color-locked app-blade-loaded">
                <!-- ko if: (!isLoaded() || isBusy()) -->
                <div class="app-blade-progress-translucent"><div></div><div></div><div></div><div></div><div></div></div>
                <!-- /ko -->
                <div class="app-blade-title-content">
                  <div class="app-blade-title-text-container">
                    <div class="app-blade-title">
                      <div class="app-blade-hgroup">
                        <h2 class="app-blade-title-titleText msportalfx-tooltip-overflow" data-bind="text: title"></h2>
                        <h3 class="app-text-title msportalfx-tooltip-overflow" data-bind="text: description"></h3>
                      </div>
                    </div>
                    
                    <div class="app-blade-commandBarContainer">
                      <div class="row">
                        <!-- ko if: $data.isLoaded() && bladeEnableQuickSearch -->
                        <div class="col-8" >
                          <!-- ko if: $data.isLoaded() && $data.componentInstance().commandButtons().length -->
                          <div data-bind="with: $data.componentInstance">
                              <div class="app-commandBar-target app-commandBar">
                                <ul class="app-commandBar-itemList" data-bind="foreach: commandButtons">
                                  <!-- ko if: visible -->
                                  <li class="app-br-default">
                                    <a class="app-commandBar-item" data-bind="attr: { title: title }, css: effectiveCss, click: $parent.onCommandExcutingClick.bind($parent, $data)">
                                      <div class="app-commandBar-item-icon">
                                        <!-- ko component: icon --><!-- /ko -->
                                      </div>
                                      <div class="app-commandBar-item-text msportalfx-tooltip-overflow" data-bind="text: title"></div>
                                    </a>
                                  </li>
                                  <!-- /ko -->
                                </ul>
                              </div>
                          </div>
                          <!-- /ko -->
                        </div>
                        <div class="col-4">
                          <div data-bind="with: $data.componentInstance">
                              <gisc-ui-quick-search params="
                                placeholder: quickSearchPlaceHolder,
                                value: quickSearchKeyword,
                                onKeypress: onQuickSearchClick.bind($data),
                                onDatasourceRequest: onDataSourceQuickSearch.bind($data)" />
                          </div>
                        </div>
                        <!-- /ko -->
                        <!-- แสดงตอนที่ไม่มี bladeEnableQuickSearch-->
                        <div class="col-12" >
                            <!-- ko if: $data.isLoaded() && $data.componentInstance().commandButtons().length -->
                            <div data-bind="with: $data.componentInstance">
                                <div class="app-commandBar-target app-commandBar">
                                  <ul class="app-commandBar-itemList" data-bind="foreach: commandButtons">
                                    <!-- ko if: visible -->
                                    <li class="app-br-default">
                                      <a class="app-commandBar-item" data-bind="attr: { title: title }, css: effectiveCss, click: $parent.onCommandExcutingClick.bind($parent, $data)">
                                        <div class="app-commandBar-item-icon">
                                          <!-- ko component: icon --><!-- /ko -->
                                        </div>
                                        <div class="app-commandBar-item-text msportalfx-tooltip-overflow" data-bind="text: title"></div>
                                      </a>
                                    </li>
                                    <!-- /ko -->
                                  </ul>
                                </div>
                            </div>
                            <!-- /ko -->
                          </div>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="app-blade-statusbar-wrapper">
                    <div class="app-blade-statusbar msportalfx-tooltip-overflow">
                      <div class="app-blade-actions">
                        <!-- ko if: canMinimize -->
                        <button type="button" class="app-blade-collapse" data-bind="click: minimize.bind($data), clickBubble: false, attr: {title: $parent.i18n('Common_Minimize')}">
                            <!-- ko component: 'svg-blade-collapse' --><!-- /ko -->
                        </button>
                        <!-- /ko -->
                        <!-- ko if: canMaximize -->
                            <!-- ko if: isMaximized -->
                              <button type="button" class="app-blade-maximize" data-bind="click: maximize.bind($data), clickBubble: false, attr: {title: $parent.i18n('Common_Restore')}">
                                <!-- ko component: 'svg-blade-restoredown' --><!-- /ko -->
                              </button>
                            <!-- /ko -->
                            <!-- ko ifnot: isMaximized -->
                            <button type="button" class="app-blade-maximize" data-bind="click: maximize.bind($data), clickBubble: false, attr: {title: $parent.i18n('Common_Maximize')}">
                                <!-- ko component: 'svg-blade-maximize' --><!-- /ko -->
                                </button>
                            <!-- /ko -->
                        <!-- /ko -->
                        <button type="button" class="app-blade-close" data-bind="click: close.bind($data), clickBubble: false, attr: {title: $parent.i18n('Common_Close')}">
                        <!-- ko component: 'svg-blade-close' --><!-- /ko -->
                        </button>
                      </div>
                    </div>
                  </div>
              </header>
              <div class="app-blade-content-container">
                <div class="app-blade-content-container-default app-bladecontent app-mode-locked app-blade-locked app-bladestyle-default app-blade-color-locked" data-bind="css: bladeSizeCss">
                  <gisc-ui-statusbar params="type:statusType, text:statusText, visible:statusVisible"></gisc-ui-statusbar>
                  <div class="app-blade-content-busy-container" data-bind="visible: isBusy">
                    <div class="app-blade-progress-translucent"><div></div><div></div><div></div><div></div><div></div></div>
                  </div>
                  <div class="app-blade-content app-pannable app-scrollbar-transparent app-scrollbar-default-hover" tabindex="0">
                    <div data-bind="css: bladeLayoutCss">
                      <div class="app-lens app-stacklayout-child">
                        <!-- ko if: isError -->
                          <div class="component-container" data-bind="text: errorMessage"></div>
                        <!-- /ko -->
                        <!-- ko component: { name: componentName, params: {blade: $data, componentOptions: componentOptions}} --><!-- /ko -->
                      </div>
                    </div>
                  </div>
                  <!-- ko if: $data.isLoaded() && $data.componentInstance().actionButtons().length -->
                  <div class="app-blade-actionBar" data-bind="with: componentInstance">
                    <div class="app-bladeActionBar app-has-border">
                      <div class="app-bladeActionBar-content fxc-base fxcontrol-base fxc-actionBarBase fxc-pickerActionBar fxcontrol-pickerActionBar">
                        <!-- ko foreach: actionButtons -->
                        <gisc-ui-button params="text: title, type: type, enable: enable, visible: visible, onclick: $parent.onActionClick.bind($parent, $data)"></gisc-ui-button>
                        <!-- /ko -->
                      </div>
                    </div>
                  </div>
                  <!-- /ko -->
                </div>
              </div>
            </section>
            <!-- /ko -->
            <!-- /ko -->
          </div>
        </div>
      </div>
    </div>
    <!-- ko component: "gisc-chrome-contextmenu" --><!-- /ko -->
  </div>
  <!-- /ko -->
  <!-- ko component: "gisc-chrome-messagebox" --><!-- /ko -->
  <div id="kWindowModal" class="kwindow-modal"></div>
  <!-- ko foreach: widgetNavigationService.items -->
      <!-- ko component: { name: "gisc-ui-window", params: $data } --><!-- /ko -->
  <!-- /ko -->

<!-- /ko -->