﻿<gisc-ui-component>
    <gisc-ui-label params="text:i18n('Assets_Validity')"/>
    <div class="display-2-col">
        <div class="display-col first">
            <!--Vaidaity From Date-->
            <gisc-ui-label params="for:'dtStartDate', text:i18n('Assets_From')"/>
            <gisc-ui-datetime params="id:'dtStartDate', 
                                    value: startDate,
                                    mode: 'date',
                                    dateFormat: dateFormat,
                                    maxDate: endDate"/>
        </div>
        <div class="display-col last">
            <!--Validity To Date-->
            <gisc-ui-label params="for:'dtEndDate', text:i18n('Assets_To')"/>
            <gisc-ui-datetime params="id:'dtEndDate', 
                                    value: endDate,
                                    mode: 'date',
                                    dateFormat: dateFormat,
                                    minDate: startDate"/>
        </div>
    </div>
    
    
    <!--Enable-->
    <gisc-ui-label params="for: 'ddlEnable', text:i18n('Common_Enable')" />
    <gisc-ui-dropdown params="id: 'ddlEnable',
        options: enableOptions,
        optionsText: 'title',
        optionsCaption: '',
        value: enable
        ">
    </gisc-ui-dropdown>
</gisc-ui-component>