﻿<gisc-ui-component>
    <!--Max Items-->
    <gisc-ui-label params="text: i18n('Assets_MaxItems'), isRequired: true" />
    <gisc-ui-field params="value: maxItems" />

    <!--Current Usage-->
    <gisc-ui-label params="text: i18n('Assets_CurrentUsage')" />
    <gisc-ui-field params="value: currentUsage" />

    <!--Limit Rate (second)-->
    <gisc-ui-label params="text: i18n('Assets_LimitRate'), isRequired: true" />
    <gisc-ui-field params="value: limitRate" />

    <!--Start Date-->
    <gisc-ui-label params="text: i18n('Assets_SMSServiceStartDate'), isRequired: true" />
    <gisc-ui-field params="value: formatStartDate" />

    <!--End Date-->
    <gisc-ui-label params="text: i18n('Assets_SMSServiceEndDate'), isRequired: true" />
    <gisc-ui-field params="value: formatEndDate" />

    <!--Enable-->
    <gisc-ui-label params="text: i18n('Common_Enable'), isRequired: true" />
    <gisc-ui-field params="value: formatEnable" />
</gisc-ui-component>