﻿<gisc-ui-component>
             <style>
                 .widthRow{
                     width:30%;
                 }
                 .widthRow2{
                     width:29%;
                 }
             </style>
    <div class="row">
        <div style="float:left" class="widthRow">
            <div class="col">

                <!--ReportType-->
                <gisc-ui-label params="for: 'ddReportType', text: i18n('Report_ReportType'), isRequired: true"></gisc-ui-label>
                <gisc-ui-dropdown params="id: 'ddReportType',
                                    options: reportTypes,
                                    optionsText: 'displayName',
                                    optionsCaption: '',
                                    value: selectedReportType" />
            </div>

        </div>

        <!--DateTimeFromTo-->
        <div style="float:left;" class="widthRow">
            <div class="col">
                <div style="width:100%;float:left;">
                    <gisc-ui-label params="for:'from' ,text: i18n('Companies_From'), isRequired: true" />
                </div>
                <div style="width:100%">
                    <div style="width:50%;float:left;">
                        <gisc-ui-datetime params="id:'from' ,value:start ,mode:'date' ,maxDate:maxDateStart ,minDate:'-3m' ,dateFormat:formatSet" />
                    </div>
                    <div style="width:40%;float:left;margin-left:20px">
                        <div class="app-textBox-wrapper">
                            <input type="time" data-bind="value:timeStart, attr: { id:id, class:'app-input'} ">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="width:30%;float:left;">
            <div class="col">
                <div style="width:100%;float:left;">
                    <gisc-ui-label params="for:'to' ,text: i18n('Companies_To'), isRequired: true" />
                </div>
                <div style="width:100%">
                    <div style="width:50%;float:left;">
                        <gisc-ui-datetime params="id:'to' ,value:end  ,mode:'date' ,maxDate:periodDay ,minDate:minDateEnd ,dateFormat:formatSet, enable:enableTo" />
                    </div>
                    <div style="width:40%;float:right;">
                        <div class="app-textBox-wrapper">
                            <input type="time" data-bind="value:timeEnd, attr: { id:id, class:'app-input'} ">
                        </div>
                    </div>
                </div>
            </div>
        </div>
           

        </div>
           
    <div class="row">
        <div style="float:left"class="widthRow">
            <div class="col">
                <!--BusinessUnit-->
                <gisc-ui-label params="for: 'ddlBusinessUnit', text:i18n('Report_BusinessUnit'), isRequired: true" />
                <gisc-ui-dropdowntree params="id: 'ddlBusinessUnit',
                            options: businessUnits,
                            optionsID: 'id',
                            optionsText: 'name',
                            optionsParent: 'parentBusinessUnitId',
                            optionsChildren: 'childBusinessUnits',
                            value: selectedBusinessUnit" />
                
                <!--
                    <gisc-ui-checkbox params="text: i18n('Common_IncludeSubBusinessUnit'), checked:isIncludeSubBU" />
                -->
            </div>
        </div>
        <div style="width:29%;float:left;margin-right:13px;">
            <div class="col">

                <!--CustomArea-->
                <gisc-ui-label params="id:'customarea' ,text:i18n('Report_CustomArea')" />
                <gisc-ui-dropdown params="id:'ddCustomArea',
                            options: customArea,
                            optionsText: 'name',
                            optionsCaption:'',
                            value: selectedCustomArea" />
                
                <!--CustomPoi-->
                <gisc-ui-label params="id:'custompoi' ,text:i18n('Report_CustomPoi')" />
                <gisc-ui-textbox params="type:'text', value:CusPOI" />
                
            </div>
        </div>
        <div style="float:left"class="widthRow">
            <div class="col">
               
                <!--CustomAreaCategory-->
                <gisc-ui-label params="id:'customcate' ,text:i18n('Report_CustomAreaCategory')" />
                <gisc-ui-dropdown params="id:'ddPoiCate',
                            options: customAreaCate,
                            optionsText: 'name',
                            optionsCaption:'',
                            value: selectedCusAreaCate" />

                <!--CustomPOICategory-->
                <gisc-ui-label params="text:i18n('Report_CustomPOICategory')" />
                <gisc-ui-dropdown params="id:'ddPoiCate',
                            options: customPoiCate,
                            optionsText: 'name',
                            optionsCaption:'',
                            value: selectedPoiCate" />
            </div>
        </div>

        </div>
      <div class="row">
          <div style="float:left"class="widthRow">
              <div class="col">
                  <!--EntityType-->
                  <gisc-ui-label params="for: 'ddEntityType', text: i18n('FleetMonitoring_EntityType'), isRequired: true"></gisc-ui-label>
                  <gisc-ui-dropdown params="id: 'ddEntityType',
                                    options: entityTypes,
                                    optionsText: 'displayName',
                                    value: selectedEntityType" />
              </div>

          </div>
          <div style="float:left;margin-right: 13px;"class="widthRow2">
              <div class="col">
                  <!--EmpId-->
                  <gisc-ui-label params="id:'empId' ,text:i18n('Report_EmpID')" />
                  <gisc-ui-textbox params="type:'text', value:empId"></gisc-ui-textbox>

              </div>
          </div>
          <div style="float:left"class="widthRow">


              <div class="col">
                  <!--Distance-->
                  <!-- ko if: isVisibleTracking -->
                  <gisc-ui-label params="id:'distance' ,text:i18n('Report_Distance')" />
                  <gisc-ui-tooltip params="text:i18n('I031')" />
                  <div style="width:100%">
                      <div style="width:70%;float:left">
                          <gisc-ui-textbox params="value:distance,filter:{type:'numeric', numericType:'int'}"></gisc-ui-textbox>
                      </div>
                      <div style="width:20%;float:left;margin-left:2px">
                          <gisc-ui-label params="id:'empId' ,text:i18n('Report_km')" />
                      </div>
                  </div>
                  <!-- /ko -->
              </div>
          </div> 
          </div>
    <div class="row">
        <div style="float:left"class="widthRow">
            <div class="col">
                <!--SelectedEntity-->
                <gisc-ui-label params="for: 'ddSelectEntity', text: i18n('Report_SelectedEntity'), isRequired: true"></gisc-ui-label>
                <gisc-ui-dropdown params="id: 'ddSelectEntity',
                                    options: selectEntity,
                                    optionsText: 'displayName',
                                    optionsCaption: selectedEntityBinding,
                                    value: selectedEntity,
                                    type: 'filter'" />
            </div>
        </div>
        <div style="float:left"class="widthRow">
            <div class="col">
                <!--Speed-->
                <gisc-ui-label params="id:'speed' ,text:i18n('Report_Speed') " />
                <gisc-ui-tooltip params="text:i18n('I031')" />
                <div style="width:100%">
                    <div style="width:70%;float:left">
                        <gisc-ui-textbox params="value:speed,filter:{type:'numeric', numericType:'int'}" />
                    </div>
                    <div style="width:20%;float:left;margin-left:2px">
                        <gisc-ui-label params="id:'empId' ,text:i18n('Report_Kmh')" />
                    </div>
                </div>
            </div>
        </div>
        <!-- ko if: isVisibleOverSpeed-->
        <div style="float:left"class="widthRow">
            <div class="col" style="margin-left:2px;">
                <!--Direction-->
                <gisc-ui-label params="id:'direction' ,text:i18n('Report_Direction')" />
                <gisc-ui-dropdown params="id: 'ddDirection',
                            options: directionType,
                            optionsText: 'displayName',
                            optionsCaption:'',
                            value: selectedDirection" />
            </div>

        </div>
        <!-- /ko -->

   </div> 

       
    <!-- ko if: isVisibleOverSpeed-->
    <div class="row">
        <div style="float:left"class="widthRow">
            <div class="col">
                <!--Fuel-->
                <gisc-ui-label params="text:i18n('Report_Fuel')" />
                <gisc-ui-tooltip params="text:i18n('I031')" />
                <div style="width:100%">
                    <div style="width:70%;float:left">
                        <gisc-ui-textbox params="value:fuel,filter:{type:'numeric', numericType:'int'}" />
                    </div>
                    <div style="width:20%;float:left;margin-left:2px">
                        <gisc-ui-label params="id:'empId' ,text:i18n('Report_Liter')" />
                    </div>
                </div>
            </div>
                
            </div>
        <div style="float:left"class="widthRow2">
            <div class="col">
                <!--Movement-->
                <gisc-ui-label params="id:'movement' ,text:i18n('Report_Movement')" />
                <gisc-ui-dropdown params="id: 'ddMovement',
                            options: movementType,
                            optionsCaption:'',
                            optionsText: 'displayName',
                            value: selectedMovement" />
            </div>

        </div>
        <div style="float:left"class="widthRow">
            <div style="margin-left:13px;" class="col">
               <!--Park Overtime-->
                <gisc-ui-label params="for: 'txtParkingEngineOnOver', text: i18n('Report_ParkingEngineOnOver') "></gisc-ui-label>
                <gisc-ui-tooltip params="text:i18n('I031')" />
                <gisc-ui-textbox params="value: parkingEngineOnOver,filter:{type:'numeric', numericType:'int'}"></gisc-ui-textbox>
            </div>

        </div>

    </div>
    
       
    <div class="row">
        <div style="float:left"class="widthRow">
            <div class="col" >
                <!--GSM-->
                <gisc-ui-label params="text:i18n('Report_GSM')" />
                <gisc-ui-dropdown params="id: 'ddGsm',
                            options: gsmStatus,
                            optionsText: 'displayName',
                            optionsCaption:'',
                            value: selectedGsm" />
            </div>
           
        </div>
        <div style="float:left"class="widthRow2">
            <div class="col">
                <!--GPS-->
                <gisc-ui-label params="text:i18n('Report_GPS')" />
                <gisc-ui-dropdown params="id: 'ddGps',
                            options: gpsStatus,
                            optionsText: 'displayName',
                            optionsCaption:'',
                            value: selectedGps" />
            </div>

        </div>
        <div style="float:left"class="widthRow">
            <div class="col" style="margin-left:13px;">
                <!--Engine-->
                <gisc-ui-label params="text:i18n('Report_Engine')" />
                <gisc-ui-dropdown params="id: 'ddEngine',
                            options: engineType,
                            optionsText: 'displayName',
                            optionsCaption:'',
                            value: selectedEngine" />
            </div>

        </div>
   
   </div>

    <!-- /ko -->

</gisc-ui-component>
