﻿<gisc-ui-component>
    <!--<gisc-ui-listview params="selectedIndex:selectedIndex, onItemSelecting:_selectingRowHandler.bind($data)">
        <item params="text: i18n('Assets_BoxFeatures'), extras: { id: 'bo-asset-box-feature'}" />
        <item params="text: i18n('Assets_BoxModels'), extras: { id: 'bo-asset-box-model'}" />
        <item params="text: i18n('Assets_BoxTemplates'), extras: { id: 'bo-asset-box-template'}" />
        <item params="text: i18n('Assets_BoxStocks'), extras: { id: 'bo-asset-box-stock'}" />
        <item params="text: i18n('Common_Boxes'), extras: { id: 'bo-asset-box'}" />
        <item params="text: i18n('Assets_VehicleModels'), extras: { id: 'bo-asset-vehicle-model'}" />
        <item params="text: i18n('Assets_Mdvr_Models'), extras: { id: 'bo-asset-mdvr-models'}" />
        <item params="text: i18n('Assets_Mdvrs'), extras: { id: 'bo-asset-mdvrs'}" />
        <item params="text: i18n('Assets_Mdvr_Config'), extras: { id: 'bo-asset-mdvrs-config'}" />
    </gisc-ui-listview>-->
      <gisc-ui-listview params="
        selectedIndex: selectedIndex,
        onItemSelecting: _selectingRowHandler.bind($data),
        datasource: items,
        dataTextfield: 'text',
        isShowNavIcon: true">
    </gisc-ui-listview>
</gisc-ui-component>

