﻿<gisc-ui-component>
    <article>
        <!-- <summary>Validation on ViewModel</summary> -->
        <section>
            <gisc-ui-label params="for: 'ddReportType', text: i18n('Report_ReportType'), isRequired: true"></gisc-ui-label>
            <gisc-ui-dropdown params="id: 'ddReportType',
                                    options: reportTypes,
                                    optionsText: 'displayName',
                                    optionsCaption: '',
                                    value: selectedReportType" />

    
            <gisc-ui-label params="for: 'ddlBusinessUnit', text:i18n('Report_BusinessUnit'), isRequired: true" />
            <gisc-ui-dropdowntree params="id: 'ddlBusinessUnit',
                            options: businessUnits,
                            optionsID: 'id',
                            optionsText: 'name',
                            optionsParent: 'parentBusinessUnitId',
                            optionsChildren: 'childBusinessUnits',
                            value: selectedBusinessUnit" />
            
            <gisc-ui-checkbox params="text: i18n('Common_IncludeSubBusinessUnit'), checked:isIncludeSubBU"/>

            <gisc-ui-label params="for: 'ddVehicle', text: i18n('FleetMonitoring_SelectedEntity'), isRequired: true"></gisc-ui-label>
            <gisc-ui-dropdown params="id: 'ddVehicle',
                                    options: vehicles,
                                    optionsText: 'displayName',
                                    optionsCaption: selectedVehicleBinding,
                                    value: selectedVehicle" />
                      
            <gisc-ui-label params="for: 'ddMaintenanceType', text: i18n('Report_MaintenanceType')"></gisc-ui-label>
            <gisc-ui-dropdown params="id: 'ddMaintenanceType',
                                        options: maintenanceTypes,
                                        optionsText: 'name',
                                        optionsCaption: '',
                                        value: selectedMaintenanceType" />
            <!-- ko if: maintenanceStatusVisible -->                      
                <gisc-ui-label params="for: 'ddMaintenanceStatus', text: i18n('Report_MaintenanceStatus')"></gisc-ui-label>
                <gisc-ui-dropdown params="id: 'ddMaintenanceStatus',
                                            options: maintenanceStatus,
                                            optionsText: 'displayName',
                                            optionsCaption: '',
                                            value: selectedMaintenanceStatus" />

                <gisc-ui-label params="for:'from' ,text: i18n('Companies_From'), isRequired: true" />
                <gisc-ui-datetime params="id:'from' ,value:start ,mode:'date' ,dateFormat:formatSet" />
                
                <gisc-ui-label params="for:'to' ,text: i18n('Companies_To'), isRequired: true" />
                <gisc-ui-datetime params="id:'to' ,value:end  ,mode:'date' , minDate:start ,dateFormat:formatSet" />
            <!-- /ko -->

            <!-- ko if: appointmentStatusVisible -->                    
                <gisc-ui-label params="for: 'ddAppointmentStatus', text: i18n('Report_AppointmentStatus')"></gisc-ui-label>
                <gisc-ui-dropdown params="id: 'ddAppointmentStatus',
                                            options: appointmentStatus,
                                            optionsText: 'displayName',
                                            optionsCaption: '',
                                            value: selectedAppointmentStatus" />

                <div style="width:100%;float:left;">
                    <gisc-ui-label params="for:'from' ,text: i18n('Companies_From'), isRequired: true" />
                </div>
                <div style="width:100%">
                    <div style="width:55%;float:left;">
                        <gisc-ui-datetime params="id:'from' ,value:start ,mode:'date' ,dateFormat:formatSet" />
                    </div>
                    <div style="width:40%;float:right;">
                        <div class="app-textBox-wrapper">
                            <input type="time" data-bind="value:startTime, attr: { id:id, class:'app-input'} ">
                        </div>
                    </div>
                </div>
                <div style="width:100%;float:left;">
                    <gisc-ui-label params="for:'to' ,text: i18n('Companies_To'), isRequired: true" />
                </div>
                <div style="width:100%">
                    <div style="width:55%;float:left;">
                        <gisc-ui-datetime params="id:'to' ,value:end  ,mode:'date' ,minDate:start ,dateFormat:formatSet" />
                    </div>
                    <div style="width:40%;float:right;">
                        <div class="app-textBox-wrapper">
                            <input type="time" data-bind="value:endTime, attr: { id:id, class:'app-input'} ">
                        </div>
                    </div>
                </div>
            <!-- /ko -->
        </section>
    </article>
</gisc-ui-component>