﻿<gisc-ui-component>


	<gisc-ui-label params="for:'gisName', isRequired:true,text:i18n('Configuration_GIS_Service_Name')" />
	<gisc-ui-textbox params="id:'gisName', value:nameService" />

	<gisc-ui-label params="for:'gisURL', isRequired:true,text:i18n('Configuration_GIS_Service_Url')" />
	<gisc-ui-textbox params="id:'gisURL', value:urlService" />

	<gisc-ui-label params="for:'gisToke', isRequired:true,text:i18n('Configuration_GIS_Service_toke')" />
	<gisc-ui-textbox params="id:'gisToke', value:tokeService" />

	<gisc-ui-label params="isRequired:true, text:i18n('Configuration_GIS_Service_Type')" />
	<gisc-ui-dropdown params= "options:gisTypeOptions,
                               optionsText:'name',
                               value:typeService,
                               " />
							   
	<gisc-ui-label params="isRequired:true, text:i18n('Configuration_GIS_Service_Class')" />
	<gisc-ui-dropdown params= "options:gisClassOptions,
                               optionsText:'name',
                               value:classService,
                               " />

	<gisc-ui-label params="for:'gisLandmark',isRequired:true, text:i18n('Configuration_GIS_Service_Landmark')" />
	<gisc-ui-textbox params="id:'gisLandmark', value:llandmarkService" />

	<gisc-ui-label params="for:'referer', isRequired:true,text:i18n('Configuration_GIS_Service_Referer')" />
	<gisc-ui-textbox params="id:'referer', value:refererService" />


</gisc-ui-component>