﻿<gisc-ui-component>
    <div class="">
        <gisc-ui-label params=" text: i18n('Configurations_Barrier_Name')" />
        <gisc-ui-field params=" value: txtName" />
    </div>
    <div class="">
        <gisc-ui-label params=" text: i18n('Configurations_Barrier_Area_Category')" />
        <gisc-ui-field params=" value: txtAreaCategory" />
    </div>
    <div class="">
        <gisc-ui-label params=" text: i18n('Configurations_Barrier_Time')" />
        <gisc-ui-field params=" value: txtTime" />
    </div>
    <div class="">
        <gisc-ui-label params="text: i18n('Configurations_Barrier_Day_Of_Week')" />
        <gisc-ui-field params="value:txtDayfoWeek" />
    </div>
    <div class="">
        <gisc-ui-label params=" text: i18n('Common_Enable')" />
        <gisc-ui-field params=" value: txtEnable" />
    </div>
    <div class="">
        <gisc-ui-label params=" text: i18n('Common_Description')" />
        <gisc-ui-field params=" value: txtDescription" />
    </div>
</gisc-ui-component>