<gisc-ui-component>
    <div data-bind="template: { afterRender: afterRender.bind($data, $context.$parents[2])}, attr: {id: id}">
        <ul data-bind="foreach: items, attr: { class: listViewClass}" > 
            <li>
                <div class="gisc-ui-button">
                    <div class="gisc-ui-button-text">
                        <a data-bind="css: cssClasses, click: $parent.onItemClick.bind($parent, $data), attr: { title: text, href: '#' }" class="gisc-ui-link-inherit">
                            <span data-bind="text: displayText"></span>
                            <!-- ko if: isShowNavIcon -->
                                <i class="gisc-ui-icon" aria-hidden="true" data-bind="css: cssClasses">
                                    <!-- ko component: 'svg-ic-right-arrow' --><!-- /ko -->
                                </i>
                            <!-- /ko -->
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</gisc-ui-component>