<gisc-ui-component params="additionalCssClasses: 'k-grid-height'">
    <!-- ko if: statusVisible() -->
    <div class="app-blade-status-container" data-bind="css: statusType, attr: {title: statusText}">
        <div class="app-blade-status">
            <span class="app-blade-status-icon"><!-- ko component: effectiveIcon --><!-- /ko --></span>
            <span class="app-blade-status-text" data-bind="text: statusText"></span>
            <span class="app-blade-status-arrow" data-bind="click: close" style="top:unset;height:18px;"><!-- ko component: 'svg-blade-close' --><!-- /ko --></span>
        </div>
    </div>
    <!-- /ko -->
    <div data-bind="source: source, attr: {id: id}" />
</gisc-ui-component>