﻿<!--
    Screen: Create/Update Driver Performance Rule
-->
<gisc-ui-component>
    <!-- Name -->
    <gisc-ui-label params="for: 'txtDriveRuleName', isRequired: true, text:i18n('DriverPerformanceRules_Name')" />
    <gisc-ui-textbox params="id: 'txtDriveRuleName', value: driveRuleName" />
    <!-- Description -->
    <gisc-ui-label params="for: 'txtDriveRuleDescription', isRequired: false, text:i18n('Common_Description')" />
    <gisc-ui-textarea params="id: 'txtDriveRuleDescription', value: driveRuleDescription" />
    <!-- Enable -->
    <gisc-ui-label params="for: 'ddDriveRuleEnable', isRequired: true, text:i18n('Common_Enable')" />
    <gisc-ui-dropdown params="
            id: 'ddDriveRuleEnable',
            options: driveRuleEnableDS,
            optionsText: 'title',
            value: driveRuleEnabled" />
            <!-- Amber Score Range -->
    <gisc-ui-label params=" text:i18n('DriverPerformanceRules_Amber_Score_Range')" />
    <div style="width:100%;display:inline-flex;height: 35px;">
        <div style="width:7%;">
            <gisc-ui-textbox params="id: 'amberMinScore', value: amberMinScore,filter:{type :'numeric', numericType:'int'} " /> 
        </div>
        <div style="margin: 5px;">-</div>
        <div style="width:7%;">
            <div class="app-textBox-wrapper">
                <gisc-ui-textbox params="id: 'amberMaxScore', value: amberMaxScore,filter:{type :'numeric', numericType:'int'}" />
            </div>
        </div>
    </div>
    <!-- ko if: isvalidate -->
    <p data-bind="text: i18n('M001'), style: { 'color': '#d34f4f', 'font-size': '0.8em' }" />
    <!-- /ko -->
    <!-- Regulation -->
    <div class="field-wrapper">
        <div class="field-table-title">
            <gisc-ui-label params="isRequired: true, text:i18n('DriverPerformanceRules_Regulations')" />
        </div>
        <div class="field-table-content">
            <!--if we set default order to column which orderable = false, dataTable still display sorting icon (this is a bug of dataTable.) 
            so we need to add duplicate hidden column and use that column to apply default order instead. -->
            <gisc-ui-datatable params="
                datasource: driveRuleRegulations,
                onDataSourceChanged: onDataSourceChanged.bind($data),
                ordering: false,
                columns: [
                    { type: 'dropdown', title: 'i18n:Common_AlertConfiguration', data: 'alertConfigurationId', optionsCaption: '', optionsData: 'alertConfigurations', optionsValue: 'id', optionsText: 'displayName', validationData: 'error', width: '200px' },
                    { type: 'textboxone', title: 'i18n:DriverPerformanceRules_Advanced_Score', data: 'advanceScore',width: '120px' },         
                    { type: 'range', title: 'i18n:DriverPerformanceRules_F', dataMin: 'F.min', dataMax: 'F.max', validationData: 'F.error', width: '120px' },
                    { type: 'range', title: 'i18n:DriverPerformanceRules_D', dataMin: 'D.min', dataMax: 'D.max', validationData: 'D.error', width: '120px' },
                    { type: 'range', title: 'i18n:DriverPerformanceRules_C', dataMin: 'C.min', dataMax: 'C.max', validationData: 'C.error', width: '120px' },
                    { type: 'range', title: 'i18n:DriverPerformanceRules_B', dataMin: 'B.min', dataMax: 'B.max', validationData: 'B.error', width: '120px' },
                    { type: 'range', title: 'i18n:DriverPerformanceRules_A', dataMin: 'A.min', dataMax: 'A.max', validationData: 'A.error', width: '120px' }
                ],
                rowId: 'clientId',
                selectable: false,
                showFilter: false,
                removable: true,
                autoWidth: false
                " />
        </div>
        <span data-bind="validationMessage: driveRuleRegulations" class="ko-block-msg-err"></span>
        <div class="field-table-commands">
            <a class="inline-cmd" data-bind="click: addDriveRuleRegulation, visible: allowAddRegulations">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <span data-bind="text:i18n('Common_Add')"></span>
            </a>
        </div>
    </div>
</gisc-ui-component>