﻿<gisc-ui-component>
    <!-- Name -->
    <gisc-ui-label params="isRequired: true, text:i18n('DriverPerformanceRules_Name')" />
    <gisc-ui-field params="value: driveRuleName" />
    <!-- Description -->
    <gisc-ui-label params="isRequired: false, text:i18n('Common_Description')" />
    <gisc-ui-field params="value: driveRuleDescription" />
    <!-- Enable -->
    <gisc-ui-label params="isRequired: true, text:i18n('Common_Enable')" />
    <gisc-ui-field params="value: driveRuleEnabled" />
    <!-- Amber Score Range -->
    <gisc-ui-label params=" text:i18n('DriverPerformanceRules_Amber_Score_Range')" />
    <gisc-ui-field params="value: driveRuleAmberScoreRange" />
    <!-- Regulation -->
    <gisc-ui-label params="isRequired: true, text:i18n('DriverPerformanceRules_Regulations')" />
    <gisc-ui-datatable params="
        datasource: driveRuleRegulations,
        columns: [
            { type: 'label', title: 'i18n:Common_AlertConfiguration', data: 'displayName' },
            { type: 'label', title: 'i18n:DriverPerformanceRules_Advanced_Score', data: 'displayadvanceScore' },
            { type: 'label', title: 'i18n:DriverPerformanceRules_F', data: 'F' },
            { type: 'label', title: 'i18n:DriverPerformanceRules_D', data: 'D' },
            { type: 'label', title: 'i18n:DriverPerformanceRules_C', data: 'C' },
            { type: 'label', title: 'i18n:DriverPerformanceRules_B', data: 'B' },
            { type: 'label', title: 'i18n:DriverPerformanceRules_A', data: 'A' }
        ],
        ordering: false,
        rowId: 'id' ,
        selectable: false,
        showFilter: false
        " />
</gisc-ui-component>