﻿<gisc-ui-component>
    <!-- Code -->
    <gisc-ui-label params="for:'nameconfig',text:i18n('Assets_Mdvr_Model_Config_Name'),isRequired:true" />
    <gisc-ui-textbox params="id:'nameconfig', value:configName " />

    <!-- Brand -->
    <gisc-ui-label params="for:'descConfig',text:i18n('Assets_Mdvr_Model_Config_Description')" />
    <gisc-ui-textbox params="id:'descConfig', value:configDesc " />

    <!-- Model -->
    <gisc-ui-label params="for:'usernameConfig',isRequired:true,text:i18n('Assets_Mdvr_Model_Config_Username')" />
    <gisc-ui-textbox params="id:'usernameConfig', value:configUserName" />

    <!-- Contract No. -->
    <gisc-ui-label params="for:'passwordConfig',text:i18n('Assets_Mdvr_Model_Config_Password'),isRequired:true" />
    <gisc-ui-textbox params="id:'passwordConfig', value:configPassWord " />

    <gisc-ui-label params="for:'ipConfig',text:i18n('Assets_Mdvr_Model_Config_IP'),isRequired:true" />
    <gisc-ui-textbox params="id:'ipConfig', value:configIP " />

    <!--Company -->
    <gisc-ui-label params="for: 'ddCompany', text:i18n('Common_Company'),isRequired:true" />
    <gisc-ui-dropdown params="id: 'ddCompany',
                            options: companyOptions,
                            optionsID: 'id',
                            optionsCaption: ' ',
                            optionsText: 'name',
                            type:'filter',
                            value: companyId" >
</gisc-ui-component>