<gisc-ui-component>
    
    <!--DateTime-->
    <gisc-ui-label params="isRequired:true, for:'txtCurrentDatetime',text:i18n('Common_Datetime')" />
    <gisc-ui-datetime params="id:'txtCurrentDatetime',value:dateTime"/>
    <!--<div data-bind="text:dateTime"></div>-->

    <!--Duration(minutes)-->
    <gisc-ui-label params="isRequired:true, for:'txtDuration' ,text:i18n('Common_Duration')" />
    <gisc-ui-textbox params="id:'txtDuration', value: duration, filter:{type :'numeric', numericType:'int',max:'720'}"/>

    <!--BU-->
    <gisc-ui-label params="text:i18n('Common_BusinessUnit')" />
    <gisc-ui-dropdowntree params="options:businessUnitOptions,
                            optionsID:'id',
                            optionsText:'name',
                            optionsParent:'parentBusinessUnitId',
                            optionsChildren:'childBusinessUnits',
                            value:businessUnit,
                            disableNodes:noneAccessibleBU" />
    <gisc-ui-checkbox params="text: i18n('Common_IncludeSubBusinessUnit'), checked: includeSubBusinessUnit, enable: includeSubBusinessUnitEnable" />
    <!--Radius -->
     <gisc-ui-label params="isRequired:true, for:'txtMapRadius', text:i18n('Common_Radius')" />
     <gisc-ui-textbox params="id:'txtMapRadius', value:radius, filter:{type :'numeric', numericType:'float', maxDecimalPlaces:2,min:1, max:'50'}"/>

    <!--Latitude-->
    <gisc-ui-label params="isRequired:true, for: 'txtNearestLatitude', text:i18n('Common_Latitude')"/>
    <gisc-ui-textbox params="id: 'txtNearestLatitude', value: latitude , filter:{type :'numeric', numericType:'float', maxDecimalPlaces:6, allowNegative: true, maxPreDecimalPlaces: 2}"  />
    <!--Longitude-->
    <gisc-ui-label params="isRequired:true, for: 'txtNearestLongitude', text:i18n('Common_Longitude')"/>
    <gisc-ui-textbox params="id: 'txtNearestLongitude', value:longitude , filter:{type :'numeric', numericType:'float', maxDecimalPlaces:6, allowNegative: true, maxPreDecimalPlaces: 3}" />


</gisc-ui-component>