<gisc-ui-component>
    <div class="table-grid-asset">
        <gisc-ui-datagrid params="
            id: 'dgCWNearestAssetList',
            onDatasourceRequestRead: onDatasourceRequestRead.bind($data),
            columns: columns,
            rowId: 'id',
            showFilter: true,
            selectedRows: selectedItems,
            onSelectingRow: _selectingRowHandler,
            resizable: true,
            columnMenu: true,
            toolbar: false
        " />
    </div>
</gisc-ui-component>