<gisc-ui-component>

     <!--BU-->
    <gisc-ui-label params="isRequired:true, text:i18n('Common_BusinessUnit')" />
    <gisc-ui-dropdowntree params="options:businessUnitOptions,
                            optionsID:'id',
                            optionsText:'name',
                            optionsParent:'parentBusinessUnitId',
                            optionsChildren:'childBusinessUnits',
                            value:businessUnit,
                            disableNodes:noneAccessibleBU" />
    <gisc-ui-checkbox params="text: i18n('Common_IncludeSubBusinessUnit'), checked: includeSubBusinessUnit, enable: includeSubBusinessUnitEnable" />
    <!--Vehicle-->
    <gisc-ui-label params="for:'txtVehicle', isRequired:true,text:i18n('Common_Vehicle')"/>
    <gisc-ui-dropdown params="id:'txtVehicle',
                              options:vehicleOptions,
                              optionsCaption: '',
                              optionsText:'vehicleModelDisplayText',
                              value:vehicle"/>

    <!--Message-->
    <gisc-ui-label params="for:'txtMapMessage', isRequired:true,text:i18n('Map_Message')"/>
    <gisc-ui-textarea params="id:'txtMapMessage', value:message, maxlength:70"/>

    <!-- Clear old command-->
    <gisc-ui-checkbox params="text: i18n('Common_Clear_Old_Command'), checked: isClearOldCommand " />

     <!--Latitude-->
    <gisc-ui-label params="text:i18n('Common_Latitude')"/>
    <gisc-ui-field params="value: latitude" />

    <!--Longitude-->
    <gisc-ui-label params="text:i18n('Common_Longitude')"/>
    <gisc-ui-field params="value: longitude" />

</gisc-ui-component>