﻿<gisc-ui-component>
    <!-- Today -->
    <div>
        <gisc-ui-label params="text: i18n('Transportation_Mngm_Dashboard_Search_BU')"></gisc-ui-label>
        <gisc-ui-dropdowntree params="id: 'ddBusinessUnit',
                              optionsID:'id',
                              optionsText: 'name',
                              optionsParent:'parentBusinessUnitId',
                              optionsChildren:'childBusinessUnits',
                              options: businessUnitList,
                              mode:'update',
                              value: businessUnit" />

        <gisc-ui-checkbox params="text:i18n('Transportation_Mngm_Dashboard_IncludeSub_Transporter'), checked: includeSubTS"></gisc-ui-checkbox>

        <gisc-ui-label params="text: i18n('Transportation_Mngm_Dashboard_Region')"></gisc-ui-label>
        <gisc-ui-dropdown-multiselect params="id: 'ddRegion',
                              optionsID:'id',
                              optionsText: 'name',
                              optionsCaption: '',
                              options: regionList,
                              value: region"></gisc-ui-dropdown-multiselect>

        <gisc-ui-label params="text: i18n('Transportation_Mngm_Dashboard_Vehicle_Category')"></gisc-ui-label>
        <gisc-ui-dropdown params="id: 'ddVehicleCategory',
                              options: vehicleCategoryList,
                              optionsText: 'name',
                              value: vehicleCategory"></gisc-ui-dropdown>
    </div>
    <!-- Today -->
    <!-- Historical -->
    <div data-bind="if: isState">
        <gisc-ui-label params="text: i18n('Transportation_Mngm_Dashboard_Year')"></gisc-ui-label>
        <gisc-ui-dropdown params="id: 'ddYear',
                              optionsText: 'text',
                              options: yearList,
                              value: year"></gisc-ui-dropdown>

        <gisc-ui-label params="text: i18n('Transportation_Mngm_Dashboard_Quarter')"></gisc-ui-label>
        <gisc-ui-dropdown params="id: 'ddQuarte',
                              optionsText: 'text',
                              options: quarterList,
                              value: quarter,
                              enable: ddEnabled"></gisc-ui-dropdown>

        <gisc-ui-label params="text: i18n('Transportation_Mngm_Dashboard_Month')"></gisc-ui-label>
        <gisc-ui-dropdown params="id: 'ddMonth',
                              optionsText: 'text',
                              options: monthList,
                              value: month,
                              enable: ddEnabled"></gisc-ui-dropdown>

        <gisc-ui-label params="text: i18n('Transportation_Mngm_Dashboard_Date_From')"></gisc-ui-label>
        <gisc-ui-datetime params="id:'dtDateFrom', mode:'date', value: dateFrom, dateFormat:dateFormat,
                              maxDate: maxDate, minDate: minDate" />

        <gisc-ui-label params="text: i18n('Transportation_Mngm_Dashboard_Date_To')"></gisc-ui-label>
        <gisc-ui-datetime params="id:'dtDateTo', mode:'date', value: dateTo, dateFormat:dateFormat,
                              maxDate: maxDate, minDate: minDate" />
    </div>
    <!-- Historical -->
</gisc-ui-component>