﻿<gisc-ui-component>

    <!-- Stop and Park Duration -->
    <div><gisc-ui-label params="for:'txtStopAndParkDuration', text: i18n('Transportation_Mngm_Default_Value_Stop_And_Park_Duration')" /></div>
    <!-- Stop Time-->
    <gisc-ui-label params="for:'txtStopDepartTime', text: i18n('Transportation_Mngm_Default_Value_Stop_Time'), isRequired: true" />
    <gisc-ui-textbox params="id:'txtStopDepartTime', value:stopDepartTime, filter:{type :'numeric', numericType:'int'}" />

    <!-- Pickup Time-->
    <gisc-ui-label params="for:'txtPickupTime', text: i18n('Transportation_Mngm_Default_Value_Pickup_Time'), isRequired: true" />
    <gisc-ui-textbox params="id:'txtPickupTime', value:pickupTime, filter:{type :'numeric', numericType:'int'}" />

    <!-- Delivery Time-->
    <gisc-ui-label params="for:'txtDeliveryTime', text: i18n('Transportation_Mngm_Default_Value_Delivery_Time'), isRequired: true" />
    <gisc-ui-textbox params="id:'txtDeliveryTime', value:deliveryTime, filter:{type :'numeric', numericType:'int'}" />

    <!-- Delivery Time And Pickup Time -->
    <gisc-ui-label params="for:'txtDeliveryAndPickupTime', text: i18n('Transportation_Mngm_Default_Value_PickUp_And_Delivery_Time'), isRequired: true" />
    <gisc-ui-textbox params="id:'txtDeliveryAndPickupTime', value:pickupTimeAndDeveryTime, filter:{type :'numeric', numericType:'int'}" />

    <!-- Min Park -->
    <gisc-ui-label params="for:'txtMinPark', text: i18n('Transportation_Mngm_Default_Value_Min_Park'), isRequired: true" />
    <gisc-ui-textbox params="id:'txtMinPark', value:minPark, filter:{type :'numeric', numericType:'int'}" />

    <!-- Max Park -->
    <gisc-ui-label params="for:'txtMaxPark', text: i18n('Transportation_Mngm_Default_Value_Max_Park'), isRequired: true" />
    <gisc-ui-textbox params="id:'txtMaxPark', value:maxPark, filter:{type :'numeric', numericType:'int'}" />

    <!--  ------------------------------------------------------------------------------------------------------------------------------ -->
    <!-- Waypoint Detection -->
    <div style="margin-top:13px;"><gisc-ui-label params="for:'txtStopAndParkDuration', text: i18n('Transportation_Mngm_Default_Value_Waypoint_Detection')" /></div>

    <div class="row" style="margin-bottom: -15px;">
        <div class="col-7">
            <gisc-ui-label params="for:'txtMaxSpeed', text: i18n('Transportation_Mngm_Default_Value_Max_Speed')" /> <!--Transportation_Mngm_Default_Value_Max_Speed-->
            <div style="width: 70%;">
                <gisc-ui-textbox params="id:'txtMaxSpeed', value:maxSpeed, filter:{type :'numeric', numericType:'int'}" />
            </div>
        </div>
        <div class="col-5" style="padding-left: 5px;">
            <div class="app-textBox-wrapper" style="margin-left:-30px">
                <gisc-ui-label params="for:'txtDurationMaxSpeed', text: i18n('Transportation_Mngm_Default_Value_Duration')" />  <!-- Transportation_Mngm_Default_Value_Duration -->
                <gisc-ui-textbox params="id:'txtDurationMaxSpeed', value:durationMaxSpeed, filter:{type :'numeric', numericType:'int'} , enable : enableDurationMaxSpeed" />
            </div>
        </div>
    </div>

    <!-- Radius -->
    <gisc-ui-label params="for:'txtRadius', text: i18n('Transportation_Mngm_Default_Value_Radius'), isRequired: true" />
    <gisc-ui-textbox params="id:'txtRadius', value:radius, filter:{type :'numeric', numericType:'int'}" />

    <!--  ------------------------------------------------------------------------------------------------------------------------------ -->
    <!-- Job Auto Finish Rule -->
    <div style="margin-top:13px;"><gisc-ui-label params="for:'txtJobAutoFinishRule', text: i18n('Transportation_Mngm_Default_Value_Job_AutoFinish_Rule')" /></div>

    <gisc-ui-label params="text:i18n('Transportation_Mngm_Default_Value_Job_Auto_Finish'), isRequired: true" />
    <gisc-ui-dropdown params="options:jobAutoFinishOptions,optionsText:'displayName',value:jobAutoFinish"></gisc-ui-dropdown>

    <gisc-ui-label params="for:'txtDuration', text: i18n('Transportation_Mngm_Shipment_Duration'), isRequired: isAfterPlanEnd, visible: isAfterPlanEnd" />
    <gisc-ui-textbox params="id:'txtDuration', visible: isAfterPlanEnd, value:jobAutoFinishduration, filter:{type :'numeric', numericType:'int'}" />

    <gisc-ui-label params="text:i18n('Transportation_Mngm_Default_Value_Last_Shipment_Role'), isRequired: true" />
    <gisc-ui-dropdown params="options:lastShipmentRoleOptions, optionsText:'displayName',value:lateShipmentRole"></gisc-ui-dropdown>


</gisc-ui-component>