﻿<gisc-ui-component>
    <gisc-ui-label params="text: i18n('Assets_File'), isRequired: true"></gisc-ui-label>
    <gisc-ui-tooltip params="text: i18n('I008')"></gisc-ui-tooltip>
    <gisc-ui-fileupload params="
        fileName: fileName,
        selectedFile: selectedFile,
        accept: mimeType,
        onRemoveFile: onRemoveFile.bind($data),
        onBeforeUpload: onBeforeUpload.bind($data),
        onUploadSuccess: onUploadSuccess.bind($data),
        onUploadFail: onUploadFail.bind($data),
        url: urlUpload" />
    <span data-bind="validationMessage: media" class="ko-block-msg-err"></span>
    <!--Import Validation Error-->
    <div class="ko-inline-msg-err" data-bind="text: importValidationError"></div>

    <section data-bind="visible: previewDataVisible">
        <gisc-ui-label params="text: i18n('Common_PreviewData')"></gisc-ui-label>
        <gisc-ui-datagrid params="
            onDatasourceRequestRead: onDatasourceRequestRead.bind($data),
            id: 'dgImportShipment',
            pageSizeOptions: false,
            columns : [
                        { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_TemplateCode', data: 'templateCode', searchable: false, className: 'dg-body-center',width:'130px' },
                        { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_Code', data: 'jobCode', searchable: false, className: 'dg-body-center',width:'130px' },
                        { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_Name', data: 'jobName', searchable: false, className: 'dg-body-center',width:'139px' },
                        { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_Start_Date', data: 'formatPlanStartDate', searchable: false, className: 'dg-body-center',width:'98px' },
                        { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_Start_Time', data: 'formatPlanStartTime', searchable: false, className: 'dg-body-center',width:'90px' },
                        { type: 'text', title: 'i18n:Transportation_Mngm_Vehicle_Licence', data: 'licenseNo', searchable: false, className: 'dg-body-center',width:'254px' },
                        { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_Billing_Date', data: 'formatBillingDate', searchable: false, className: 'dg-body-center',width:'98px' }
                      ],
            rowId: 'tempId',
            pageable: false" />
    </section>
</gisc-ui-component>