﻿<gisc-ui-component>
    <gisc-ui-tab params="selectedIndex: selectedIndex">
        <item params="text: i18n('Transportation_Mngm_Shipment_Tab_ShipmentInfo')">
            <div class="manage">
                <div class="box_summary">
                    <div class="box_item" style="width: 250px;">
                            <gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Shipment_Template')" />
                            <gisc-ui-dropdown params="  options: ddShipmentTemplateOptions,
                                                        id: 'ddShipmentTemplate',
                                                        optionsText: 'jobName',
                                                        optionsCaption:'',
                                                        type:'filter',
                                                        value: ddShipmentTemplate, 
                                                        enable:txtDisable" />
                    </div>
                    <div class="box_item" style="width: 200px;">
                            <gisc-ui-label params=" text: i18n('Shipment_Vehicle_BU')" />
                            <gisc-ui-dropdowntree params="id: 'txtVechicleBU',
                                        options:vechicleBUList,
                                        optionsID:'id',
                                        optionsText:'name',
                                        optionsParent:'parentBusinessUnitId',
                                        optionsChildren:'childBusinessUnits',
                                        value:vechicleBU,
                                        enable:txtDisable" />
                    </div>
                    <div class="box_item" style="width: 200px;">
                            <gisc-ui-label params="text: i18n('Common_Vehicle')" />
                            <gisc-ui-dropdown params="options: txtVehiclelist,
                                        id: 'txtVehicle',
                                        optionsText: 'license',
                                        value: txtVehicle,
                                        optionsCaption:'',
                                        type:'filter',
                                        enable:txtDisable" />
                    </div>
                    <div class="box_item" style="width: 200px;">
                            <gisc-ui-label params=" text: i18n('Shipment_Driver_BU')" />
                            <gisc-ui-dropdowntree params="id: 'txtDriverBU',
                                        options:driverBUList,
                                        optionsID:'id',
                                        optionsText:'name',
                                        optionsParent:'parentBusinessUnitId',
                                        optionsChildren:'childBusinessUnits',
                                        value:driverBU,
                                        enable:txtDisable" />         
                    </div>
                    <div class="box_item" style="width: 200px;">
                            <gisc-ui-label params="text: i18n('Common_Driver')" />
                            <gisc-ui-dropdown params="options: txtDriverlist,
                                        id: 'txtDriver',
                                        optionsText: 'name',
                                        optionsCaption:'',
                                        value: txtDriver,
                                        type:'filter',
                                        enable:txtDisable" />
                    </div>
                </div>
                <div class="box_summary">
                    <div class="box_item" style="width: 250px;">
                            <gisc-ui-label params=" text: i18n('Shipment_Business'),isRequired:true" />
                            <gisc-ui-dropdowntree params="id: 'txtBusinessUnit',
                                        options:businessUnitList,
                                        optionsID:'id',
                                        optionsText:'name',
                                        optionsParent:'parentBusinessUnitId',
                                        optionsChildren:'childBusinessUnits',
                                        value:businessUnit,
                                        enable:txtDisable" />
                    </div>
                    <div class="box_item" style="width: 200px;">
                            <gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Code'),isRequired:true" />
                            <gisc-ui-textbox params="id:'txtShipmentCode', value: txtShipmentCode, enable:txtDisable" />
                            <!-- <gisc-ui-textbox params="id:'txtShipmentCode', value: txtShipmentCode, enable:txtDisable, filter:{type :'regex', pattern:'[a-zA-Z0-9]'}" /> -->
                    </div>
                    <div class="box_item" style="width: 200px;">
                            <gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Name'),isRequired:true" />
                            <gisc-ui-textbox params="id: 'txtShipmentName', value: txtShipmentName, enable:txtDisable" />
                    </div>
                    <div class="box_item" style="width: 200px;">
                            <gisc-ui-label params="text: i18n('Common_ReferenceNo')" />
                            <gisc-ui-textbox params="id: 'txtReference', value: txtReference, enable:txtDisable" />
                    </div>
                    <div class="box_item" style="width: 200px;">
                            <gisc-ui-label params="text: i18n('Notifications_DeliveryMan')" />
                            <gisc-ui-dropdown params="options: txtDelivertManlist,
                                        id: 'txtDelivertMan',
                                        optionsText: 'license',
                                        optionsCaption:'',
                                        value: txtDelivertMan,
                                        type:'filter',
                                        enable:txtDisable" />
                    </div>
                </div>
                <div class="box_summary">
                    <div class="box_item" style="width: 250px;">
                            <gisc-ui-label params="text: i18n('Common_Status')" />
                            <p data-bind="text: txtStatus"></p>
                    </div>
                    <div class="box_item" style="width: 200px;">
                            <gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Start_Date'),isRequired:true" />
                            <div style="width: 100%;">
                                <gisc-ui-datetime params="id:'dtShipmentStartDate', mode:'date', value: txtStartDate,enable:txtDisable " style=" float:  left; width: 50%;"
                                />
                                <gisc-ui-textbox params="id:'txtStartTime', type:'time', value: txtStartTime , enable:txtDisable" style=" float:  right; width: 50%;" />
                            </div>
                    </div>
                    <div class="box_item" style="width: 200px;">
                            <gisc-ui-label params="text: i18n('Manage_Shipment_Waiting_Time')" />
                            <gisc-ui-textbox params="id:'txtWaitingTime', value: txtWaitingTime, enable:txtDisable,filter:{type :'numeric', numericType:'integer'} " />
                    </div>
                    <div class="box_item" style="width: 200px;">
                            <gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Trail')" />
                            <gisc-ui-dropdown params="options: txtTraillelist,
                                        id: 'txtTrail',
                                        optionsText: 'license',
                                        optionsCaption:'',
                                        value: txtTrail,
                                        type:'filter',
                                        enable:txtDisable" />
                    </div>
                </div>
               
                <div>
                    <div style="float: left;">
                        <div>
                            <div class="box_item" style="width: 250px;">
                                    <gisc-ui-label params=" text: i18n('Transportation_Mngm_Shipment_Zone')" />
                                    <gisc-ui-dropdown params="id: 'ddZone',
                                                options: zone,
                                                optionsText: 'name',
                                                optionsCaption: ' ',
                                                value: selectedZone,
                                                enable:txtDisable" />
                            </div> 
                            <div class="box_item" style="width: 200px;">
                                    <gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Category')" />
                                    <gisc-ui-dropdown params="id: 'ddCategory',
                                                options: shipmentCategory,
                                                optionsText: 'name',
                                                optionsCaption: ' ',
                                                value: selectedShipmentCategory,
                                                enable:txtDisable" />
                            </div>
                            <div class="box_item" style="width: 200px;">
                                    <gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_TravelMode')" />
                                    <gisc-ui-dropdown params="id: 'ddTravelMode',
                                                options: travelMode,
                                                optionsText: 'displayName',
                                                optionsCaption: ' ',
                                                value: selectedTravelMode,
                                                enable:txtDisable" />
                            </div>
                        </div>
                        <div>
                            <div class="box_item" style="width: 250px;">
                                    <gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Close_Shipment_By')" />
                                    <gisc-ui-dropdown params="options: ddEnumJobAutoFinish,
                                                id: 'txtEnumJobAutoFinish',
                                                optionsText: 'displayName',
                                                value: txtEnumJobAutoFinish,
                                                enable:txtDisable" />
                            </div>
                            <div class="box_item" style="width: 200px;" >
                                <gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Duration'), visible:isVisible" />
                                <gisc-ui-textbox params="id:'txtDuration', value: txtDuration, enable:txtDisable,filter:{type :'numeric', numericType:'integer'} , visible:isVisible,maxlength:4" />
                            </div>
                            <div class="box_item" style="width: 200px;">
                                <gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Late_Shipment_Role')" />
                                <gisc-ui-dropdown params="options: ddLastShipmentRole,
                                            id: 'txtLastShipmentRole',
                                            optionsText: 'displayName',
                                            value: txtLastShipmentRole,
                                            enable:txtDisable" />
                            </div>
                        </div>
                       
                    </div>
                    <div>
                        <div class="box_desc" style="width: 335px;">
                            <gisc-ui-label params="text: i18n('Common_Description')" />
                            <gisc-ui-textarea params="id:'txtDescription', value: txtDescription, enable:txtDisable, maxlength:'255',height:'100px'" />
                        </div>
                    </div>
                </div>
            </div>


            <div>
                <div>
                    <gisc-ui-shipment-grid params="data: shipmentJobWaypointInfoLst,
                                            deliveryTypeList: deliveryTypeList,
                                            autoCompleteList: autoCompleteList.bind($data),
                                            startDateTime: startDateTime,
                                            routeData: routeData.bind($data),
                                            jobDetail: jobDetail,
                                            defaultValue: defaultValue,
                                            viewOnMap: viewOnMap.bind($data),
                                            isShipmentGridEdit: isShipmentGridEdit,
                                            shipmentGridChange: shipmentGridChange,
                                            mode: mode,
                                            bladeId: bladeId,
                                            selfControl: shipmentGridControl,
                                            isShipmentTemplateChange: isShipmentTemplateChange,
                                            businessUnit: businessUnit,
                                            isFindBestSequenceLoading: isFindBestSequenceLoading" />

                      
                </div>

            </div>
        </item>
        <item params="text: i18n('Transportation_Mngm_Shipment_Tab_AssignAdditional_Driver')">
            <div>
                <div>Co-Driver</div>
                <div class="divControlBtn">
                    <gisc-ui-button params="text:i18n('Transportation_Mngm_Add_new_Codriver'), onclick:NewRecordCodriver.bind($data),enable: txtDisable"></gisc-ui-button>
                    <gisc-ui-button params="text:i18n('Transportation_Mngm_Cancel_Changes'), onclick:cancelCodriverChang.bind($data),enable: txtDisable"></gisc-ui-button>
                </div>
                <div class="tablePorter">                    
                    <div class="tablePorter-th">
                        <div class="tablePorter-td" style="width:40px;"></div>
                        <div class="tablePorter-td" style="width:60px;">
                            <gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Order')" />
                        </div>
                        <div class="tablePorter-td">
                            <gisc-ui-label params="text: i18n('Common_Drivers')" />
                        </div>
                        <div class="tablePorter-td">
                            <gisc-ui-label params="text: i18n('Common_EmployeeID')" />
                        </div>
                    </div>
                </div>
                <div class="tablePorter-tr" data-bind="foreach: codriverarray">
                    <div class="tablePorter-tr">
                        <div class="tablePorter-td" style="width:40px;">
                            <img data-bind="click: $parent.removeCodriver, attr: { src: imgUrl }" />
                        </div>
                        <div class="tablePorter-td" data-bind="text: ($index() + 1)" style="width:60px;"></div>
                        <div class="tablePorter-td">
                            <gisc-ui-dropdown params="options: $parent.coDriverList,
                                optionsText: 'name',
                                value: selectedItem,
                                optionsCaption:'',
                                enable:$parent.txtDisable" />
                        </div>
                        <div class="tablePorter-td" data-bind="text: selectedItem()?selectedItem().employeeId : $parent.i18n('Transportation_Mngm_Not_Selected')"></div>
                    </div>    
                </div>
                <!-- ko if: isLatLonDup -->
                <p data-bind="text: i18n('M010'), style: { 'color': '#d34f4f', 'font-size': '0.8em' }" />
                <!-- /ko -->

            </div>

        </item>

    </gisc-ui-tab>
</gisc-ui-component>