﻿<gisc-ui-component>
    <gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_PONumber')"></gisc-ui-label>
    <gisc-ui-autocomplete params="id:'PONumber',
                          onDatasourceRequest:onDatasourceRequestPOName, 
                          value: txtPONumber" />

    <gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Code')"></gisc-ui-label>
    <gisc-ui-autocomplete params="id:'shipmentCode',
                          onDatasourceRequest:onDatasourceRequestShipmentCode, 
                          value: txtShipmentCode" 
                          />
</gisc-ui-component>