﻿<gisc-ui-component>
    <gisc-ui-label params="for:'ddlMainReason', text:i18n('Transportation_Mngm_Finish_Shipment_Reason')"/>
    
    <div style="clear:both;height:60px;box-sizing:border-box;">
        <div style="float:left;width:200px;">
            <gisc-ui-dropdown params="id: 'ddlMainReason',
                              options: mainReasons,
                              optionsText: 'cause',
                              optionsCaption: '',
                              value: mainReason" />
        </div>
        <div style="float:left;width:500px;padding-left:30px;" data-bind="visible: isShowMainOtherReason">
            <gisc-ui-textbox params="value:mainReasonDetail,placeholder:i18n('Transportation_Mngm_Finish_Shipment_Other_Reason')" />
        </div>
    </div>
    <div style="clear:both;"></div>
    <label style="color:red;font-size:30px;" data-bind="text:i18n('Transportation_Mngm_Finish_Shipment_Waypoint_Incomplete')" />

    <table data-bind='foreach:lstIncompleteWaypoint'>
        <tr>
            <td>
                <div style="padding-right:15px;">
                    <div style="width:200px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"
                         data-bind="attr:{title:name, alt:name}">
                        <label class="app-form-labelcontainer" style="font-weight:bold" data-bind="text:name" />
                    </div>
                    <div style="width:200px;">
                        <gisc-ui-dropdown params="options: shipmentStatusList,
                            optionsID:'id',
                            optionsText: 'name',
                            optionsCaption: '',
                            value: reason" />
                    </div>
                </div>
            </td>
            <td style="vertical-align:top;">
                <div style="padding-right:15px;">
                    <div style="width:150px;">
                        <gisc-ui-label params="text:$parent.i18n('Transportation_Mngm_Finish_Shipment_Plan_End_Date')" />
                    </div>
                    <div style="width:150px;">
                        <label data-bind="text:planEndDate" />
                    </div>
                </div>
            </td>
            <td style="vertical-align:top;">
                <div style="padding-right:15px;width:250px;">
                    <gisc-ui-label params="text:$parent.i18n('Transportation_Mngm_Finish_Shipment_Actual_End_Date'),isRequired: true" />
                    <div style="width:100%">
                        <div style="width:55%;float:left;">
                            <gisc-ui-datetime params="mode:'date',value:actualEndDate" />
                        </div>
                        <div style="width:45%;float:right;">
                            <div class="app-textBox-wrapper">
                                <input type="time" data-bind="value:actualEndTime, attr: {class:'app-input'} "style="border: 1px solid #a3a5a8;" >
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td data-bind="visible: $parent.checkReason(reason())" style="vertical-align:top;">
                <div style="padding-right:15px;width:170px;">
                    <gisc-ui-label params="text:$parent.i18n('Transportation_Mngm_Finish_Shipment_Cancel_Reason')" />
                    <div style="width:150px;">
                        <gisc-ui-dropdown params="options: lstCancelReasons,
                            optionsID:'id',
                            optionsText: 'cause',
                            optionsCaption: '',
                            value: cancelReason" />
                    </div>
                </div>
            </td>
            <td data-bind="visible:$parent.checkCancelReason(cancelReason())" style="vertical-align:bottom;">
                <div style="width:250px;">
                    <gisc-ui-textbox params="value:otherCancelDetail,placeholder:$parent.i18n('Transportation_Mngm_Finish_Shipment_Other_Reason')" />
                </div>
            </td>
        </tr>
    </table>
</gisc-ui-component>