﻿<gisc-ui-component>
    <gisc-ui-label params="for:'ddlReason',text:i18n('Transportation_Mngm_Cancel_Shipment_Reason')" />
    <gisc-ui-dropdown params="id:'ddlReason',
                      options: lstCancelReasons,
                      optionsID:'id',
                      optionsText: 'cause',
                      optionsCaption: '',
                      value: cancelReason" />
    <gisc-ui-textarea params="value: cancelReasonDetail" />
</gisc-ui-component>