﻿<gisc-ui-component>

<div style="width: 100%;">
    
    <div style="width: 100%; height: 100%; float: left; ">

        <!-- form -->
        <div style="width: 55%">

            <!-- left side form -->
            <div style="width: 35%; float: left;">

                <div style="width: 100%; float: left; text-align: left; padding-left:15px; margin-bottom: 2%; ">

                    <div style="width: 10%; float: left; text-align: right;">
                        <gisc-ui-checkbox params=" checked:isNotChecked " />
                    </div>
                    <div style="width: 90%; float: left; ">
                        <!-- <gisc-ui-label style="font-size: 22px;" params="text: i18n('Auto Refresh 5 minutes')"></gisc-ui-label> -->
                        <span data-bind="text: lblAutoRefresh" style="color: #7b7b7b; font-size: 22px; font-weight: bold;"></span>
                        <br>
                        <span data-bind="text: lblLastSync" style="color: #20af80; font-weight: bold;"></span>
                        <!-- <gisc-ui-label params="text: lblLastSync" style="color: #20af80"></gisc-ui-label> -->
                    </div>
                </div>

                <div style="width: 100%; float: left; text-align: left;">

                    <div style="width: 10%; float: left; text-align: right; margin-top: 2%;">
                        <gisc-ui-label params="for: 'ddBusinessUnit', text: i18n('Transportation_Mngm_ShipmentTimeline_Sector')"></gisc-ui-label>
                    </div>

                    <div style="width: 80%;  margin-left: 15px; float: left;">
                        <gisc-ui-dropdown params=" id: 'ddBusinessUnit',
                                                        options:businessUnitOptions,
                                                        optionsID:'id',
                                                        optionsText:'name',
                                                        optionsParent:'parentBusinessUnitId',
                                                        optionsChildren:'childBusinessUnits',
                                                        value:businessUnit ,
                                                        optionsCaption:'',
                                                        zIndex:'6' " />
                    </div>
                </div>

                <div style="width: 100%; float: left; text-align: left;">

                    <div style="width: 10%; float: left; text-align: right; margin-top: 1%;">
                        <gisc-ui-label params="for: 'ddSite', text: i18n('Transportation_Mngm_ShipmentTimeline_Site')"></gisc-ui-label>
                    </div>
                    <div style="width: 80%; margin-left: 15px; float: left;">
                        <gisc-ui-dropdown params=" id: 'ddSite',
                                                options:siteOptions,
                                                optionsID:'id',
                                                optionsText:'name',
                                                 optionsParent:'parentBusinessUnitId',
                                                optionsChildren:'childBusinessUnits',
                                                optionsCaption:'',
                                                 value:siteValue " />
                    </div>
                </div>

            </div>

            <!-- right side form -->
            <div style="width: 50%; float: left;">

                <div style="width: 100%; float: left; text-align: left; margin-bottom: 1%;">

                    <div class="right-side-form" style="width: 15%; float: left; text-align: right; margin-top: 1%;">
                        <gisc-ui-label params="for: 'txtKeyword', text: i18n('Transportation_Mngm_ShipmentTimeline_Keyword')"></gisc-ui-label>
                    </div>
                    <div style="width: 68%; margin-left: 15px; float: left;">
                        <gisc-ui-textbox params="id:'txtKeyword', value: txtKeyword , placeholder:placeHolderEx" />
                    </div>
                </div>
       
                <div style="width: 100%; float: left; text-align: left;">

                    <div class="right-side-form" style="width: 15%; float: left; text-align: right; margin-top: 1%;">
                        <gisc-ui-label params="for: 'ddTruckStatus', text: i18n('Transportation_Mngm_ShipmentTimeline_TruckStatus')"></gisc-ui-label>
                    </div>
                    <div style="width: 68%; margin-left: 15px; float: left;">
                            <gisc-ui-dropdowntree params="  id: 'ddTruckStatus',
                                                            options:truckStatusOptions,
                                                            optionsID:'value',
                                                            optionsText:'displayName',
                                                            optionsParent:'type',
                                                            value:truckStatusValue,
                                                            mode:'update'
                                                             " />
                    </div>
                </div>

                <div style="width: 100%; float: left; text-align: left;">

                    <div class="right-side-form" style="width: 15%; float: left; text-align: right; margin-top: 1%;">
                        <gisc-ui-label params="for: 'ddSortBy', text: i18n('Transportation_Mngm_ShipmentTimeline_SortBy')"></gisc-ui-label>
                    </div>
                    <div style="width: 40%; margin-left: 15px; float: left;">
                        <gisc-ui-dropdown params=" id: 'ddSortBy',
                                                options:sortByOptions,
                                                optionsID:'id',
                                                optionsText:'displayName',
                                                value:sortByValue " />
                    </div>

                    <div style="margin-left: 4%; float: left; margin-top: 1.5%;">
                        <!-- Common_Search -->
                        <gisc-ui-button params="text: i18n('Common_Search'),
                                                            onclick: onSearch.bind($data,'Search')" />
                    </div>
                </div>


            </div>
        </div>

        <div class="verticalLine" style=" width: 1%; height: 150px; float: left;"></div> <!--  verticalLine -->

        <!-- Legend Oval -->
        <div class="legend-oval" style="width: 25%;  float: left;">

            <!-- Title -->
            <div style="width: 100%; float: left;">
                    <span data-bind="text: i18n('Transportation_Mngm_ShipmentTimeline_TruckStatus')" style="font-size: 22px; font-weight: bold; color: #7b7b7b;"></span>
                    <!-- <gisc-ui-label style="font-size: 22px; " params="text: i18n('Truck Status')"></gisc-ui-label> -->
            </div>

            <!-- legend left side -->
            <div style="width: 50%; float: left;">

                <!-- plan -->
                <div style="width: 100%; float: left;">

                    <div style="width: 50%;">
                        <div class="ovalBase plan" style="float: left"></div>
                    </div>
                    <div style=" margin: 10px;">
                        <gisc-ui-label params="text: i18n('Transportation_Mngm_ShipmentTimeline_Plan')"></gisc-ui-label>
                    </div>

                </div>
                <!-- waitng -->
                <div style="width: 100%; float: left;">

                    <div style="width: 30%;">
                        <div class="ovalBase waiting" style="float: left"></div>
                    </div>
                    <div style=" margin: 10px;">
                        <gisc-ui-label params="text: i18n('Transportation_Mngm_ShipmentTimeline_Inside_Waypoint')"></gisc-ui-label>
                    </div>

                </div>
                <!-- on time -->
                <div style="width: 100%; float: left;">

                    <div style="width: 50%;">
                        <div class="ovalBase onTime" style="float: left"></div>
                    </div>
                    <div style=" margin: 10px;">
                        <gisc-ui-label params="text: i18n('Transportation_Mngm_ShipmentTimeline_Ontime')"></gisc-ui-label>
                    </div>

                </div>

            </div>

            <!-- legend right side -->
            <div style="width: 50%; float: left;">

                <!-- maybe delay -->
                <div style="width: 100%; float: left;">

                    <div style="width: 50%;">
                        <div class="ovalBase maybeDelay" style="float: left"></div>
                    </div>
                    <div style=" margin: 10px;">
                        <gisc-ui-label params="text: i18n('Transportation_Mngm_ShipmentTimeline_Maybe_Delay')"></gisc-ui-label>
                    </div>

                </div>

                <!-- delay -->
                <div style="width: 100%; float: left;">

                    <div style="width: 50%;">
                        <div class="ovalBase delay" style="float: left"></div>
                    </div>
                    <div style="margin: 10px;">
                        <gisc-ui-label params="text: i18n('Transportation_Mngm_ShipmentTimeline_Nextwaypoint_Delay')"></gisc-ui-label>
                    </div>

                </div>

                <!-- finished -->
                <div style="width: 100%; float: left;">

                    <div style="width: 50%;">
                        <div class="ovalBase finished" style="float: left"></div>
                    </div>
                    <div style=" margin: 10px;">
                        <gisc-ui-label params="text: i18n('Transportation_Mngm_ShipmentTimeline_Finish')"></gisc-ui-label>
                    </div>

                </div>

            </div>

        </div>

        <div class="verticalLine" style=" width: 1%; height: 150px; float: left;"></div> <!--  verticalLine -->

        <div style="width: 20%;  float: left;">

            <!-- Title -->
            <div style="width: 100%; float: left;">
                    <span data-bind="text: i18n('Transportation_Mngm_ShipmentTimeline_Waypoint_Status')" style="font-size: 22px; font-weight: bold; color: #7b7b7b;"></span>
            </div>

            <div style="width: 100%; float: left; margin-left:10px;">

                <div style="width: 100%; float: left;">

                    <div style="width: 30%">
                        <div class="circleBase gray" style="float: left"></div>
                    </div>

                    <div style=" margin: 5px; ">
                        <gisc-ui-label params="text: i18n('Transportation_Mngm_ShipmentTimeline_Plan')"></gisc-ui-label>
                    </div>


                </div>

                <div style="width: 100%; float: left; ">

                    <div style="width: 30%">
                        <div class="circleBase red" style="float: left"></div>
                    </div>

                    <div style=" margin: 5px;">
                        <gisc-ui-label params="text: i18n('Transportation_Mngm_ShipmentTimeline_Latearrival')"></gisc-ui-label>
                    </div>


                </div>

                <div style="width: 100%; float: left; ">

                        <div style="width: 30%">
                            <div class="circleBase yellow" style="float: left"></div>
                        </div>
    
                        <div style=" margin: 5px;">
                            <gisc-ui-label params="text: i18n('Transportation_Mngm_ShipmentTimeline_Ontimearrival_Latedepart')"></gisc-ui-label>
                        </div>
    
    
                </div>

                <div style="width: 100%; float: left; ">

                            <div style="width: 30%">
                                <div class="circleBase green" style="float: left"></div>
                            </div>
        
                            <div style=" margin: 5px;">
                                <gisc-ui-label params="text: i18n('Transportation_Mngm_ShipmentTimeline_Ontimearrival_Ontimedepart')"></gisc-ui-label>
                            </div>
        
        
                </div>

            </div>

        </div>


    </div>
</div>

<div style="float: left; width: 100%;">
        <hr class="timeline-hr">
</div>
    <div style="float: left;" data-bind="visible:isShow">
        <gisc-ui-shipment-timeline params="data: data,
                    tooltipHandler: tooltipHandler.bind($data),
                    selectedDate: selectedDate,
                    startIndex: newStartIndex,
                    endIndex: newEndIndex,
                    onClick: onTimeLineClick.bind($data),
                    showTooltip: showTooltip,
                    currentTime: currentTime,
                    paramStatus: paramStatus,
                    zoomFactor: zoomFactor,
                    dateCounter: dateCounter
                    " 
        />

    </div>
    <!-- ko ifnot: isShow -->
    <p data-bind="text: i18n('Common_DataNotFound')"></p>
    <!-- /ko -->

</gisc-ui-component>

