﻿<gisc-ui-component>
    <gisc-ui-label params="text: i18n('Common_Status')" />
    <gisc-ui-field params="value: status" />

    <gisc-ui-label params="text: i18n('Assets_DateTime')" />
    <gisc-ui-field params="value: selectedDate" />

    <gisc-ui-label params="text: i18n('Common_Description')" />
    <gisc-ui-field params="value: txtDescription" />

    <gisc-ui-label params="text: i18n('Common_Vehicle')" />
    <gisc-ui-field params="value: selectedVehicleText" />

    <gisc-ui-label params="text: i18n('Vehicle_MA_Common_Contact')" />
    <gisc-ui-field params="value: txtContactPoint" />

    <gisc-ui-label params="text: i18n('Vehicle_MA_Plan_Label')" />
    <gisc-ui-field params="value: selectedMAText" />

    <gisc-ui-label params="text: i18n('Vehicle_MA_Common_Assign_To')" />
    <gisc-ui-field params="value: txtAssignTo" />

    <gisc-ui-label params="for:'txtRemark' ,text: i18n('Vehicle_MA_Common_Remark'), isRequired: true" />
    <gisc-ui-textarea params="id:'txtRemark', value: txtRemark, maxlength:1000"></gisc-ui-textarea>
</gisc-ui-component>