﻿<gisc-ui-component>
    <!--ko ifnot: isFromAppointment -->
        <gisc-ui-label params="text: i18n('Common_Status')" />
        <gisc-ui-field params="value: status" />
    <!-- /ko -->    

    <gisc-ui-label params="text: i18n('Assets_DateTime'), isRequired: hideRequire"/>
    <!--ko ifnot: fromUpdate -->
    <div style="width:100%">
        <div style="width:55%;float:left;">
            <gisc-ui-datetime params="mode:'date', value: selectedDate, minDate: currentDate,dateFormat:formatSet" />
        </div>
        <div style="width:40%;float:right;">
            <div class="app-textBox-wrapper">
                <input type="time" data-bind="value:timeStart, attr: { id:id, class:'app-input'} ">
            </div>
        </div>
    </div>
    <div style="clear:both;"></div>

    <!-- /ko --> 
    <!--ko if: fromUpdate -->
        <gisc-ui-field params="value: displayDateTime" />
    <!-- /ko --> 

    <gisc-ui-label params="for:'txtDesc' ,text: i18n('Common_Description')" />
    <gisc-ui-textarea params="id:'txtDesc', value: txtDescription"></gisc-ui-textarea>

    <!--ko if: isFromAppointment -->
        <gisc-ui-label params="for:'ddlBU', text: i18n('Common_BusinessUnit')" />
        <gisc-ui-dropdowntree params="id: 'ddlBU',
                            options:businessUnitList,
                            optionsID:'id',
                            optionsText:'name',
                            optionsParent:'parentBusinessUnitId',
                            optionsChildren:'childBusinessUnits',
                            value:selectedBU" />
        <gisc-ui-checkbox params="text:i18n('Vehicle_MA_Appointment_Search_Include_Sub_BU'), checked: includeSubBU"></gisc-ui-checkbox>
    <!-- /ko -->

    <gisc-ui-label params="for:'ddlVehicle', text: i18n('Common_Vehicle'), isRequired: isFromAppointment"/>
    <!--ko if: isFromAppointment -->
        <gisc-ui-dropdown params="
                id: 'ddlVehicle',
                options: vehicles, 
                optionsText: 'licenseText',
                optionsCaption: '',
                value: selectedVehicle" />
    <!-- /ko -->
    <!--ko ifnot: isFromAppointment -->
        <gisc-ui-field params="value: selectedVehicleText" />
    <!-- /ko -->

    <gisc-ui-label params="for: 'txtContact',text: i18n('Vehicle_MA_Common_Contact'), isRequired: true"/>
    <gisc-ui-textbox params="id:'txtContact', value: txtContactPoint"></gisc-ui-textbox>

    <gisc-ui-label params="for:'ddlMAPlan', text: i18n('Vehicle_MA_Plan_Label'), isRequired: hideRequire "/>
    <!--ko if: isFromAppointment -->
        <gisc-ui-dropdown params="
                id: 'ddlMAPlan',
                options: maintenancePlans, 
                optionsText: 'title',
                optionsCaption: '',
                value: selectedMA" />
    <!-- /ko --> 
    <!--ko ifnot: isFromAppointment -->
        <gisc-ui-field params="value: selectedMAText" />
    <!-- /ko -->  

    <gisc-ui-label params="for: 'txtAssign',text: i18n('Vehicle_MA_Common_Assign_To'), isRequired: true"/>
    <gisc-ui-textbox params="id:'txtAssign', value: txtAssignTo"></gisc-ui-textbox>
</gisc-ui-component>