﻿<gisc-ui-component>
    <gisc-ui-label params="text: i18n('Common_Status')" />
    <gisc-ui-field params="value: status" />

    <gisc-ui-label params="text: i18n('Assets_DateTime'), isRequired: true" />
    <div style="width:100%">
        <div style="width:55%;float:left;">
            <gisc-ui-datetime params="mode:'date', value: selectedDate, minDate: toDay" />
        </div>
        <div style="width:40%;float:right;">
            <div class="app-textBox-wrapper">
                <input type="time" data-bind="value:timeStart, attr: { id:id, class:'app-input'} ">
            </div>
        </div>
    </div>
    <div style="clear:both;"></div>

    <gisc-ui-label params="for:'txtDesc' ,text: i18n('Common_Description')" />
    <gisc-ui-textarea params="id:'txtDesc', value: txtDescription"></gisc-ui-textarea>

    <gisc-ui-label params="text: i18n('Common_Vehicle')" />
    <gisc-ui-field params="value: selectedVehicleText" />

    <gisc-ui-label params="for: 'txtContact',text: i18n('Vehicle_MA_Common_Contact'), isRequired: true" />
    <gisc-ui-textbox params="id:'txtContact', value: txtContactPoint"></gisc-ui-textbox>

    <gisc-ui-label params="text: i18n('Vehicle_MA_Plan_Label')" />
    <gisc-ui-field params="value: selectedMAText" />

    <gisc-ui-label params="for: 'txtAssign',text: i18n('Vehicle_MA_Common_Assign_To'), isRequired: true" />
    <gisc-ui-textbox params="id:'txtAssign', value: txtAssignTo"></gisc-ui-textbox>

    <gisc-ui-label params="for:'txtRemark' ,text: i18n('Vehicle_MA_Common_Remark'), isRequired: true" />
    <gisc-ui-textarea params="id:'txtRemark', value: txtRemark, maxlength:1000"></gisc-ui-textarea>
</gisc-ui-component>