﻿<gisc-ui-component>
    <!--Maintenance Type-->
    <gisc-ui-label params="for: 'ddMaintenanceType', text: i18n('Vehicle_MA_Common_Maintenance_Type'), isRequired: false"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddMaintenanceType',
                              options: maintenanceTypeList,
                              optionsText: 'name',
                              optionsCaption: '',
                              value: maintenanceType"></gisc-ui-dropdown>

    <!--Maintenance Subtype-->
    <gisc-ui-label params="for: 'ddMaintenanceSubtype', text: i18n('Vehicle_MA_Common_Maintenance_SubType'), isRequired: false"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddMaintenanceSubtype',
                              options: maintenanceSubtypeList,
                              optionsText: 'name',
                              optionsCaption: '',
                              value: maintenanceSubtype"></gisc-ui-dropdown>

    <!--Appointment Status-->
    <gisc-ui-label params="for: 'ddAppointmentStatus', text: i18n('Vehicle_MA_Appointment_Search_Status'), isRequired: false"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddAppointmentStatus',
                              options: appointmentStatusList,
                              optionsText: 'displayName',
                              optionsCaption: '',
                              value: appointmentStatus"></gisc-ui-dropdown>

    <!--Business Unit-->
    <gisc-ui-label params="for: 'ddBusinessUnit', text: i18n('BU_BusinessUnits'), isRequired: false"></gisc-ui-label>
    <!--<gisc-ui-dropdown params="id: 'ddBusinessUnit',
                              options: businessUnitList,
                              optionsText: 'name',
                              optionsCaption: '',
                              value: businessUnit"></gisc-ui-dropdown>-->


    <gisc-ui-dropdowntree params=" id: 'ddBusinessUnit', 
                                    options:businessUnitList,
                                    optionsID:'id',
                                    optionsText:'name',
                                    optionsParent:'parentBusinessUnitId',
                                    optionsChildren:'childBusinessUnits',
                                    value:businessUnit" />

    <!--Include Sub Business Unit-->
    <gisc-ui-checkbox params="text:i18n('Vehicle_MA_Appointment_Search_Include_Sub_BU'), checked: includeSubBU"></gisc-ui-checkbox>
    
    <!--Vehicle-->
    <gisc-ui-label params="for: 'txtTitle', text: i18n('Common_Vehicle'), isRequired: false" />
    <gisc-ui-dropdown params="id: 'ddVehicle',
                              options: vehicleList,
                              optionsText: 'license',
                              optionsCaption: '',
                              value: vehicle"></gisc-ui-dropdown>

    <!--Assign To-->
    <gisc-ui-label params="for: 'txtAssignTo', text: i18n('Vehicle_MA_Common_Assign_To'), isRequired: false" />
    <gisc-ui-textbox params="id: 'txtAssignTo', value: assignTo" />

    <!--Start Date-->
    <gisc-ui-label params="for:'dtStartDate', text:i18n('Common_StartDate')" />
    <div style="width:100%">
        <div style="width:55%;float:left;">
            <gisc-ui-datetime params="id:'dtStartDate', mode:'date', value: startDate,dateFormat:dateFormat" />
        </div>
        <div style="width:40%;float:right;">
            <div class="app-textBox-wrapper">
                <input type="time" data-bind="value:startTime, attr: { id:id, class:'app-input'} ">
            </div>
        </div>
    </div>
    <div style="clear:both;"></div>
    <!--<gisc-ui-label params="for:'dtStartDate', text:i18n('Common_StartDate')" />
    <gisc-ui-datetime params="id:'dtStartDate',
                              value: startDate,
                              mode: 'date',
                              dateFormat: dateFormat" />-->

    <!--End Date-->
    <!--<gisc-ui-label params="for:'dtEndDate', text:i18n('Common_EndDate')" />
    <gisc-ui-datetime params="id:'dtEndDate',
                              value: endDate,
                              mode: 'date',
                              dateFormat: dateFormat" />-->
    <gisc-ui-label params="for:'dtEndDate', text:i18n('Common_EndDate')" />
    <div style="width:100%">
        <div style="width:55%;float:left;">
            <gisc-ui-datetime params="id:'dtEndDate', mode:'date', value: endDate,dateFormat:dateFormat" />
        </div>
        <div style="width:40%;float:right;">
            <div class="app-textBox-wrapper">
                <input type="time" data-bind="value:endTime, attr: { id:id, class:'app-input'} ">
            </div>
        </div>
    </div>
    <div style="clear:both;"></div>
</gisc-ui-component>