﻿<gisc-ui-component>
    <gisc-ui-label params="text: i18n('Common_Status')" />
    <gisc-ui-field params="value: status" />
    
    <gisc-ui-label params="text: i18n('Assets_DateTime')" />
    <gisc-ui-field params="value: dateTime" />

    <gisc-ui-label params="text: i18n('Common_Description')" />
    <gisc-ui-field params="value: description" />

    <gisc-ui-label params="text: i18n('Common_Vehicle')" />
    <gisc-ui-field params="value: vehicle" />

    <gisc-ui-label params="text:i18n('Vehicle_MA_Common_Contact')" />
    <gisc-ui-field params="value: contact" />

    <gisc-ui-label params="text:i18n('Vehicle_MA_Plan_Label')" />
    <gisc-ui-field params="value: maPlan" />

    <gisc-ui-label params="text:i18n('Vehicle_MA_Common_Assign_To')" />
    <gisc-ui-field params="value: assignTo" />


    <!--ko if: isCancel -->
    <gisc-ui-label params="text:i18n('Vehicle_MA_Common_Remark')" />
    <gisc-ui-field params="value: remark" />
    <!-- /ko -->
</gisc-ui-component>