﻿<gisc-ui-component>
    <article>
        <!--<summary>Validation on ViewModel</summary>-->
        <section>

            <gisc-ui-label params="for: 'ddlBusinessUnit', text:i18n('Report_BusinessUnit'), isRequired: BURequire" />
            <gisc-ui-dropdowntree params="id: 'ddlBusinessUnit',
                                options: businessUnits,
                                optionsID: 'id',
                                optionsText: 'name',
                                optionsParent: 'parentBusinessUnitId',
                                optionsChildren: 'childBusinessUnits',
                                value: selectedBusinessUnit,
                                enable: enableCriteria" />

            <gisc-ui-checkbox params="text: i18n('Common_IncludeSubBusinessUnit'), checked:isIncludeSubBU , visible: isIncludeSubBUVisible,enable: enableCriteria" />

            <!-- Entity Type -->
            <gisc-ui-label params="for: 'ddEntityType', text: i18n('FleetMonitoring_EntityType'), isRequired: entityTypeRequire"></gisc-ui-label>
            <gisc-ui-dropdown params="id: 'ddEntityType',
                                        options: entityTypes,
                                        optionsText: 'displayName',
                                        value: selectedEntityType,
                                        enable: enableCriteria" />

            <div data-bind="visible: driverVisible" >
                <gisc-ui-checkbox params="text: i18n('ReportCriteria_FormerDriver'),checked:isIncludeFormerDriver"/>
                <gisc-ui-checkbox params="text: i18n('ReportCriteria_ResignedDriver'), checked:isIncludeResignedDriver"/>
            </div>

            <div data-bind="visible: categoryVehicleVisible">
                <gisc-ui-label params="for: 'ddCategoryVehicle', text: i18n('Report_CategoryVehicle')"></gisc-ui-label>
                <gisc-ui-dropdown params="id: 'ddCategoryVehicle',
                                        options: categoryVehicleOptions,
                                        optionsText: 'name',
                                        value: categoryVehicle,
                                        enable: enableCriteria" />
            </div>

            <!-- Vehicle Driver -->
            <gisc-ui-label params="for: 'ddSelectEntity', text: i18n('Report_SelectedEntity'), isRequired: selectEntityRequire"></gisc-ui-label>
            <gisc-ui-dropdown params="id: 'ddSelectEntity',
                                    options: selectEntity,
                                    optionsText: 'displayName',
                                    optionsCaption: selectedEntityBinding,
                                    value: selectedEntity,
                                    type: 'filter',
                                    enable: enableCriteria" />


            <!-- Driver Performance Rule -->
            <div data-bind="visible: true">
                <gisc-ui-label params="for: 'ddDriverPerformance', text: i18n('DriverPerformanceRules_DriverPerformanceRules'), isRequired: true"></gisc-ui-label>
                <gisc-ui-dropdown params="id: 'ddDriverPerformance',
                                                options: driverPerformances,
                                                optionsText: 'name',
                                                optionsCaption: '',
                                                value: selectedDriverPerformance" />
            </div>

            <gisc-ui-radio params="text:i18n('Debrief_Search_By_Date'),value:'Date',checked:valueRadio " />
            <gisc-ui-radio params="text:i18n('Debrief_Search_By_Shipment'),value:'Shipment',checked:valueRadio " />

            <div data-bind="visible: visibleShipment">
                <!--Shipment Code--> <!-- Relate Shipment -->
                <gisc-ui-label params="for:'txtShipmentCode',text:i18n('Debrief_RelateShipment'), isRequired: true" />
                <gisc-ui-autocomplete params="id:'txtShipmentCode',
                                    onDatasourceRequest:onDatasourceRequestShipmentCode,
                                    value:txtShipmentCode
                                    " />
            </div>
           

            <!-- ////////////////////////////////////////////////////////// -->

            <div data-bind="visible: visibleDate">
                <div style="width:100%;float:left;">
                    <gisc-ui-label params="for:'fromDateReport' ,text: i18n('Companies_From'), isRequired: true" />
                </div>
                <div style="width:100%">
                    <div style="width:55%;float:left;">
                        <gisc-ui-datetime params="id:'fromDateReport' ,value:start ,mode:'date' ,maxDate:maxDateStart ,minDate:'-3m' ,dateFormat:formatSet" />
                    </div>
                    <div style="width:40%;float:right;">
                        <div class="app-textBox-wrapper">
                            <input type="time" data-bind="value:startTime, attr: { id:id, class:'app-input'} ">
                        </div>
                    </div>
                </div>
                <div style="width:100%;float:left;">
                    <gisc-ui-label params="for:'toDateReport' ,text: i18n('Companies_To'), isRequired: true" />
                </div>
                <div style="width:100%">
                    <div style="width:55%;float:left;">
                        <gisc-ui-datetime params="id:'toDateReport' ,value:end  ,mode:'date' ,maxDate:periodDay ,minDate:minDateEnd ,dateFormat:formatSet" />
                    </div>
                    <div style="width:40%;float:right;">
                        <div class="app-textBox-wrapper">
                            <input type="time" data-bind="value:endTime, attr: { id:id, class:'app-input'} ">
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </article>
</gisc-ui-component>