﻿<gisc-ui-component>

    

    <div class="debrief-container">


        <!-- ////////////////////////// START HEAD //////////////////////////////////// -->
        <div class="debrief-head">

            <div style="font-size: 36px;">
                <span data-bind="text: driverDebriefHeadTxt"></span>
            </div>
            <!-- <div  data-bind="visible: isDataNotFound">
                <label>
                    Data Not Found
                </label>
            </div> -->

            <div class="head-container">

                <div class="date-box">
                    <b>
                        <span data-bind="text: dateTxt"></span>
                        <span>:</span>
                    </b>
                    <span data-bind="text:dateFromDisplay"></span>
                    <b>
                        <span data-bind="text: dateToTxt"></span>
                        <span>:</span>
                    </b>
                    <span data-bind="text:dateToDisplay"></span>
                    <!-- <span data-bind="text: companyName" style="color: grey"></span> -->
                </div>

                <div class="license-box">
                    <b>
                        <span data-bind="text: licenseTxt"></span>
                        <span>:</span>
                    </b>
                    <span data-bind="text:vehicleLicense"></span>
                </div>

                <div class="relate-shipment-box">
                    <b>
                        <span data-bind="text: i18n('Debrief_RelateShipment')"></span>
                        <span>:</span>
                    </b>
                    <span data-bind="text: relateShipment"></span>
                </div>

            </div>

            <div>
                <b>
                    <span data-bind="text: i18n('Debrief_Table_Head_Drivername')"></span>
                    <span>:</span>
                </b>
                <span data-bind="text: driverName"></span>
            </div>

        </div>
        <!-- ///////////////////////////////// END HEAD //////////////////////////////////////// -->


        <!-- ///////////////// Summary Head //////////////////////// -->
        <div>
            <hr class="debrief-hr">
        </div>


        <div style="font-size: 24px;">
            <b>
                <span data-bind="text: i18n('Dashboard_Driver_Performance_Score_Performance_Rule')"></span>
                <span>:</span>
            </b>
            <span data-bind="text: driverPerfermanceRuleName"></span>

        </div>

        <!-- ///////////////// End Summary Head //////////////////////// -->



        <!-- /////////////////////////// SUMMARY CONTENT ///////////////////////////////////////// -->



        <div class="summary-container" data-bind="visible: true">
            <div class="header-summary2">

                <div class="details2">
                    <div class="detail-header">
                        <img src="../../../../images/icon_nearest_assets_fuel@3x.png" />
                        <label data-bind="text:totalFuelTxt"></label>
                        <!-- <gisc-ui-label params="text:'Total Fuel'" /> -->
                    </div>
                    <div class="detail-data">
                        
                        <!-- <gisc-ui-label params="text: formatFuel" /> -->
                        <label data-bind="text:formatFuel"></label>

                    </div>
                    <div class="detail-description">
                        <div data-bind="text: formatFuelPlan"></div>
                    </div>
                </div>

                <div class="details2" >
                    <div class="detail-header">
                        <img src="../../../../images/ic_driver_overtime.png" />
                        <!-- <gisc-ui-label params="text:'Drive Overtime 4 Hrs'" /> -->
                        <label data-bind="text:driver4hoursTxt"></label>
                    </div>
                    <div class="detail-data">
                            <label data-bind="text:formatDriverOverTime4HrTimes"></label>
                        <!-- <gisc-ui-label params="text: formatDriverOverTime4HrTimes" /> -->
                    </div>
                </div>

                <div class="details2" style="width: 15%;">
                    <div class="detail-header">
                        <img src="../../../../../gis-js/images/alert/66px/normal/pin_EngineOffPark.png" />
                        <!-- <gisc-ui-label params="text:'Total Times'" /> -->
                        <label data-bind="text:totalTimeTxt"></label>
                    </div>
                    <div class="detail-data">
                            <label data-bind="text:formatTotalTime"></label>
                        <!-- <gisc-ui-label params="text: formatTotalTime" /> -->
                    </div>
                </div>



                <div class="details2" id="first-moveduration-box">
                    <div class="detail-header">
                        <img src="../../../../../gis-js/images/vehicle_status/icon_nearest_assets_movement@3x.png" />
                        <!-- <gisc-ui-label params="text:'Movement Duration'" /> -->
                        <label data-bind="text:moveDurationTxt"></label>
                    </div>
                    <div class="detail-data">
                        <div class="driver-movement-box">
                            <div>
                                <img  src="../../../../images/icon_nearest_assets_movement_move@3x.png" />
                                <!-- <gisc-ui-label params="text:'Move'" /> -->
                                <label data-bind="text:moveTxt"></label>
                            </div>

                            <div>
                                    <label data-bind="text:formatTotalMove"></label>
                                <!-- <gisc-ui-label params="text:formatTotalMove" /> -->
                            </div>
                        </div>

                        <div class="driver-movement-box">

                            <div>
                                <img  src="../../../../images/icon_nearest_assets_movement_stop@3x.png" />
                                <!-- <gisc-ui-label params="text:'Stop'" /> -->
                                <label data-bind="text:stopTxt"></label>
                            </div>

                            <div>
                                <!-- <gisc-ui-label params="text:formatTotalStop" /> -->
                                <label data-bind="text:formatTotalStop"></label>
                            </div>

                        </div>


                    </div>

                </div>


                <div class="details2" id="second-moveduration-box">

                    <div class="detail-header">
                        <img src="" style="visibility: hidden;" />
                        
                    </div>

                    <div class="detail-data">
                        <div class="driver-movement-box">
                            <div>
                                <img  src="../../../../images/icon_nearest_assets_movement_park@3x.png" />
                                <!-- <gisc-ui-label params="text:'Park'" /> -->
                                <label data-bind="text:parkTxt"></label>
                            </div>

                            <div>
                                    <label data-bind="text:formatTotalPark"></label>
                                <!-- <gisc-ui-label params="text:formatTotalPark" /> -->
                                
                            </div>
                        </div>

                        <div class="driver-movement-box">

                            <div>
                                <img src="../../../../images/icon_nearest_assets_movement_idle@3x.png" />
                                <!-- <gisc-ui-label params="text:'Idling'" /> -->
                                <label data-bind="text:idleTxt"></label>
                            </div>

                            <div>
                                    <label data-bind="text:formatTotalIdle"></label>
                                <!-- <gisc-ui-label params="text:formatTotalIdle" /> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ////////////////////////////////////////////////////////////////////////////////////////////  -->
            <hr class="summary-hr" style="border-top-width: 0px;">
            <div class="header-summary2">

                <div class="details2">
                    <div class="detail-header">
                        <img src="../../../../images/icon_nearest_assets_fuel@3x.png" />
                        <!-- <gisc-ui-label params="text:'Total Distance'" /> -->
                        <label data-bind="text:totalDistanceTxt"></label>
                        
                    </div>
                    <div class="detail-data">
                            <label data-bind="text:formatDistance"></label>
                        <!-- <gisc-ui-label params="text: formatDistance" /> -->
                    </div>
                    
                </div>

                <div class="details2">
                    <div class="detail-header">
                        <img src="../../../../images/ic_driver_restover.png" />
                        <label data-bind="text:rest30minutesTxt"></label>
                        <!-- <gisc-ui-label style="font-weight: normal;" params="text:'Rest Over 30 Minutes'" /> -->
                    </div>
                    <div class="detail-data">
                            <label data-bind="text:formatStopOver30MinTimes"></label>
                        <!-- <gisc-ui-label params="text: formatStopOver30MinTimes" /> -->
                    </div>
                    <div class="detail-description">

                            <label data-bind="text:engineOffTxt"></label>
                        </div>
                </div>

                <div class="details2" style="width: 15%;">
                    <div class="detail-header">
                        <img src="../../../../images/ic_total_event.png" />
                        <label data-bind="text:totaleventTxt"></label>
                        <!-- <gisc-ui-label params="text:'Total Events'" /> -->
                    </div>
                    <div class="detail-data">
                            <label data-bind="text:formatTotalEvent"></label>
                        <!-- <gisc-ui-label params="text: formatTotalEvent" /> -->
                    </div>
                </div>



                <div class="details2" style="width:44%;">
                    <div class="div-detail" style="width: 30%;">
                        <div class="detail-header">
                            <img src="../../../../images/icon_nearest_assets_speed@3x.png" style="height: 15px;" />
                            <label data-bind="text:speedTxt"></label>
                            <!-- <gisc-ui-label params="text:'SpeedInfo'" /> -->

                        </div>
                        <div style="clear:both"></div>
                        <div class="detail-data">
                            <div class="title" data-bind="attr:{title:'avgToolTip'}">
                                <!-- <gisc-ui-label params="text: averageSpeed" /> -->
                                <label data-bind="text:averageSpeed"></label>
                                <div style="width:80px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="div-sub-detail" style="width: 50%;">
                            <div class="sub-detail" style="width: 50%;"> 
                                    <div data-bind="text: formatDisplayLevel1"></div>
                                    <div data-bind="text: formatDisplayLevel2"></div>
                                    <div data-bind="text: formatDisplayLevel3"></div>
                                    <div data-bind="text: formatDisplayLevel4"></div>
                            </div>
                            <div class="sub-detail" style="width: 50%;">
                                    <div data-bind="text: formatDisplayLevel5"></div>
                                    <div data-bind="text: formatDisplayLevel6"></div>
                                    <div data-bind="text: formatDisplayLevel7"></div>
                            </div>
                    </div>
                </div>

            </div>

        </div>



        <!-- //////////////////////////////// END SUMMARY CONTENT ////////////////////////////////////////////////// -->


        <!-- ////////////// MAP //////////// -->
        <br />
        <div class="working-map-area">
            <gisc-chrome-working-map params="data: 'hello'" />
        </div>
        <!-- End Map -->

        <!-- Event Area -->
        <div class="event-container" style="font-size: 14px;" data-bind="foreach: eventTimes">

            <div class="event-box">
                    <!-- <gisc-ui-label style="font-weight: normal;" params="text: description" />
                    <gisc-ui-label style="font-weight: normal;" params="text: ': ' "/>
                    <gisc-ui-label style="font-weight: normal;" params="text: formatTimes "/>
                    <gisc-ui-label style="font-weight: normal;" params="text: 'Times'"/> -->
                    <label style="font-weight: normal;" data-bind="text: description" />
                    <label style="font-weight: normal;" data-bind="text: ': ' "/>
                    <label style="font-weight: normal;" data-bind="text: formatTimes "/>
                    <label style="font-weight: normal;" data-bind="text: $parent.timesTxt"/>
                
            </div>
            

        </div>
        <!-- End Event -->

        <br />

<div class="icon-container">
    <div class="icon-box">
        <div class="icon-img">
            <img class="icon-destination" src="../../../../../gis-js/images/pin_destinationB.png" />
        </div>
        <div class="icon-description">
            <span data-bind="text: startPointTxt"></span>
        </div>

    </div>
    <div class="icon-box">
        <div class="icon-img">
            <img class="icon-destination" src="../../../../../gis-js/images/pin_destinationE.png" />
        </div>
        <div class="icon-description">
            <span data-bind="text: endPointTxt"></span>
        </div>

    </div>
    <div class="icon-box">
        <div class="icon-img">
            <img class="icon-destination" src="../../../../../gis-js/images/footprint_move.png" />
        </div>
        <div class="icon-description">
            <span data-bind="text: moveTxt"></span>
        </div>

    </div>
    <div class="icon-box">
        <div class="icon-img">
            <img class="icon-destination" src="../../../../../gis-js/images/footprint_stop.png" />
        </div>
        <div class="icon-description">
            <span data-bind="text: stopTxt"></span>
        </div>

    </div>
    <div class="icon-box">
        <div class="icon-img">
            <img class="icon-destination" src="../../../../../gis-js/images/footprint_park.png" />
        </div>
        <div class="icon-description">
            <span data-bind="text: parkTxt"></span>
        </div>

    </div>
    <div class="icon-box">
        <div class="icon-img">
            <img class="icon-destination" src="../../../../../gis-js/images/footprint_parkengineon.png" />
        </div>
        <div class="icon-description">
            <span data-bind="text: idleTxt"></span>
        </div>

    </div>
</div>
        <!-- Icon ALert -->
        <div class="icon-container" data-bind="foreach: alert">

              

            <div class="icon-box">
                <!-- <img src="../../../../../gis-js/images/pin_destinationB.png" /> -->
                <div class="icon-img">
                    <img data-bind="attr: { src: formatImageUrl }"  />
                </div>
                <div class="icon-description">
                        <span data-bind="text: descriptionText" ></span>
                </div>
                
                <!-- <gisc-ui-label params="text: descriptionText" /> -->
            </div>


        </div>
        <!-- ///////////////////////////// -->

        <br />

        <div>
            <table class="debrief-table">
                <thead>
                        <tr>
                                <th data-bind="text:hTableDateTime" class="datetime-width"></th>
                                <th data-bind="text:hTableDuration" class="duration-width"></th>
                                <th data-bind="text:hTableRelateShipment" class="relateshipment-width"></th>
                                <th data-bind="html:hTableDiverName" class="drivername-employeeid-width"></th>
                                <th data-bind="text:licenseTxt" class="event-width"></th>
                                <th data-bind="html:hTableDescription" class="description-width"></th>
                                <th data-bind="html:hTableLaLong" class="latlong-width"></th>
                                <th data-bind="text:hTableLocation" class="location-width"></th>

                                <!-- <th data-bind="text: driverNameCol">Date Time</th>
                                <th data-bind="text: driverNameCol">Duration Time</th>
                                <th data-bind="text: driverNameCol">Relate Shipment</th>
                                <th data-bind="text: driverNameCol">Employee Id</th>
                                <th data-bind="text: driverNameCol">Driver Name</th>
                                <th data-bind="text: driverNameCol">Event</th>
                                <th data-bind="text: driverNameCol">Description</th>
                                <th data-bind="text: driverNameCol">Latitude</th>
                                <th data-bind="text: driverNameCol">Longitude</th>
                                <th data-bind="text: driverNameCol">Location</th> -->
            
                            </tr>
                </thead>
              
                <tbody data-bind="foreach: events">
                        <tr>
                                <td data-bind="text: formatDateTime"></td>
                                <td data-bind="text: durationTime"></td>
                                <td data-bind="text: jobCode"></td>
                                <td>   
                                    <span data-bind="text: driverName"></span>
                                    <br/>
                                    <span data-bind="text: employeeId"></span>
                                </td>
                             
                                <td data-bind="text: vehicleLicense"></td>
                                <td>
                                    <span data-bind="text: alertTyprDisplayName"></span>
                                    <br/>
                                    <span data-bind="text: descriptionText"></span>
                                </td>
                                <td>
                                    <span data-bind="text: latitude"></span>
                                    <br/>
                                    <span data-bind="text: longitude"></span>
                                </td>
                              
                                <td data-bind="text: location"></td>
                        </tr>
                       
                </tbody>
  
            </table>
        </div>

        

        <!-- ///////////////////////////////////////////////////////////////////////////////////////////// -->




        <!-- ///////////////////////////////////////////////////////////////////////////////////////////// -->

    </div>

</gisc-ui-component>