﻿<style>
    .playWnd {
        margin: 20px 0 0 100px;
        width: 600px;
        height: 400px;
        /* border: 1px solid red; */
    }

    .operaterWnd {
        margin-top: 10px;
    }

    .cbInfoDiv {
        width: 500px;
        left: 750px;
        top: 50px;
        border: 1px solid #7F9DB9;
    }

    .cbInfo {
        height: 200px;
        padding: 5px;
        border: 1px solid #7F9DB9;
        overflow: auto;
    }

    .operate {
        margin-left: 520px;
    }

    .left {
        float: left;
    }

    .cameraTree {
        width: 200px;
        height: 440px;
        margin: 10px 0 0 50px;
        border: 1px solid #CCCCCC;
    }

    .top {
        width: 1360px;
        height: 480px;
        position: absolute;
    }

    .info {
        margin: 45px 0 0 10px;
    }

    .active {
        color: #e54042;
    }

    .setUpParams {
        display: none;
    }
</style>
<gisc-ui-component>
    <div class="top testdiv">
        <!--<div class="left cameraTree hide">
            <ul id="cameraTree" class="ztree hide"></ul>
        </div>-->
        <div class="operaterWnd">
            <div class="operate">
                <button id="switchRealPlay" type="button" class="active">LiveView</button>
                <button id="switchPlayback" type="button">Play Back</button>
                <button id="stopAll" type="button">All stop</button>
                <!-- <button id="exit" type="button">Exit</button>
                <button id="alarm" type="button">Alarm</button> -->
            </div>
            <br />
            <div class="setUpParams">
                StartTime<input id="startTime" type="text">
                EndTime<input id="endTime" type="text" placeholder="yyyy-MM-dd HH:mm:ss" onfocus="this.placeholder=''" onblur="this.placeholder='yyyy-MM-dd HH:mm:ss'">
                StorageType:
                <select id="recordType">
                    <option value="1">Device</option>
                    <option value="3">CVR</option>
                </select>
                <button id="playb" type="button">Play Record</button>

                <!-- Save To<input id="loadpath" style="margin-left: 10px;" type="text" value="C:\Users\PlatformSDKWebControlPlugin\Download\">
                <button id="download" type="button" onclick=downloadRecord()>download</button> -->
            </div>

            <div id="playWnd" class="left playWnd"></div>

            <!-- <div class="row">
                <div class="col-12">
                    <div id="playWnd" class="left playWnd"></div>
                </div>
                <div class="col-6">
                    <div id="playWnd2" class="left playWnd" style="width: 100%;"></div>
                </div> -->
            <!-- <div class="col-4">
                <div id="playWnd3" class="left playWnd" style="width: 100%;"></div>
            </div> -->


        </div>
        <div>

        </div>

    </div>
</gisc-ui-component>