﻿<gisc-ui-component params="additionalCssClasses: 'k-grid-height'">
    <div class="container-fluid app-bladecontent" style="padding: 0">
        <div id="cw-fleet-monitoring-liveview-widget-toolbar" class="row" style="margin: 0; padding: 5px 0 3px 0; background-color:#b7d9c8; position: -webkit-sticky; position: sticky; top: 0; z-index: 2;">
            <div class="col-auto" style="padding: 3px 10px 0 10px;">
                <gisc-ui-label params="text: i18n('FleetMonitoring_Live_Video_ViewMode')" />
            </div>
            <div class="col-auto" style="padding: 5px 10px 0 10px;">
                <i data-bind="class:iconList, click: onClickViewMode.bind($data, 'list')"></i>
            </div>
            <div class="col-auto" style="padding: 5px 10px 0 10px;">
                <i data-bind="class:iconAllCamera, click: onClickViewMode.bind($data, 'allCamera')"></i>
            </div>
            <!-- ko if: isShowMenu -->
            <div class="col-auto" style="padding: 5px 10px 0 10px;">
                <div data-bind="class: iconListVideo, click: onClickViewMode.bind($data, 'list-video')">
                    <svg-icon-list-video />
                </div>
            </div>
            <div class="col-auto" style="padding: 5px 10px 0 10px;">
                <i data-bind="class:iconGrid, click: onClickViewMode.bind($data, 'grid')"></i>
            </div>
            <!-- /ko -->
     
        </div>
        <!-- List collapse-->
        <!-- collapse -->
        <!-- ko if: viewMode() == "list" -->
        <div data-bind="foreach: listItems().collapse" style="padding:0 15px 15px 15px">
            <div data-bind="attr: { 'data-row-id': id }">
                <div class="row">
                    <div class="live-view-video" style="max-width:45%; padding: 15px 15px 0 15px; float: left; position: absolute;">
                        <div data-bind="attr: { id: liveViewId }, style: { width: width, height: height }"></div>
                    </div>
                    <div class="live-view-detail" style="width:45%; padding: 15px 15px 0 15px; float: left; display: none;">
                        <div class="row" style="padding: 5px 15px 5px 15px">
                            <div class="col-xl-4" style="padding: 0">
                                <gisc-ui-label params="text: $parents[0].i18n('Common_License')"/>
                            </div>
                            <div class="col-xl-8" style="padding: 0">
                                <span data-bind="text: license"></span>
                            </div>
                        </div>
                        <div class="row" style="padding: 5px 15px 5px 15px">
                            <div class="col-xl-4" style="padding: 0">
                                <gisc-ui-label params="text: $parents[0].i18n('Common_Driver')"/>
                            </div>
                            <div class="col-xl-8" style="padding: 0">
                                <span data-bind="text: driverName"></span>
                            </div>
                        </div>
                        <div class="row" style="padding: 5px 15px 5px 15px">
                            <div class="col-xl-4" style="padding: 0">
                                <gisc-ui-label params="text: $parents[0].i18n('FleetMonitoring_Live_Video_Channels')"/>
                            </div>
                            <div class="col-xl-8" style="padding: 0">
                                <span data-bind="text: cameraNo"></span>
                            </div>
                        </div>
                        <div class="row" style="padding: 5px 15px 5px 15px">
                            <div class="col-xl-4" style="padding: 0">
                                <gisc-ui-label params="text: $parents[0].i18n('Common_BusinessUnit')"/>
                            </div>
                            <div class="col-xl-8" style="padding: 0">
                                <span data-bind="text: businessUnitName"></span>
                            </div>
                        </div>
                        <div class="row" style="padding: 5px 15px 5px 15px">
                            <div class="col-xl-4" style="padding: 0">
                                <gisc-ui-label params="text: $parents[0].i18n('Common_Location')"/>
                            </div>
                            <div class="col-xl-8" style="padding: 0">
                                <span data-bind="text: location"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="cw-fleet-monitoring-liveview-widget-footer-button" class="row live-view-detail" style="display: none;">
                <div class="col-auto live-view-view-on-map" style="padding-right: 0;" data-bind="click: $parents[0].onClickViewOnMap.bind($parents[0], $data)">
                    <!-- <i class="fa fa-map"></i> -->
                    <svg-icon-customroute-viewonmap class="live-view-svg" />
                    <br />
                    <gisc-ui-label params="text: $parents[0].i18n('Common_ViewOnMap')"/>
                </div>
            </div>
            <hr class="live-view-detail" style="display: none;">
        </div>
        <!-- /ko -->

        <!-- expand -->
        <!-- ko if: viewMode() == "allCamera" -->
        <div style="padding:0 15px 15px 15px">
            <div data-bind="attr: { 'data-row-id': id }">
                <div class="row">
                    <div class="live-view-video" style="padding: 15px 15px 0 15px;">
                        <div data-bind="attr: { id: 'liveViewAllCamera' }, style: { width: AllCamera_width, height: AllCamera_height }"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /ko -->

        <!-- expand -->
        <!-- ko if: viewMode() == "list-video" -->
        <div data-bind="foreach: listItems().expand" style="padding:0 15px 15px 15px">
            <div data-bind="attr: { 'data-row-id': id }">
                <div class="row live-view-detail" style="padding:10px 20px 5px 30px; display: none;">
                    <div class="col-6" style="padding: 0">
                        <div class="row">
                            <div class="col-6" style="padding: 0">
                                <div style="float: left">
                                    <gisc-ui-label params="text: $parents[0].i18n('Common_License')"/>
                                </div>
                                <div style="float: left">
                                    <span data-bind="text: license"></span>
                                </div>
                            </div>
                            <div class="col-6" style="padding: 0">
                                <div style="float: left">
                                    <gisc-ui-label params="text: $parents[0].i18n('Assets_Mdvrs_Channels')"/>
                                </div>
                                <div style="float: left">
                                    <span data-bind="text: cameraNo"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6" style="padding: 0">
                                <div style="float: left">
                                    <gisc-ui-label params="text: $parents[0].i18n('Common_Driver')"/>
                                </div>
                                <div style="float: left">
                                    <span data-bind="text: driverName"></span>
                                </div>
                            </div>
                            <div class="col-6" style="padding: 0">
                                <div style="float: left">
                                    <gisc-ui-label params="text: $parents[0].i18n('Common_BusinessUnit')"/>
                                </div>
                                <div style="float: left">
                                    <span data-bind="text: businessUnitName"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6" style="padding: 0">
                        <div style="float: left">
                            <gisc-ui-label params="text: $parents[0].i18n('Common_Location')"/>
                        </div>
                        <div style="float: left">
                            <span data-bind="text: location"></span>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin: 0" data-bind="foreach: items">
                    <div class="col-auto live-view-video" style="margin-bottom: 20px; padding-left: 0; position: absolute;">
                        <div data-bind="attr: { id: liveViewId }, style: { width: width, height: height }"></div>
                    </div>
                </div>
            </div>
            <div id="cw-fleet-monitoring-liveview-widget-footer-button" class="row live-view-detail" style="display: none;">
                <div class="col-auto live-view-view-on-map" style="padding-right: 0" data-bind="click: $parents[0].onClickViewOnMap.bind($parents[0], $data)">
                    <!-- <i class="fa fa-map"></i> -->
                    <svg-icon-customroute-viewonmap class="shipment-grid-view-on-map-svg" />
                    <gisc-ui-label params="text: $parents[0].i18n('Common_ViewOnMap')"/>
                </div>
            </div>
            <hr class="live-view-detail" style="display: none;">
        </div>
        <!-- /ko -->

        <!-- Grid -->
        <!-- ko if: viewMode() == "grid" -->
        <div class="row" style="padding:15px 0 15px 15px; margin: 0" data-bind="foreach: gridItems">
            <div class="col-auto live-view-video" style="margin-bottom: 20px; padding: 0 15px 0 0; position: absolute;">
                <div data-bind="style: { width: width }">
                    <!-- <div style="width: 100%; height: 150px; border-radius: 5px 5px 0 0;" data-bind="style: { 'background-color': bgColor }"></div> -->
                    <div data-bind="attr: { id: liveViewId }, style: { width: width, height: height, 'border-radius': '5px 5px 0 0' }"></div>
                    <div class="row live-view-detail" style="
                    margin: -6px 0 0 0;
                    padding: 5px;
                    background-color: white;
                    -webkit-box-shadow: 0px 3px 5px -3px rgba(0,0,0,0.75);
                    -moz-box-shadow: 0px 3px 5px -3px rgba(0,0,0,0.75);
                    box-shadow: 0px 3px 5px -3px rgba(0,0,0,0.75);
                    border-radius: 0 0 5px 5px;
                    display: none;">
                        <div class="col-4" style="padding: 0">
                            <gisc-ui-label params="text: license"/>
                        </div>
                        <div class="col-4" style="padding: 0; text-align: center; border-color: #dbdbdb; border-style: solid; border-width: 0 1px 0 1px; margin: 0 -1px 0 -1px;">
                            <gisc-ui-label params="text: chInfo"/>
                        </div>
                        <div class="col-4" style="padding: 0; text-align: center;" data-bind="click: $parents[0].onClickViewOnMap.bind($parents[0], $data)">
                            <i class="fa fa-map"></i>
                            <!-- <svg-icon-customroute-viewonmap class="shipment-grid-view-on-map-svg" />
                            <gisc-ui-label params="text: $parents[0].i18n('Common_ViewOnMap')"/> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /ko -->
    </div>
    
</gisc-ui-component>