﻿<gisc-ui-component>
    <!--Keyword-->
    <gisc-ui-label params="for:'txtKeyword', text:i18n('LiveVideo_Entity_Search')" />
    <gisc-ui-textbox params="id:'txtKeyword', value: keyword " />

    <!--BU-->
    <gisc-ui-label params="isRequired:true, text:i18n('Common_BusinessUnit')" />
    <gisc-ui-dropdowntree params="options:businessUnitOptions,
                            optionsID:'id',
                            optionsText:'name',
                            optionsParent:'parentBusinessUnitId',
                            optionsChildren:'childBusinessUnits',
                            value:businessUnit,
                            disableNodes:noneAccessibleBU" />
    <gisc-ui-checkbox params="text: i18n('Common_IncludeSubBusinessUnit'), checked: includeSubBusinessUnit, enable: includeSubBusinessUnitEnable" />
    <!--Find Button-->
    <section>
        <gisc-ui-button params="text:i18n('Common_Find'),
                            onclick:findResult.bind($data),
                            enable:findEnable" />
    </section>

    <section>
        <!--Vehicle-->
        <gisc-ui-label params="text:i18n('Common_Vehicles')" />
        <gisc-ui-tooltip params="text:i18n('I020')" />
        <gisc-ui-datatable params="
        id: 'dtFleetMonitoringLiveView',
        datasource: vehicles,
        columns: [
            { type: 'checkbox', title: 'i18n:FleetMonitoring_View', data: 'isView', redrawOnDataChange: true },
            { type: 'checkbox', title: 'i18n:FleetMonitoring_Follow', data: 'isFollow', redrawOnDataChange: true },
            { type: 'label', title: 'i18n:FleetMonitoring_VehicleModel', data: 'vehicleModel' },
            { type: 'label', title: 'i18n:Common_License', data: 'license' },
        ],
        order: orderVehicle,
        rowId: 'id',
        onDataSourceChanged: assetsChanged,
        " />
        <span data-bind="validationMessage: selectedAssets" class="ko-block-msg-err"></span>
    </section>
</gisc-ui-component>