<gisc-ui-component params="codeHighlight:true">
    <article class="markup-container sdk-body">
        <blockquote>Tab is is used for grouping page contents with tab interface.</blockquote>
        <section>
            <h2>Parameters</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Default Value</th>
                        <th>Observable</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><code>id</code></td>
                        <td>No</td>
                        <td>GUID</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td><code>visible</code></td>
                        <td>No</td>
                        <td>True</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><code>selectedIndex</code></td>
                        <td>Yes</td>
                        <td>0</td>
                        <td>Yes</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h2>Parameters Details</h2>
            <ul>
                <li><strong>Required Parameters</strong>
                    <ul>
                        <li><code>selectedIndex</code> Used for store selected tab index (base 0).</li>
                    </ul>
                </li>
                <li><strong>Optional Parameters</strong>
                    <ul>
                        <li><code>id</code> Unique identifier of html element, set to id attribute. If none is specify the controls will generate GUID.</li>
                        <li><code>visible</code> Flag to determine whether this control is visible or not. If set to false the control is not render.</li>
                    </ul>
                </li>
            </ul>
        </section>
        <blockquote>Tab contains multiple &lt;item&gt; tags which contains other control or knockout binding content.</blockquote>
        <section>
            <h2>Parameters</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Default Value</th>
                        <th>Observable</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><code>text</code></td>
                        <td>No</td>
                        <td>Tab_Index</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><code>visible</code></td>
                        <td>No</td>
                        <td>true</td>
                        <td>Yes</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h2>Parameters Details</h2>
            <ul>
                <li><strong>Optional Parameters</strong>
                    <ul>
                        <li><code>text</code> Tab header of each item.</li>
                    </ul>
                </li>
            </ul>
        </section>
        <section>
            <h2>Examples</h2>
            <section id="exp1">
                <h3>Basic Example</h3>
                <h4>Source</h4>
                <pre><code class="hljs html">&lt;!-- View --&gt;
&lt;gisc-ui-tab params=&quot;selectedIndex: selectedIndex&quot;&gt;
    &lt;item params=&quot;text: i18n(&#x27;Menu_Home&#x27;)&quot;&gt;
        &lt;span data-bind=&quot;text: dateTime1&quot;&gt;&lt;&#x2F;span&gt;
        &lt;input type=&quot;button&quot; value=&quot;click me1!!!&quot; data-bind=&quot;click: onClick&quot; &#x2F;&gt;
    &lt;&#x2F;item&gt;
    &lt;item params=&quot;text: &#x27;DynamicContent&#x27;&quot;&gt;
        &lt;span data-bind=&quot;text: dateTime2&quot;&gt;&lt;&#x2F;span&gt;
        &lt;input type=&quot;button&quot; value=&quot;click me2!!!&quot; data-bind=&quot;click: onClick&quot; &#x2F;&gt;
    &lt;&#x2F;item&gt;
    &lt;item params=&quot;text: &#x27;Tab3&#x27;&quot;&gt;
        &lt;span&gt;Ea tempor amet ad officia amet amet do enim do elit incididunt ea.&lt;&#x2F;span&gt;
    &lt;&#x2F;item&gt;
    &lt;item params=&quot;text: &#x27;Tab4&#x27;&quot;&gt;
        &lt;span&gt;Incididunt non nulla irure ex ex dolore occaecat et.&lt;&#x2F;span&gt;
    &lt;&#x2F;item&gt;
    &lt;item params=&quot;text: &#x27;Tab5&#x27;&quot;&gt;
        &lt;span&gt;Sint in tempor proident ullamco.&lt;&#x2F;span&gt;
    &lt;&#x2F;item&gt;
&lt;&#x2F;gisc-ui-tab&gt;</code></pre>
                <pre><code class="hljs js">// View Model
class TabScreen extends ScreenBase {
    constructor(params) {
        super(params);
        this.bladeSize = BladeSize.Medium;
        this.bladeTitle("Tab (gisc-ui-tab)");
        this.bladeDescription("src/components/portals/developer/tab");

        // Sample properties.
        this.dateTime1 = new Date();
        this.dateTime2 = ko.observable(new Date());
        this.selectedIndex = ko.observable(1);

        setInterval(() => {
            this.dateTime2(new Date());
        }, 1000);

        // Sample2 properties.
        this.tab2Visible = ko.observable(true);
    }
    onClick() {
        console.log('tab demo click');
    }
    onToggleTab() {
        this.tab2Visible(!this.tab2Visible());
    }
}</code></pre>
                <h4>Output</h4>
                <div class="output">
                    <gisc-ui-tab params="selectedIndex: selectedIndex">
                        <item params="text: i18n('Menu_Home')">
                            <span data-bind="text: dateTime1"></span>
                            <input type="button" value="click me1!!!" data-bind="click: onClick" />
                        </item>
                        <item params="text: 'DynamicContent'">
                            <span data-bind="text: dateTime2"></span>
                            <input type="button" value="click me2!!!" data-bind="click: onClick" />
                        </item>
                        <item params="text: 'Tab3'">
                            <span>Ea tempor amet ad officia amet amet do enim do elit incididunt ea.</span>
                        </item>
                        <item params="text: 'Tab4'">
                            <span>Incididunt non nulla irure ex ex dolore occaecat et.</span>
                        </item>
                        <item params="text: 'Tab5'">
                            <span>Sint in tempor proident ullamco.</span>
                        </item>
                    </gisc-ui-tab>
                </div>
            </section>
        </section>
    </article>
</gisc-ui-component>