<gisc-ui-component>
    <!--File-->
    <gisc-ui-label params="text: i18n('Assets_File'), isRequired: true"></gisc-ui-label>
    <gisc-ui-tooltip params="text: i18n('I008')"></gisc-ui-tooltip>                 
    <gisc-ui-fileupload params="
        fileName: fileName,
        selectedFile: selectedFile,
        accept: mimeType,
        onRemoveFile: onRemoveFile.bind($data),
        onBeforeUpload: onBeforeUpload.bind($data),
        onUploadSuccess: onUploadSuccess.bind($data),
        onUploadFail: onUploadFail.bind($data),
        url: urlUpload" />
    <span data-bind="validationMessage: media" class="ko-block-msg-err"></span>
    <!--Import Validation Error-->
    <div class="ko-inline-msg-err" data-bind="text: importError"></div>

    <section data-bind="visible: previewDataVisible">
        <!--Preview Data -->  
        <gisc-ui-label params="text: i18n('Common_PreviewData')"></gisc-ui-label>
        <gisc-ui-datatable params="
            datasource: previewData,
            columns: [
                 { type: 'label' , title: 'Model Code' , data: 'modelCode' ,width:'115px'},
                 { type: 'label' , title: 'Device Id' , data: 'deviceId' ,width:'120px'},
                 { type: 'label' , title: 'Device Code' , data: 'deviceCode' ,width:'120px'},
                 { type: 'label' , title: 'Serial No' , data: 'serialNo' ,width:'120px'},
                 { type: 'label' , title: 'Contract No' , data: 'contractNo' ,width:'120px'},
                 { type: 'label' , title: 'Mobile No' , data: 'mobileNo' ,width:'120px'},
                 { type: 'label' , title: 'ICC Id' , data: 'iccId' ,width:'120px'},
                 { type: 'label' , title: 'Pre Record' , data: 'preRecord' ,width:'100px'},
                 { type: 'label' , title: 'Post Record' , data: 'postRecord' ,width:'100px'},
                 { type: 'label' , title: 'Channel' , data: 'channel' ,width:'100px'},
                 { type: 'label' , title: 'DomainSetting' , data: 'domainSetting' ,width:'120px'},
                 { type: 'label' , title: 'License' , data: 'license' ,width:'120px'}
            ],
            ordering: false,
            rowId: 'id'
            " />
    </section>
</gisc-ui-component>