﻿<gisc-ui-component>
    <!-- Model -->
    <gisc-ui-label params="text:i18n('Assets_Mdvrs_Model'),isRequired:true" />
    <gisc-ui-dropdown params="options:modelOptions,
                               optionsText:'model',
                               value:model,
                               optionsCaption:' '
                               " />

    <!-- DeviceId -->
    <gisc-ui-label params="for:'deviceId',isRequired:true,text:i18n('Assets_Mdvrs_Device_Id')" />
    <gisc-ui-textbox params="id:'deviceId', value:deviceId "
    />
    <!-- DeviceId -->
    <gisc-ui-label params="for:'deviceCode',isRequired:true,text:i18n('Assets_Mdvrs_Device_Code')" />
    <gisc-ui-textbox params="id:'deviceCode', value:deviceCode "
    />

    <!-- Serial No. -->
    <gisc-ui-label params="for:'serialNo',isRequired:true,text:i18n('Assets_Mdvrs_Serial_No')" />
    <gisc-ui-textbox params="id:'serialNo', value:serialNo" />

    <!-- Contract No. -->
    <gisc-ui-label params="text:i18n('Assets_Mdvrs_Contract_No'),isRequired:true" />
    <gisc-ui-dropdown params="options:contractNoOptions,
                               optionsText:'contractNo',
                               value:contractNo,
                               type:'filter'
                               " />

     <!-- Promotion -->
     <gisc-ui-label params="for: 'ddPromotion', text: i18n('Assets_OperatorPackage')"></gisc-ui-label>
     <gisc-ui-dropdown params="id: 'ddPromotion',
                               options: promotions,
                               optionsText: 'operator',
                               optionsCaption: '',
                               type: 'filter',
                               value: selectedPromotion"></gisc-ui-dropdown>

    <!-- Sim -->
    <gisc-ui-label params="text:i18n('Assets_Mdvrs_Sim')" />
    <gisc-ui-dropdown params="id:'ddSim',
                               options:simOptions,
                               optionsText:'mobileNo',
                               value:sim,
                               optionsCaption:'',
                               type:'filter'
                               " />

    <!-- Pre-Record -->
    <gisc-ui-label params="text:i18n('Assets_Mdvrs_Pre_Record'),isRequired:true" />
    <gisc-ui-dropdown params="options:preRecordOptions,
                               optionsText:'value',
                               value:preRecord,
                               optionsCaption:''
                               " />
    <!-- Post-Record -->
    <gisc-ui-label params="text:i18n('Assets_Mdvrs_Post_Record'),isRequired:true" />
    <gisc-ui-dropdown params="options:postRecordOptions,
                               optionsText:'value',
                               value:postRecord,
                               optionsCaption:''
                               " />
    <!-- Chanel -->
    <gisc-ui-label params="for:'channel', isRequired:true,text:i18n('Assets_Mdvrs_Channel')" />
    <gisc-ui-textbox params="id:'channel', value:channel , filter:{type :'numeric', numericType:'int'}" />

    <!-- Domain Setting -->
    <gisc-ui-label params="text:i18n('Assets_Mdvrs_Domain_Setting'),isRequired:true" />
    <gisc-ui-dropdown params="options:domainSettingOptions,
                               optionsText:'name',
                               value:domainSetting,
                               optionsCaption:''
                               " />



    <!-- company -->
    <gisc-ui-label params="text:i18n('Assets_Mdvrs_Company')" />
    <gisc-ui-dropdown params="options:companyOptions,
                               optionsText:'name',
                               value:company,
                               optionsCaption:' ',
                               type: 'filter'" />
    <!-- Business Unit -->
    <gisc-ui-label params="text:i18n('Assets_Mdvrs_Business_Unit'),isRequired:false" />
    <gisc-ui-dropdowntree params=" id: 'ddBusinessUnit',
                               options:buOptions,
                               optionsID:'id',
                               optionsText:'name',
                               optionsParent:'parentBusinessUnitId',
                               optionsChildren:'childBusinessUnits',
                               value:bu,
                               zIndex: '2'" />
    <!-- Vehicle -->
    <gisc-ui-label params="text:i18n('Assets_Mdvrs_Vehicle')" />
    <gisc-ui-dropdown params="options:vehicleOptions,
                               optionsText:'license',
                               value:vehicle,
                               optionsCaption:'',
                               type: 'filter'" />
                               

</gisc-ui-component>