<gisc-ui-component>

    <!-- company -->
    <gisc-ui-label params="text:i18n('Assets_Mdvrs_Company')" />
    <gisc-ui-dropdown params="options:companyOptions,
                               optionsText:'name',
                               value:selectedCompany,
                               optionsCaption:' ',
                               type: 'filter'" />
    <!-- Business Unit -->
    <gisc-ui-label params="text:i18n('Assets_Mdvrs_Business_Unit')" />
    <gisc-ui-dropdowntree params=" id: 'ddBusinessUnit',
                               options:buOptions,
                               optionsID:'id',
                               optionsText:'name',
                               optionsParent:'parentBusinessUnitId',
                               optionsChildren:'childBusinessUnits',
                               value:buId,
                               zIndex: '2'" />

    <!-- IncludeSubBusinessUnit -->
    <gisc-ui-checkbox params="text: i18n('Common_IncludeSubBusinessUnit'), checked:includeSubBu" />

    <!-- Vehicle -->
    <gisc-ui-label params="text:i18n('Assets_Mdvrs_Vehicle')" />
    <gisc-ui-dropdown params="options:vehicleOptions,
                               optionsText:'license',
                               value:selectedVehicle,
                               optionsCaption:selectedEntityBinding,
                               type: 'filter'" />
    <!-- Model -->
    <gisc-ui-label params="text:i18n('Assets_Mdvrs_Model')" />
    <gisc-ui-dropdown params="options:mdvrModel,
                               optionsText:'model',
                               value:selectedMdvrModel,
                               optionsCaption:' '
                               " />
</gisc-ui-component>