﻿<gisc-ui-component>

    <!-- Accessible Business Units -->
    <div class="field-wrapper">
            <div class="field-table-content">
                <gisc-ui-datatable params="id:'bo-update-multiple-mdvr',
                                   datasource: itemMdvr,
                                   columns: [
                                   { type: 'label' , title: 'Device Id' , data: 'deviceId' },
                                   ],
                                   rowId: 'id',
                                   ordering: false" />
            </div>
            <span data-bind="validationMessage: itemMdvr" class="ko-block-msg-err"></span>
        </div>


    <!-- Contract No. -->
    <gisc-ui-label params="text:i18n('Assets_Mdvrs_Contract_No'),isRequired:true" />
    <gisc-ui-dropdown params="options:contractNoOptions,
                               optionsText:'contractNo',
                               value:contractNo,
                               optionsCaption: '',
                               type:'filter'
                               " />


</gisc-ui-component>