﻿<gisc-ui-component>
    <article>
        <section>
            <!--BusinessUnit-->
            <gisc-ui-label params="for: 'ddlBusinessUnit', text:i18n('Report_BusinessUnit'), isRequired: true" />
            <gisc-ui-dropdowntree params="id: 'ddlBusinessUnit',
                            options: businessUnits,
                            mode:'update',
                            optionsID: 'id',
                            optionsText: 'name',
                            optionsParent: 'parentBusinessUnitId',
                            optionsChildren: 'childBusinessUnits',
                            value: selectedBusinessUnit" />

            <!--ShipingType-->
            <gisc-ui-label params="for: 'ddShippingType', text: i18n('Report_ShippingType')"></gisc-ui-label>
            <gisc-ui-dropdown params="id: 'ddShippingType',
                                        options: shippingTypeOptions,
                                        optionsText: 'name',
                                        value: shippingType" />



            <!-- DateTimeFromTo -->
            <div class="row">
                <div class="col-12">
                    <!-- from -->
                    <div class="row">
                        <div class="col-12">
                            <gisc-ui-label params="for:'from' ,text: i18n('Companies_From'), isRequired: true" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <gisc-ui-datetime params="id:'from' ,value:start ,mode:'date' ,maxDate:maxDateStart ,minDate:'-3m' ,dateFormat:formatSet"
                            />
                        </div>
                    </div>
                    <!--  -->

                    <!-- to -->
                    <div class="row">
                        <div class="col-12">
                            <gisc-ui-label params="for:'to' ,text: i18n('Companies_To'), isRequired: true" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <gisc-ui-datetime params="id:'to' ,value:end  ,mode:'date' ,maxDate:periodDay ,minDate:minDateEnd ,dateFormat:formatSet"
                            />
                        </div>
                    </div>
                    <!--  -->
                </div>
            </div>
        </section>
    </article>
</gisc-ui-component>