﻿<gisc-ui-component>

    <gisc-ui-label params="text:i18n('CustomAreaCategory_Name'), isRequired:true" />
    <gisc-ui-textbox params="value:name"></gisc-ui-textbox>

    <gisc-ui-label params="text:i18n('CustomAreaCategory_Description')" />
    <gisc-ui-textarea params="value:description"></gisc-ui-textarea>

    <gisc-ui-label params="text:i18n('CustomAreaCategory_Code')" />
    <gisc-ui-textbox params="value:code,filter: { type: 'alphanumeric'}"></gisc-ui-textbox>

    <gisc-ui-label params="text:i18n('CustomAreaCategory_Color'), isRequired:true" />
    <gisc-ui-colorpicker params="value:color"></gisc-ui-colorpicker>

    <gisc-ui-label params="text:i18n('CustomPOICategory_Type'), isRequired:true" />
    <gisc-ui-dropdown params="options:typeOptions,
                      optionsText:'displayName',
                      optionsCaption: '',
                      value:type">
    </gisc-ui-dropdown>

</gisc-ui-component>