﻿<gisc-ui-component>
    <!--Business Unit-->
    <gisc-ui-label params="for: 'ddBusinessUnit', text: i18n('BU_BusinessUnits'), isRequired: false"></gisc-ui-label>
    <!--<gisc-ui-dropdown params="id: 'ddBusinessUnit',
                              options: businessUnitList,
                              optionsText: 'name',
                              optionsCaption: '',
                              value: businessUnit"></gisc-ui-dropdown>-->


    <gisc-ui-dropdowntree params="id:'ddBusinessUnit' ,
                          options:businessUnitList,
                          optionsID:'id',
                          optionsText:'name',
                          optionsParent:'parentBusinessUnitId',
                          optionsChildren:'childBusinessUnits',
                          value:businessUnit" />

    <!--Include Sub Business Unit-->
    <gisc-ui-checkbox params="text:i18n('Vehicle_MA_Appointment_Search_Include_Sub_BU'), checked: includeSubBU"></gisc-ui-checkbox>
    
    <gisc-ui-label params="for: 'listVehicle', text: i18n('Common_Vehicle'), isRequired: false"></gisc-ui-label>
    <gisc-ui-datatable params="id:'listVehicle',datasource:checkList,
                       columns:[
                       { type:'label' , title:'i18n:Common_License' , data:'name' , searchable:true}
                       ],
                       rowId:'id' ,
                       showRowSelector:true,
                       selectedRows:selectedItems,
                        ordering:false
                       " />
</gisc-ui-component>