﻿<!-- <gisc-ui-component>
    <gisc-ui-listview params="selectedIndex:selectedIndex, onItemSelecting:_selectingRowHandler.bind($data)">
        <item params="text: i18n('Common_Alerts'), extras: { id: 'ca-configuration-alert'}" />
        <item params="text: i18n('Configurations_POIIcons'), extras: { id: 'ca-configuration-poi-icon'}" />
        <item params="text: i18n('Configurations_Translation'), extras: { id: 'ca-configuration-translation'}" />
    </gisc-ui-listview>
</gisc-ui-component> -->
<gisc-ui-component>
    <gisc-ui-listview params="
        datasource: items,
        dataTextfield: 'text',
        selectedIndex: selectedIndex,
        onItemSelecting:_selectingRowHandler.bind($data)" />
</gisc-ui-component>