﻿<gisc-ui-component>
    <!-- Integration Type -->
    <gisc-ui-label params="for:'dmsConfigIntegration',isRequired:true,text:'Integration type'" />
    <gisc-ui-dropdown params="options:integrationTypeOptions,
                               optionsText:'name',
                               value:selectedIntegration,
                               optionsCaption:''
                               " />
    <!-- Name -->
    <gisc-ui-label params="for:'dmsConfigConfigName',text:'Name',isRequired:true" />
    <gisc-ui-textbox params="id:'dmsConfigConfigName', value:name" />

    <!-- Description -->
    <gisc-ui-label params="for:'dmsConfigDesc',text:'Description'" />
    <gisc-ui-textarea params="id:'dmsConfigDesc', value:description" />

    <!--Configuration Key-->
    <div class="field-wrapper">
        <div class="field-table-title">
            <gisc-ui-label params="for: 'txtDescConfigKey', text: 'Configuration Key' " />
        </div>
        <div class="field-table-content">
            <!--if we set default order to column which orderable = false, dataTable still display sorting icon (this is a bug of dataTable.)
            so we need to add duplicate hidden column and use that column to apply default order instead. -->
            <gisc-ui-datatable params="
                    id: 'bo-assets-dms-configkey',
                    ordering: true,
                    datasource: configKeyList,
                    columns: [
                        { type: 'label', title:'Key', data: 'key',orderable: false},
                        { type: 'label', title:'Key', data: 'key',visible: false},
                        { type: 'label', title:'Value', data: 'value',orderable: false},
                        { type: 'label', title:'Value', data: 'value',visible: false}
                    ],
                    rowId: 'id',
                    order: order,
                    removable: true,
                    selectable: true,
                    onSelectingRow: _selectingRowHandler,
                    recentChangedRowIds: recentChangedRowIds
                    " />
        </div>
        <!--<span data-bind="validationMessage: driverCard" class="ko-block-msg-err"></span>-->
        <div class="field-table-commands">
            <a class="inline-cmd" data-bind="click: addConfig">
                <i class="fa fa-plus" aria-hidden="true"></i> <span data-bind="text:'Add'"></span>
            </a>
        </div>
    </div>

</gisc-ui-component>