﻿<div data-bind="template: { afterRender: afterRender.bind($data, $element)}" style="width:100%;height:600px;">
    <div data-bind="attr:{id:id}" style="width:100%;height:100%;">ไม่มีข้อมูล</div>
</div>