<gisc-ui-component>
    <gisc-ui-datagrid params=",
                      id:'TicketSearchList',
                      onDatasourceRequestRead: onDatasourceRequestRead.bind($data),
                      onDetailInit:onDetailInit.bind($data),
                      detailInitOnClickColumns:onDetailClickColumns,
                      canExpandDataGrid:'showExpand',
                      columns:[
                      { type: 'text' , title: 'Ticket No.' , data: 'ticketId' ,width:'100px',onClick: viewDetail,template:'<u>#=ticketId#</u>'}, 
                      { type: 'text' , title: 'Ticket Date' , data: 'formatTicketDate' ,width:'150px'},
                      { type: 'text' , title: 'i18n:Common_Company' , data: 'companyName' ,width:'130px'},
                      { type: 'text' , title: 'i18n:Common_BusinessUnit' , data: 'businessUnitName' ,width:'130px'},
                      { type: 'text' , title: 'i18n:Common_License' , data: 'license' ,width:'115px'},
                      { type: 'text', title: 'i18n:Ticket_AssetId', data: 'serialNo', width:'150px'},
                      { type: 'text', title: 'i18n:Ticket_MobileNo', data: 'mobile', width:'120px'},
                      { type: 'text', title: 'i18n:Ticket_BoxTemplate', data: 'boxTemplate',width:'150px'},
                      { type: 'text', title: 'i18n:Ticket_GPSLastupdate', data: 'formatGpsLastUpdate', width:'140px'},
                      { type: 'text', title: 'Status', data: 'statusDisplayName', width:'115px'},                      
                      { type: 'text', title: 'Service Type', data: 'serviceTypeDisplayName', width:'115px'},
                      { type: 'text', title: 'Target Date', data: 'formatTargetDate', width:'140px'},
                      { type: 'text', title: 'Contract No.', data: 'contractNo',width:'120px'},
                      { type: 'text', title: 'Contract Start', data: 'formatContractStart',width:'135px'},
                      { type: 'text', title: 'Contract End', data: 'formatContractEnd',width:'135px'},                      
                      { type: 'text', title: 'Remark', data: 'remark',width:'120px'},                      
                      { type: 'text', title: 'Pending Cause', data: 'pendingCause',width:'130px'},                      
                      { type: 'text', title: 'Pending Sub Cause', data: 'pendingSubCause',width:'150px'},                      
                      { type: 'text', title: 'Pending Remark', data: 'pendingRemark',width:'140px'},                      
                      { type: 'text', title: 'Close Cause', data: 'closeCause',width:'130px'},                      
                      { type: 'text', title: 'Close Sub Cause', data: 'closeSubCause',width:'150px'},                      
                      { type: 'text', title: 'Close Remark', data: 'closeCauseRemark',width:'140px'},                      
                      { type: 'text', title: 'Last Appoinment Date',data: 'formatAppointDate',template: templateAppointmentDate ,width:'160px',sortable:false},                      
                      { type: 'text', title: 'Status',data: 'statusDisplayName',template: templateAppointmentStatus ,width:'80px',sortable:false}, 
                      { type: 'text', title: 'Province',data: 'provinceName',template: templateProvinceName ,width:'150px',sortable:false},                      
                      { type: 'text', title: 'Technician',data: 'technicianName',template: templateTechnicianName ,width:'150px',sortable:false},                      
                      { type: 'text', title: 'Mobile',data: 'technicianPhone',template: templateTechnicianPhone ,width:'100px',sortable:false}                    

             ],
             
        rowId: 'id',
        showFilter: true,
        editable: true,
        showRowSelector: true,
        selectedRows: selectedItems,
        filterable:true,
        resizable:true,
        columnMenu: true,
        rememberDataGridState: ['columns']
    " />
    <!-- { type: 'text', title: 'i18n:Ticket_ActiveTickets', data: 'totalActiveTicket',width:'125px', onClick:onClickActiveTicket, template:'<u>#=totalActiveTicket#</u>' },
    { type: 'text', title: 'i18n:Ticket_InActiveTickets', data: 'totalInActiveTicket',width:'125px', onClick:onClickInActiveTicket, template:'<u>#=totalInActiveTicket#</u>' },       -->

</gisc-ui-component>