<gisc-ui-component>
    <!--Company-->
    <gisc-ui-label params="for:'txtTitle',text:i18n('Common_Company')" />
    <gisc-ui-dropdown params="options: CompanyList,
                          optionsText: 'name',
                          value: selectedCompany ,
                          optionsCaption: '', " />
    <!--Business Unit-->
    <gisc-ui-label params="for:'txtTitle' , text:i18n('BU_BusinessUnits')" />
    <gisc-ui-dropdowntree params="id: 'ddlBusinessUnit',
                            options: businessUnits,
                            optionsID: 'id',
                            optionsText: 'name',
                            optionsParent: 'parentBusinessUnitId',
                            optionsChildren: 'childBusinessUnits',
                            value: selectedBusinessUnit" />

    <gisc-ui-checkbox params="text: i18n('Common_IncludeSubBusinessUnit'), checked:isIncludeSubBU" />

    <!--Vehicle-->
    <gisc-ui-label params="for: 'ddVehicle', text:i18n('Common_Vehicle')" />
    <gisc-ui-dropdown params="id: 'ddVehicle',
                              options: vehicleOptions,
                              optionsText: 'license',
                              optionsCaption: selectedEntityBinding,
                              type: 'filter',
                              value: selectVehicle">
    </gisc-ui-dropdown>

    <!--License-->
    <gisc-ui-label params="text:'License'" />
    <gisc-ui-textbox params="value:license" />

    <!--Asset Id-->
    <gisc-ui-label params="text:'Asset Id'" />
    <gisc-ui-textbox params="value: assetId " />

    <!--Ticket No-->
    <div style="width:100%">
        <div style="width:100%;float:left;">
            <gisc-ui-label
                params="for:'txtTicketNo',text: 'Ticket No.'" />
            <gisc-ui-textbox params="id:'txtTicketNo', value:ticketNo, filter:{type :'numeric', numericType:'int'}" />
        </div>
    </div>

    <!--Contract No-->
    <div style="width:100%">
        <div style="width:100%;float:left;">
            <gisc-ui-label
                params="for:'txtContractNo',text:i18n('Ticket_ContractNo')" />
            <gisc-ui-textbox params="id:'txtContractNo', value:contractNo" />
        </div>
    </div>

    <!--Mabile No-->
    <div style="width:100%">
        <div style="width:100%;float:left;">
            <gisc-ui-label params="for:'txtMobileNo',text:i18n('Ticket_MobileNo')" />
            <gisc-ui-textbox params="id:'txtMobileNo', value:mobileNo , filter:{type :'numeric', numericType:'int'}" />
        </div>
    </div>
    
    <!--ServiceType-->
    <gisc-ui-label params="for: 'ddServiceType', text:i18n('Ticket_ServiceType')" />
    <gisc-ui-dropdown params="id: 'ddServiceType',
                            options: ServiceTypeOptions,
                            optionsID: 'id',
                            optionsText: 'name',
                            optionsCaption: ' ',
                            value: serviceId" >
    </gisc-ui-dropdown>

    <!--Ticket Status-->
    <gisc-ui-label params="for: 'ddlTicketStatus', text:'Ticket Status'" />
    <gisc-ui-dropdown params="id: 'ddlTicketStatus',
        options: ticketStatusOptions,
        optionsText: 'displayName',
        optionsCaption: '',
        value: selectTicketStatus
        ">
    </gisc-ui-dropdown>

    <div data-bind="visible:enableTicketPending">
        <div class="sdk-body">
            <div class="output">
                <!--Cause-->
                <gisc-ui-label params="text:i18n('Ticket_PendingCause')" />
                <gisc-ui-dropdown params="
                                      options: pendingCause,
                                      optionsText: 'name',
                                      value: selectedPending,
                                      optionsCaption: '',
                                      " />
                <!--SubCause-->
                <gisc-ui-label params="text:i18n('Ticket_PendingSubCause')" />
                <gisc-ui-dropdown params="
                                      options: pendingSubCause,
                                      optionsText: 'name' ,
                                      value: selectedSubPend,
                                      optionsCaption: '',
                                      " />
            </div>
        </div>
        <br>
    </div>

    <div data-bind="visible:enableTicketClose">
        <div class="sdk-body">
            <div class="output">
                <!--Cause-->
                <gisc-ui-label params="text:i18n('Close Cause')" />
                <gisc-ui-dropdown params="
                                      options: closeCause,
                                      optionsText: 'name',
                                      value: selectedClose,
                                      optionsCaption: '',
                                      " />
                <!--SubCause-->
                <gisc-ui-label params="text:i18n('Close Sub Cause')" />
                <gisc-ui-dropdown params="
                                      options: closeSubCause,
                                      optionsText: 'name' ,
                                      value: selectedSubClose,
                                      optionsCaption: '',
                                      " />
            </div>
        </div>
        <br>
    </div>

    <!--Ticket Date-->
    <gisc-ui-label params="for:'from' ,text: 'Ticket Date'" />
    <div style="width: 100%;">
        <div style="width: 60%;float: left;">
            <div style="width: 70%;float: left;">
                <gisc-ui-datetime
                    params="id:'from' ,value:TicketStartDate , mode:'date', minDate: '-12m' ,maxDate: maxDateStart ,dateFormat:formatSet" />
            </div>
            <div style="width: 30%;float: left;text-align: center;">
                <gisc-ui-label params="for:'to' ,text: 'To'" />

            </div>
        </div>
        <div style="width: 40%;float: left;">
            <gisc-ui-datetime
                params="id:'to' ,value:TicketEndDate ,mode:'date', maxDate: periodDay ,minDate: minDateEnd ,dateFormat:formatSet" />
        </div>
    </div>

    <div style="clear: both;"></div>

    <!--Assign To-->
    <div>
        <gisc-ui-label params="for:'txtassign',text:i18n('Ticket_AssignTo')" />
        <gisc-ui-dropdown params="options :AssignTo,
                            optionsText:'displayName',
                            optionsCaption: '',
                            value:selectedAssignTo
                            ">
        </gisc-ui-dropdown>
    </div>
</gisc-ui-component>