﻿<gisc-ui-component>
    <gisc-ui-datagrid params="
                      id:'Ticket-Sim',
                      source:apiDataSource,
                      columns:[
                      { type: 'text' , title: 'i18n:Ticket_MobileNo' ,data: 'mobileNo' ,onClick:testClick ,template:'<u>#=mobileNo#</u>' ,width:'110px'},                      
                      { type: 'text' , title: 'ICC Id' ,data: 'iccId' ,width:'100px'},
                       { type: 'text' , title: 'i18n:Ticket_Operator' , data: 'operatorName' ,width:'100px'},
                       { type: 'text' , title: 'Sim Type' , data: 'simTypeDisplayName' ,width:'100px'},
                       { type: 'text' , title: 'i18n:Ticket_AssetId' , data: 'assetId',width:'100px' },
                       { type: 'text' , title: 'i18n:Common_License' , data: 'vehicleLicense' ,width:'95px'},
                       { type: 'text' , title: 'Box C#' , data: 'contractNo' ,width:'120px', filterable : false, sortable: false},
                       { type: 'text' , title: 'Start Date' , data: 'formatStartDate' ,width:'110px', filterable : false, sortable: false},
                       { type: 'text' , title: 'End Date' , data: 'formatEndDate' ,width:'110px', filterable : false, sortable: false},
                       { type: 'text' , title: 'Sim C#' , data: 'simContractNo' ,width:'120px', filterable : false, sortable: false},
                       { type: 'text' , title: 'Start Date' , data: 'formatSimContractStart' ,width:'110px', filterable : false, sortable: false},
                       { type: 'text' , title: 'End Date' , data: 'formatSimContractEnd' ,width:'110px', filterable : false, sortable: false},
                       { type: 'text' , title: 'i18n:Common_Company' , data: 'companyName' ,width:'115px'},
                       { type: 'text' , title: 'i18n:Common_BusinessUnit' , data: 'businessUnitName',width:'115px'},
                       { type: 'text' , title: 'Stock' , data: 'simStockCode',width:'95px'},
                       { type: 'text' , title: 'Stock Name' , data: 'simStockName',width:'115px'},
                       { type: 'text' , title: 'i18n:Ticket_SimStatus' , data: 'statusDisplayName',width:'95px'},
                       { type: 'text' , title: 'i18n:Ticket_ActivateDate' , data: 'formatActivateDate' ,width:'125px', filterable : false, sortable: false},
                       { type: 'text' , title: 'i18n:Ticket_ActivateBy' , data: 'activateBy',width:'125px', filterable : false, sortable: false },
                       { type: 'text' , title: 'i18n:Ticket_FreeDuration' , data: 'freeDuration' ,width:'125px', filterable : false, sortable: false},
                       { type: 'text' , title: 'i18n:Ticket_Remark' , data: 'remark' ,width:'125px',filterable : false, sortable: false},
        ],
            rowId: 'id',
            showFilter: true,
            filterable:true,
            columnMenu: true,
            rememberDataGridState: ['columns']
    " />
</gisc-ui-component>