﻿<gisc-ui-component>
    <!--Company-->
    <gisc-ui-label params="for:'txtTitle',text:i18n('Common_Company')" />
    <gisc-ui-dropdown params="options: CompanyList,
                          optionsText: 'name',
                          value: selectedCompany ,
                          optionsCaption: '', " />
    <!--Business Unit-->
    <gisc-ui-label params="for:'txtTitle' , text:i18n('BU_BusinessUnits')" />
    <gisc-ui-dropdowntree params="id: 'ddlBusinessUnit',
                            options: businessUnits,
                            optionsID: 'id',
                            optionsText: 'name',
                            optionsParent: 'parentBusinessUnitId',
                            optionsChildren: 'childBusinessUnits',
                            value: selectedBusinessUnit" />

    <gisc-ui-checkbox params="text: i18n('Common_IncludeSubBusinessUnit'), checked:isIncludeSubBU" />

    <!--Operator-->
    <gisc-ui-label params="for:'txtTitle',text:i18n('Assets_Operator')" />
    <gisc-ui-dropdown params="options: OperatorList,
                          optionsText: 'operator',
                          value: selectedOperator,
                          optionsCaption: ''
                      " />

    <!--Status-->
    <gisc-ui-label params="text: i18n('Common_Status')" />
    <gisc-ui-dropdown params="options: StatusList,
                      optionsText:'displayName',
                      optionsCaption: '',
                      value:selectedStatus
                      " />

    <!--Sim Type-->
    <gisc-ui-label params="text: 'Sim Type'" />
    <gisc-ui-dropdown params="options: simType,
                    optionsText:'name',
                    value:selectedSimType,
                    optionsCaption: ''
                    " />

    <!--Mabile No-->
    <div style="width:100%">
        <div style="width:75%;float:left;">
            <gisc-ui-label params="for:'txtMobileNo',text:i18n('Ticket_MobileNo')" />
            <gisc-ui-textbox params="id:'txtMobileNo', value:moblieNo , filter:{type :'numeric', numericType:'int'}" />
        </div>
    </div>

    <!--Contract No-->
    <div style="width:100%">
        <div style="width:75%;float:left;">
            <gisc-ui-label params="for:'txtContractNo',text:i18n('Ticket_ContractNo'), filter:{type :'numeric', numericType:'int'} " />
            <gisc-ui-textbox params="id:'txtContractNo', value:contractNo" />
        </div>
     </div>

    <!--DateTimeFromTo-->
    <div style="width:100%">
        <div style="width:75%;float:left;">
            <gisc-ui-label params="for:'from' ,text: i18n('Ticket_ContractDateFrom')" />
        </div>
    </div>
   <div style="width:100%">
            <div style="width:75%;float:left;">
                <gisc-ui-datetime params="id:'from' ,value:ContractStart ,mode:'date' ,minDate:(ContractEnd,'-4m') ,dateFormat:formatSet" />
            </div>
    </div>
    <div style="width:100%">
        <div style="width:75%;float:left;">
            <gisc-ui-label params="for:'to' ,text: i18n('Ticket_To')" />
        </div>
    </div>
    <div style="width:100%">
        <div style="width:75%;float:left;">
            <gisc-ui-datetime params="id:'to' ,value:ContractEnd ,mode:'date' ,minDate:ContractStart , maxDate: exceedDate ,dateFormat:formatSet" />
        </div>
    </div>

    <!--Date FromTo Duration-->
    <div style="width:100%">
        <div style="width:75%;float:left;">
            <gisc-ui-label params="for:'from' ,text: i18n('Ticket_EndFreeDurationFrom')" />
        </div>
    </div>
    <div style="width:100%">
        <div style="width:75%;float:left;">
            <gisc-ui-datetime params="id:'fromDuration' ,value:DurationStart  ,mode:'date' ,minDate:(DurationEnd,'-4m') ,dateFormat:formatSet" />
        </div>
    </div>
    <div style="width:100%">
        <div style="width:75%;float:left;">
            <gisc-ui-label params="for:'to' ,text: i18n('Ticket_To')" />
        </div>
    </div>
    <div style="width:100%">
        <div style="width:75%;float:left;">
            <gisc-ui-datetime params="id:'toDuration' ,value:DurationEnd  ,mode:'date' ,minDate:DurationStart, maxDate: exceedDateDuration ,dateFormat:formatSet" />
        </div>
    </div>
</gisc-ui-component>