﻿<gisc-ui-component>
    <div class="app-fleetMonitoring-timeline-wrap no-bottom">
        <div class="header" style="height: 40px; padding-left: 25px">
            <div class="title" data-bind="attr:{title:displayTitle}">
                <div class="app-fleetMonitoring-vehicle">
                    <span class="vehicleLicense" data-bind="text: vehicleLicense"></span>
                    <span class="font_18 vehicleBrand" data-bind="text: displayVehicleBrand"></span>
                </div>
            </div>
        </div>
        <!-- ko if: dataSource() && dataSource().graphs.length > 0 -->
        <div class="timeline-chart-wrapper" data-bind="style: { height: lineChartHeight, 'padding-left': '56px' }">
            <gisc-ui-timelinechart-v4 params="
                data: dataSource,
                onTimelineZoom: onTimelineZoom.bind($data),
                onClickEvent: onTimelineClickEvent.bind($data)
                " />
        </div>
        <div class="app-fleetMonitoring-description" style="padding-left: 25px">
            <!-- ko foreach: description -->
            <span class='icon-description' data-bind="text:text, style: {background:style.backgroundColor, color:style.fontColor}"></span>
            <span data-bind="text: displayDescription"></span>
            <!-- /ko -->
        </div>
        <div data-bind="style: { height: xyChartHeight }">
            <gisc-ui-playback-analysis-tool params="
                data: dataSource,
                listenerEvent: listenerEvent,
                onClickEvent: onPlayBackAnalysisClick.bind($data)
            " />
        </div>
        <!-- /ko -->
        <!-- ko if: dataSource() && dataSource().graphs.length === 0 -->
        <div align="center" style="margin-top: 20px; padding-left: 25px">
            <gisc-ui-label params="text: i18n('Common_DataNotFound')" />
        </div>
        
        <!-- /ko -->
    </div>
</gisc-ui-component>