﻿<gisc-ui-component>
    <!--BU-->
    <gisc-ui-label params="isRequired:true, text:i18n('Common_BusinessUnit')" />
    <gisc-ui-dropdowntree params="options:businessUnitOptions,
                            optionsID:'id',
                            optionsText:'name',
                            optionsParent:'parentBusinessUnitId',
                            optionsChildren:'childBusinessUnits',
                            value:businessUnit,
                            disableNodes:noneAccessibleBU" />
    <gisc-ui-checkbox params="text: i18n('Common_IncludeSubBusinessUnit'), checked: includeSubBusinessUnit, enable: includeSubBusinessUnitEnable" />

     <!-- Vehicle -->
      <gisc-ui-label params="for: 'ddPanalysisSelectEntity', text: i18n('Common_Vehicles'),isRequired:true"></gisc-ui-label>
     <gisc-ui-dropdown params="id: 'ddPanalysisSelectEntity',
                             options: vehicleInfos,
                             optionsText: 'license',
                             optionsCaption: selectedEntityBinding,
                             value: selectedEntity,
                             type: 'filter'" /> 

     <section>

         <gisc-ui-label params="text:i18n('PlaybackAnalysis_Sensors'),isRequired:true" />

         <div data-bind="visible: showSensors">
             <!--Sensors-->

             <div class="dataTables_wrapper">
                 <div class="dataTables_scroll">
                     <div class="dataTables_scrollHead">
                         <div class="dataTables_scrollHeadInner">
                             <table data-bind="attr:{ id: id }" class="gisc dataTable">
                                 <thead>
                                     <tr class="tbheader">
                                         <th width="20%" class="checkboxAll">
                                             <div class="app-checkBox-contain-dt">
                                                 <label class="app-checkBox-control-dt control-checkbox-dt">
                                                     <input type="checkbox" class="dt-checkbox-master all" />
                                                     <div class="app-control-dt-indicator app-input">
                                                         <!-- ko component: 'svg-control-checkbox-checked' --><!-- /ko -->
                                                     </div>
                                                 </label>
                                             </div>
                                         </th>
                                         <th width="80%" data-bind="text:$data.i18n('PlaybackAnalysis_Sensors')"></th>
                                     </tr>
                                 </thead>
                                 <tbody class="AlertConfigurationFindAssetFilter" data-bind="foreach: sensorInfos">
                                     <tr class="tbbody">
                                         <td width="20%" class="checkbox">
                                             <div class="app-checkBox-contain-dt">
                                                 <label class="app-checkBox-control-dt control-checkbox-dt">
                                                     <input type="checkbox" class="dt-checkbox-master"
                                                            data-bind="attr: {
                                                                id: id
                                                            }" />
                                                     <div class="app-control-dt-indicator app-input">
                                                         <!-- ko component: 'svg-control-checkbox-checked' --><!-- /ko -->
                                                     </div>
                                                 </label>
                                             </div>
                                         </td>
                                         <td width="80%">
                                             <label data-bind="text:name, attr:{ id: id }"></label>
                                         </td>
                                     </tr>
                                 </tbody>
                             </table>
                         </div>
                     </div>
                 </div>
                 <br />
             </div>
             <div style="margin-top: -15px;padding-bottom: 15px;">
                 <span data-bind="validationMessage: selectedSensors" class="ko-block-msg-err"></span>
             </div>
         </div>

         <div data-bind="visible: !showSensors()">
             <gisc-ui-datatable params="
                datasource: sensorInfos,
                columns: [
                    { type: 'label', title: 'i18n:PlaybackAnalysis_Sensors', data: 'name', orderable: false },
                ],
                rowId: 'id',
                showRowSelector: true,
                order: order,
                " />
             <div style="padding-bottom: 15px;">
                 <span data-bind="validationMessage: selectedSensors" class="ko-block-msg-err"></span>
             </div>
         </div>
     </section>

        <!--DateTimeFromTo-->
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <gisc-ui-label params="for:'from' ,text: i18n('FleetMonitoring_StartDate'), isRequired: true" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-7">
                        <gisc-ui-datetime params="id:'from' ,value:start ,mode:'date' ,maxDate:maxDateStart ,minDate:'-3m' ,dateFormat:formatSet" />
                    </div>
                    <div class="col-5" style="padding-left: 5px;">
                        <div class="app-textBox-wrapper">
                            <input type="time" data-bind="value:timeStart, attr: { id:id, class:'app-input'} ">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <gisc-ui-label params="for:'to' ,text: i18n('FleetMonitoring_EndDate'), isRequired: true" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-7">
                        <gisc-ui-datetime params="id:'to' ,value:end  ,mode:'date' ,maxDate:periodDay ,minDate:minDateEnd ,dateFormat:formatSet" />
                    </div>
                    <div class="col-5" style="padding-left: 5px;">
                        <div class="app-textBox-wrapper">
                            <input type="time" data-bind="value:timeEnd, attr: { id:id, class:'app-input'} ">
                        </div>
                    </div>
                </div>
            </div>
        </div>

</gisc-ui-component>