﻿<gisc-ui-component>
    <!--Keyword-->
    <gisc-ui-label params="for: 'txtKeyword', text:i18n('FleetMonitoring_Keyword')"/>
    <gisc-ui-textbox params="id: 'txtKeyword', value: keyword" />

    <!--Business Unit-->

    <gisc-ui-checkbox params="text: i18n('Common_IncludeSubBusinessUnit'), checked: includeSubBusinessUnit, enable: includeSubBusinessUnitEnable" />

    <gisc-ui-label params="for: 'ddlBusinessUnit', text:i18n('Common_BusinessUnit')" />
    <gisc-ui-dropdowntree params="id: 'ddlBusinessUnit',
                            options: businessUnitOptions,
                            optionsID: 'id',
                            optionsText: 'name',
                            optionsParent: 'parentBusinessUnitId',
                            optionsChildren: 'childBusinessUnits',
                            value: businessUnitId,
                            disableNodes:noneAccessibleBU,
                            optionsCaption:optionsCaption,
                            mode:'update',
                            autoSelection: refIncludeSubBusinessUnit" />
                            
    <!--Entity Type-->
    <gisc-ui-label params="for: 'ddlEntityType', text:i18n('FleetMonitoring_EntityType'), isRequired: true"/>
    <gisc-ui-dropdown params="id: 'ddlEntityType', 
        options: entityTypeOptions,
        optionsText: 'displayName',
        optionsCaption: '',
        value: entityType
        ">
    </gisc-ui-dropdown>

    <!--Vehicle Type-->
    <div data-bind="visible: vehicleTypeVisible">
        <gisc-ui-label params="for: 'ddlVehicleType', text:i18n('Common_VehicleType')"/>
        <gisc-ui-dropdown params="id: 'ddlVehicleType', 
            options: vehicleTypeOptions,
            optionsText: 'displayName',
            value: vehicleType
            ">
        </gisc-ui-dropdown>
    </div>

    <!--Category Vehicle-->
    <div data-bind="visible: categoryVehicleVisible" >
        <gisc-ui-label params="for: 'ddCategoryVehicle', text: i18n('FleetMonitoring_CategoryVehicle')"></gisc-ui-label>
        <gisc-ui-dropdown params="id: 'ddCategoryVehicle',
                                options: categoryVehicleOptions,
                                optionsText: 'name',
                                value: categoryVehicle" />
    </div>
    
    <!--ShippingType-->
    <div data-bind="visible: shippingTypeVisible" >
        <gisc-ui-label params="for: 'ddShippingType', text: i18n('FleetMonitoring_ShippingType')"></gisc-ui-label>
        <gisc-ui-dropdown params="id: 'ddShippingType',
                                options: shippingTypeOptions,
                                optionsText: 'name',
                                value: shippingType" />
    </div>
    
</gisc-ui-component>