﻿<gisc-ui-component>
    <!-- ko if: results().length -->
    <section data-bind="foreach: results">
        <h3 class="gisc-section-header" data-bind="text: businessUnitPath"></h3>
        <div class="findAssetFleetMonitoring">
            <gisc-ui-datagrid params="
                id: dtId,
                onDatasourceRequestRead: onDatasourceRequestRead.bind($data),
                columns: customColumns,
                rowId: rowId,
                resizable: true,
                toolbar: false,
                pageable: false,
                height: true,
                hiddenRefresh: true
            " />
        </div>
        <br />
    </section>
    <!-- /ko -->
    <!-- ko ifnot: results().length -->
    <p data-bind="text: i18n('M110')"></p>
    
    <!-- /ko -->
</gisc-ui-component>