﻿<gisc-ui-component>
    <p data-bind="text: i18n('FleetMonitoring_CurrentTrackingAssets', [lastSync()])"></p>
    <div class="table-grid-asset">
        <gisc-ui-datagrid params="
            id: 'trackMonitoringList',
            onDatasourceRequestRead: onDatasourceRequestRead.bind($data),
            columns: columns,
            rowId: 'id',
            showFilter: true,
            onSelectingRow: onSelectingRow,
            resizable: true,
            columnMenu: true,
            toolbar: false,
            rememberDataGridState: ['columns']
        " />
    </div>
</gisc-ui-component>