﻿<gisc-ui-component>
    <div class='alert-ticket-list-div-btn'>
        <gisc-ui-button params="text:i18n('Common_CurrentDay'), onclick: setDateFilter.bind($data,'today')" />
        <gisc-ui-button params="text:i18n('FleetMonitoring_Alert_Ticket_This_Week'), onclick: setDateFilter.bind($data,'this-week')" />
        <gisc-ui-button params="text:i18n('FleetMonitoring_Alert_Ticket_This_Month'), onclick: setDateFilter.bind($data,'this-month')" />
        <gisc-ui-button params="text:i18n('FleetMonitoring_Alert_Ticket_Last_Month'), onclick: setDateFilter.bind($data,'last-month')" />
    </div>
    <gisc-ui-datagrid params="
        onDatasourceRequestRead: onDatasourceRequestRead.bind($data),
        id: 'dgAlertTicketLst',
        pageSizeOptions: true,
        columns : [             
                    { type: 'checkbox', title: '', data: 'isCheck', width:'40px', sortable: false, enableSelectAll: true, onDataChanged: checkChanged, hidden: !isManage, columnMenu: false },
                    { type: 'object', title: 'i18n:Common_Update', data: 'alertTicketStatus', width:'60px', template: 'renderUpdateAlertTicketIcon', className: 'dg-body-center dg-svg-column', sortable: false, onClick: gotoAction, hidden: !isManage, columnMenu: false },
                    { type: 'object', title: 'i18n:CustomRoutes_ViewOnMap', data: 'isDelete', width:'90px', sortable: false, template: 'renderVendorLogColumn', className: 'dg-body-center dg-svg-column', sortable: false, onClick: viewAlertPoint, columnMenu: false }, 
                    { type: 'object', title: 'i18n:EventVideo_Col_Video', data: 'deviceInfo', width:'50px', sortable: false, template: 'renderVideoIcon', className: 'dg-body-center dg-svg-column', sortable: false,onClick: onPlayVideo, hidden: isPermissionVideo, columnMenu: false },                   
                    { type: 'text', title: 'i18n:Vendor_Id', data: 'id', width:'60px', onClick: gotoViewAction, columnMenuItem: false  },
                    { type: 'text', title: 'i18n:Common_Status', data: 'alertTicketStatusDisplayName', width:'65px', searchable: true, filterable: false, columnMenu: false  },
                    { type: 'text', title: 'i18n:FleetMonitoring_Alert_Ticket_Alert_Type', data: 'alertTypeDisplayName', width:'160px', searchable: true, filterable: false, columnMenu: false  },
                    { type: 'object', title: 'i18n:FleetMonitoring_Alert_Ticket_Alert_Log', data: 'alertTicketNote', width:'100px', searchable: true, filterable: false,template: renderTooltip,sortable: false, columnMenu: false  },
                    { type: 'text', title: 'i18n:Assets_VehicleLicense', data: 'vehicleLicense', width:'105px', searchable: true, filterable: true, columnMenu: false  },
                    { type: 'text', title: 'i18n:FleetMonitoring_Alert_Ticket_Reference_No', data: 'vehicleReferenceNo', width:'100px', searchable: true, filterable: true, columnMenu: false  },
                    { type: 'text', title: 'i18n:FleetMonitoring_Alert_Ticket_Employee_ID', data: 'driverEmployeeId', width:'100px', searchable: true, filterable: true, columnMenu: false  },
                    { type: 'object', title: 'i18n:Common_Driver', data: 'driverName', width:'110px', template: 'renderDriverColumn', sortable: true, columnMenu: false  },
                    { type: 'text', title: 'i18n:Common_BusinessUnit', data: 'businessUnitName', width:'100px', sortable: true, columnMenu: false  },
                    { type: 'text', title: 'i18n:FleetMonitoring_Alert_Ticket_Datetime', data: 'formatAlertDateTime', width:'108px', sortable: true, columnMenu: false  },
                    { type: 'text', title: 'i18n:FleetMonitoring_Alert_Ticket_Alert_Duration', data: 'alertDurationFormat', width:'90px', sortable: false, columnMenu: false  },
                    { type: 'text', title: 'i18n:Common_Location', data: 'location', width:'660px', sortable: false, columnMenu: false, template: renderLocationColumn  },
                    { type: 'object', title: 'movementDisplayName', headerTemplate: svgMovement, data: 'movement', width:'50px', template: 'renderMovementColumn', sortable: true, className: 'dg-body-center dg-svg-column', columnMenu: false  },
                    { type: 'object', title: 'speed', headerTemplate: svgSpeed, data: 'formatSpeed', width:'50px', sortable: true, className: 'dg-body-center dg-svg-column', columnMenu: false  }
                ],
        rowId: 'id',
        columnMenu: true,
        rememberDataGridState: ['columns']" />

    <!--{ type: 'text', title: 'i18n:Common_Driver', data: 'driverName',sortable:  true },-->
</gisc-ui-component>