﻿<gisc-ui-component>
    <!--Business Unit-->
    <gisc-ui-label params="for: 'ddBusinessUnit', text: i18n('Transportation_Mngm_BusinessUnits'), isRequired: false"></gisc-ui-label>
    <gisc-ui-dropdowntree params=" id: 'ddBusinessUnit',
                                    options:businessUnitList,
                                    optionsID:'id',
                                    optionsText:'name',
                                    optionsParent:'parentBusinessUnitId',
                                    optionsChildren:'childBusinessUnits',
                                    value:businessUnit" />
    <!--Include Sub Business Unit-->
    <gisc-ui-checkbox params="text:i18n('Transportation_Mngm_IncludeSubBusinessUnit'), checked: includeSubBU"></gisc-ui-checkbox>

    <!--Alert Type-->
    <gisc-ui-label params="for: 'ddAlertType', text: i18n('Common_AlertType'), isRequired: false" />
    <gisc-ui-dropdown params="id: 'ddAlertType',
                               options: alertTypeList,
                               optionsText: 'name',
                               value: alertType,
                               optionsCaption: 'All',
                               type:'filter'" />

    <!--Alert Category-->
    <gisc-ui-label params="for: 'ddAlertCategory', text: i18n('Configurations_Categories_Alert'), isRequired: false" />
    <gisc-ui-dropdown params="id: 'ddAlertCategory',
                              options: alertCategoryList,
                              optionsText: 'name',
                              value: alertCategory,
                              optionsCaption: 'All',
                              type:'filter'" />

    <!--Vehicle License-->
    <gisc-ui-label params="for: 'ddVehicleLicense', text: i18n('Transportation_Mngm_Vehicle_Licence'), isRequired: false" />
    <gisc-ui-dropdown params="id: 'ddVehicleLicense',
                              options: vehicleList,
                              optionsText: 'license',
                              value: vehicle,
                              optionsCaption: 'All',
                              type:'filter'" />

    <!--Ticket Status-->
    <gisc-ui-label params="for: 'ddticketStatus', text: i18n('FleetMonitoring_Alert_Ticket_Status'), isRequired: false" />
    <gisc-ui-dropdown params="id: 'ddticketStatus',
                              options: ticketStatusList,
                              optionsText: 'displayName',
                              value: ticketStatus,
                              optionsCaption: 'All',
                              type:'filter'" />

    <!--Alert Start Date-->
    <gisc-ui-label params="for:'dtAlertStartDate', text:i18n('Transportation_Mngm_Dashboard_Date_From'), isRequired: true" />
    <div style="width:100%">
        <div style="width:55%;float:left;">
            <gisc-ui-datetime params="id:'dtAlertStartDate', mode:'date', value: alertSearchStartDate, dateFormat:dateFormat,
                               maxDate:maxDateAlert, minDate:minDateAlert" />
        </div>
        <div style="width:40%;float:right;">
            <div class="app-textBox-wrapper">
                <input type="time" data-bind="value:alertSearchStartTime, attr: { id:id, class:'app-input'} ">
            </div>
        </div>
    </div>
    <div style="clear:both;"></div>

    <!--Alert End Date-->
    <gisc-ui-label params="for:'dtAlertEndDate', text:i18n('Transportation_Mngm_Dashboard_Date_To'), isRequired: true" />
    <div style="width:100%">
        <div style="width:55%;float:left;">
            <gisc-ui-datetime params="id:'dtAlertEndDate', mode:'date', value: alertSearchEndDate, dateFormat:dateFormat,
                              maxDate:maxDateAlert, minDate:minDateAlert" />
        </div>
        <div style="width:40%;float:right;">
            <div class="app-textBox-wrapper">
                <input type="time" data-bind="value:alertSearchEndTime, attr: { id:id, class:'app-input'} ">
            </div>
        </div>
    </div>
    <div style="clear:both;"></div>
</gisc-ui-component>